@charset 'utf-8';

.handle button {width:80px; height:80px; border-radius:50%; z-index:100;}
.figures {position:relative;}
.figures figure {position:absolute; top:0; left:0;}
.figures figure.origin {overflow:hidden;}