@mixin position($position: relative, $coords: 0 0 0 0) {

  position: $position;

  @if (length($coords) == 1) { 
    top:     nth($coords, 1);
    right:   nth($coords, 1);
    bottom:  nth($coords, 1);
    left:    nth($coords, 1);
  }

  @if (length($coords) == 2) {
    top:     nth($coords, 1); 
    right:   nth($coords, 2);
    bottom:  nth($coords, 1);
    left:    nth($coords, 2);
  }

  @if (length($coords) == 3) {
    top:     nth($coords, 1);
    right:   nth($coords, 2);
    bottom:  nth($coords, 3);
    left:    nth($coords, 3);
  }

  @if (length($coords) > 2) {

    $top:     nth($coords, 1);
    $right:   nth($coords, 2);
    $bottom:  nth($coords, 3);
    $left:    nth($coords, 4);

    @if $top == auto {
      top: $top;
    }
    @else if not(unitless($top)) {
      top: $top;
    }

    @if $right == auto {
      right: $right;
    }
    @else if not(unitless($right)) {
      right: $right;
    }

    @if $bottom == auto {
      bottom: $bottom;
    }
    @else if not(unitless($bottom)) {
      bottom: $bottom;
    }

    @if $left == auto {
      left: $left;
    }
    @else if not(unitless($left)) {
      left: $left;
    }
  }
}

// Shortcut for position

@mixin pos($position: relative, $coords: 0 0 0 0) {

  position: $position;

  @if (length($coords) == 1) {
    top:     nth($coords, 1);
    right:   nth($coords, 1);
    bottom:  nth($coords, 1);
    left:    nth($coords, 1);
  }

  @if (length($coords) == 2) {
    top:     nth($coords, 1);
    right:   nth($coords, 2);
    bottom:  nth($coords, 1);
    left:    nth($coords, 2);
  }

  @if (length($coords) > 2) {

    $top:     nth($coords, 1);
    $right:   nth($coords, 2);
    $bottom:  nth($coords, 3);
    $left:    nth($coords, 4);

    @if $top == auto {
      top: $top;
    }
    @else if not(unitless($top)) {
      top: $top;
    }

    @if $right == auto {
      right: $right;
    }
    @else if not(unitless($right)) {
      right: $right;
    }

    @if $bottom == auto {
      bottom: $bottom;
    }
    @else if not(unitless($bottom)) {
      bottom: $bottom;
    }

    @if $left == auto {
      left: $left;
    }
    @else if not(unitless($left)) {
      left: $left;
    }
  }
}
