.annotation.annotation-standalone {
  opacity: 1;
  position: relative;
  display: block;
  margin: 0;

  .figures {
    padding-top: 75%;

    figure {
      @include position(absolute, 0px);

      img {
        max-width: none;
        width: auto;
        height: 100%;
      }
    }
  }

  .image-set {
    @include flex-basis(0);
    margin: 0;
  }

  @include media-max(1024px) {
    .figures {
      padding-top: 70%;
    }
  }
}

.annotation-standalones {
  .flex-row {
    font-size: rem(16px);
  }
}
