@charset "utf-8";
/* MINDsLab. NBR. 20210524 */

/*Scroll Bar Style*/
::-webkit-scrollbar{width:5px;border-radius:3px;height:6px;}/* 스크롤바의 width */
::-webkit-scrollbar-track{background-color:transparent;}/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb{background-color:rgba(25, 42, 57, 0.3);border-radius:3px;}/* 스크롤바 색 */
::-webkit-scrollbar-button{display:none;}/* 위 아래 버튼 (버튼 없애기를 함) */

/* wrap */
#wrap {min-width:1280px; height:100%;}

/* header */
#header {position:fixed; top:0; width:100%; border-bottom: 1px solid #cfd5eb; background:#fff; z-index:1000;}
#header h1 {float:left; width:240px; height:65px; margin:0; background:#fff; text-align:center;}
#header h1 a {display:block; height:29px; padding:25px 0 0;}

/* container */
#container {display:table; width:100%; margin:0;}

/* snb */
.snb {display:table-cell; overflow:auto; position:fixed; width:240px; height:calc(100% - 65px); padding:65px 0 0; background:#fff; border:1px solid #CFD5EB; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1);}
.snb .sub_tit {height:32px; margin:0 17px; border-bottom:1px solid #002b49; color:#002b49; font-size:15px; font-weight:bold; line-height:32px;}
.snb .sub_tit.sub_list {margin:32px 17px 0;}
.snb ul {padding:0 7px;}
.snb ul.nav {margin:15px auto 20px;}
.snb ul .collapsible {overflow:hidden; position:relative; margin:0 10px; color:#002b49; border:none; font-size:14px; font-weight:500; line-height:30px; text-align:left; transition:all 0.3s ease-out; outline:none; cursor:pointer;}
.snb ul .collapsible:after {content:''; position:absolute; top:0; right:0; width:20px; height:26px; color:#fff; transition:all 0.2s ease-out;}
.snb ul .collapsible.active:after {content:''; transition:all 0.2s ease-out;}
.snb ul .collapsible > span {display:inline-block; width:100%; height:30px; border-bottom:1px solid #B0BFD5; box-sizing:border-box;}
.snb ul .collapsible:hover {transition:all 0.3s ease-out;}
.snb ul .sub_nav {overflow:hidden; max-height:0; margin:0 0 20px 0; padding:0; transition:max-height 0.3s ease-out;}
.snb ul .sub_nav li a {transition:all 0.2s ease-out;}
.snb ul .collapsible.list1 {color:#675fb0;}
.snb ul .collapsible.list2 {color:#e66f83;}
.snb ul .collapsible.list3 {color:#27c1c1;}
.snb ul .collapsible.list4 {color:#2cace5;}
.snb ul .collapsible.list5 {color:#fb9223;}
.snb ul .collapsible.list6 {color:#5E77FF;}

.snb ul .list1_sub li:nth-child(1) a {margin:5px 0 0 0; background:url('../images/menu/ico_spe_1_fold.svg') 13px 50% no-repeat;}
.snb ul .list1_sub li:nth-child(2) a {background:url('../images/menu/ico_spe_2_fold.svg') 13px 50% no-repeat;}
.snb ul .list1_sub li:nth-child(3) a {background:url('../images/menu/ico_spe_3_fold.svg') 13px 50% no-repeat;}
.snb ul .list1_sub li:nth-child(4) a {background:url('../images/menu/ico_spe_5_fold.svg') 13px 50% no-repeat; background-size:22px;}
.snb ul .list1_sub li:nth-child(5) a {padding:0 0 5px 0; background:url('../images/menu/ico_spe_6_fold_.svg') 13px 50% no-repeat;}

.snb ul .list2_sub a:first-child {margin:5px 0 0;background:url(../images/menu/ico_vis_lipSyncAvatar.svg) 14px 50% no-repeat;background-size: 17px;}
.snb ul .list2_sub a:nth-child(2) {background:url(../images/menu/ico_vis_avatar.svg) 14px 50% no-repeat;background-size: 17px;}
.snb ul .list2_sub a:nth-child(3) {background:url(../images/menu/ico_vis_6_fold_.svg) 13px 50% no-repeat;background-size: 19px;}
.snb ul .list2_sub a:nth-child(4) {background:url(../images/menu/ico_vis_5_fold.svg) 13px 50% no-repeat;}
.snb ul .list2_sub a:nth-child(5) {background:url(../images/menu/ico_vis_vsr.svg) 13px 50% no-repeat;}
.snb ul .list2_sub a:nth-child(6) {background:url(../images/menu/ico_vis_2_fold.svg) 13px 50% no-repeat;}
.snb ul .list2_sub a:nth-child(7) {background:url(../images/menu/ico_vis_1_fold.svg) 13px 50% no-repeat;}
.snb ul .list2_sub a:nth-child(8) {background:url(../images/menu/ico_vis_10_fold_.svg) 13px 50% no-repeat;}
.snb ul .list2_sub a:nth-child(9) {background:url(../images/menu/ico_vis_7_fold_.svg) 13px 50% no-repeat;}
.snb ul .list2_sub a:nth-child(10) {background:url(../images/menu/ico_vis_8_fold_.svg) 13px 50% no-repeat;background-size: 18px;}
.snb ul .list2_sub a:nth-child(11) {background:url(../images/menu/ico_vis_face.svg) 13px 50% no-repeat;background-size: 20px;}
.snb ul .list2_sub a:nth-child(12) {background:url(../images/menu/ico_vis_hair.svg) 13px 50% no-repeat;background-size: 18px;}
.snb ul .list2_sub a:nth-child(13) {background:url(../images/menu/ico_vis_clothes.svg) 13px 50% no-repeat;background-size: 19px;}
.snb ul .list2_sub a:nth-child(14) {background:url(../images/menu/ico_vis_4_fold.svg) 13px 50% no-repeat;background-size: 23px;}
.snb ul .list2_sub a:nth-child(15) {background:url(../images/menu/ico_vis_windshield.svg) 12px 50% no-repeat;background-size: 21px;}
.snb ul .list2_sub a:nth-child(16) {background:url(../images/menu/ico_vis_9_fold_.svg) 13px 50% no-repeat;background-size: 17px;}
.snb ul .list2_sub a:last-child{padding:0 0 5px 0;background:url(../images/menu/ico_vis_positioning.svg) 13px 50% no-repeat;background-size: 18px;}

.snb ul .list3_sub a:first-child {margin:5px 0 0 0;background:url(../images/menu/ico_lan_correct.svg) 13px 50% no-repeat;}
.snb ul .list3_sub a:nth-child(2){background:url(../images/menu/ico_lan_convers.svg) 13px 50% no-repeat;}
.snb ul .list3_sub a:nth-child(3){background:url(../images/menu/ico_lan_1_fold.svg) 13px 50% no-repeat;}
.snb ul .list3_sub a:nth-child(4){background:url(../images/menu/ico_lan_2_fold.svg) 13px 50% no-repeat;}
.snb ul .list3_sub a:nth-child(5){background:url(../images/menu/ico_lan_3_fold.svg) 13px 50% no-repeat;}
.snb ul .list3_sub a:nth-child(6){background:url(../images/menu/ico_lan_5_fold.svg) 13px 50% no-repeat;}
.snb ul .list3_sub a:nth-child(7){background:url(../images/menu/ico_lan_6_fold.svg) 13px 50% no-repeat;}
.snb ul .list3_sub a:last-child{padding:0 0 5px 0; background:url(../images/menu/ico_lan_itf.svg) 13px 50% no-repeat;}

.snb ul .list4_sub a:first-child {margin:5px 0 0 0; background:url(../images/menu/ico_bot_1_fold.svg) 13px 50% no-repeat;}
.snb ul .list4_sub a:nth-child(2){background:url(../images/menu/ico_bot_2_fold.svg) 13px 50% no-repeat;}
.snb ul .list4_sub a:nth-child(3){padding:0 0 5px 0;background:url(../images/menu/ico_bot_2_fold.svg) 13px 50% no-repeat;}
.snb ul .list4_sub a:nth-child(4){padding:0 0 5px 0;background:url(../images/menu/ico_bot_3_fold.svg) 13px 50% no-repeat; background-size:17px;}
.snb ul .list5_sub a:first-child{padding:5px 0 0 ;background:url(../images/menu/ico_eng_1.svg) 13px 50% no-repeat;}
.snb ul .list5_sub a:nth-child(2){background:url(../images/menu/ico_eng_2.svg) 13px 50% no-repeat;}
.snb ul .list5_sub a:nth-child(3){padding:0 0 5px 0; background:url(../images/menu/ico_eng_3.svg) 13px 50% no-repeat;}
.snb ul .list6_sub a:first-child{padding:5px 0; background:url(../images/menu/ico_data_analysis.svg) 13px 50% no-repeat;background-size: 19px;}
.snb ul .app_manu a:first-child {background:url("../images/menu/ico_aibuilder.svg") 13px 50% no-repeat;}
.snb ul .app_manu a:nth-child(2) {background:url("../images/menu/ico_myvoice.svg") 13px 50% no-repeat;}
.snb ul .app_manu a:nth-child(3){background:url("../images/menu/ico_minutes.svg") 13px 50% no-repeat;}
.snb ul .app_manu a:nth-child(4){background:url("../images/menu/ico_voice_bot.svg") 13px 50% no-repeat;}
.snb ul .edu_manu a:first-child{background:url("../images/menu/ico_academy.svg") 13px 50% no-repeat;}
.snb ul .data_manu a:first-child {background:url(../images/menu/ico_data_list.svg) 16px 50% no-repeat;}
.snb ul .data_manu a:nth-child(2){background:url("../images/menu/ico_data_service.svg") 13px 50% no-repeat;}
.snb ul .data_manu a:nth-child(3){background:url("../images/menu/ico_data_analysis.svg") 13px 50% no-repeat;background-size: 19px;}

.snb .twodepth {display:inline-block; width:100%; height:30px; font-family:'Noto Sans KR', sans-serif; color:#002b49; font-size:14px; font-weight:500; letter-spacing:-0.3px; line-height:30px; text-indent:40px; transition:all 0.3s ease-out;}
.snb .twodepth:after {margin-right:20px;}
.snb .twodepth:hover {transition:all 0.3s ease-out; opacity:1;}
.snb .comm_lst .twodepth:hover, .snb .list_comm_sub .twodepth.active {color:#ddd;}
.snb .list1_sub .twodepth:hover, .snb .list1_sub .twodepth.active {color:#675fb0;}
.snb .list2_sub .twodepth:hover, .snb .list2_sub .twodepth.active {color:#f7778a;}
.snb .list3_sub .twodepth:hover, .snb .list3_sub .twodepth.active {color:#27c1c1;}
.snb .list4_sub .twodepth:hover, .snb .list4_sub .twodepth.active {color:#2cace5;}
.snb .list5_sub .twodepth:hover, .snb .list5_sub .twodepth.active {color:#fb9223;}
.snb .list6_sub .twodepth:hover, .snb .list6_sub .twodepth.active {color:#5E77FF;}
.snb ul .app_manu .twodepth:hover, .snb ul .app_manu .twodepth.active {color:#2575f9;}
.snb ul .data_manu .twodepth:hover, .snb ul .data_manu .twodepth.active {color:#2575f9;}

/*화살표*/
/* .snb .dropdwn:after {content:''; position:absolute; top:0; right:0; width:20px; height:26px; color:#fff; transition:all 0.2s ease-out;}
.snb .dropdwn.active:after {content:''; transition:all 0.2s ease-out;} */
.snb ul .collapsible.list1:after {background:url('../images/ico_sub_dw_1.png') 50% 50% no-repeat;}
.snb ul .collapsible.list1.active:after{background:url('../images/ico_sub_up_1.png') 50% 50% no-repeat;}
.snb ul .collapsible.list2:after {background:url('../images/ico_sub_dw_2.png') 50% 50% no-repeat;}
.snb ul .collapsible.list2.active:after{background:url('../images/ico_sub_up_2.png') 50% 50% no-repeat;}
.snb ul .collapsible.list3:after {background:url('../images/ico_sub_dw_3.png') 50% 50% no-repeat;}
.snb ul .collapsible.list3.active:after{background:url('../images/ico_sub_up_3.png') 50% 50% no-repeat;}
.snb ul .collapsible.list4:after {background:url('../images/ico_sub_dw_4.png') 50% 50% no-repeat;}
.snb ul .collapsible.list4.active:after{background:url('../images/ico_sub_up_4.png') 50% 50% no-repeat;}
.snb ul .collapsible.list5:after {background:url('../images/ico_sub_dw_5.png') 50% 50% no-repeat;}
.snb ul .collapsible.list5.active:after{background:url('../images/ico_sub_up_5.png') 50% 50% no-repeat;}
.snb ul .collapsible.list6:after {background:url('../images/ico_sub_dw_6.png') 50% 50% no-repeat;}
.snb ul .collapsible.list6.active:after{background:url('../images/ico_sub_up_6.png') 50% 50% no-repeat;}

/* contents */
.contents {display:table-cell; width:calc(100% - 240px); padding:0 0 0 240px; background:#f5f6fa; vertical-align:top;}
.content {display:block; min-height:calc(100vh - 135px); padding:85px 30px 50px 30px;}
.content .demobox {overflow:hidden; margin:0 0 20px 0; padding:30px; border-radius:5px; box-shadow:0 0 5px rgba(61,70,92,0.1); background:#fff;}

/* guide_stn */
.guide_box  {width:900px; margin:0 auto; text-align:left;}
.guide_box .guide_group {margin:0 20px 20px;}
.guide_box .guide_group {margin:0;}
.guide_box .guide_common {margin:0 20px 20px; border-bottom:1px solid #273047;}
.guide_box .guide_common .title {padding:20px 0; font-weight:600; font-size:25px; border-bottom:1px solid #273047;}
.guide_box .guide_common .sub_title {padding:10px 0; color:#27c1c1; font-size:15px; font-weight:400;}
.guide_box .guide_common .sub_title span {color:#f56318;}
.guide_box .guide_common .sub_txt {padding:0 0 10px 30px; color:#666; font-size:14px;}
.guide_box .guide_group .title {padding:0 0 15px 30px; font-weight:600; font-size:25px;}
.guide_box .guide_group .sub_title {display:inline-block; margin:10px 0 0 30px; background:#27c1c1; color:#fff; font-size:14px; padding:1px 5px 2px;}
.guide_box .guide_group .green_tit {display:inline-block; margin:10px 0 0 30px; background:#27c1c1; color:#fff; font-size:14px; padding:1px 5px 2px;}
.guide_box .guide_group .sub_txt {padding:10px 0 0 30px; color:#666; font-size:14px; font-weight:500;}
.guide_box .guide_group .table_tit {display:inline-block; margin:8px 0 0 30px; color:#32394a; font-size:14px; font-weight:bold;}
.guide_box .guide_group em {display:block; margin:30px 0 0 30px; padding:0 8px; border-left:4px solid #4c4c4c; font-size:15px; font-weight:500;}
.guide_box .guide_group ul {width:756px; margin:10px 0 10px 30px; padding:0 0 10px 40px; border:1px solid #eee;}
.guide_box .guide_group ul li {padding:8px 0 0; color:#777; font-size:13px; list-style:circle;}
.guide_box .guide_group table {width:798px; margin:10px 0 10px 30px; padding:0 0 0 10px;}
.guide_box .guide_group table tr{height:35px; border:1px solid #eee; text-align:left;}
.guide_box .guide_group table tr:first-child {background:#f3f3f3;}
.guide_box .guide_group table th  {padding:0 0 0 10px;}
.guide_box .guide_group table th:nth-child(1) {width:15%;}
.guide_box .guide_group table th:nth-child(3) {width:8%;}
.guide_box .guide_group table td {padding:0 0 0 10px;}
.guide_box .guide_group .code_box {width:777px; margin:10px 0 10px 30px; padding:10px 10px 10px 20px; border:1px dotted #eee; background:#f3f3f3; color:#666; font-family:Menlo, Monaco, Consolas, "Courier New", monospace; font-size:13px;}
.guide_box .guide_group .code_box span {padding:0 0 0 30px; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;}
.guide_box .guide_group .code_box span.twoD {padding:0 0 0 60px; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;}
.guide_box .guide_group .code_box span.thirD {padding:0 0 0 90px; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;}
.guide_box .guide_group .code_box span.fourD{padding:0 0 0 120px; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;}
.guide_box .guide_group .code_box span.fivD {padding:0 0 0 150px; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;}
.guide_box .guide_group .code_box span.sixD{padding:0 0 0 180px; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;}
.guide_box .guide_group .code_box span.savD{padding:0 0 0 210px; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;}
.guide_box .guide_group .code_box pre {color:#666; font-family:Menlo, Monaco, Consolas, "Courier New", monospace; font-size:12px; white-space:pre-wrap;}

.voice_menu .guide_box .guide_common .sub_title {color:#7d71d1;}
.voice_menu .guide_box .guide_group .sub_title {background:#7d71d1;}
.vision_menu .guide_box .guide_common .sub_title {color:#f7778a;}
.vision_menu .guide_box .guide_group .sub_title {background:#f7778a;}
.bot_menu .guide_box .guide_common .sub_title {color:#2cace5;}
.bot_menu .guide_box .guide_group .sub_title {background:#2cace5;}
.eng_menu .guide_box .guide_common .sub_title {color:#fb8923;}
.eng_menu .guide_box .guide_group .sub_title {background:#fb8923;}
.analy_menu .guide_box .guide_common .sub_title {color:#5E77FF;}
.analy_menu .guide_box .guide_group .sub_title {background:#5E77FF;}

@media screen and (max-width:768px){
	#header {height:50px;}
	#header h1 {width:120px; height:50px;}
	#header h1 a {padding:15px 0 0 0;}
	.snb {display:none;}
	.contents {display:block; position:relative; width:100%; height:auto; min-height:100%; padding:0;}
	.content {padding:66px 0 30px;}
	.content .demobox {width:calc(100% - 50px); margin:0 auto 20px; padding:15px;}   
	.guide_box {width:100%;}
}