@charset "utf-8";
/* MINDsLab. UX/UI Team NBR 2021.03.15 */

@import url('reset.css');
@import url('font.css');

/* -------------------- common -------------------- */
.btn_border_glass {width:92px; height:92px; border:solid 2px #ffffff3e; border-radius:36px; box-shadow:0 1px 16px 0 #ffffff33; background:linear-gradient(135deg, #ffffff0d, #ffffff66); backdrop-filter:blur(4.9px); -webkit-backdrop-filter:blur(4.9px); color:#353b67; font-size:12px; letter-spacing:-0.54px; line-height:1.5;}
.btn_border_glass p {margin:4px 0 0;}
.btn_close {width:60px; height:60px; padding:12px; border-radius:20px; background:rgba(0, 0, 0, 0.08);}

/* -------------------- layout -------------------- */
#wrap {width:100%; height:100%;}
#container {position:relative; width:100%; height:100%; padding:40px; box-sizing:border-box; background:url('../images/bg_default.png') 50% 50% no-repeat; background-size:cover;}
.bg_video_box {position:relative; width:100%; height:100%;}

/* -------------------- content -------------------- */
h1.logo {float:left;}
.btnBox.top {float:right;}
.btnBox.top button + button {margin:0 0 0 36px;}
.btnBox.bottom {position:absolute; bottom:100px; left:50%; transform:translate(-50%, 0);}
.btnBox.bottom button {margin:0 18px;}
.conversationBox {position:absolute; top:40px; right:40px; width:532px; height:calc(100% - 80px); padding:36px; border:solid 2px #ffffff3e; border-radius:36px; box-shadow:0 1px 16px 0 #ffffff33; box-sizing:border-box; background:linear-gradient(152deg, #ffffff0d, #ffffff66); backdrop-filter:blur(4.9px); -webkit-backdrop-filter:blur(4.9px);}
.conversationBox .btnBox .swichGroup {float:left; width:320px; height:60px; padding:8px; border-radius:20px; box-sizing:border-box; background:rgba(0, 0, 0, 0.08);}
.conversationBox .btnBox .btn_close {float:right;}
.conversationBox .conversationView {overflow:auto; width:100%; height:calc(100% - 152px); margin:120px 0 0; padding:24px 28px 24px 24px; border-radius:20px; box-shadow:0 1px 16px 0 #ffffff33; box-sizing:border-box; background:linear-gradient(151deg, #ffffff0d, #ffffff66 100%); backdrop-filter:blur(4.9px); -webkit-backdrop-filter:blur(4.9px);}