@charset "utf-8";
/* MINDsLab. mrs*/
/*Scroll Bar Style*/
::-webkit-scrollbar{width:5px;border-radius:3px;height:6px;}/* 스크롤바의 width */
::-webkit-scrollbar-track{background-color:transparent;}/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb{background-color:rgba(25, 42, 57, 0.3);border-radius:3px;}/* 스크롤바 색 */
::-webkit-scrollbar-button{display:none;}/* 위 아래 버튼 (버튼 없애기를 함) */
#wrap {position:relative;background-color: #f7f8fc;}
header{height:80px;text-align: center; border-bottom: solid 1px #cfd5eb;background: #fff;}
header a{display: block;}
header a img {margin:17px 0 0 0;}
.content{ min-height:calc(100% - 81px); box-sizing: border-box; text-align: center;}
.content .errorImg {margin: 30px 0 24px;}
.content p{ margin:34px auto 30px;font-size: 20px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.4px;text-align: center;color: #002b49;}

/* Login */
.loginWrap {position:relative;padding:50px 0 0 0;}
.loginWrap fieldset {display:block; width:100%;}
.loginWrap .loginBox {width:400px;margin:0 auto 22px;padding:0 0 27px 0;border-bottom:1px dotted #b6c5d1;}
.loginWrap span.or {position:absolute;  background: #f7f8fc;bottom:15px;left:50%;transform: translateX(-50%);padding:0 15px;font-size:12px;letter-spacing: -0.17px;text-align: center;color: #34424e;z-index: 100;}
.loginWrap span {display:block; position:relative; }
.loginWrap span .ipt_txt {display:block; width:100%;margin:0 auto 15px; height:48px; padding:16px 20px; background:#fff;line-height:48px; border:1px solid #cfd5eb; border-radius:3px; transition:all 0.3s ease-out;}
.loginWrap span .ipt_txt#ipt_pw {margin:0 0 7px 0;}
.loginWrap span .txt_error { display: none; font-size:12px; letter-spacing: -0.22px;color: #fe2d35; text-align:left;}
.loginWrap span a.homebtn{ display: inline-block; width: 100%;height: 50px;margin:0 auto; border-radius: 2px;background-color: #14b6cb; font-size: 15px;font-weight: 500;line-height: 48px;letter-spacing: -0.21px;text-align: center;color: #ffffff;}
.btn_box {width:400px;margin:0 auto;}
.btn_box:before {}
.btn_box a{display: block; width:100%; height: 48px;margin:0 0 15px 0; border-radius: 2px;border: solid 1px rgba(128, 138, 171, 0.4);background-color: #ffffff; font-size: 15px;font-weight: 500;line-height: 48px;letter-spacing: -0.21px;text-align: center;color: #34424e;}
.btn_box a.google_login {background: #fff url(../images/logo_google.png) 18px 12px no-repeat;background-size: 22px; }
.btn_box a.facebook_login {background: #fff url(../images/logo_facebook.png) 21px 12px no-repeat;background-size: 15px;}
.btn {width:400px;margin:0 auto;}
.btn a{font-size: 12px;letter-spacing: -0.22px;text-align: center;color: #34424e;opacity: 0.8;}
.btn span { color: rgba(52, 66, 78, 0.3); font-size: 12px;}
.checks {display: inline-block; padding:0 0 18px 2px; text-align:left;}
.checks input[type="checkbox"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;transition:all 0.3s ease-out;}
.checks input[type="checkbox"] + label {display:inline-block; position:relative; color:#363a44; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; opacity: 0.8;transition:all 0.3s ease-out;}
.checks input[type="checkbox"] + label em {  font-size: 13px;transition:all 0.2s ease-out;}
.checks input[type="checkbox"]:checked + label {opacity:1;}
.checks input[type="checkbox"]:checked + label em {color:#14b6cb;transition:all 0.2s ease-out;}

/*sign Up*/
.agreeWrap {padding:50px 0 0 0;}
.agreeBox{width:400px;margin:0 auto;text-align: left;}
.agreeBox .checks input[type="checkbox"] + label {font-size: 14px;letter-spacing: -0.2px;color: #34424e;}
.agreeBox .checks input[type="checkbox"] + label em {font-size:20px;vertical-align: middle; float: left;margin: 0 7px 0 0;}
.agreeBox span strong { color: #14b6cb;font-weight:500;}
.agreeBox .scroll_box { width: 100%;margin: 8px 0 30px 0;padding:10px; box-sizing: border-box;height: 122px;border-radius: 3px;border: solid 1px #cfd5eb;background-color: #ffffff;text-align:left;overflow: auto;}
.agreeBox a {display:inline-block;width: 195px;height: 48px;margin:30px 0 0 0;border-radius: 2px;background-color: #9faeba;font-size: 15px;font-weight: 500;line-height: 48px;letter-spacing: -0.21px;text-align: center;color: #ffffff;}
.agreeBox a + a {background-color: #14b6cb;margin:30px 0 0 5px;}

.signUpWrap {padding:50px 0 ;}
.signUpBox {width:400px;margin:0 auto;text-align: left;}
.signUpBox .input_box .input_txt {margin:0 0 20px 0;}
.signUpBox .input_box .input_txt label { font-size: 13px;font-weight: 500;letter-spacing: -0.19px;color: #34424e;}
.signUpBox .input_box .input_txt input {width:100%; height: 48px; margin: 5px 0 0 0;padding:10px; border-radius: 3px;border: solid 1px #cfd5eb;background-color: #ffffff;}
.signUpBox .input_box .input_txt input.error {border:1px solid #14b6cb;}
.signUpBox .input_box .input_txt span {display: none;padding: 5px 0 0 0;font-size: 12px;letter-spacing: -0.22px;  color: #34424e;opacity: 0.8;}
.signUpBox .input_box .input_txt span.noti{display: block;}
.signUpBox .input_box .input_txt span.email{ display:none; opacity: 0.8;font-size: 12px;letter-spacing: -0.22px;color: #14b6cb;}
.signUpBox .input_box .input_txt span.error { color: #fe2d35; }
.signUpBox .input_box .input_txt div {position:relative;}
.signUpBox .input_box .input_txt div button {position:absolute;right:0;top:23px;  width: 113px;height: 48px;border-radius: 0 3px 3px 0;background-color: #14b6cb;  font-size: 15px;line-height: 48px;letter-spacing: -0.21px;text-align: center;color: #ffffff;}
.signUpBox .input_box .input_txt div.code_box {display:none;margin:9px 0 0 0;}
.signUpBox .input_box .input_txt div.code_box::placeholder {  color: #2c3f51;opacity: 0.6;}
.signUpBox .input_box .input_txt div.code_box .count {position:absolute;top:20px;right:122px;font-weight: 500;opacity: 0.6;font-size: 14px;color: #ff1d49;}
.signUpBox .input_box .input_txt div.code_box button {top:6px;}
.signUpBox .select_form > span {display:block;margin:0 0 16px 0;font-size: 13px;font-weight: 500;letter-spacing: -0.19px;color: #34424e;}
.signUpBox .checks {}
.signUpBox .checks input[type="checkbox"] + label {font-size:14px;}
.signUpBox .checks input[type="checkbox"] + label em {font-size:20px; vertical-align: middle;float:left;margin:0 7px 0 0;}
.signUpBox .checks:first-child {min-width:120px;}
.signUpBox .checks:nth-child(2) {min-width:150px;}
.signUpBox a {display: block; height: 48px;margin: 12px 0 0;border-radius: 2px;background-color: #14b6cb; font-size: 15px;font-weight: 500;line-height: 48px;letter-spacing: -0.21px;text-align: center;color: #ffffff;}

.signUpCompleteWrap {display: none;padding:50px 0 0 0; }
.signUpCompleteWrap span{display:block;margin:5px 0 0; opacity: 0.7;font-size: 13px;line-height: 1;letter-spacing: -0.19px;color: #34424e;}
.signUpConfirmBox{width:400px;height: 232px;margin:0 auto; border-radius: 3px;border: solid 1px #cfd5eb; background: #fff url(../../common/images/mail/img_welcome.png) 50% 23px no-repeat;background-size: 113px;}
.signUpConfirmBox p {padding:106px 0 20px;margin:0;font-size: 15px;font-weight: 500;letter-spacing: -0.21px;text-align: center;color: #14b6cb;}
.signUpConfirmBox ul {}
.signUpConfirmBox ul li{height:30px;line-height:30px;padding: 0 22px;text-align: left; font-size: 13px;font-weight: normal;letter-spacing: -0.19px;color: #34424e;}
.signUpConfirmBox ul li span { float:left;font-weight: 500;width:62px;}
.signUpConfirmBox ul li span em {margin: 0 6px 0 0; font-size: 10px;letter-spacing: -0.14px;color: #34424e;opacity:.5;}

.signUpCompleteBox{width:400px;margin:0 auto; border-radius: 3px;border: solid 1px #cfd5eb; background: #fff url(../images/img_singupComplete.png) 50% 23px no-repeat;background-size: 177px;}
.signUpCompleteBox h1 {padding:114px 0 0; font-size: 17px;font-weight: 500;letter-spacing: -0.29px;color: #14b6cb;}
.signUpCompleteBox p  {margin: 5px 0 20px; font-size: 14px;line-height: 1.79;letter-spacing: -0.2px;text-align: center;color: #34424e;}
.signUpCompleteBox p span {opacity: 1;}
.signUpCompleteBox a {display:block;width: 350px;height: 48px;margin:0 auto 30px;border-radius: 2px;background-color: #14b6cb; font-size: 15px;font-weight: 500;line-height: 48px;letter-spacing: -0.21px;text-align: center;color: #ffffff;}

.signUpCompleteWrap .txt {margin:30px 0 15px;  font-size: 13px;font-weight: normal;line-height: 1.92;letter-spacing: -0.19px;text-align: center;color: #34424e;}
.signUpCompleteWrap .txt strong{ font-weight: bold;color: #14b6cb;}
.signUpCompleteWrap .btn {margin:40px auto 0;}
.signUpCompleteWrap .btn a ,.paymentConfirmWrap .btn a {display: inline-block; opacity:1;width: 195px;height: 48px;line-height:48px;border-radius: 2px;background-color: #14b6cb; font-size: 15px;font-weight: 500;letter-spacing: -0.21px;text-align: center;color: #ffffff;}
.signUpCompleteWrap .btn a + a, .paymentConfirmWrap .btn a + a {margin:0 0 0 7px; background-color: #002b49;}

.paymentConfirmWrap {display: none;padding:50px 0 0 0;}
.paymentConfirmWrap .paymentConfirmBox {width:400px;height:189px;margin:0 auto; border-radius: 3px;border: solid 1px #cfd5eb; background: #fff url(../../common/images/mail/img_welcome.png) 50% 15px no-repeat;background-size: 113px;}
.paymentConfirmWrap .paymentConfirmBox h5 {padding:106px 0 13px;font-size: 15px;font-weight: 500;letter-spacing: -0.21px;text-align: center;color: #14b6cb;}
.paymentConfirmWrap .paymentConfirmBox p {margin: 0; font-size: 14px;letter-spacing: -0.2px;text-align: center;color: #002b49;}
.paymentConfirmWrap .btn {margin:20px auto 0;}

.registrationContent .signUpCompleteWrap {display: block;padding:33px 0 0 0;}
.registrationContent p.regist_noti {margin:0 0 13px 0;font-size: 13px;line-height: 1.92;letter-spacing: -0.19px;text-align: center;color: #34424e;}
.registrationContent p.regist_noti strong { font-weight: bold;color:#14b6cb;}

.passwordWrap {padding:50px 0 0 0;}
.passwordBox {width: 400px;margin:0 auto;padding: 0 20px 0;box-sizing: border-box;border-radius: 3px;border: solid 1px #cfd5eb;background: #fff url(../../common/images/mail/img_email_check.png) 50% 38px no-repeat;background-size: 189px;}
.passwordBox h5 {padding:105px 0 10px 0;font-size: 15px;font-weight: 500;letter-spacing: -0.21px;text-align: center;color: #14b6cb;}
.passwordBox p {margin:0 0 15px 0; font-size: 14px;letter-spacing: -0.4px;text-align: center;color: #34424e;}
.passwordBox .email_type {}
.passwordBox .email_type input {width: 100%;height: 48px;margin:0 0 10px 0;padding:0 10px;border-radius: 3px;border: solid 1px #cfd5eb;background-color: #f7f8fc;}
.passwordBox .email_type a, .passwordChangeBox a, .passwordBox .login_btn a {display: block; margin: 0 0 30px 0;width: 100%;height: 48px;border-radius: 2px;background-color: #14b6cb; font-size: 15px;font-weight: 500;line-height: 48px;letter-spacing: -0.21px;text-align: center;color: #ffffff;}
.passwordBox div.code_box {position:relative;display:none;margin:20px 0 40px;}
.passwordBox div.code_box input {width: 100%;height: 48px;box-sizing:border-box;margin:0;padding:0 10px;border-radius: 3px;border: solid 1px #cfd5eb;}
.passwordBox div.code_box::placeholder {  color: #2c3f51;opacity: 0.6;}
.passwordBox div.code_box .count {position:absolute;top:15px;right:122px;font-weight: 500;opacity: 0.6;font-size: 14px;color: #ff1d49;}
.passwordBox div.code_box button {position:absolute;right:0;top:0; width: 113px;height: 48px;border-radius: 0 3px 3px 0;background-color: #14b6cb;  font-size: 15px;line-height: 48px;letter-spacing: -0.21px;text-align: center;color: #ffffff;}
.passwordBox div.code_box span {display: none;font-size: 12px;letter-spacing: -0.22px;color: #14b6cb;opacity: 0.8;position: absolute;left: 0;top: 51px;}
.passwordBox div.code_box span.error { display:none;color: #fe2d35; }
.passwordBox .login_btn {display: none;margin:20px 0 0 0;}

.passwordChangeBox {display: none; text-align: left; border-top: dotted 1px #979797;}
.passwordChangeBox h5 {padding:20px 0 10px 0;font-size: 15px;font-weight: 500;letter-spacing: -0.21px;text-align: center;color: #14b6cb;}
.passwordChangeBox span {display:none;margin:0 0 20px 0;font-size: 12px;letter-spacing: -0.22px;color: #34424e;}
.passwordChangeBox span.noti {display: block;}
.passwordChangeBox span.error {color:#fe2d35}
.passwordChangeBox label {display:block;margin: 0 0 5px 0;font-size: 13px;font-weight: 500;letter-spacing: -0.19px;color: #34424e;}
.passwordChangeBox input {width: 100%;height: 48px;margin:0 0 5px 0;padding:0 10px;border-radius: 3px;border: solid 1px #cfd5eb;background-color: #f7f8fc;}
.passwordChangeBox a {margin:25px auto 30px;}
.passwordChangeWrap {padding:50px 0 0 0;}
.passwordChangeWrap .passwordChangeBox {display: block;}




footer {position:absolute;bottom:0;left:0;width:100%;padding:20px 0 ;box-sizing: border-box; text-align: center;border-top:1px solid rgba(182, 197, 209,0.7)}
footer .footer, footer .footer a + span {color:rgba(52, 66, 78, 0.3)}
footer .footer a, footer .footer span{opacity: 0.8;font-size: 13px;letter-spacing: -0.24px;text-align: center;color: #34424e;}
footer .footer em {font-size:11px;}
footer .lang {position:relative; display: inline;cursor:pointer;}
footer .lang ul {position:absolute; display: none;width:60px; border-radius: 3px;border: solid 1px #b6c5d1;right: -70px;top: -40px;}
footer .lang ul.active{display: block;}
footer .lang ul li {width:100%;height:30px; line-height:30px;font-size: 13px;letter-spacing: -0.24px;text-align: center;color: #34424e;background: #fff;}
footer .lang ul li.active {background-color: #dee3f7;}
footer p {margin:10px 0 0 0;}
footer .m_lang {display: none;}


/* Mobile Layout */
@media screen and (max-width:768px) {
    .btn {width:100%;}
    .btn_box {width:90%;}
    .loginWrap {padding:50px 15px 0;}
    .loginWrap .loginBox {width:100%;}

    .agreeBox{width:100%;padding:0 15px 30px; box-sizing: border-box;}
    .checks {padding: 0 0 5px 2px;}
    .agreeBox a {width:calc(50% - 5px);}
    .agreeBox a + a {width:calc(50% - 5px);}

    .signUpBox {width:100%;padding:0 15px 30px; box-sizing: border-box;}
    .signUpBox .select_form .selectarea {margin:0 0 20px 0;}
    .signUpBox .checks:first-child {min-width: 90px;}
    .signUpBox .checks:nth-child(2) {min-width:107px;}
    .signUpBox .checks input[type="checkbox"] + label em {margin: 0 2px 0 0;font-size:16px;}
    .signUpCompleteWrap {padding:50px 15px 30px;}
    .signUpConfirmBox, .signUpCompleteBox {width:100%;padding:0 15px; box-sizing: border-box;}
    .signUpCompleteBox a {width:100%;margin:0 auto 20px;}
    .signUpCompleteWrap .btn a, .paymentConfirmWrap .btn a {width:calc(50% - 5px);}

    .paymentConfirmWrap {padding:50px 15px 30px;}
    .paymentConfirmWrap .paymentConfirmBox {width:100%;padding:0 15px 30px; box-sizing: border-box;}

    .passwordWrap {padding:50px 15px 30px;}
    .passwordBox {width:100%;}

    footer {position:relative;}
    footer .lang {display: none;}
    footer .footer a + span {display: none;}
    footer .m_lang{display: block;margin:20px 0 0;font-size: 13px;font-weight: bold;letter-spacing: -0.24px;text-align: center;color: #34424e;}
    footer .m_lang a {margin:0 0 0 50px; opacity:0.8; font-size: 13px;font-weight: normal;letter-spacing: -0.24px;text-align: center;color: #34424e;}
}




