@charset "UTF-8";
/* MINDsLab. NBR. 20200224 */

/* -------------------- common -------------------- */
/* footer */
#footer .m_footer {display: none;}
#footer .m_footer .cont_box {width: 100%; padding: 22px 30px 20px; box-sizing: border-box;}
#footer .m_footer .cont_box > a {display: inline-block; float: none; margin: 0 0 30px;}
#footer .m_footer .cont_box > div {text-align: left;}
#footer .m_footer .cont_box > div p {font-size: 14px; line-height: 22px; opacity: 0.5;}
#footer .m_footer .cont_box > div:not(:nth-child(2)) p {float: left; width: 82px;}
#footer .m_footer .cont_box > div a {margin: 0 20px 0 0;}
#footer .m_footer .cont_box .contact {margin: 0 0 30px;}
#footer .m_footer .cont_box .contact p {margin: 0 0 8px;}
#footer .m_footer .cont_box .contact a span {margin: 0 8px 0 0;}
#footer .m_footer .cont_box .service > div {overflow: hidden; margin: 0 0 15px;}
#footer .m_footer .cont_box .service > div > div {float: left; width: calc(100% - 82px);}
#footer .m_footer .cont_box .service > div > div a {display: inline-block; line-height: 22px;}
#footer .m_footer .cont_box .copyright {height: auto; margin: 3px 0 20px; background: none; font-size: 13px; line-height: 22px; word-break: keep-all; opacity: 0.7;}
#footer .m_footer .cont_box .info_box a {display: inline-block; position: relative; margin: 0 29px 0 0; font-size: 13px;}
#footer .m_footer .cont_box .info_box a:last-child {margin: 0;}
#footer .m_footer .cont_box .info_box a + a:before {content: ''; display: block; position: absolute; top: 4px; left: -14px; width: 1px; height: 12px; background: #fff;}

/* -------------------- media query -------------------- */
/* -------------------- maum data -------------------- */
.popWrap {margin: 100px auto 0 auto;}

/* ---------- header ---------- */
@media all and (max-width: 768px){
	#wrap {min-width: 320px !important;}

    #header {height: 60px !important;}
    #header .header_box {width: 100% !important; padding: 0 20px !important; box-sizing: border-box !important;}
    #header .sta {display: none;}
    #m_header {display: block;}
    #m_header .btn_ham {display: inline-block;}
    #header h1 {width: 116px; margin: 21px 0 0;}
    #header.logo_only h1 {}

    /* ---------- index ---------- */
    #contents.index {padding: 14px 0 40px;}
    .index .cont_box {width: 100%; padding: 0 30px; box-sizing: border-box; text-align: center;}

    /* sign up */
	#contents.sign_up {height: auto; padding: 0 20px 70px;}
    .sign_up .sign_up_main {width: 100% !important;}
    .sign_up .sign_btn_box .btn_box {width: 100%;}
    .sign_up .sign_up_main > .btn_box {width: 100%;}
    .sign_up .sign_up_wrap {width: 100% !important;}
    .sign_up .sign_up_wrap .progress_box li + li {margin: 0 0 0 23px;}
    .sign_up .sign_up_wrap .progress_box li span:after {right: -38px; width: 50px;}
    .sign_up .sign_up_wrap .terms_area .textarea {height: 100px;}
    .sign_up .sign_up_wrap .progress_box li span.fas.fa-check-circle:after {right: -38px; width: 50px;}
    .sign_up .sign_up_wrap h2 {margin: 30px 0 10px;}
    .certify .sign_up_wrap .sign_btn_box {width: 100%;}
    .certify .sign_up_wrap .account_info {width: 100%;}
    .form .sign_up_wrap .form_tbl {width: 100%;}
    .form .sign_up_wrap .form_tbl table td:nth-child(1) {display: none;}
    .form .sign_up_wrap .form_tbl table td:nth-child(2) {width: 60%;}
    .form .sign_up_wrap .form_tbl table td .ipt_box {width: 100%; min-width: 140px;}
    .form .sign_up_wrap .form_tbl table td .ipt_box input::placeholder {color: #808aab;}
    .form .sign_up_wrap .form_tbl table tr.sign_up_route td:nth-child(2) p {display: block;}
    .form .sign_up_wrap .form_tbl table td .btn_box {width: 100%;}
    .form .sign_up_wrap .form_tbl .btn_box button {padding: 0 10px;}
    .sign_up.complete .sign_up_wrap h2 {font-size: 19px;}

    /* stn_training */
    .stn_training {height: auto;}
    .stn_training .cont_box > div {display: inline-block; float: none !important; position: static; transform: none;}
    .index .cont_box .img {width: calc(100% - 40px); margin: 0 0 14px;}
    .stn_training .txt {width: 100%;}
    .stn_training .txt img {display: none;}
    .stn_training .txt p {margin: 0; font-weight: 500;}
    .stn_training .txt em:nth-child(1) {display: none;}
    .stn_training .txt em:nth-child(4) {display: none;}
    .stn_training .txt .btn_box {width: 100%; margin: 20px 0 0;}

    /* stn_user */
    .stn_user {display: none;}

    /* stn_info */
    .stn_info {height: auto;}
    .stn_info .cont_box > div {float: none !important;}
    #contents.index  .cont_box h3 {position: static; margin: 33px 0 0;}
    .index .cont_box .service_area > div {padding: 30px 0 0;}
    .stn_info .service_area .use_process {width: 100%;}
    .stn_info .service_area .use_process li {width: calc(50% - 6px); height: 82px; margin: 0 0 26px;}
    .stn_info .service_area .use_process li:nth-child(odd) {margin: 0 12px 0 0;}
    .stn_info .service_area .use_process li > div {width: 40px; height: 30px;}
    .stn_info .service_area .use_process li:not(:nth-child(4)) > div {width: 40px; height: 30px;}
    .stn_info .service_area .use_process li span {font-size: 13px; line-height: 1.1;}
    .stn_info .service_area .use_process li:not(:nth-child(4)) span {margin: 5px 0 0;}
    .stn_info .lank_area h3 {margin: 9px 0 0 !important;}
    .index .cont_box .lank_area > div {padding: 49px 0 0;}
    .stn_info .lank_area .tab_box {width: 100%;}
    .stn_info .lank_area .tab_box .tab_btn {top: -32px;}
    .stn_info .lank_area .tab_box .tab_btn li {height: 32px; line-height: 32px;}
    .stn_info .lank_area .tab_box .tab_btn li.active {height: 33px;}
    .stn_info .lank_area .tab_box .tab_cont li {font-size: 13px; text-align: left;}
    .stn_info .lank_area .tab_box .tab_cont .payment:before {left: -18px; width: 14px; height: 14px; margin: -7px 0 0;}


	/* labelling, voucher page */
    .labelling .contents .stn {height: auto;}
    .labelling .contents .cont_box {width: 100%; min-width: calc(100% - 40px); padding: 30px 20px; box-sizing: border-box;}
    .labelling .contents .cont_box h3 {width: 100%; margin: 0; font-size: 17px; line-height: 25px; text-align: left;}

    .labelling .stn_title .cont_box {padding: 0 20px 30px 20px;}
    .labelling .stn_title .cont_box .txt_box {width: 10%; padding: 149px 0 0 0;}
    .labelling .stn_title .cont_box .txt_box h2.title {display: none;}
    .labelling .stn_title .cont_box .txt_box h2.m_title {display: block; width: 154px; font-size: 28px; line-height: 35px; margin: 0 0 12px 0;}
    .labelling .stn_title .cont_box .txt_box h3 {min-width: 257px; font-size: 17px; line-height: 25px;}
    .labelling .stn_title .cont_box .txt_box p {min-width: 210px; margin: 0; font-size: 12px; line-height: 1.5;}
    .labelling .btn_inquiry {width: 140px; margin: 12px 0 0 0; padding: 0;}
    .labelling .stn_title .cont_box .img_box {width: 70%; min-width: 236px; }

    .labelling .stn_service .cont_box h3 {margin: 0 0 25px 0;}
    .labelling .stn_service .cont_box h3 br {display: none;}
    .labelling .stn_service .cont_box .cont_lst {width: 100%;}
    .labelling .stn_service .cont_box .cont_lst + .cont_lst {margin: 0;}
    .labelling .stn_service .cont_box .cont_lst:last-child dd{margin: 8px 0 0 0;}
    .labelling .stn_service .cont_box .cont_lst dd {margin: 8px 0 30px 0;}

    .labelling .stn_process .cont_box {min-width: calc(100% - 46px); padding: 30px 23px;}
    .labelling .stn_process .cont_box h3 {margin: 0 0 28px 0;}
    .labelling .stn_process .cont_box .process_lst {width: calc(100% - 18px); padding: 0 9px;}
    .labelling .stn_process .cont_box .process_lst > li {width: 100%; margin: 0;}
    .labelling .stn_process .cont_box .process_lst > li + li {margin: 47px 0 0 0;}
    .labelling .stn_process .cont_box .process_lst > li:after {top: calc(100% + 34px); left: calc(50% - 33px); width: 68px; transform: rotate(90deg);}
    .labelling .stn_process .cont_box .process_lst > li:nth-child(3):after {left: calc(50% - 33px);}
    .labelling .stn_process .cont_box .process_lst > li.change_lst_num > em:nth-child(1) {display: none;}
    .labelling .stn_process .cont_box .process_lst > li.change_lst_num > em:nth-child(2) {display: block;}
    .labelling .stn_process .cont_box .process_lst > li.change_lst_num span.txt {display: none;}
    .labelling .stn_process .cont_box .process_lst > li span.txt_m {display: block;}
    .labelling .stn_process .cont_box .process_lst > li span.fas {top: calc(100% + 13px); left: calc(50% - 5px); transform: rotate(90deg);}
    .labelling .stn_process .cont_box .process_lst > li:nth-child(3) span.fas {top: calc(100% + 14px); left: calc(50% - 5px);}
    .labelling .stn_process .cont_box .process_lst > li span.fa-angle-double-left {transform: rotate(-90deg);}

    .labelling .stn_case .cont_box {padding: 30px 20px 32px 20px;}
    .labelling .stn_case .cont_box h3 {padding: 0 3px;}
    .labelling .stn_case .cont_box .case_lst {float: none; width: 100%; margin: 20px 0 0 0;}
    .labelling .stn_case .cont_box .case_lst + .case_lst {margin: 20px 0 0 0;}

    .labelling .stn_inquiry .cont_box {padding: 30px 17px 40px 23px;}
    .labelling .stn_inquiry .cont_box .info_box .detail {display: none;}
    .labelling .stn_inquiry .cont_box .info_box .m_detail {display: block; margin: 0 0 24px 0;}
    .labelling .stn_inquiry .cont_box .info_box .number {margin: 0 0 7px 0;}
    .labelling .stn_inquiry .cont_box {padding: 30px 20px 40px 20px;}
    .labelling .stn_inquiry .cont_box .inquiry_box {float: none; width: 100%; margin: 24px 0 0 0;}
    .labelling .stn_inquiry .cont_box .inquiry_box input,
    .labelling .stn_inquiry .cont_box .inquiry_box textarea {padding: 0 6px;}
    .labelling .stn_inquiry .cont_box .inquiry_box label {left: 6px;}
    .labelling .stn_inquiry .cont_box .inquiry_box label span {margin: 0 3px 0 0;}
    .labelling .stn_inquiry .cont_box .info_box .mail {margin: 0 0 24px 0;}
    .labelling .stn_inquiry .cont_box .inquiry_box .btn_inquiry {margin: 12px 0 0 0;}

    /* ---------- footer ---------- */
    #footer .w_footer {display: none;}
    #footer .m_footer {display: block;}

    /* ---------- voucher ---------- */
    .voucher .stn_title .cont_box .txt_box h2.m_title {width: 196px; margin: 30px 0 12px 0;}
    .voucher .stn_title .cont_box .txt_box h3 {font-size: 16px;}
    .voucher .stn_title .cont_box .txt_box .btn_inquiry {width: 210px; margin: 12px 0 0 0;}

    .voucher .stn_process .cont_box .process_lst > li.change_lst_num > em:nth-child(1) {display: none;}
    .voucher .stn_process .cont_box .process_lst > li.change_lst_num > em:nth-child(2) {display: block;}
    .voucher .stn_process .cont_box .process_lst > li.change_lst_num > h6:nth-child(3) {display: none;}
    .voucher .stn_process .cont_box .process_lst > li.change_lst_num > h6:nth-child(4) {display: block;}
    .voucher .stn_process .cont_box .process_lst > li.change_lst_num span.txt:nth-child(5) {display: none;}
    .voucher .stn_process .cont_box .process_lst > li.change_lst_num span.txt:nth-child(6) {display: block;}

	.voucher .stn_inquiry .cont_box .inquiry_box .btn_inquiry {width: 100%;}
}

@media all and (max-width: 480px){
	/* sign up */
	.sign_up .sign_up_main h2 {margin: 0 0 30px; font-size: 15px; line-height: 1.6;}

    /* stn_training */
    .stn_training .txt p {font-size: 20px;}
    .stn_training .txt em {font-size: 13px;}
	.stn_training .txt .btn_box {height: auto;}
	.stn_training .txt .btn_box a {width: calc(100% - 40px);}
	.stn_training .txt .btn_box a:nth-child(1) {margin: 0 0 15px;}

    /* stn_info */
    .stn_info .service_area .use_process li span {font-size: 12px;}
    .stn_info .service_area .use_process li:not(:nth-child(4)) span {margin: 6px 0 0;}

    /* ---------- footer ---------- */
    #footer .m_footer .cont_box .contact a {display: block; line-height: 22px;}
}

@media all and (max-width: 350px){
	.stn_info .lank_area .tab_box .tab_cont .user_id {overflow: hidden; width: 100px; text-overflow: ellipsis;}
    /* ---------- footer ---------- */
    #footer .m_footer .cont_box .service .ai_service > div a:nth-child(even) {margin: 0;}
}
