@charset "UTF-8";
/* MINDsLab. NBR. 20200224 */

/* -------------------- common -------------------- */
#wrap {width: 100%; min-width: 1250px; height: 100%;}

/* header */
#header {position: relative; width: 100%; height: 70px; box-sizing: border-box; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff;}
#header .header_box {position: relative; width: 1220px; height: 100%; margin: 0 auto;}
#header h1 {float: left; width: 144px; margin: 26px 0 0 0; border: none;}
#header h1 img {width: 100%;}
#header .sta {float: right;}
#header .sta .gnb {float: left;}
#header .sta .gnb li {float: left; padding: 28px 34px 0 34px;}
#header .sta .gnb li a {color: #2c3f51; font-size: 15px; font-weight: 500; letter-spacing: -0.5px;}
#header .sta .gnb li a:hover {color: #506df5; transition: all 0.3s ease-out;}
#header .sta .gnb li.active a {color: #506df5; pointer-events: none; cursor: default;}
#header .sta .select_box {float: left; width: 87px; height: 32px; margin: 24px 0 0 34px;}
#header .sta .select_box select {border: none;}

/* -------------------- contents -------------------- */
/* ---------- landing page ---------- */
/* 공통 팝업창 스타일 (landing_page) */
.landing .popWrap {overflow: visible; width: 306px; height: 245px; margin: 300px auto 0 auto; }

/* 로그인 오류 팝업 */
#pop_login_error .popWrap .pop_bd p {margin: 0 0 5px 0;}

/* work_ex popup - 각 작업 체험 버튼 클릭 시 해당 시연 영상 팝업 등장 (기존 작업체험 팝업 대체 임시 팝업임) */
.ttrl_pop .popWrap {width: 800px; padding: 14px 0 0; background: #f7f8fc;}
.ttrl_pop .popWrap .pop_bd {background: #f7f8fc;}
.ttrl_pop .popWrap video {width: 100%;}

/* work_ex popup - 기존 작업체험 팝업 (임시로 시연 영상 팝업으로 처리함, 추후 작업 시 사용) */
.pop_work .popWrap {overflow: hidden; top: 50%; width: 900px; height: 800px; margin: 0; padding: 0; transform: translate(0, -50%);}
.pop_work .popWrap .pop_hd {width: 100%; height: 57px; padding: 14px 0 0 30px; box-sizing: border-box; background: #506df5; text-align: left;}
.pop_work .popWrap .pop_hd em {color: #fff; opacity: 1;}
.pop_work .popWrap .pop_hd img {width: 25px;}
.pop_work .popWrap .pop_hd h6 {display: inline-block; margin: 0 0 0 8px; color: #fff; font-size: 17px; vertical-align: bottom;}
.pop_work .popWrap .pop_bd {position: relative; height: calc(100% - 57px); padding: 20px 30px; box-sizing: border-box; background: #eff1f7;}
.pop_work .popWrap .pop_bd .tab_btn {position: absolute; top: -40px; left: 248px;}
.pop_work .popWrap .pop_bd .tab_btn li {float: left; margin: 0 10px 0 0; padding: 0 20px; border: 1px solid #eff1f7; border-bottom: none; border-radius: 4px 4px 0 0; box-sizing: border-box; background: #506df5; color: #fff; font-size: 14px; line-height: 39px; cursor: pointer;}
.pop_work .popWrap .pop_bd .tab_btn li.active {color: #506df5; background: #eff1f7;}
.pop_work .popWrap .pop_bd .way span {display: inline-block; margin: 0 5px 0 0;}
.pop_work .popWrap .pop_bd .voice_stn {margin: 20px 0 0; padding: 0;}
.pop_work .popWrap .pop_bd .tts_box {height: 134px; padding: 20px;}
.pop_work .popWrap .pop_bd .wave_box {height: 47px;}
.pop_work .popWrap .pop_bd .play {width: 40px; height: 40px;}
.pop_work .popWrap .pop_bd .icon_box ul {margin: 11px 0 0;}
.pop_work .popWrap .pop_bd .icon_box ul li button {font-size: 10px;}
.pop_work .popWrap .pop_bd .icon_box ul li button em {color: #506df5; font-size: 17px;}
.pop_work .popWrap .pop_bd .icon_box ul li button em.fa-cut {color: #f5508b;}

.pop_work .popWrap .pop_bd .data_script {padding: 0;}
.pop_work .popWrap .pop_bd .script_area {overflow: hidden;}
.pop_work .popWrap .pop_bd .script_area h4 {margin: 18px 0 4px 0; color: #2c3f51; font-size: 11px; text-align: left;}
.pop_work .popWrap .pop_bd .script_area .fl {width: 473px;}
.pop_work .popWrap .pop_bd .script_area .script_list {width: 100%; height: 437px; margin: 0 0 16px 0;}
.pop_work .popWrap .pop_bd .script_area .fl .script_list ul li {padding: 10px 35px 10px 10px; font-size: 11px;}
.pop_work .popWrap .pop_bd .script_area .fl .script_list ul li span {width: 28px; font-size: 11px;}
.pop_work .popWrap .pop_bd .script_area .fr {width: 352px;}
.pop_work .popWrap .pop_bd .script_area .results {overflow: auto; width: 100%; height: 437px; margin: 0 0 16px 0;}
.pop_work .popWrap .pop_bd .script_area .fr .results .tbl_top span {font-size: 11px;}
.pop_work .popWrap .pop_bd .script_area .fr .results .tbl tr {height: 30px; cursor: default;}
.pop_work .popWrap .pop_bd .script_area .fr .results .tbl td {height: 30px; font-size: 11px;}
.pop_work .popWrap .pop_bd .script_area .fr .results .tbl td:first-child {line-height: 30px;}
.pop_work .popWrap .pop_bd .script_area .fr .results .tbl td .play {width: 23px; height: 23px;}
.pop_work .popWrap .pop_bd .script_area .fr .results .tbl td em {font-size: 13px; cursor: pointer;}

/* 이용약관 팝업 */
.pop_t_c .popWrap {overflow: visible; height: 500px;}
.pop_t_c .popWrap .terms_area {overflow: auto; height: 100%; text-align: left;}
.pop_custom .pop_hd h6 {padding: 0 0 10px 0;}
.pop_custom .pop_bd {overflow: auto; height: 300px; text-align: left;}

.index #text_work .popWrap .pop_bd .data_script {height: 635px;}
.index #text_work .popWrap .pop_bd .script_area {height: 100%;}
.index #text_work .data_script .fl .script_box {height: calc(100% - 42px); padding: 16px 20px;}
.index #text_work .data_script .fl .script_box .textarea {font-size: 12px;}
.index #text_work .data_script .fr .question_box .question.minibox1 {height: 187px;}
.index #text_work .data_script .fr .question_box .bottom_box h4 {margin: 0 0 5px; letter-spacing: -0.5px;}
.index #text_work .data_script .fr .question_box .question {margin: 0 0 16px;}
.index #text_work .data_script .fr .question_box .question.minibox1 ul.q_list li {padding: 5px 15px;}
.index #text_work .data_script .fr .question_box .question.minibox1 ul.q_list li > p {width: 80%; font-size: 12px;}
.index #text_work .data_script .fr .question_box .question.minibox1 ul.q_list li span em {font-size: 12px;}
.index #text_work .data_script .fr .question_box .question.minibox1 ul.q_list li span em:first-child {margin: 0 15px 0 0;}
.index #text_work .data_script .fr .question_box .question.minibox1 ul.q_list li span {right: 16px;}
.index #text_work .data_script .fr .question_box .question.minibox1 .addblock a.addbtn {width: 96px; height: 27px; font-size: 11px; line-height: 27px;}
.index #text_work .data_script .fr .question_box .bottom_box {position: static;}
.index #text_work .data_script .fr .question_box .question.minibox2 {height: 164px; font-size: 12px;}
.index #text_work .data_script .fr .question_box .question.minibox3 {height: 164px; font-size: 12px;}
.index #text_work .pop_bd .btn {margin: 12px 0 0;}

/* layout */
.index .cont_box {position: relative; width: 1020px; height: 100%; margin: 0 auto;}
.index .cont_box .cont_left {float: left;}
.index .cont_box .cont_right {float: right;}
.index .cont_box .cont_left > div,
.index .cont_box .cont_right > div {padding: 24px 0 0 0;}

/* -------------------- contents -------------------- */
#contents.index {width: 100%; background: #f7f8fc;}
#contents > div {width: 100%; padding: 50px 0; clear:both; overflow: hidden;}
#contents.index .cont_box h3 {position: relative; left: -50px; color: #00263e; font-size: 20px; font-weight: 500; line-height: 29px; letter-spacing: -0.7px;}

/* stn_training */
.stn_training { overflow: visible !important; height: 360px; padding: 10px 0 !important;}
.stn_training .txt {position: absolute; top: 50%; left: 0; transform: translate(0, -50%);}
.stn_training .txt > div {padding: 0 !important;}
.stn_training .txt img {width: 216px;}
.stn_training .txt p {margin: 18px 0 0 0; color: #2c3f51; font-size: 25px; font-weight: 400; line-height: 37px; letter-spacing: -0.8px;}
.stn_training .txt em {margin: 0 10px 0 0; color: #5c688c; font-size: 15px; line-height: 1.4; letter-spacing: -0.5px;}
.stn_training .txt .btn_box {display: block; height: 50px; margin: 28px 0 0 0; line-height: 48px;}
.stn_training .txt .btn_box a {width: auto; padding: 0 20px;}
.stn_training .txt .btn_box a:nth-child(1) {margin: 0 10px 0 0;}
.stn_training .txt .btn_box a:nth-child(2) {border-color: #808aab; background: #808aab;}
.stn_training .txt .btn_box a span {margin: 0 0 3px 3px; font-size: 11px; vertical-align: middle;}
.stn_training .txt .btn_box a.btn_go_join.hidden {display: none;}
.stn_training .img {position: absolute; top: 14px; right: -8px; width: 414px; z-index: 5;}
.stn_training .img img {width: 100%;}

/* stn_user */
.stn_user {overflow: hidden; background: #506df5;}
.stn_user .ex_area h3 {color: #fff !important;}
.stn_user .ex_area .ex_lst {width: 420px;}
.stn_user .ex_area .ex_lst li {position: relative; width: 100%; height: 82px; border: 1px solid rgba(255,255,255,0.4); border-radius: 4px; box-sizing: border-box; box-shadow: 1px 1px 4px 0 rgba(0,38,62,0.4); background: rgba(80,109,245,0.4); color: #fff;}
.stn_user .ex_area .ex_lst li + li {margin: 10px 0 0 0;}
.stn_user .ex_area .ex_lst li:hover {box-shadow: 1px 1px 4px 0 rgba(0,38,62,0.8); background: #506df5; cursor: pointer; transition: box-shadow 0.3s;}
.stn_user .ex_area .ex_lst li > div {float: left;}
.stn_user .ex_area .ex_lst li .work_type_img {width: 32px; height: 46px; margin: 18px 30px 18px 22px;}
.stn_user .ex_area .ex_lst .ex_voice .work_type_img {width: 40px; height: 54px; margin: 14px 22px 14px 22px; background: url('../images/ico_voice.svg') 50% 50% no-repeat; background-size: contain;}
.stn_user .ex_area .ex_lst .ex_text .work_type_img {background: url('../images/ico_text.svg') 50% 50% no-repeat; background-size: contain;}
.stn_user .ex_area .ex_lst .ex_image .work_type_img {background: url('../images/ico_image.svg') 50% 50% no-repeat; background-size: contain;}
.stn_user .ex_area .ex_lst li .work_type_txt {padding: 18px 0; font-size: 15px; line-height: 22px; letter-spacing: -0.5px;}
.stn_user .ex_area .ex_lst li .work_type_txt span {display: block; font-weight: 700;}
.stn_user .ex_area .ex_lst li:after {content: '\f054'; position: absolute; top: 50%; right: 24px; font-family: 'Font Awesome 5 Free'; color: #fff; font-size: 11px; font-weight: 900; transform: translate(0, -50%);}

.login_area {position: relative; transform: translate(0,0);}
/* stn_info */
.stn_info {}
.stn_info .lank_area {display:none;}
.stn_info .lank_area .tab_box {position: relative; width: 422px; height: 232px;}
.stn_info .lank_area .tab_box .tab_btn {position: absolute; top: -35px; right: 5px; z-index: 5;}
.stn_info .lank_area .tab_box .tab_btn li {float: left; width: 70px; height: 35px; border: solid 1px #cfd5eb; border-bottom: none; border-radius: 4px 4px 0 0;  box-sizing: border-box; box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.1); background: #f7f8fc; color: rgba(44,63,81,0.8); font-size:15px; line-height: 35px; letter-spacing: -0.5px; text-align: center; cursor: pointer;}
.stn_info .lank_area .tab_box .tab_btn li + li {margin: 0 0 0 5px;}
.stn_info .lank_area .tab_box .tab_btn li.active {height: 36px; box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1); background: #fff; color: #506df5; font-weight: 500;}

.stn_info .lank_area .tab_box .tab_cont {width: 100%; height: 100%; padding: 10px 28px; border-radius: 4px; border: solid 1px #cfd5eb; box-sizing: border-box; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); background: #fff;}
.stn_info .lank_area .tab_box .tab_cont li {width: 100%; height: 35px; border-bottom: 1px dotted #cfd5eb; font-size: 14px; clear: both;}
.stn_info .lank_area .tab_box .tab_cont li p {display: inline-block; line-height: 39px; letter-spacing: -0.4px;}
.stn_info .lank_area .tab_box .tab_cont .lank_num {margin: 0 8px; color: #506df5;}
.stn_info .lank_area .tab_box .tab_cont .user_id,
.stn_info .lank_area .tab_box .tab_cont .payment {color: #2c3f51;}
.stn_info .lank_area .tab_box .tab_cont .payment {float: right; position: relative; margin: 0 8px 0 0;}
.stn_info .lank_area .tab_box .tab_cont .payment:before {content: ''; display: block; position: absolute; top: 50%; left: -22px; width: 17px; height: 17px; margin: -9px 0 0 0; background: url('../images/ico_point.svg')50% 50% no-repeat; background-size: contain;}
.stn_info .lank_area .tab_box .tab_cont .payment img {vertical-align: middle;}

#contents.index .stn_info .service_area h3 {left: -23px;}
.stn_info .service_area > div {overflow: hidden;  padding: 24px 0 0 24px;}
.stn_info .service_area .use_process {clear: both;}
.stn_info .service_area .use_process li {float: left; position: relative; width: 150px; height: 92px; margin: 0 0 10px 20px; border: solid 1px #cfd5eb; border-radius: 4px; box-sizing: border-box; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); background: #fff; text-align: center;}
.stn_info .service_area .use_process li em {display: inline-block; position: absolute; top: -10px; left: 50%; color: #506df5; font-size: 13px; font-weight: 500; line-height: 20px; letter-spacing: -0.4px; transform: translate(-50%, 0);}
.stn_info .service_area .use_process li em:before {content: ''; display: block; position: absolute; top: 0; left: 50%; width: 18px; height: 18px; border: 1px solid #506df5; border-radius: 50%; background: #fff; transform: translate(-50%, 0); z-index: -5;}
.stn_info .service_area .use_process li > div {display: inline-block; width: 40px; height: 35px; margin: 16px 0 0 0;}
.stn_info .service_area .use_process li:not(:nth-child(4)) > div {width: 45px; height: 40px;}
.stn_info .service_area .use_process .singup_img {background: url('../images/img_sign.svg') 50% 50% no-repeat; background-size: contain;}
.stn_info .service_area .use_process .guide_img {background: url('../images/img_guide.svg') 50% 50% no-repeat; background-size: contain;}
.stn_info .service_area .use_process .worklist_img {background: url('../images/img_worklist.svg') 50% 50% no-repeat; background-size: contain;}
.stn_info .service_area .use_process .workspace_img {background: url('../images/img_workspace.svg') 50% 50% no-repeat; background-size: contain;}
.stn_info .service_area .use_process .inspect_img {background: url('../images/img_inspect.svg') 50% 50% no-repeat; background-size: contain;}
.stn_info .service_area .use_process .payment_img {background: url('../images/img_payment.svg') 50% 50% no-repeat; background-size: contain;}
.stn_info .service_area .use_process li span {display: block; color: #2c3f51; font-size: 14px; font-weight: 500; line-height: 1.2; letter-spacing: -0.4px;}
.stn_info .service_area .use_process li:not(:nth-child(4)) span {margin: 2px 0 0 0;}

/* landing 영문버전 */
#en .pop_work .popWrap .pop_bd .tab_btn {left: 278px;}
#en #text_work .data_script .fr .question_box .question.minibox1 .addblock a.addbtn {display: inline-block; width: auto; height: 27px; padding: 0 14px; font-size: 11px; line-height: 27px;}
#en #text_work .data_script .fr .question_box .question.minibox2 {height: 155px; font-size: 12px;}
#en #text_work .data_script .fr .question_box .question.minibox3 {height: 155px; font-size: 12px;}
#en .stn_info .lank_area .tab_box .tab_btn li {width: auto; padding: 0 20px;}
#en .stn_info .service_area .use_process .workspace_img {width: 45px; height: 40px;}
#en .stn_info .service_area .use_process .inspect_img {width: 40px; height: 35px;}
#en .stn_info .service_area .use_process li:nth-child(5) span {margin: 0;}
#en .stn_info .service_area .use_process li:not(:nth-child(5)) span {margin: 2px 0 0 0;}


/* ---------- //landing ---------- */

/* ---------- sign up ---------- */
#header.logo_only h1 {float: none; margin: 0 auto; padding: 26px 0 0 0;}
#contents.sign_up {width: 100%; height: calc(100% - 290px); box-sizing: border-box; background: #f7f8fc;}
.sign_up .sign_up_main {position: relative; width: 390px !important; margin: 0 auto; padding: 50px 0 0 0; text-align: center;}
.sign_up h2 {margin: 0 0 50px 0; color: #00263e; font-size: 20px; font-weight: 500; letter-spacing: -0.4px; line-height: 30px;}
.sign_up h2 span {color: #506df5;}
.sign_up .sign_up_main .sign_btn_box {width: 100%; border-bottom: 1px dotted rgba(44, 63, 81, 0.2); }
.sign_up .sign_btn_box .btn_box {width: 300px; margin: 0 0 25px 0;}
.sign_up .sign_btn_box .btn_box a {padding: 14px 0; border: 1px solid rgba(128, 138, 171, 0.4); border-radius: 3px; background: #fff; text-align: center;}
.sign_up .sign_btn_box .btn_box:hover {box-shadow: 1px 1px 4px 0 rgba(0, 38, 62, 0.2); transition: all 0.3s ease-out;}
.sign_up .sign_btn_box .btn_box em {display: block; margin: 0 0 4px 0; color: #2c3f51; font-size: 14px; font-weight: 500; letter-spacing: -0.2px;}
.sign_up .sign_btn_box .btn_box em > span {margin: 0 5px 0 0; color: #506df5; font-size: 17px;}
.sign_up .sign_btn_box .btn_box em > img {margin: 0 5px 0 0;}
.sign_up .sign_btn_box .btn_box a > span {color: #2c3f51; font-size: 12px; letter-spacing: -0.2px; opacity: 0.7;}
.sign_up .sign_up_main > .btn_box {width: 300px; margin: 25px 0 0 0; line-height: 40px;}
.sign_up .sign_up_wrap .cont_box > .classify_info {display: block; color: #506df5; font-size: 12px; letter-spacing: -0.2px;}

#contents.sign_up.stage {height: auto;}
.sign_up .sign_up_wrap {width: 680px !important; margin: 0 auto; padding: 40px 0 70px 0; text-align: center;}
.sign_up .sign_up_wrap .common_box {width: 100%; border-radius: 0;}
.sign_up .sign_up_wrap .progress_box {padding: 15px 0 10px 0;}
.sign_up .sign_up_wrap .progress_box li {display: inline-block; width: 43px;}
.sign_up .sign_up_wrap .progress_box li + li {margin: 0 0 0 30px;}
.sign_up .sign_up_wrap .progress_box li span {display: block; position: relative; margin: 0 0 5px 0; color: #cfd5eb; font-size: 20px; z-index: 5;}
.sign_up .sign_up_wrap .progress_box li span:after {content: ''; display: block; position: absolute; top: 50%; right: -45px; width: 57px; height: 1px; background: #cfd5eb;}
.sign_up .sign_up_wrap .progress_box li span.fa-check-circle {color: #506df5;}
.sign_up .sign_up_wrap .progress_box li span.fas.fa-check-circle:after {content: ''; display: block; position: absolute; top: 50%; right: -45px; width: 57px; height: 1px; background: #506df5;}
.sign_up .sign_up_wrap .progress_box li:last-child span:after {display: none;}
.sign_up .sign_up_wrap .progress_box li em {color: #808aab; font-size: 12px; font-weight: 500; letter-spacing: -0.3px;}
.sign_up .sign_up_wrap .progress_box li.on em {color: #00263e;}

.sign_up .sign_up_wrap h2 {margin: 40px 0 20px 0;}
.sign_up .sign_up_wrap .terms_area {text-align: left;}
.sign_up .sign_up_wrap .terms_area .check_box {display: block;}
.sign_up .sign_up_wrap .terms_area .check_box label {padding: 0 0 0 20px; color: #00263e; font-size: 14px; font-weight: 500; letter-spacing: -0.2px; line-height: 1.4; word-break: keep-all;}
.sign_up .sign_up_wrap .terms_area .check_box label:before {top: 3px; width: 15px; border-color: #506df5;}
.sign_up .sign_up_wrap .terms_area .check_box input:checked + label:after {top: 3px; left: 3px;}
.sign_up .sign_up_wrap .terms_area div:first-child {margin: 0 0 13px 0;}
.sign_up .sign_up_wrap .terms_area .textarea {overflow: auto; height: 180px; margin: 10px 0 20px 0; padding: 10px;}

.stage .sign_up_wrap .sign_btn_box {margin: 25px 0 0 0;}
.stage .sign_up_wrap > .btn_box {height: 40px; margin: 40px 0 0 0;}
.stage .sign_up_wrap .btn_box button {padding: 0 30px;}

.certify .sign_up_wrap .cont_box > p {margin: 0 0 25px 0; color: #00263e; font-size: 14px; letter-spacing: -0.2px; word-break: keep-all;}
.certify .sign_up_wrap .account_info {display: inline-block; width: 300px; height: 70px; border: solid 1px rgba(128, 138, 171, 0.4); border-radius: 3px; background: #fff;}
.certify .sign_up_wrap .account_info p {color: #2c3f51; font-size: 13px; line-height: 70px; letter-spacing: -0.2px; opacity: 0.7;}
.certify .sign_up_wrap .sign_btn_box {width: 300px; margin: 25px auto 0;}
.certify .sign_up_wrap .sign_btn_box > div:nth-child(2) {margin: 0 0 10px 0;}
.certify .sign_up_wrap > .btn_box {height: 40px; margin: 40px 0 0 0;}
.certify .sign_up_wrap .btn_box button {padding: 0 30px;}

.form .sign_up_wrap .form_tbl {width: 590px; margin: 0 auto;}
.form .sign_up_wrap .form_tbl table {width: 100%;}
.form .sign_up_wrap .form_tbl table tr {height: 70px;}
.form .sign_up_wrap .form_tbl table tr.user_code td:nth-child(3) {color: #506df5; font-size: 12px; letter-spacing: -0.2px;}
.form .sign_up_wrap .form_tbl table tr.sign_up_route td:nth-child(1) {padding: 15px 5px 32px;}
.form .sign_up_wrap .form_tbl table tr.sign_up_route td:nth-child(2) {padding: 15px 5px 0;}
.form .sign_up_wrap .form_tbl table tr.sign_up_route td:nth-child(2) p {display: none; margin: 0 0 10px; color: #2c3f51; font-size: 14px;}
.form .sign_up_wrap .form_tbl table td {padding: 15px 5px;}
.form .sign_up_wrap .form_tbl table td:nth-child(1) {color: #2c3f51; font-size: 14px; text-align: right;}
.form .sign_up_wrap .form_tbl table td:not(:nth-child(1)) {text-align: left;}
.form .sign_up_wrap .form_tbl table td .ipt_box {position: relative; width: 180px; height: 40px;}
.form .sign_up_wrap .form_tbl table td .ipt_box input {background: #fff;}
.form .sign_up_wrap .form_tbl table td .ipt_box input::placeholder {color: transparent;}
.form .sign_up_wrap .form_tbl table td .ipt_box input::-webkit-input-placeholder {color: transparent;}
.form .sign_up_wrap .form_tbl table td .ipt_box input:-ms-input-placeholder {color: transparent;}
.form .sign_up_wrap .form_tbl table td .ipt_box input:-moz-input-placeholder {color: transparent;}
.form .sign_up_wrap .form_tbl table td .ipt_box span {display: none; position: absolute; left: 0; bottom: -20px; color: #ff2028; font-size: 11px; letter-spacing: -0.2px;}
.form .sign_up_wrap .form_tbl table td .ipt_box span.remain_time {top: 7px; left: 130px; bottom: unset; text-align: center; line-height: 14px;}
.form .sign_up_wrap .form_tbl table td .ipt_box.on span.remain_time {display: block;}
.form .sign_up_wrap .form_tbl table td .btn_box {height: 40px;}
.form .sign_up_wrap .form_tbl table td .btn_box.on button {opacity: 1; pointer-events: all;}
.form .sign_up_wrap .form_tbl table td .btn_box button {opacity: 0.5; pointer-events: none;}
.form .sign_up_wrap .form_tbl table td .radio_box {margin: 0 25px 12px 0;}
.form .sign_up_wrap .form_tbl table td .radio_box:last-child {margin: 0 25px 0 0;}
.form .sign_up_wrap .form_tbl table td .radio_box label {padding: 0 0 0 20px; color: #2c3f51; font-size: 13px;}
.form .sign_up_wrap .form_tbl table td .radio_box label:before {width: 14px; height: 14px; top: 2px;}
.form .sign_up_wrap .form_tbl table td .radio_box input:checked + label:after {content: '\f00c'; font-family: 'Font Awesome 5 Free'; color: #fff; font-size: 10px; font-weight: 900; width: 14px; height: 14px; top: 2px; left: 0; text-align: center; line-height: 14px;}

.complete .sign_up_wrap > .btn_box {height: 40px; margin: 10px 0 0 0;}
.complete .sign_up_wrap .btn_box button {padding: 0 30px;}

/* ---------- train page ---------- */
/* popup */
#sign_in .popWrap .btn_box {position: relative; width: 230px; height: 40px;}
#sign_in .popWrap .btn_box button {border: 1px solid rgba(128, 138, 171, 0.4); background: #fff; color: #2c3f51; font-size: 14px; font-weight: 500;}
#sign_in .popWrap .btn_box img {position: absolute; left: 12px;}
.request .popWrap {width: 355px;}
.request .pop_bd {padding: 0 !important;}
.request .pop_bd .user_info {display: inline-block; margin: 17px 0 30px;}
.request .pop_bd .ipt_box {display: block; position: relative; width: 230px; height: 37px;}
.request .pop_bd .ipt_box input {display: block; position: absolute; left: 0; bottom: 4px; height: auto; padding: 0 0 4px 26px; border: none; border-bottom: 1px solid rgba(44,63,81,0.6); border-radius: 0; box-sizing: border-box; background: transparent; color: #2c3f51; font-size: 15px; z-index: 5;}
.request .pop_bd .ipt_box label {top: 8px; padding: 0 0 0 14px; color: #2c3f51; font-size: 15px; letter-spacing: -0.5px; opacity: 0.7; cursor: text;}
.request .pop_bd .ipt_box span {position: absolute; bottom: 12px; left: 0; color: #2c3f51; font-size: 15px; text-align: left; z-index: 5; opacity: 0.7;}
.request .pop_bd .train_lst {margin: 10px 0 0 0; padding: 20px 60px; background: #eff3fc; text-align: left;}
.request .pop_bd .train_lst li + li {margin: 13px 0 0 0;}
.request .pop_bd .train_lst .check_box label {padding: 0 0 0 25px; color: #002b49; font-size: 15px;}
.request .pop_bd .train_lst .check_box label em {font-weight: 700;}
.request .pop_bd .train_lst .check_box label span {margin: 0 0 0 10px; color: #506df5;}
.request .pop_bd .train_lst .check_box label:before {top: 2px; width: 15px; height: 15px; border-color: #506df5;}
.request .pop_bd .train_lst .check_box input:checked + label::before {background: #506df5;}
.request .pop_bd .train_lst .check_box input:checked + label:after {top: 0; left: 3px; color: #fff;}
.request#change_cancel .btn button {display: inline-block;}
.request#change_cancel .btn .request_cancel {margin: 0 10px 0 0; border: 1px solid #f5508b; background: #f5508b;}

/* contetns */
.train .cont_box {width: 1220px;}
.train .stn_training .txt {left: 100px;}
.train .stn_training .txt > div {padding: 0;}
.train .stn_training .img {top: 15px; right: 8px; width: auto; height: 376px;}
.train .stn_training .img img {width: auto; height: 100%;}
.train .stn_training .txt .btn_box {width: auto; margin: 14px 0 43px 0;}
.train .stn_training .txt .btn_box button {float: left; width: auto; margin: 0 10px 0 0; padding: 0 30px; box-sizing: border-box;}
.train .stn_training .txt .btn_box button.change_cancel {border: 1px solid #cfd5eb; background: #fff; color: #506df5;}
.train .stn_training .txt em {display: block; color: #2c3f51; font-size: 15px; line-height: 2;}
.train .stn_training .txt em span {display: inline-block; margin: 0 8px 0 0; color: #506df5; font-size: 20px;}

.train .stn_schedule {height: auto; padding: 30px 0; background: #506df5;}
.train .stn_schedule .schedule_box {width: 100%; padding: 40px 100px; border-radius: 3px; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2); box-sizing: border-box; background: #fff;}
.train .stn_schedule .schedule_box h4 {color: #506df5; font-size: 30px; font-weight: 500; letter-spacing: -1px; line-height: 1; text-align: center;}
.train .stn_schedule .schedule_box .month_schedule {overflow: hidden; margin: 20px 0 0 0; border-top: 2px solid #697992; border-bottom: 2px solid #697992;}
.train .stn_schedule .schedule_box .month_schedule .mon {float: left; width: 116px;}
.train .stn_schedule .schedule_box .month_schedule .mon h4 {padding: 20px 0 0 0; color: #002b49; font-size: 30px; font-weight: 700; letter-spacing: -0.2px;}
.train .stn_schedule .schedule_box .month_schedule .date {float: right; width: calc(100% - 116px); text-align: left;}
.train .stn_schedule .schedule_box .month_schedule .date dl {clear: both;}
.train .stn_schedule .schedule_box .month_schedule .date dl + dl {border-top: 1px solid #697992;}
.train .stn_schedule .schedule_box .month_schedule .date dt {float: left; width: 246px; padding: 20px 49px 0 42px; box-sizing: border-box; color: #002b49; font-size: 20px; letter-spacing: -0.1px;}
.train .stn_schedule .schedule_box .month_schedule .date dt p span {display: inline-block; margin: 0 4px 0 0; font-weight: 700;}
.train .stn_schedule .schedule_box .month_schedule .date dt > span {display: inline-block; margin: 12px 0 0 0; color: #2575f9;}
.train .stn_schedule .schedule_box .month_schedule .date dd {float: right; width: calc(100% - 246px); padding: 20px 0; box-sizing: border-box; clear: right;}
.train .stn_schedule .schedule_box .month_schedule .date dd + dd {border-top: 1px dashed #b0bed5;}
.train .stn_schedule .schedule_box .month_schedule .date dd > div {float: left; box-sizing: border-box; word-wrap: break-word; word-break: keep-all;}
.train .stn_schedule .schedule_box .month_schedule .date dd .time {width: 94px; padding: 0 0 0 7px; font-weight: 500;}
.train .stn_schedule .schedule_box .month_schedule .date dd .subject {width: 160px; padding: 0 0 0 56px;}
.train .stn_schedule .schedule_box .month_schedule .date dd .cont {width: calc(100% - 254px); padding: 0 30px;}
.train .stn_schedule .schedule_box .month_schedule .date dd p {color: #002b49; font-size: 15px; line-height: 21px; letter-spacing: -0.1px;}

/* ---------- userguide page ---------- */
/* common */
.userguide .cont_box {padding: 40px 0 0 0; box-sizing: border-box;}
.userguide h4 {color: #00263e; font-size: 20px; font-weight: 500; letter-spacing: -0.2px;}

/* stn_training */
.userguide .stn_training .txt > div {padding: 0;}
.userguide .stn_training .txt .btn_box {display: none;}
/* .userguide .stn_training .img img.guide_play {position: relative; top: -246px; left: calc(50% - 14px); width: 68px; cursor: pointer;} */

/* stn_guide_type */
.userguide .stn_guide_type {height: 421px; background: #506df5;}
.userguide .stn_guide_type h4 {color: #fff;}
.userguide .stn_guide_type .guide_box {overflow: hidden; width: 100%; height: 300px; margin: 19px 0 0 0; border: 1px solid #cfd5eb; border-radius: 5px; background: #f7f8fc;}
.userguide .stn_guide_type .guide_box .tab_btn {float: left;}
.userguide .stn_guide_type .guide_box .tab_btn li {width: 180px; height: 100px; border-right: 1px solid #cfd5eb; box-sizing: border-box;}
.userguide .stn_guide_type .guide_box .tab_btn li:nth-child(2) {border-top: 1px solid #cfd5eb; border-bottom: 1px solid #cfd5eb;}
.userguide .stn_guide_type .guide_box .tab_btn li a {display: block; color: #808aab; font-size: 17px; font-weight: 500; text-align: center; line-height: 100px;}
.userguide .stn_guide_type .guide_box .tab_btn li.active {border-right: none; background: #fff;}
.userguide .stn_guide_type .guide_box .tab_btn li.active a {color: #506df5; font-weight: 700;}

.userguide .stn_guide_type .guide_box .tab_cont {float: left; width: calc(100% - 180px); height: 100%;}
.userguide .stn_guide_type .guide_box .tab_cont .guide_tab {height: 100%;}
.userguide .stn_guide_type .guide_box .tab_cont .guide_tab > div {float: left; height: 100%; padding: 15px 30px; box-sizing: border-box;}
.userguide .stn_guide_type .guide_box .tab_cont .guide_tab .view {width: 400px; border-right: 1px solid #cfd5eb; background: #fff; text-align: center;}
.userguide .stn_guide_type .guide_box .tab_cont .guide_tab .view img {display: inline-block; height: 100%;}
.userguide .stn_guide_type .guide_box .tab_cont .guide_tab .talk {width: calc(100% - 400px); padding: 36px 30px 0;}
.userguide .stn_guide_type .guide_box .tab_cont .guide_tab .talk p {display: inline-block; position: relative; margin: 0 0 0 50px; padding: 6px 20px; border: 1px solid #cfd5eb; border-radius: 0 10px 10px 10px; background: #fff; color: #00263e; font-size: 14px; line-height: 28px; letter-spacing: -0.4px;}
.userguide .stn_guide_type .guide_box .tab_cont .guide_tab .talk p:before {content: ''; display: block; position: absolute; top: 0; left: -50px; width: 39px; height: 39px; background: url('../images/img_guide_talk_profile.svg')50% 50% no-repeat; background-size: contain;}
.userguide .stn_guide_type .guide_box .tab_cont .guide_tab .talk p + p {margin: 23px 0 0 50px;}

/* stn_guide_info */
.userguide .stn_guide_info {height: 340px; border-bottom: 1px solid #e6e8ec;}
.userguide .stn_guide_info em,
.userguide .stn_guide_info span {color: #00263e;}
.userguide .stn_guide_info h4 + h4 {padding: 0; letter-spacing: -0.2px;}
.userguide .stn_guide_info .stage_area span {display: inline-block; margin: 10px 0 27px; font-size: 14px; line-height: 20px;}
.userguide .stn_guide_info .grade_area {width: 420px;}
.userguide .stn_guide_info .grade_area > span {display: inline-block; margin: 10px 0 20px; font-size: 14px;}
.userguide .stn_guide_info .grade_area .grade_box {width: 100%; height: 190px; padding: 14px 28px 0; border: 1px solid #cfd5eb; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); border-radius: 5px; box-sizing: border-box; background: #fff;}
.userguide .stn_guide_info .grade_area .grade_box p {height: 38px; padding: 0 43px; color: #506df5; font-size: 14px; font-weight: 500; line-height: 38px;}
.userguide .stn_guide_info .grade_area .grade_box p:first-child {height: 42px; border-bottom: 1px solid rgba(44,63,81,0.6);}
.userguide .stn_guide_info .grade_area .grade_box p:nth-child(3) {border-top: 1px dotted #e6e8ec; border-bottom: 1px dotted #e6e8ec;}
.userguide .stn_guide_info .grade_area .grade_box p em {margin: 0 40px 0 0; font-size: 14px; font-weight: 500;}
.userguide .stn_guide_info .grade_area .grade_box p span {float: right; font-weight: 400;}

/* stn_guide_faq */
.userguide .stn_guide_faq {height: 717px;}
.userguide .stn_guide_faq span {display: inline-block; margin: 10px 0 20px; color: #00263e; font-size: 14px; letter-spacing: -0.2px;}
.userguide .stn_guide_faq .faq_box {position: relative;}
.userguide .stn_guide_faq .tab_btn {position: absolute;}
.userguide .stn_guide_faq .tab_btn li {position: relative; top: 10px; float: left; height: 40px; margin: 0 5px 0 0; padding: 0 20px; border: 1px solid #cfd5eb; border-bottom: none; border-radius: 5px 5px 0 0; box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.1); background: #f7f8fc; color: #2c3f51; font-size: 15px; line-height: 40px; letter-spacing: -0.5px; cursor: pointer;}
.userguide .stn_guide_faq .tab_btn li.active {top: 0; height: 50px; box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1); background: #fff; color: #506df5; font-weight: 500; line-height: 50px; z-index: 5;}
.userguide .stn_guide_faq .tab_cont {position: absolute; top: 50px; width: 100%; height: 507px; clear: both;}
.userguide .stn_guide_faq .tab_cont > div {overflow: hidden; position: absolute; top: 0; width: 100%; height: 507px; padding: 30px; border: 1px solid #cfd5eb; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); border-radius: 5px; box-sizing: border-box; background: #fff;}
.userguide .stn_guide_faq .tab_cont > div:first-child {border-radius: 0 5px 5px 5px;}
.userguide .stn_guide_faq .tab_cont dl {overflow: auto; width: 100%; height: 100%; color: #2c3f51; font-size: 14px; line-height: 24px;}
.userguide .stn_guide_faq .tab_cont dt {position: relative; padding: 0 10px 4px 32px; border-bottom: 1px dotted #e6e8ec; letter-spacing: -0.2px;}
.userguide .stn_guide_faq .tab_cont dt:before {content: 'Q.'; display: block; position: absolute; left: 10px; color: #f5508b; font-weight: 500;}
.userguide .stn_guide_faq .tab_cont dd {position: relative; margin: 8px 0 30px; padding: 0 10px 0 32px; letter-spacing: -0.2px;}
.userguide .stn_guide_faq .tab_cont dd:before {content: 'A.'; display: block; position: absolute; left:  10px; color: #506df5; font-weight: 500;}
.userguide .stn_guide_faq .tab_cont dd:last-child {margin: 8px 0 0;}


/* ---------- labelling ---------- */
/* layout */
.labelling .contents .stn {width: 100%; text-align: center;}
.labelling .contents .cont_box {display: inline-block; width: 1030px; padding: 0 20px;}

/* h3 */
.labelling .stn h3 {margin: 50px 0 40px 0; color: #1e286d; font-size: 22px; font-weight: 500; letter-spacing: -1px; text-align: center;}

/* btn_inquiry */
.labelling .btn_inquiry {height: 40px; padding: 0 30px; border-radius: 5px; background: #506DF5; color: #fff; font-size: 14px; font-weight: 500;}

/* dl */
.labelling dt {color: #404a92; font-size: 15px; font-weight: 500;}
.labelling dd {color: #5c688c; font-size: 14px; line-height: 20px; word-break: keep-all;}

/* stn_title */
.stn_title {height: 379px; border-top: solid 1px #d7ddf5;}
.stn_title .cont_box .txt_box {float: left; padding: 72px 0 80px 0; text-align: left;}
.stn_title .cont_box .txt_box h2 {color: #506DF5; font-size: 40px; font-weight: 400; letter-spacing: -2px; line-height: 59px;}
.stn_title .cont_box .txt_box h2.m_title {display: none;}
.stn_title .cont_box .txt_box h2 span {font-weight: 700;}
.stn_title .cont_box .txt_box h3 {margin: 0; font-size: 25px; line-height: 37px;}
.stn_title .cont_box .txt_box p {margin: 21px 0 0 0; color: #5c688c; font-size: 15px; letter-spacing: -1px; line-height: 22px;}
.stn_title .cont_box .txt_box .btn_inquiry {margin: 26px 0 0 0;}
.stn_title .cont_box .img_box {float: right; width: 473px;}
.stn_title .cont_box .img_box img{width: 100%;}

/* stn_service */
.stn_service {background: #ecf1fc;}
.stn_service .cont_box h3 {line-height: 33px;}
.stn_service .cont_box .cont_lst {float: left; width: 330px;}
.stn_service .cont_box .cont_lst + .cont_lst {margin: 0 0 0 20px;}
.stn_service .cont_box .cont_lst .img_box {height: 56px; margin: 0 0 21px 0;}
.stn_service .cont_box .cont_lst .img_box img {width: 59px; vertical-align: bottom;}
.stn_service .cont_box .cont_lst:nth-child(2) img {width: 55px;}
.stn_service .cont_box .cont_lst:nth-child(3) img {width: 40px;}
.stn_service .cont_box .cont_lst dd {margin: 8px 0 50px 0;}

/* stn_process */
.stn_process .cont_box .process_lst {display: flex; flex-flow: wrap; justify-content: space-between; width: 1030px;}
.stn_process .cont_box .process_lst > li {position: relative; width: 263px; height: 105px; margin: 0 0 68px 0; border-radius: 5px; border: solid 1px #d7ddf5; background: #fff; z-index: 10;}
.stn_process .cont_box .process_lst > li:last-child:before {display: none;}
.stn_process .cont_box .process_lst > li:after {content: ''; display: block; position: absolute; top: 50%; left: 100%; width: 122px; border-top: 1px dashed #f5508b; transform: translate(0, -50%); z-index: 5;}
.stn_process .cont_box .process_lst > li:nth-child(3):after {top: calc(100% + 34px); left: 98px; width: 68px; transform: rotate(90deg);}
.stn_process .cont_box .process_lst > li:last-child:after {display: none;}
.stn_process .cont_box .process_lst > li.change_lst_num > em:nth-child(2) {display: none;}
.stn_process .cont_box .process_lst > li em {position: absolute; top: -10px; left: 50%; width: 28px; height: 28px; color: #f5508b; font-size: 13px; font-weight: 500; transform: translate(-50%, 0);}
.stn_process .cont_box .process_lst > li em:before {content: ''; display: block; position: absolute; top: -5px; width: 28px; height: 28px; border-radius: 50%; border: 1px solid #f5508b; box-sizing: border-box; background: #fff; z-index: -5;}
.stn_process .cont_box .process_lst > li span.txt,
.stn_process .cont_box .process_lst > li span.txt_m {position: absolute; top: 50%; left: 50%; width: 100%; color: #404a92; font-size: 15px; font-weight: 500; transform: translate(-50%, -50%);}
.stn_process .cont_box .process_lst > li .txt_m {display: none;}
.stn_process .cont_box .process_lst > li span.fas {position: absolute; top: 50%; left: calc(100% + 53px); color: #f5508b; font-size: 14px; transform: translate(0, -50%);}
.stn_process .cont_box .process_lst > li:nth-child(3) span.fas {top: calc(100% + 25px); left: calc(50% - 6px); transform: rotate(90deg);}

/* stn_case */
.stn_case {height: 492px; background: #ecf1fc;}
.stn_case .cont_box .case_lst {float: left; width: 320px; margin: 0 0 50px 0}
.stn_case .cont_box .case_lst + .case_lst {margin: 0 0 50px 35px;}
.stn_case .cont_box .case_lst dd img {width: 100%; margin: 10px 0;}

/* stn_inquiry */
.labelling .stn_inquiry .cont_box {padding: 50px 20px;}
.stn_inquiry .cont_box .info_box {float: left;}
.labelling .stn_inquiry .cont_box .info_box h3 {margin: 0 0 10px 0; line-height: 33px; text-align: left;}
.stn_inquiry .cont_box .info_box {text-align: left;}
.stn_inquiry .cont_box .info_box .detail {margin: 0 0 76px 0; color: #4d5699; font-size: 15px; line-height: 22px;}
.stn_inquiry .cont_box .info_box .m_detail {display: none; color: #4d5699; font-size: 15px; line-height: 22px;}
.stn_inquiry .cont_box .info_box .number {margin: 0 0 13px 0; letter-spacing: 1px;}
.stn_inquiry .cont_box .info_box .number, .stn_inquiry .cont_box .info_box .mail {color: #252f72; font-size: 15px; font-weight: 500;}
.stn_inquiry .cont_box .info_box img {width: 20px; margin: 0 15px 0 0;}

.stn_inquiry .cont_box .inquiry_box {overflow: hidden; float: right; width: 500px; }
.stn_inquiry .cont_box .inquiry_box > div {position: relative; text-align: left;}
.stn_inquiry .cont_box .inquiry_box input,
.stn_inquiry .cont_box .inquiry_box textarea {display: block; float: left; width: 100%; height: 38px; padding: 0 10px; border-radius: 3px; border: solid 1px #cfd5eb; box-sizing: border-box; color: #252f72; background: #fff; font-size: 14px;}
.stn_inquiry .cont_box .inquiry_box label {display: block; position: absolute; left: 10px; color: #697992; font-size: 12px; opacity: 0.8;}
.stn_inquiry .cont_box .inquiry_box label span {margin: 0 5px 0 0;}
.stn_inquiry .cont_box .inquiry_box input:focus + label {visibility: hidden;}
.stn_inquiry .cont_box .inquiry_box .my_info {float: left; width: calc(50% - 4px); height: 38px; margin: 0 0 8px 0;}
.stn_inquiry .cont_box .inquiry_box .my_info label {top: 10px;}
.stn_inquiry .cont_box .inquiry_box .my_info + .my_info {margin: 0 0 8px 8px;}
.stn_inquiry .cont_box .inquiry_box .my_info:nth-child(3) {margin: 0 0 8px 0;}
.stn_inquiry .cont_box .inquiry_box .my_txt {clear: both; width: 100%; height: 98px;}
.stn_inquiry .cont_box .inquiry_box .my_txt textarea {display: block; width: 100%; height: 100%; padding: 12px 10px 10px 10px;}
.stn_inquiry .cont_box .inquiry_box .my_txt label {top: 12px;}
.stn_inquiry .cont_box .inquiry_box .my_txt textarea:focus + label {visibility: hidden;}
.stn_inquiry .cont_box .inquiry_box .btn_inquiry {margin: 15px 0 0 0;}

/* labelling 영문버전 */
/* stn_service */
#en .labelling dt,
#en .labelling dd,
#en .labelling .contents .cont_box h3 {letter-spacing: -0.3px;}
#en .labelling dt,
#en .labelling .stn h3 {font-weight: 700;}
/* stn_case */
#en .labelling .stn_case {height: 492px; background: #ecf1fc;}
#en .labelling .stn_case .cont_box .cont_lst {float: left; width: 320px; margin: 0 0 50px 0;}
#en .labelling .stn_case .cont_box .cont_lst + .cont_lst {margin: 0 0 50px 35px;}
#en .labelling .stn_case .cont_box .cont_lst .img_box {width: 100%; margin: 0 0 21px 0;}
#en .labelling .stn_case .cont_box .cont_lst .img_box img {width: 100%;}
#en .labelling .stn_case .cont_box .cont_lst:nth-child(4) dt {height: 36px;}
#en .labelling .stn_case .cont_box .cont_lst dd {margin: 8px 0 0 0;}

/* ---------- //labelling ---------- */

/* ---------- voucher ---------- */
/* common */
.voucher .stn h3 {color: #404a92;}

/* stn_title */
.voucher .stn_title {height: 351px; border-top: solid 1px #d7ddf5; background: #506df5;}
.voucher .stn_title .cont_box .txt_box h2,
.voucher .stn_title .cont_box .txt_box h3,
.voucher .stn_title .cont_box .txt_box p {color: #fff; letter-spacing: -0.2px;}
.voucher .stn_title .cont_box .txt_box .btn_inquiry {background: #fff; color: #506df5;}
.voucher .stn_title .cont_box .img_box {width: 446px; margin: 16px 0 0 0;}

/* stn_service */
.voucher .stn_service {background: none;}
.voucher .contents .cont_box .cont_lst {display: inline-block; float: none; width: 400px;}
.voucher .stn_service .cont_box .cont_lst .img_box {display: inline-block; width: 60px; height: 55px;}
.voucher .stn_service .cont_box .cont_lst .img_box img {width: 100%;}
.voucher .stn_service .cont_box > div:nth-child(2) .img_box {background: url('../images/img_ai_data.svg')50% 50% no-repeat; background-size: contain;}
.voucher .stn_service .cont_box > div:nth-child(3) .img_box {background: url('../images/img_gnl_data.svg')50% 50% no-repeat; background-size: contain;}
.voucher .stn_service .cont_box > div:nth-child(4) .img_box {background: url('../images/img_build_data.svg')50% 50% no-repeat; background-size: contain;}
.voucher .stn_service dt {color: #506df5; font-weight: 700;}
.voucher .stn_service dd {color: #2c3f51; letter-spacing: -0.4px;}

/* stn_process */
.voucher .stn_process {background: #f7f8fc;}
.voucher .stn_process .cont_box .process_lst > li {height: 130px; margin: 0 0 70px 0;}
.voucher .stn_process .cont_box .process_lst > li em,
.voucher .stn_process .cont_box .process_lst > li span.fas {color: #506df5;}
.voucher .stn_process .cont_box .process_lst > li em:before,
.voucher .stn_process .cont_box .process_lst > li:after {border-color: #506df5;}
.voucher .stn_process .cont_box .process_lst > li h6 {padding: 25px 0 0; color: #2c3f51; font-size: 15px;}
.voucher .stn_process .cont_box .process_lst > li span.txt {top: calc(50% + 10px); color: #2c3f51; font-size: 14px; letter-spacing: -0.5px;}
.voucher .stn_process .cont_box .process_lst > li span.txt:nth-child(6) {display: none;}

/* stn_inquiry */
.voucher .stn_inquiry .cont_box .info_box h3 {text-align: left;}
.voucher .stn_inquiry .cont_box .info_box .detail {margin: 0 0 94px 0; color: #2c3f51; letter-spacing: -0.5px;}
.voucher .stn_inquiry .cont_box .info_box .number,
.voucher .stn_inquiry .cont_box .info_box .mail {color: #2c3f51;}
.voucher .stn_inquiry .cont_box .inquiry_box input,
.voucher .stn_inquiry .cont_box .inquiry_box textarea {background: #f7f8fc;}
.voucher .stn_inquiry .cont_box .inquiry_box .btn_inquiry {width: 500px;}

/* ---------- 데이터셋 ---------- */
.content#dataset {min-height: calc(100% - 290px); background: #eff1f7;}
.content#dataset > div:nth-child(2) {padding: 0 6% 50px 6%;}
.content#dataset > div:nth-child(1) {padding: 50px 6% 0;}
.content .dataset_box {padding: 50px 6%; display: block; clear: both; text-align: center;}
.content .dataset_box .dataset_lst {margin: 0 0 30px 0;}
.content .dataset_box h3 {color:#35384d; font-size: 17px; font-weight: 500; height:25px; line-height: 25px; text-align: left;}
.content#dataset .dataset_box h3 {display: inline-block; margin: 0 30px 0 0; color: #00263e; font-size: 20px; font-weight: 400; letter-spacing: -0.4px; text-align: center;}
.content .dataset_box h3 span {margin: 0 0 3px 10px; min-width: 26px; padding:0 9px; box-sizing: border-box; text-align: center; height:18px; line-height: 18px; border-radius: 9px; background: #f5508b; color:#fff; font-size:12px;}
.content .dataset_box .srch_box {display: inline-block; position: relative; width: 60%; height: 35px; text-align: left;}
.content#dataset .dataset_box .srch_box {width: 500px; height: 45px;}
.content .dataset_box .srch_box input {width: calc(100% - 100px); transition:all 0.3s ease-out;}
.content .dataset_box .srch_box input:focus {box-shadow: 0 0 4px 1px #cdcccc;}
.content .dataset_box .srch_box button {right: 0; width: 100px; padding: 0 20px; font-size: 14px;}
.content#dataset .dataset_box .srch_box button {width: 106px;}
.content#dataset .dataset_box .srch_box button span {margin: 0 5px 0 0;}
.content .dataset_box .stn { width: 100%;clear: both;display:table;padding: 50px 0 40px 0; border-bottom: dotted 1px #bfbfbf;}
.content#dataset .dataset_box .stn {border: none;}
.content .dataset_box:nth-child(2) .stn {border-bottom: none;}
.content .dataset_box .stn ul {display: flex;}
.content .dataset_box .stn ul li {flex: 1; position: relative; min-height:250px; padding: 15px 0; text-align: left; box-sizing: border-box; background: #fff; border-radius: 5px; float: left; border: 1px solid #cfd5eb; transition: all 0.3s ease-out;}
.content#dataset .dataset_box .stn ul li {height: 165px; text-align: center;}
.content .dataset_box .stn ul li:hover {border: solid 1px #506df5; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);}
.content .dataset_box .stn ul li + li {margin: 0 0 0 10px;}
.content .dataset_box .stn ul li p.title {display: inline-block; overflow: hidden; padding: 0 15px; color: #506df5; font-size:15px; font-weight:500; line-height: normal; text-overflow: ellipsis; cursor: pointer;}
.content .dataset_box .stn ul li p.title:hover {text-decoration: underline;}
.content .dataset_box .stn ul li .title em {margin: 0 10px 0 0;}
.content .dataset_box .stn ul li .keyword_box {overflow: auto; height: 180px; margin: 15px 0 0 0; padding: 0 15px; text-align: left;}
.content .dataset_box .stn ul li .keyword_box a {display: inline-block; position: relative; margin: 0 0 10px 0; padding: 0 10px; color: #35384d; font-size: 13px; word-break: keep-all;}
.content#dataset .dataset_box .stn ul li .keyword_box a {display: block; margin: 0 0 6px 0; padding: 5px 10px; border: 1px solid #cfd5eb; border-radius: 3px; color: #697992; letter-spacing: -0.3px; transition: all 0.3s ease-out;}
.content#dataset .dataset_box .stn ul li .keyword_box a:hover {color: #506df5; border-color: #506df5;}
/* .content .dataset_box .stn ul li .keyword_box a:hover {text-decoration: underline;} */
.content .dataset_box .stn ul li .keyword_box a:before {content: ''; display: block; position: absolute; top: 7px; left: 0; width: 5px; height: 5px; border-radius: 50%; background: #000;}
.content#dataset .dataset_box .stn ul li .keyword_box a:before {display: none;}
.content .dataset_box .dataset_item {overflow: hidden; position: relative; width: 100%; padding: 20px 25px 20px 0; border: 1px solid transparent; border-radius: 5px; box-sizing: border-box; box-shadow: 0 2px 4px 0 rgba(197, 197, 197, 0.5); background: #fff; transition:all 0.3s ease-out;}
.content .dataset_box .dataset_item + .dataset_item {margin: 20px 0 0 0;}
.content .dataset_box .dataset_item:hover {border: 1px solid rgba(85, 110, 241, 0.4);}
.content .dataset_box .dataset_item > div {float: left;}
.content .dataset_box .dataset_item .engine_type {position: relative; width: 150px; height: 80px;}
.content .dataset_box .dataset_item .engine_type .engine_type_img {position: absolute; left: 50%; width: 40px; height: 40px; transform: translate(-50%,0);}
.content .dataset_box .dataset_item .engine_type .engine_tts {background: url('../images/ico_spe_1_fold.svg')50% 50% no-repeat; background-size: contain;}
.content .dataset_box .dataset_item .engine_type .engine_stt {background: url('../images/ico_spe_2_fold.svg')50% 50% no-repeat; background-size: contain;}
.content .dataset_box .dataset_item .engine_type .engine_den {background: url('../images/ico_spe_3_fold.svg')50% 50% no-repeat; background-size: contain;}		/* denoise */
.content .dataset_box .dataset_item .engine_type .engine_spd {background: url('../images/ico_spe_4_fold.svg')50% 50% no-repeat; background-size: contain;}		/* speaker division */
.content .dataset_box .dataset_item .engine_type .engine_vof {background: url('../images/ico_spe_5_fold.svg')50% 50% no-repeat; background-size: contain;}		/* voice filter */
.content .dataset_box .dataset_item .engine_type .engine_vor {background: url('../images/ico_spe_6_fold.svg')50% 50% no-repeat; background-size: contain;}		/* voice recognition */
.content .dataset_box .dataset_item .engine_type .engine_trm {background: url('../images/ico_vis_1_fold.svg')50% 50% no-repeat; background-size: contain;}		/* text trim */
.content .dataset_box .dataset_item .engine_type .engine_tti {background: url('../images/ico_vis_2_fold.svg')50% 50% no-repeat; background-size: contain;}		/* Text to Image */
.content .dataset_box .dataset_item .engine_type .engine_dia {background: url('../images/ico_vis_3_fold.svg')50% 50% no-repeat; background-size: contain;}		/* 문서 이미지 분석 */
.content .dataset_box .dataset_item .engine_type .engine_avr {background: url('../images/ico_vis_4_fold.svg')50% 50% no-repeat; background-size: contain;}		/* 도로상 객체인식 */
.content .dataset_box .dataset_item .engine_type .engine_esr {background: url('../images/ico_vis_5_fold.svg')50% 50% no-repeat; background-size: contain;}		/* ESR */
.content .dataset_box .dataset_item .engine_type .engine_far {background: url('../images/ico_vis_6_fold.svg')50% 50% no-repeat; background-size: contain;}		/* 얼굴인식 (face recognition) */
.content .dataset_box .dataset_item .engine_type .engine_hpr {background: url('../images/ico_vis_7_fold.svg')50% 50% no-repeat; background-size: contain;}		/* 인물포즈인식 (hpr) */
.content .dataset_box .dataset_item .engine_type .engine_fat {background: url('../images/ico_vis_8_fold.svg')50% 50% no-repeat; background-size: contain;}		/* 얼굴추적 fat */
.content .dataset_box .dataset_item .engine_type .engine_abd {background: url('../images/ico_vis_9_fold.svg')50% 50% no-repeat; background-size: contain;}		/* 이상행동 감지 */
.content .dataset_box .dataset_item .engine_type .engine_sub {background: url('../images/ico_vis_10_fold.svg')50% 50% no-repeat; background-size: contain;}	    /* 자막인식 */
.content .dataset_box .dataset_item .engine_type .engine_nlu {background: url('../images/ico_lan_1_fold.svg')50% 50% no-repeat; background-size: contain;}
.content .dataset_box .dataset_item .engine_type .engine_mrc {background: url('../images/ico_lan_2_fold.svg')50% 50% no-repeat; background-size: contain;}
.content .dataset_box .dataset_item .engine_type .engine_xdc {background: url('../images/ico_lan_3_fold.svg')50% 50% no-repeat; background-size: contain;}
.content .dataset_box .dataset_item .engine_type .engine_itf {background: url('../images/ico_lan_4_fold.svg')50% 50% no-repeat; background-size: contain;}
.content .dataset_box .dataset_item .engine_type .engine_gpt {background: url('../images/ico_lan_5_fold.svg')50% 50% no-repeat; background-size: contain;}
.content .dataset_box .dataset_item .engine_type .engine_hmd {background: url('../images/ico_lan_6_fold.svg')50% 50% no-repeat; background-size: contain;}
.content .dataset_box .dataset_item .engine_type .engine_nqa {background: url('../images/ico_bot_1_fold.svg')50% 50% no-repeat; background-size: contain;}
.content .dataset_box .dataset_item .engine_type span {display: inline-block; position: absolute; bottom: 0; left: 50%; margin: 5px 0 0 0; padding: 8px 10px; border-radius: 5px; color: #fff; font-size: 11px; line-height: 11px; transform: translate(-50%,0); word-break:keep-all;}
.content .dataset_box .dataset_item .engine_type span.purple {background: #7d71d1;}
.content .dataset_box .dataset_item .engine_type span.pink {background: #f7778a;}
.content .dataset_box .dataset_item .engine_type span.green {background: #27b9ba;}
.content .dataset_box .dataset_item .engine_type span.skyblue {background: #2cace5;}
.content .dataset_box .dataset_item .engine_type span.blue {background: #5E77FF;}
.content .dataset_box .dataset_item .engine_type span.yellow {background: #fb9223;}
.content .dataset_box .dataset_item .dataset_info {width: calc(100% - 175px);}
.content .dataset_box .dataset_item .dataset_info > div {float: left; text-align: left;}
.content .dataset_box .dataset_item .dataset_info .desc {width: 70%; color: #35384d;}
.content .dataset_box .dataset_item .dataset_info .desc h5 {margin: 0 0 10px 0; font-size: 25px;}
.content .dataset_box .dataset_item .dataset_info .desc p {margin: 0 0 15px 0;}
.content .dataset_box .dataset_item .dataset_info .desc span a {color: inherit;}
.content .dataset_box .dataset_item .dataset_info .desc span a:hover {text-decoration: underline;}
.content .dataset_box .dataset_item .dataset_info .meta {width: 30%;}
.content .dataset_box .dataset_item .dataset_info .meta p {color: #35384d; font-size: 17px; font-weight: 500;}
.content .dataset_box .dataset_item .dataset_info .meta p + p {margin: 10px 0 0 0;}
.content .dataset_box .dataset_item .dataset_info .meta p span {float: right; padding: 0 10px; font-size: 15px; font-weight: 400;}

#dataset .dataset_lst {overflow: hidden; width: 100%; border: 1px solid #cfd5eb; border-radius: 5px;}
#dataset .dataset_lst table {width: 100%;}
#dataset .dataset_lst table tr {height: 40px;}
#dataset .dataset_lst table thead tr {background: #808aab; color: #fff; font-size: 14px; font-weight: 500;}
#dataset .dataset_lst table tbody tr {background: #fff; color: #2c3f51; font-size: 14px; transition: all 0.3s ease-out;}
#dataset .dataset_lst table tbody tr:hover {background: rgba(242, 244, 252, 0.4); cursor: pointer;}
#dataset .dataset_lst table tbody tr + tr {border-top: 1px solid #cfd5eb;}

.dataset_pop .popWrap {overflow: visible; top: 50%; width: 400px; height: 560px; margin: 0; transform: translate(0, -50%);}
.dataset_pop .pop_bd {width: 100%; height: auto; padding: 20px; box-sizing: border-box;}
.dataset_pop .pop_bd table {width: 100%; text-align: left; color: #2c3f51; font-size: 14px;}
.dataset_pop .pop_bd table tr {height: 34px;}
.dataset_pop .pop_bd table tr + tr {border-top: 1px solid #cfd5eb;}
.dataset_pop .pop_bd table tr:last-child {border: none;}
.dataset_pop .pop_bd table tr th {color: #2c3f51; opacity: 0.7; letter-spacing: -0.5px;}
.dataset_pop .pop_bd table tr td {padding: 0 20px;}
.dataset_pop .pop_bd table tr:last-child td {padding: 0;}
.dataset_pop .pop_bd table tr td textarea {overflow: auto; width: 100%; height: 190px; margin: 5px 0 0 0; padding: 10px; border: 1px solid #cfd5eb; box-sizing: border-box; background: #f7f8fc; color: #2c3f51; font-size: 14px;}
.dataset_pop .btn button {display: inline-block;}
.dataset_pop .btn button.download {margin: 0 6px 0 0;}
.dataset_pop .btn button.cancel {background: #808aab;}

/* ---------- error page ---------- */
#contents.error_page {width: 100%; height: calc(100% - 290px); padding: 0 0 70px; background: #f7f8fc; text-align: center;}
#contents.error_page .error_sign {display: inline-block; position: relative; width: 488px; height: 330px; margin: 66px 0 54px; background: url('../images/img_error_sign.png') 50% 50% no-repeat; background-size: contain;}
#contents.error_page .error_code {display: inline-block; position: absolute; top: 128px; left: 219px; color: #fff; font-size: 40px; font-weight: 700; line-height: 59px; letter-spacing: -1px;}
#contents.error_page .error_txt {color: #00263e; font-size: 20px; line-height: 30px; letter-spacing: -0.5px;}
#contents.error_page .error_txt span {font-weight: 500;}
#contents.error_page button {height: 40px; margin: 27px 0 0; padding: 0 30px; border-radius: 2px; background: #506df5; color: #fff; font-size: 14px; font-weight: 500; letter-spacing: -0.2px;}
