@charset "UTF-8";
/* MINDsLab. NBR. 20200224 */

/* wrap */
#wrap {min-width: 1244px; height: 100%;}

/* header */
#header {clear: both; position: relative; width: 100%; height: 70px; box-shadow: 0 1px 1px 0 rgba(198, 198, 198, 0.5); box-sizing: border-box; background: #fff; z-index: 5;}
#header h1 {float:left; width: 120px; height: 100%; border-right: 1px dotted #dde2f3; text-align: center;}
#header h1 img {display: inline-block; height: 36px; margin: 19px 0 0 0;}
#header h2 {float: left; padding: 0 24px; color: #35384d; font-size: 20px; font-weight: 500; line-height: 70px;}
#header .etcmenu {position: absolute; right:0;}
#header .etcmenu a {color: #828392; font-size: 14px; transition:all 0.3s ease-out;}
#header .etcmenu .userBox {float: left; height: 100%; border-right: 1px solid #eff1f7; line-height: 70px;}
#header .etcmenu .userBox .my_point {position: relative; color: #35384d; font-size: 14px;}
#header .etcmenu .userBox .my_point:before {content: ''; display: block; position: absolute; top: 3px; left: -20px; width: 15px; height: 15px; background: url('../images/ico_point.svg')50% 50% no-repeat; background-size: contain;}
#header .etcmenu .userBox .btn_box a {width: 150px; height: 40px; margin: 0 14px 0 10px; box-sizing: border-box; background: #fff; color: #506df5; line-height: 38px; letter-spacing: 0.2px;}
#header .etcmenu .userBox a span {margin: 0 5px 0 0;}
#header .etcmenu .outBox {float: left; height: 100%; padding: 0 17px; line-height: 70px;}
#header .etcmenu .outBox a {color: #787a8a;}
#header .etcmenu .outBox a em {margin: 0 0 0 8px; font-size: 14px;}
#header .etcmenu .outBox a:hover {color: #506DF5; transition: all 0.3s ease-out;}

/* container */
#container {display: table; position: relative; width: 100%; height: calc(100% - 110px); background: #eff1f7;}

/* side navigation Bar */
.snb {display: table-cell; position: absolute; top: 0; width: 120px; height: 100%; background: #00263e; z-index: 10;}
.snb ul.nav {display: block;}
.snb ul.nav li {display: block; position: relative; height: 45px; line-height: 45px;}
.snb ul.nav li a {display: block; position: relative; color: #fff; font-size: 14px; text-align: left; text-indent: 28px; letter-spacing: -0.2px; transition: all 0.3s ease-out; opacity: 0.6;}
.snb ul.nav li a em {margin: 0 8px 0 0; font-size: 15px; text-indent: 0;}
#edit_tool.workspace .snb ul.nav li:first-child a {position: relative; text-indent: 25px;}
.snb ul.nav li:first-child a em {margin: 0 6px 0 0;}
.snb ul.nav li a:hover {color: #fff; transition: all 0.3s ease-out; opacity: 1;}
.snb ul.nav li.active {background: rgba(255,255,255,0.2); color: #fff; cursor: default;}
.snb ul.nav li.active > a {color: #fff; opacity: 1; pointer-events: none;}
.snb ul.nav li.active > a:before {content:''; position: absolute; top: 0; left: 0; width: 4px; height: 100%; background: #fff;}

.contents {display: table-cell; width: calc(100% - 120px); padding: 0 0 70px 120px; text-align: center; vertical-align: top;}
.content {height: auto; text-align: center;}
.content .work_space {padding: 30px 4% 0; clear: both;}
.content h3 {color: #35384d; font-size: 17px; font-weight: 500; line-height: 25px; text-align: left;}
.content h3 span {min-width:26px; height:18px; margin: 0 0 3px 10px; padding:0 9px; border-radius: 9px; box-sizing: border-box; background: #f5508b; text-align: center; color: #fff; font-size: 12px;}
.content .work_space .work_tit {padding: 0 0 12px 0; border-bottom: solid 1px #cfd5eb;}
.content h4 {margin: 0 0 8px 0; color: #2c3f51; font-size: 14px; font-weight: 500; text-align: left;}
.content .work_space .stn {display:table; width: 100%; padding: 30px 0; border-bottom: 1px dotted rgba(138,146,177,0.4); clear: both;}
.content .work_space:nth-child(3) .stn {border-bottom: none;}

/* btn box */
.btn_box button {width: 100%; height: 100%; border-radius: 4px; background: #506df5; color: #fff; font-size: 14px; font-weight: 500; letter-spacing: -0.2px;}

/* cost box */
.cost_box {display: inline-block; position: relative; width: 205px; height: 40px; text-align: left;}
.cost_box input {width: 100%; height: 100%; padding: 0 10px; border: 1px solid #cfd5eb; box-sizing: border-box; border-radius: 5px 0 0 5px; background: #eff1f7; color: #2c3f51; font-size: 14px;}
.cost_box label {position: absolute; top: 0; left: 10px; color: #35384d; font-size: 13px; line-height: 40px; opacity: 0.7;}
.cost_box label:hover {cursor: text;}
.cost_box button {position: absolute; top: 0; left: 100%; width: 55px; height: 100%; border: 1px solid #506DF5; border-radius: 0 5px 5px 0; background: #506DF5; color: #fff; font-size: 14px; font-weight: 500; cursor: pointer;}

/* container */
#container .content > div:first-child .mypage_stn {overflow: hidden; border-bottom: 1px dotted #cfd5eb;}
.stn h3 {color: #35384d; font-size: 17px; font-weight: 500; text-align: left;}
.work_space .my_box {float: left;}
.work_space .history_box {width: 315px; margin: 0 20px 0 0;}
.work_space .my_cases {width: 100%; height: 204px; margin: 14px 0; padding: 22px 20px 0; font-size: 15px; text-align: left;}
.work_space .my_cases p {padding: 0 20px; color: #35384d; line-height: 38px;}
.work_space .my_cases p + p {border-top: 1px dotted #cfd5eb;}
.work_space .my_cases p:first-child .blue {color: #506df5;}
.work_space .my_cases em {float: right;}
.work_space .my_cases em span {display: inline-block; position: relative; min-width: 60px; height: 27px; margin: 0 5px 0 0; padding: 0 17px; border-radius: 14px; box-sizing: border-box; background: #f7f8fc; font-weight: 500; text-align: right; line-height: 27px;}
.work_space .point_box {width: 374px;}
.work_space .point_box .my_cases em {position: relative; font-weight: 500;}
.work_space .point_box .my_cases em:before {content: ''; display: block; position: absolute; top: 12px; left: -24px; width: 15px; height: 15px; background: url('../images/ico_point.svg')50% 50% no-repeat; background-size: contain;}
.work_space .point_box .balance {font-size: 20px;}
.work_space .point_box .btn_box {width: 100%; height: 40px; margin: 8px 0 0 0;}
.work_space .point_box .btn_box button {cursor: pointer;}
.work_space .point_box .btn_box button img {vertical-align: middle;}
.work_space .point_box .mypoint_box {width: 374px; height: 124px;}
.work_space .point_info {overflow: hidden; padding: 0 0 30px 0; color: #35384d; font-size: 12px; text-align: left; clear: both;}
.work_space .point_info > div {width: 500px;}
.work_space .point_info > div:first-child {width: 500px; margin: 0 20px 0 0;}
.work_space .point_info p {line-height: 20px;}

.work_space .working_lst {float: left;}
.work_space .sort_group {float: right; margin: 0 0 10px 0;}
.work_space .sort_group > div {float: left; margin: 0 0 0 15px;}
.work_space .sort_group .select_box {width: 120px; height: 40px;}
.work_space .sort_group .select_box select {background: #fff; color: #697992; font-size: 12px;}
/* .work_space .sort_group .select_box select option:first-child {display: none;} */
.work_space .sort_group .srch_box {width: 150px; height: 40px; margin: 0 40px 0 14px;}
.work_space .sort_group input,
.work_space .sort_group label {line-height: 40px; color: #697992; font-size: 13px;}
.work_space .sort_group .srch_box button {right: -40px; width: 40px;}
.work_space .sort_group .srch_box button span {font-size: 13px;}
.work_space .sort_group .date_box {width: 120px;}
/* .work_space .sort_group .date_box span {position: absolute; top: 14px; right: 10px; color: rgba(94,119,255,0.7); font-size: 13px;} */
.work_space .sort_group .date_box em {position: absolute; top: 11px; right: -12px; color: #697992; font-size: 13px; font-weight: 500;}

.work_space .work_lst {overflow: hidden; width: 100%; margin: 10px 0 15px;}
.work_space .work_lst table {width: 100%;}
.work_space .work_lst table tr {height: 40px;}
.work_space .work_lst table thead {border: 1px solid #808aab; color: #fff; font-size: 14px; font-weight: 500; background: #808aab;}
.work_space .work_lst table tbody tr {border-top: 1px solid #cfd5eb;}
.work_space .work_lst table tbody tr:nth-child(even) {background: rgba(242, 244, 252, 0.4);}
.work_space .work_lst table tbody td {overflow: hidden; padding: 8px 5px; text-overflow: ellipsis; word-wrap: normal;}
.work_space .work_lst table tbody .type,
.work_space .work_lst table tbody .cost {font-weight: 500;}
.work_space .work_lst table tbody .point span,
.work_space .work_lst table tbody .unit_cost span {position: relative; padding: 0 0 0 20px; font-weight: 500;}
.work_space .work_lst table tbody .point span:before,
.work_space .work_lst table tbody .unit_cost span:before {content: ''; display: block; position: absolute; top: 3px; left: 0; width: 15px; height: 15px; background: url('../images/ico_point.svg')50% 50% no-repeat; background-size: contain;}
.work_space .work_lst table tbody {color: #2c3f51; font-size: 14px;}
.btm_info .list a {margin: 0 6px;}
.btm_info .list a:hover,
.btm_info .list a:focus {color: #506df5;}
.btm_info .list a.on {color: #506df5; font-weight: 700; pointer-events: none;}
/* mypage_payment */

/* popup */
.pop_simple .btn button {display: inline-block;}
.pop_simple .btn button.cancel {margin: 0 10px 0 0; border: 1px solid #808aab; background: #808aab;}
.check_agree .pop_bd p,
.complate .pop_bd p {width: 266px;}
.request .pop_bd {padding: 14px 50px 16px;}
.request .pop_bd > div {display: inline-block; width: 272px;}
.request .pop_bd > div p {width: 100%; height: 36px; padding: 0 10px; border-bottom: 1px solid #cfd5eb; box-sizing: border-box; line-height: 34px; text-align: left;}
.request .pop_bd > div p span {float: right; text-align: right;}
.request .pop_bd .my_point p span {display: inline-block; height: 28px; margin: 3px 0 0 0; padding: 0 15px; border-radius: 14px; box-sizing: border-box; background: #f7f8fc; font-weight: 500; line-height: 27px;}
.request .pop_bd .my_point p span.blue {color: #506df5;}
.pop_simple .pop_bd em {display: block; margin: 5px 0 16px; color: #2c3f51; font-size: 13px; text-align: left; letter-spacing: -0.4px; opacity: 0.7;}
.request .pop_bd .my_account {position: relative; width: 100%; height: 144px; margin: 0 0 4px 0;}
.request .pop_bd .my_account > div {display: none;}
.request .pop_bd .my_account > div.on {display: block;}
.request .pop_bd .my_account .register {position: absolute; top: 36px; width: 100%; padding: 15px 0 11px; border-bottom: 1px solid #cfd5eb;}
.request .pop_bd .my_account .register .btn_box {width: 142px; height: 40px;}
.request .pop_bd .my_account .register em {margin: 5px 0 0 0; text-align: center;}
.request.account .popWrap > .btn button.save {opacity: 0.5;}
.request.account .popWrap > .btn button.save:hover {cursor: default;}
.account_admin .pop_bd {padding: 16px 50px 20px;}
.account_admin .pop_bd em {margin: 0;}
.account_admin .pop_bd .my_account > div {width: 272px; height: 40px; padding: 0 10px; border-bottom: 1px solid #cfd5eb; box-sizing: border-box; color: #2c3f51; font-size: 14px; line-height: 38px; text-align: left; letter-spacing: -0.4px;}
.account_admin .pop_bd .my_account > div > div {float: right; width: 148px; line-height: 30px; margin: 4px 0 0 0;}
.account_admin .pop_bd .my_account .btn button {height: 30px; background: #fff; color: #506df5;}
.account_admin .pop_bd .my_account .select_box {width: 148px; height: 30px;}
.account_admin .pop_bd .my_account .select_box select {color: #697992; font-size: 12px;}
/* .account_admin .pop_bd .my_account .select_box select option:first-child {display: none;} */
.account_admin .pop_bd .my_account .ipt_box {width: 148px; height: 30px;}
.account_admin .pop_bd .my_account .account_holder > div {display: none;}
.account_admin .pop_bd .my_account .account_holder > div.on {display: block;}
.complate .pop_bd p em {display: inline; color: #506df5; font-size: 14px;}

/* contents */
.work_space .payment_box {width: 500px;}
.work_space .payment_box .my_cases {width: 100%; height: 124px; text-align: center;}
.work_space .payment_box .my_cases .cost_box {margin: 8px 55px 0 0;}
.work_space .payment_box .my_cases .payment_info {color: #35384d; font-size: 13px; font-weight: 500;}
.work_space .payment_box .my_cases .payment_info span {color: #506df5;}

/* mypage_myinfo */
.my_info {overflow: hidden;}
.my_info .tab_btn {float: left;}
.my_info .tab_btn li {width: 118px; height: 40px;}
.my_info .tab_btn li + li {margin: 5px 0 0 0;}
.my_info .tab_btn li a {display: inline-block; position: relative; width: 100%; border: 1px solid #cfd5eb; border-radius: 5px 0 0 5px; background: #f7f8fc; color: #808aab; font-size: 14px; line-height: 40px;}
.my_info .tab_btn li.active a {border-right: none; background: #fff; color: #35384d; font-weight: 500; z-index: 5;}
.my_info .tab_cont {float: left; position: relative; width: 578px; height: 496px; box-sizing: border-box;}
.my_info .tab_cont > div {display: none; position: absolute; top: 0; left: 0; width: 100%; padding: 17px 30px 30px;}
.my_info .tab_cont > div.active {display: block;}
.my_info .tab_cont > div li:not(:last-child) {position: relative; width: 100%; height: 39px; padding: 0 20px; border-bottom: 1px dotted #cfd5eb; box-sizing: border-box; color: #35384d; font-size: 14px; line-height: 38px; letter-spacing: -0.2px; text-align: left;}
.my_info .tab_cont > div li span {float: right; width: 330px;}
.my_info .tab_cont > div li .btn_box {width: 86px; height: 30px;}
.my_info .tab_cont .info_edit {border-radius: 0 5px 5px 5px;}
.my_info .tab_cont .info_edit li:last-child {overflow: hidden; border: none;}
.my_info .tab_cont .info_edit li .btn_box {position: absolute; right: 170px; width: 86px; height: 30px;}
.my_info .tab_cont .info_edit li .btn_box a {background: #fff; color: #506df5; line-height: 28px;}
.my_info .tab_cont .info_edit .receive_agreement {float: right; margin: 0 0 20px 0; padding: 0 20px; text-align: left;}
.my_info .tab_cont .info_edit .receive_agreement > p {display: inline-block; color: #35384d; font-size: 14px; line-height: 38px; letter-spacing: -0.2px;}
.my_info .tab_cont .info_edit .receive_agreement > div {float: right; width: 330px; color: #35384d; font-size: 14px; letter-spacing: -0.2px;}
.my_info .tab_cont .info_edit .receive_agreement > div p {line-height: 38px;}
.my_info .tab_cont .info_edit .receive_agreement .radio_box {margin: 0 30px 0 0;}
.my_info .tab_cont .info_edit .receive_agreement .radio_box label {padding: 0 0 0 25px; color: #35384d; font-size: 14px; letter-spacing: -0.2px;}
.my_info .tab_cont .info_edit .receive_agreement .radio_box label:before {top: 2px;}
.my_info .tab_cont .info_edit .receive_agreement .radio_box input:checked + label:after {top: 6px; left: 4px;}
.my_info .tab_cont .info_edit > .btn_box {width: 118px; height: 40px;}
.my_info .tab_cont .info_edit > .btn_box a {background: #506df5; color: #fff; font-weight: 400; line-height: 38px; letter-spacing: -0.2px;}
.my_info .tab_cont em {display: block; padding: 15px 0 2px 0; color: #35384d; font-size: 13px; letter-spacing: -0.2px; opacity: 0.7; text-align: left;}
.my_info .tab_cont .info_edit em.notice {padding: 6px 0 2px 0; border-bottom: 1px solid #cfd5eb;}

.my_info .tab_cont .account_admin p {width: 100%; height: 39px; padding: 0 20px; border-bottom: 1px dotted #cfd5eb; box-sizing: border-box; color: #35384d; font-size: 14px; line-height: 38px; letter-spacing: -0.2px; text-align: left;}
.my_info .tab_cont .account_admin p span {float: right; width: 330px;}
.my_info .tab_cont .account_admin em {padding: 8px 0 20px;}
.my_info .tab_cont .account_admin .btn_box {width: 118px; height: 40px;}
.my_info .tab_cont .account_admin .btn_box a {background: #506df5; color: #fff; line-height: 38px;}

.my_info .tab_cont .maching_info > div h6 {padding: 0 20px; border-bottom: 1px solid #cfd5eb; color: #35384d; font-size: 14px; font-weight: 500; line-height: 34px; letter-spacing: -0.2px; text-align: left;}
.my_info .tab_cont .maching_info .select_group {height: 40px; padding: 5px 20px; border-bottom: 1px dotted #cfd5eb; box-sizing: border-box; text-align: left;}
.my_info .tab_cont .maching_info .select_group .select_box {width: 122px; height: 30px; margin: 0 6px 0 0;}
.my_info .tab_cont .maching_info .select_group .select_box select {font-size: 12px;}
/* .my_info .tab_cont .maching_info .select_group .select_box select option:first-child {display: none;} */
.my_info .tab_cont .maching_info .select_group .select_box label {line-height: 30px}
.my_info .tab_cont .maching_info .select_group .check_box {margin: 0 0 0 16px; vertical-align: bottom;}
.my_info .tab_cont .maching_info .select_group .check_box label {padding: 0 0 0 18px; color: #2c3f51; font-size: 13px;}
.my_info .tab_cont .maching_info .select_group .check_box label:before {top: 2px;}
.my_info .tab_cont .maching_info .select_group .check_box input:checked + label:after {top: 0; left: 2px;}

.my_info .tab_cont .maching_info .language_ability_box {margin: 18px 0 30px 0; text-align: left;}
.my_info .tab_cont .maching_info .language_ability_box > div {height: 40px; border-bottom: 1px dotted #cfd5eb;}
.my_info .tab_cont .maching_info .language_ability_box > div {padding: 0 20px;}
.my_info .tab_cont .maching_info .language_ability_box .ability_tit em {float: left; padding: 0; text-align: center; line-height: 40px; letter-spacing: -0.2px; opacity: 1;}
.my_info .tab_cont .maching_info .language_ability_box .ability_tit em:nth-child(1) {width: 84px; text-align: left;}
.my_info .tab_cont .maching_info .language_ability_box .ability_tit em:nth-child(2) {width: 120px;}
.my_info .tab_cont .maching_info .language_ability_box .ability_tit em:nth-child(3) {width: 118px;}
.my_info .tab_cont .maching_info .language_ability_box .ability_tit em:nth-child(4) {width: 154px;}

.my_info .tab_cont .maching_info .language_ability_box > div:not(.ability_tit) span {float: left; width: 84px; color: #35384d; font-size: 13px; line-height: 40px;}
.my_info .tab_cont .maching_info .language_ability_box > div:not(.ability_tit) > div {float: left;}
.my_info .tab_cont .maching_info .language_ability_box > div:not(.ability_tit) .select_box {width: 120px; height: 30px; margin: 5px 0;}
.my_info .tab_cont .maching_info .language_ability_box > div:not(.ability_tit) .select_box select {padding: 0 6px; font-size: 12px;}
.my_info .tab_cont .maching_info .language_ability_box > div:not(.ability_tit) .select_box label {line-height: 30px;}
.my_info .tab_cont .maching_info .language_ability_box > div:not(.ability_tit) .live_period {width: 118px; height: 40px; text-align: center;}
.my_info .tab_cont .maching_info .language_ability_box > div:not(.ability_tit) .live_period input {width: 40px; height: 30px; margin: 5px 0; font-size: 12px;}
.my_info .tab_cont .maching_info .language_ability_box > div:not(.ability_tit) .grade {width: 154px; height: 30px; margin: 5px 0;}
.my_info .tab_cont .maching_info .language_ability_box > div:not(.ability_tit) .grade input {font-size: 12px;}
.my_info .tab_cont .maching_info .language_ability_box > div:not(.ability_tit) .grade label {line-height: 30px; cursor: text;}
.my_info .tab_cont .maching_info .language_ability_box .cn_traditional {margin: 0 0 8px 0;}
.my_info .tab_cont .maching_info .language_ability_box > em {padding: 0;}
.my_info .tab_cont .maching_info .btn_box {display: inline-block; width: 120px; height: 40px; border: none; line-height: 38px;}
.my_info .tab_cont .maching_info .btn_box a {background: #506df5; color: #fff;}

/* ----- 마이페이지 영문버전 ----- */
#en .mypage .work_space .work_lst th {word-break: keep-all;}
#en .worklist .my_cases em span {margin: 0;}
#en .mypage .snb ul.nav li {height: auto !important; line-height: 17px !important;}
#en .mypage .snb ul.nav li:not(:first-child) {line-height: 20px !important;}
#en .mypage .snb ul.nav li a {padding: 14px 0; text-indent: 20px !important;}

#en .payment .check_agree .pop_hd h6 {padding: 0 50px;}
#en .payment .check_agree .pop_bd p {display: inline-block; width: 340px;}
#en .payment .request .pop_bd > div {width: 100%;}
#en .payment .account_admin .pop_bd .my_account > div {width: 100%;}
#en .payment .account_admin .pop_bd .my_account > div:nth-child(2) {height: 50px; line-height: 48px;}
#en .payment .account_admin .pop_bd .my_account .account_holder .ipt_box {margin: 9px 0 0 0;}
#en .payment .account_admin .pop_bd .my_account .btn {margin: 0;}
#en .payment .account_admin .pop_bd .my_account .btn button {height: auto; line-height: 18px;}
#en .payment .work_space .payment_box .my_cases .cost_box {margin: 8px 87px 0 0;}
#en .payment .work_space .payment_box .my_cases .cost_box button {width: auto; padding: 0 15px;}

#en .check_agree .pop_bd p,
#en .complate .pop_bd p {width: 366px;}
#en .request .pop_bd > div {width: 100%;}
#en .account_admin .pop_bd .my_account > div {width: 100%;}
#en .account_admin .pop_bd .my_account .btn button {padding: 0 10px;}
#en .account_admin .pop_bd .my_account > div > div {width: 161px;}

#en .myinfo .my_info .tab_cont {width: 770px; height: 514px;}
#en .myinfo .my_info .tab_btn li {width: 195px; height: 52px;}
#en .myinfo .my_info .tab_btn li a {width: calc(100% - 40px); padding: 5px 20px; line-height: 20px;}
#en .myinfo .my_info .tab_cont > div li span {width: 380px;}
#en .myinfo .my_info .tab_cont > div > .btn_box {width: auto;}
#en .myinfo .my_info .tab_cont > div > .btn_box a {width: auto; padding: 0 20px;}
#en .myinfo .my_info .tab_cont .info_edit li .btn_box {right: 130px; width: 150px;}
#en .myinfo .my_info .tab_cont .info_edit .receive_agreement > div {width: 380px;}
#en .myinfo .my_info .tab_cont .account_admin p span {width: 380px;}
#en .myinfo .my_info .tab_cont .maching_info .language_ability_box .ability_tit em:nth-child(1) {width: 150px; line-height: 40px;}
#en .myinfo .my_info .tab_cont .maching_info .language_ability_box .ability_tit em:nth-child(2) {width: 120px; line-height: 40px;}
#en .myinfo .my_info .tab_cont .maching_info .language_ability_box .ability_tit em:nth-child(3) {width: 118px; margin: 2px 0; line-height: 18px;}
#en .myinfo .my_info .tab_cont .maching_info .language_ability_box .ability_tit em:nth-child(4) {width: 280px; line-height: 40px;}
#en .myinfo .my_info .tab_cont .maching_info .language_ability_box > div:not(.ability_tit) span {width: 150px;}
#en .myinfo .my_info .tab_cont .maching_info .language_ability_box > div:not(.ability_tit) .grade {width: 280px;}

#en #footer .cont_box {width: auto;}
