daekyo/resources/images/.DS_Store
daekyo/resources/images/ico_pause.svg
daekyo/resources/images/ico_play_triangle.svg
daekyo/resources/images/img_book_d1.png
daekyo/resources/images/img_book_d2.png
daekyo/resources/images/img_book2x_d1.png
daekyo/resources/images/img_book2x_d2.png
daekyo/resources/images/img_book3x_d1.png
daekyo/resources/images/img_book3x_d2.png
daekyo/resources/images/sample/.DS_Store
data/data_v1.1/assets/css/all.css
data/data_v1.1/assets/css/common.css
data/data_v1.1/assets/css/common-data.css
data/data_v1.1/assets/css/common-data-mobile.css
data/data_v1.1/assets/css/cropper.css
data/data_v1.1/assets/css/dataset.css
data/data_v1.1/assets/css/datepicker.css
data/data_v1.1/assets/css/fff.css
data/data_v1.1/assets/css/font.css
data/data_v1.1/assets/css/jquery-ui-1.8.18.css
data/data_v1.1/assets/font/NotoSansCJKkr-Black.otf
data/data_v1.1/assets/font/NotoSansCJKkr-Black.woff
data/data_v1.1/assets/font/NotoSansCJKkr-Black.woff2
data/data_v1.1/assets/font/NotoSansCJKkr-Bold.otf
data/data_v1.1/assets/font/NotoSansCJKkr-Bold.woff
data/data_v1.1/assets/font/NotoSansCJKkr-Bold.woff2
data/data_v1.1/assets/font/NotoSansCJKkr-DemiLight.otf
data/data_v1.1/assets/font/NotoSansCJKkr-Light.otf
data/data_v1.1/assets/font/NotoSansCJKkr-Light.woff
data/data_v1.1/assets/font/NotoSansCJKkr-Light.woff2
data/data_v1.1/assets/font/NotoSansCJKkr-Medium.otf
data/data_v1.1/assets/font/NotoSansCJKkr-Medium.woff
data/data_v1.1/assets/font/NotoSansCJKkr-Medium.woff2
data/data_v1.1/assets/font/NotoSansCJKkr-Regular.otf
data/data_v1.1/assets/font/NotoSansCJKkr-Regular.woff
data/data_v1.1/assets/font/NotoSansCJKkr-Regular.woff2
data/data_v1.1/assets/font/NotoSansCJKkr-Thin.otf
data/data_v1.1/assets/font/NotoSansCJKkr-Thin.woff
data/data_v1.1/assets/font/NotoSansCJKkr-Thin.woff2
data/data_v1.1/assets/font/NotoSansKR-Black.otf
data/data_v1.1/assets/font/NotoSansKR-Black.woff
data/data_v1.1/assets/font/NotoSansKR-Black.woff2
data/data_v1.1/assets/font/NotoSansKR-Bold.otf
data/data_v1.1/assets/font/NotoSansKR-Bold.woff
data/data_v1.1/assets/font/NotoSansKR-Bold.woff2
data/data_v1.1/assets/font/NotoSansKR-DemiLight.otf
data/data_v1.1/assets/font/NotoSansKR-DemiLight.woff
data/data_v1.1/assets/font/NotoSansKR-DemiLight.woff2
data/data_v1.1/assets/font/NotoSansKR-Light.otf
data/data_v1.1/assets/font/NotoSansKR-Light.woff
data/data_v1.1/assets/font/NotoSansKR-Light.woff2
data/data_v1.1/assets/font/NotoSansKR-Medium.otf
data/data_v1.1/assets/font/NotoSansKR-Medium.woff
data/data_v1.1/assets/font/NotoSansKR-Medium.woff2
data/data_v1.1/assets/font/NotoSansKR-Regular.otf
data/data_v1.1/assets/font/NotoSansKR-Regular.woff
data/data_v1.1/assets/font/NotoSansKR-Regular.woff2
data/data_v1.1/assets/font/NotoSansKR-Thin.otf
data/data_v1.1/assets/font/NotoSansKR-Thin.woff
data/data_v1.1/assets/font/NotoSansKR-Thin.woff2
data/data_v1.1/assets/font/NotoSansMonoCJKkr-Bold.otf
data/data_v1.1/assets/font/NotoSansMonoCJKkr-Regular.otf
data/data_v1.1/assets/font/Roboto-Bold.otf
data/data_v1.1/assets/font/Roboto-Bold.woff
data/data_v1.1/assets/font/Roboto-Bold.woff2
data/data_v1.1/assets/font/Roboto-Light.otf
data/data_v1.1/assets/font/Roboto-Light.woff
data/data_v1.1/assets/font/Roboto-Light.woff2
data/data_v1.1/assets/font/Roboto-Medium.otf
data/data_v1.1/assets/font/Roboto-Medium.woff
data/data_v1.1/assets/font/Roboto-Medium.woff2
data/data_v1.1/assets/font/Roboto-Regular.otf
data/data_v1.1/assets/font/Roboto-Regular.woff
data/data_v1.1/assets/font/Roboto-Regular.woff2
data/data_v1.1/assets/font/Roboto-Thin.otf
data/data_v1.1/assets/font/Roboto-Thin.woff
data/data_v1.1/assets/font/Roboto-Thin.woff2
data/data_v1.1/assets/images/datepicker_icons222222_256x240.png
data/data_v1.1/assets/images/datepicker_icons454545_256x240.png
data/data_v1.1/assets/images/ico_arrow_down03.png
data/data_v1.1/assets/images/ico_bot_1_fold.svg
data/data_v1.1/assets/images/ico_google_logo.png
data/data_v1.1/assets/images/ico_google_logo.svg
data/data_v1.1/assets/images/ico_image.png
data/data_v1.1/assets/images/ico_image.svg
data/data_v1.1/assets/images/ico_lan_1_fold.svg
data/data_v1.1/assets/images/ico_lan_2_fold.svg
data/data_v1.1/assets/images/ico_lan_3_fold.svg
data/data_v1.1/assets/images/ico_lan_4_fold.svg
data/data_v1.1/assets/images/ico_lan_5_fold.svg
data/data_v1.1/assets/images/ico_lan_6_fold.svg
data/data_v1.1/assets/images/ico_paging_next.png
data/data_v1.1/assets/images/ico_paging_prev.png
data/data_v1.1/assets/images/ico_point.svg
data/data_v1.1/assets/images/ico_spe_1_fold.svg
data/data_v1.1/assets/images/ico_spe_2_fold.svg
data/data_v1.1/assets/images/ico_spe_3_fold.svg
data/data_v1.1/assets/images/ico_spe_4_fold.svg
data/data_v1.1/assets/images/ico_spe_5_fold.svg
data/data_v1.1/assets/images/ico_spe_6_fold.svg
data/data_v1.1/assets/images/ico_text.png
data/data_v1.1/assets/images/ico_text.svg
data/data_v1.1/assets/images/ico_vis_1_fold.svg
data/data_v1.1/assets/images/ico_vis_10_fold.svg
data/data_v1.1/assets/images/ico_vis_2_fold.svg
data/data_v1.1/assets/images/ico_vis_3_fold.svg
data/data_v1.1/assets/images/ico_vis_4_fold.svg
data/data_v1.1/assets/images/ico_vis_5_fold.svg
data/data_v1.1/assets/images/ico_vis_6_fold.svg
data/data_v1.1/assets/images/ico_vis_7_fold.svg
data/data_v1.1/assets/images/ico_vis_8_fold.svg
data/data_v1.1/assets/images/ico_vis_9_fold.svg
data/data_v1.1/assets/images/ico_voice.png
data/data_v1.1/assets/images/ico_voice.svg
data/data_v1.1/assets/images/img_ai_data.svg
data/data_v1.1/assets/images/img_arrow.png
data/data_v1.1/assets/images/img_build_data.svg
data/data_v1.1/assets/images/img_case_list1.png
data/data_v1.1/assets/images/img_case_list2.png
data/data_v1.1/assets/images/img_case_list3.png
data/data_v1.1/assets/images/img_data_labelling.png
data/data_v1.1/assets/images/img_data_logo.png
data/data_v1.1/assets/images/img_data_logo.svg
data/data_v1.1/assets/images/img_data_logo_g.png
data/data_v1.1/assets/images/img_data_logo_w.png
data/data_v1.1/assets/images/img_data_train.svg
data/data_v1.1/assets/images/img_data_voucher.svg
data/data_v1.1/assets/images/img_dott.png
data/data_v1.1/assets/images/img_gnl_data.svg
data/data_v1.1/assets/images/img_guide.png
data/data_v1.1/assets/images/img_guide.svg
data/data_v1.1/assets/images/img_guide_talk_profile.svg
data/data_v1.1/assets/images/img_inspect.png
data/data_v1.1/assets/images/img_inspect.svg
data/data_v1.1/assets/images/img_mail.png
data/data_v1.1/assets/images/img_main.png
data/data_v1.1/assets/images/img_masking_ex.png
data/data_v1.1/assets/images/img_maumai_logo.svg
data/data_v1.1/assets/images/img_maumdata_logo.svg
data/data_v1.1/assets/images/img_mrc_view.svg
data/data_v1.1/assets/images/img_payment.png
data/data_v1.1/assets/images/img_payment.svg
data/data_v1.1/assets/images/img_phone.png
data/data_v1.1/assets/images/img_playbtn.svg
data/data_v1.1/assets/images/img_sample.png
data/data_v1.1/assets/images/img_sample2.png
data/data_v1.1/assets/images/img_sample3.png
data/data_v1.1/assets/images/img_sample4.png
data/data_v1.1/assets/images/img_service_list1.png
data/data_v1.1/assets/images/img_service_list2.png
data/data_v1.1/assets/images/img_service_list3.png
data/data_v1.1/assets/images/img_sign.png
data/data_v1.1/assets/images/img_sign.svg
data/data_v1.1/assets/images/img_tts_view.svg
data/data_v1.1/assets/images/img_userguide_main.png
data/data_v1.1/assets/images/img_worklist.png
data/data_v1.1/assets/images/img_worklist.svg
data/data_v1.1/assets/images/img_workspace.png
data/data_v1.1/assets/images/img_workspace.svg
data/data_v1.1/assets/images/img_xdc_view.svg
data/data_v1.1/assets/images/logo.png
data/data_v1.1/assets/images/pouse.svg
data/data_v1.1/assets/images/triangle.svg
data/data_v1.1/assets/js/all.js
data/data_v1.1/assets/js/bootstrap-datepicker.js
data/data_v1.1/assets/js/common.js
data/data_v1.1/assets/js/cropper.js
data/data_v1.1/assets/js/cropper-main.js
data/data_v1.1/assets/js/croppie.js
data/data_v1.1/assets/js/image-common-worker.js
data/data_v1.1/assets/js/image-crop-worker.js
data/data_v1.1/assets/js/jquery-1.11.0.min.js
data/data_v1.1/assets/js/jquery-1.11.2.min.js
data/data_v1.1/assets/js/jquery-1.7.1.min.js
data/data_v1.1/assets/js/jquery-2.2.0.min.js
data/data_v1.1/assets/js/jquery-ui-1.10.3.custom.min.js
data/data_v1.1/assets/js/jquery-ui-1.11.4.min.js
data/data_v1.1/assets/js/jquery-ui-1.8.18.min.js
data/data_v1.1/assets/videos/ttrl_image.mp4
data/data_v1.1/assets/videos/ttrl_text.mp4
data/data_v1.1/assets/videos/ttrl_voice.mp4
data/data_v1.1/assets/webfonts/fa-brands-400.eot
data/data_v1.1/assets/webfonts/fa-brands-400.svg
data/data_v1.1/assets/webfonts/fa-brands-400.ttf
data/data_v1.1/assets/webfonts/fa-brands-400.woff
data/data_v1.1/assets/webfonts/fa-brands-400.woff2
data/data_v1.1/assets/webfonts/fa-regular-400.eot
data/data_v1.1/assets/webfonts/fa-regular-400.svg
data/data_v1.1/assets/webfonts/fa-regular-400.ttf
data/data_v1.1/assets/webfonts/fa-regular-400.woff
data/data_v1.1/assets/webfonts/fa-regular-400.woff2
data/data_v1.1/assets/webfonts/fa-solid-900.eot
data/data_v1.1/assets/webfonts/fa-solid-900.svg
data/data_v1.1/assets/webfonts/fa-solid-900.ttf
data/data_v1.1/assets/webfonts/fa-solid-900.woff
data/data_v1.1/assets/webfonts/fa-solid-900.woff2
data/data_v1.1/html/markup/admin_client_company.html
data/data_v1.1/html/markup/admin_company_register.html
data/data_v1.1/html/markup/admin_company_set.html
data/data_v1.1/html/markup/admin_guidewrite.html
data/data_v1.1/html/markup/admin_project.html
data/data_v1.1/html/markup/admin_projectset.html
data/data_v1.1/html/markup/admin_projectstate.html
data/data_v1.1/html/markup/admin_upload.html
data/data_v1.1/html/markup/admin_worker_reviewer.html
data/data_v1.1/html/markup/company_project_status.html
data/data_v1.1/html/markup/company_work_status.html
data/data_v1.1/html/markup/dataset.html
data/data_v1.1/html/markup/dataset2.html
data/data_v1.1/html/markup/loading_test.html
data/data_v1.1/html/markup/maumdata_index.html
data/data_v1.1/html/markup/maumdata_index_en.html
data/data_v1.1/html/markup/maumdata_index2.html
data/data_v1.1/html/markup/maumdata_labelling.html
data/data_v1.1/html/markup/maumdata_labelling_en.html
data/data_v1.1/html/markup/maumdata_signup.html
data/data_v1.1/html/markup/maumdata_signup_certify1.html
data/data_v1.1/html/markup/maumdata_signup_certify2.html
data/data_v1.1/html/markup/maumdata_signup_complete.html
data/data_v1.1/html/markup/maumdata_signup_form.html
data/data_v1.1/html/markup/maumdata_signup_terms.html
data/data_v1.1/html/markup/maumdata_train.html
data/data_v1.1/html/markup/maumdata_userguide.html
data/data_v1.1/html/markup/maumdata_voucher.html
data/data_v1.1/html/markup/mypage_myinfo.html
data/data_v1.1/html/markup/mypage_myinfo_en.html
data/data_v1.1/html/markup/mypage_payment.html
data/data_v1.1/html/markup/mypage_payment_en.html
data/data_v1.1/html/markup/mypage_point.html
data/data_v1.1/html/markup/mypage_point_en.html
data/data_v1.1/html/markup/mypage_worklist.html
data/data_v1.1/html/markup/mypage_worklist_en.html
data/data_v1.1/html/markup/reviewer_g2p_wav.html
data/data_v1.1/html/markup/reviewer_home.html
data/data_v1.1/html/markup/reviewer_image.html
data/data_v1.1/html/markup/reviewer_image_masking.html
data/data_v1.1/html/markup/reviewer_mrc.html
data/data_v1.1/html/markup/reviewer_QA_making.html
data/data_v1.1/html/markup/reviewer_script.html
data/data_v1.1/html/markup/reviewer_tts_wav.html
data/data_v1.1/html/markup/reviewer_voice.html
data/data_v1.1/html/markup/reviewer_xdc.html
data/data_v1.1/html/markup/workspace_covid.html
data/data_v1.1/html/markup/workspace_g2p.html
data/data_v1.1/html/markup/workspace_g2p_wav.html
data/data_v1.1/html/markup/workspace_home.html
data/data_v1.1/html/markup/workspace_home_en.html
data/data_v1.1/html/markup/workspace_image.html
data/data_v1.1/html/markup/workspace_image_masking.html
data/data_v1.1/html/markup/workspace_mrc.html
data/data_v1.1/html/markup/workspace_mrc_en.html
data/data_v1.1/html/markup/workspace_popup.html
data/data_v1.1/html/markup/workspace_QA_making.html
data/data_v1.1/html/markup/workspace_record.html
data/data_v1.1/html/markup/workspace_script.html
data/data_v1.1/html/markup/workspace_script_trim.html
data/data_v1.1/html/markup/workspace_tts_wav.html
data/data_v1.1/html/markup/workspace_video.html
data/data_v1.1/html/markup/workspace_voice.html
data/data_v1.1/html/markup/workspace_voice_stt.html
data/data_v1.1/html/markup/workspace_xdc.html
data/data_v1.1/html/markup/workspace_xdc_eval.html
