@charset "UTF-8";
/* MINDsLab. NBR. 20200224 */

/* -------------------- common -------------------- */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* ---------- reset ---------- */
* {font-family: 'Noto Sans KR', sans-serif;}
html, body {margin: 0; padding: 0; width: 100%; height: 100%; font-family: 'Noto Sans KR', sans-serif; font-size: 12px; line-height: 18px; background: none;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, legend, em, span {margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
table {border-spacing: 0; border-collapse: collapse; font-family: 'Noto Sans KR', sans-serif;}
th, td {word-break: break-all;}
form, fieldset {display: block;}
form, fieldset, img {border: none;}
address, caption, cite, code, dfn, em, th, var {font-style: normal; font-weight: normal;}
ol, ul, li {list-style: none;}
abbr, acronym {border: none;}
hr {display: none;}
a {text-decoration: none; cursor: pointer; font-family: 'Noto Sans KR', sans-serif;}
a:link, a:visited {text-decoration: none;}
a:hover, a:active, a:focus {text-decoration: none;}
textarea {overflow: auto; resize: none;}
html:first-child select {min-height: 20px;} /* opera 9 & below fix */
option {padding-right: 6px;} /* firefox fix */
legend {position: absolute; top: 0; left: 0; width: 0; height: 0; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0;} /* for screen reader */
pre {word-wrap: break-word;}
label {font-family: 'Noto Sans KR', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Noto Sans KR', sans-serif;}
br {background: none !important;}
img {vertical-align: top;}
a:focus, input:focus, textarea:focus, button:focus {outline: none !important;}
button {cursor: pointer;}

/* input 기본 스타일 초기화 */
input, textarea {border: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;}

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {margin: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
input[type=number] {-moz-appearance: textfield;}
input[type=text]:-ms-clear {display: none;}
input[type=text]::-ms-clear {display: none;}
input {filter: none;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px none inset; -webkit-text-fill-color: #35384d;}
input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s; }
input:focus {outline: none;}
select:focus {outline: none;}

/* Select box 스타일 초기화 */ 
select {border: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;}

/* Button 스타일 초기화 */
button {border: none; margin: 0; padding: 0; background: transparent;}

/* Clear */
.clearfix:before, .clearfix:after {content: ""; display: block; clear: both;}

/* Hide */
.hide {position: absolute; left: -9999px; display: none; font-size: 0; color: transparent;}

/* Float */
.fl {float: left;}
.fr {float: right;}

/* ---------- footer ---------- */
#footer {width: 100%; height: 220px; background: #00263e; color: #fff; font-size: 14px;}
#footer a {color: #fff; font-size: 14px;}
#footer .btm_menu {width: 100%; height: 180px;}
#footer .btm_menu .cont_box {position: relative; width: 1070px; height: 100%; margin: 0 auto;}
#footer .btm_menu img {display: inline-block; width: 125px; margin: 54px 69px 0 48px;}
#footer .btm_menu .menu_area {display: inline-block; width: 824px; height: 120px; margin: 30px 0; border-radius: 4px; background: rgba(128,138,171,0.1); clear: both;}
#footer .btm_menu .menu_area > div {float: left; margin: 22px 0; padding: 0 49px; text-align: left;}
#footer .btm_menu .menu_area p {font-weight: 700; letter-spacing: -0.4px;}
#footer .btm_menu .menu_area .contact {border-right: 1px dotted rgba(207,213,235,0.7);}
#footer .btm_menu .menu_area .contact > a {display: inline-block; margin: 10px 0 10px 0;}
#footer .btm_menu .menu_area .contact > a:nth-child(2) {margin-right: 10px;}
#footer .btm_menu .menu_area .contact > a span {margin: 0 4px 0 0;}
#footer .btm_menu .menu_area .contact .info_box a {position: relative; font-size: 13px; opacity: 0.7;}
#footer .btm_menu .menu_area .contact .info_box a:hover {text-decoration: underline;}
#footer .btm_menu .menu_area .contact .info_box a + a {margin: 0 0 0 20px;}
#footer .btm_menu .menu_area .service {font-size: 13px; letter-spacing: -0.4px;}
#footer .btm_menu .menu_area .service > div {clear: both;}
#footer .btm_menu .menu_area .service > div + div {margin: 10px 0 0 0;}
#footer .btm_menu .menu_area .service p {float: left; position: relative; width: 68px; font-weight: 700;}
#footer .btm_menu .menu_area .service p:after {content: ''; display: block; position: absolute; top: 4px; right: 0; width: 1px; height: 12px; background: rgba(255,255,255,0.5);}
#footer .btm_menu .menu_area .service a {margin: 0 0 0 14px; font-size: 13px;}
#footer .btm_menu .menu_area .service a:hover {text-decoration: underline;}
#footer .btm_menu .menu_area .contact .info_box a + a:before {content: ''; display: block; position: absolute; top: 4px; left: -11px; width: 1px; height: 13px; background: #fff; opacity: 0.7;}

#footer .copyright {width: 100%; height: 40px; background: #001c2e; text-align: center;}
#footer .copyright span {position: relative; padding: 0 2px; font-size: 13px; line-height: 40px; letter-spacing: -0.4px; opacity: 0.8;}
#footer .copyright span:last-child {padding: 0 0 0 16px;}
#footer .copyright span:last-child:before {content: ''; display: block; position: absolute; top: 4px; left: 6px; width: 1px; height: 13px; background: #fff; opacity: 0.8;}
