@charset "UTF-8";
/* MINDsLab. NBR. 20200224 */

/* wrap */
#wrap {min-width: 1244px; height: 100%;}

/* header */
#header {clear: both; position: relative; width: 100%; height: 70px; box-shadow: 0 1px 1px 0 rgba(198, 198, 198, 0.5); box-sizing: border-box; background: #fff; z-index: 5;}
#header h1 {float:left; width: 120px; height: 100%; border-right: 1px dotted #dde2f3; text-align: center;}
#header h1 img {display: inline-block; height: 36px; margin: 19px 0 0 0;}
#header h2 {float: left; padding: 0 24px; color: #35384d; font-size: 20px; font-weight: 500; line-height: 70px;}
#header .etcmenu {position: absolute; right:0;}
#header .etcmenu a {color: #828392; font-size: 14px; transition:all 0.3s ease-out;}
#header .etcmenu .userBox {float: left; height: 100%; border-right: 1px solid #eff1f7; line-height: 70px;}
#header .etcmenu .userBox .my_point {position: relative; color: #35384d; font-size: 14px;}
#header .etcmenu .userBox .my_point:before {content: ''; display: block; position: absolute; top: 3px; left: -20px; width: 15px; height: 15px; background: url('../images/ico_point.svg')50% 50% no-repeat; background-size: contain;}
#header .etcmenu .userBox .btn_box a {width: 150px; height: 40px; margin: 0 14px 0 10px; box-sizing: border-box; background: #fff; color: #506df5; line-height: 38px; letter-spacing: 0.2px;}
#header .etcmenu .userBox a span {margin: 0 5px 0 0;}
#header .etcmenu .outBox {float: left; height: 100%; padding: 0 17px; line-height: 70px;}
#header .etcmenu .outBox a {color: #787a8a;}
#header .etcmenu .outBox a em {margin: 0 0 0 8px; font-size: 14px;}
#header .etcmenu .outBox a:hover {color: #506DF5; transition: all 0.3s ease-out;}

/* container */
#container {display: table; position: relative; width: 100%; height: calc(100% - 110px); background: #eff1f7;}

/* side navigation Bar */
.snb {display: table-cell; position: absolute; top: 0; width: 120px; height: 100%; background: #506DF5; z-index: 10;}
.snb ul.nav {display: block;}
.snb ul.nav li {display: block; position: relative; height: 45px; line-height: 45px;}
.snb ul.nav li a {display: block; position: relative; color: #fff; font-size: 14px; text-align: left; text-indent: 28px; letter-spacing: -0.2px; transition: all 0.3s ease-out; opacity: 0.6;}
.snb ul.nav li a em {margin: 0 8px 0 0; font-size: 15px; text-indent: 0;}
#edit_tool.workspace .snb ul.nav li:first-child a {position: relative; text-indent: 25px;}
.snb ul.nav li:first-child a em {margin: 0 6px 0 0;}
.snb ul.nav li a:hover {color: #fff; transition: all 0.3s ease-out; opacity: 1;}
.snb ul.nav li.active {background: rgba(255,255,255,0.2); color: #fff; cursor: default;}
.snb ul.nav li.active > a {color: #fff; opacity: 1; pointer-events: none;}
.snb ul.nav li.active > a:before {content:''; position: absolute; top: 0; left: 0; width: 4px; height: 100%; background: #fff;}

/* contents */
.contents {display: table-cell; width: calc(100% - 120px); padding: 0 0 70px 120px; text-align: center; vertical-align: top;}
.content {height: auto; text-align: center;}
.content .work_space {padding: 30px 4% 0; clear: both;}
.content h3 {color: #35384d; font-size: 17px; font-weight: 500; line-height: 25px; text-align: left;}
.content h3 span {min-width:26px; height:18px; margin: 0 0 3px 10px; padding:0 9px; border-radius: 9px; box-sizing: border-box; background: #f5508b; text-align: center; color: #fff; font-size: 12px;}
.content .work_space .work_tit {padding: 0 0 12px 0; border-bottom: solid 1px #cfd5eb;}
.content h4 {margin: 0 0 8px 0; color: #2c3f51; font-size: 14px; font-weight: 500; text-align: left;}
.content .work_space .stn {display:table; width: 100%; padding: 30px 0; border-bottom: 1px dotted rgba(138,146,177,0.4); clear: both;}
.content .work_space:nth-child(3) .stn {border-bottom: none;}

/* common_tbl */
.common_tbl {overflow:hidden; border:1px solid #cfd5eb; border-radius:5px; background:#fff;}
.common_tbl table {table-layout:fixed; width:100%; text-align:left;}
.common_tbl table tr {height:40px;}
.common_tbl thead th {padding:0 20px; background:#808aab; color:#fff; font-size:14px; font-weight:500;}
.common_tbl tbody td {overflow:hidden; padding:0 20px; color:#2c3f51; font-size:13px; text-overflow:ellipsis; white-space:nowrap;}
.common_tbl tbody td a {color:#2c3f51;}
.common_tbl tbody td a:hover {text-decoration:underline;}
.common_tbl tbody tr:nth-child(odd) td {}
.common_tbl tbody tr:nth-child(even) td {background:rgba(242, 244, 252, 0.4);}
.common_tbl tbody tr:not(:last-child) td {border-bottom:1px solid #cfd5eb;}
.common_tbl tbody td.empty_data {text-align:center;}

/* btn box */
/* .btn_box button {width: 100%; height: 100%; border-radius: 4px; background: #506df5; color: #fff; font-size: 14px; font-weight: 500; letter-spacing: -0.2px;} */
.btn_box a {width: 100%; height: 100%; border-radius: 4px; background: #506df5; color: #fff; font-size: 14px; font-weight: 500; letter-spacing: -0.2px;}

/* file upload box / input[file]*/
.file_upload_box {display: inline-block; position: relative;}
.file_upload_box input {display: none;}
.file_upload_box label {position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 0 10px; border: 1px solid #cfd5eb; border-right: none; border-radius: 5px 0 0 5px; box-sizing: border-box; background: #fff; color: #2c3f51; font-size: 14px; letter-spacing: -0.5px; cursor: pointer;}
.file_upload_box span {position: absolute; top: -1px; right: -40px; width: 40px; height: 100%; border: 1px solid #506df5; border-radius: 0 5px 5px 0; background: #506df5; color: #fff; text-align: center; line-height: 40px;}

/* ---------- ADMIN ---------- */
/* common */
#header .etcmenu .userBox {float: left; height: 100%; padding: 0 17px; line-height: 70px;}
#header .etcmenu .userBox a em {margin: 0 7px 0 0;}
#header h2 {text-transform: uppercase;}
.admin .snb ul.nav li {height: auto; line-height: 17px;}
.admin .snb ul.nav li:nth-child(2) {line-height: 20px;}
.admin .snb ul.nav li a {padding: 14px 0; text-indent: 20px;}
#container.admin .content > div:first-child .admin_stn {overflow: hidden; border-bottom: 1px dotted #cfd5eb;}
#container.admin .content > div:first-child .admin_stn > .btn_box {float: left; width: 260px; height: 46px;}
.admin .admin_stn {padding: 0 0 30px 0;}
.admin.project_set .admin_stn .ipt_box input[type=text],
.admin.project_set .admin_stn select {background: #fff;}
.admin.project_set .admin_stn select {width: 100% !important; color: #697992;}

/* contents */
.admin .admin_stn h3 {margin: 0 0 10px 0;}
.admin .admin_stn .cases_box {overflow: hidden; text-align: left;}
.admin .admin_stn .cases_box .common_box {float: left; min-width: 260px; height: 86px; margin: 0 10px 20px 0; padding: 20px 30px;}
.admin .admin_stn .cases_box .common_box p {color: #35384d; font-size: 15px; font-weight: 500; line-height: 46px;}
.admin .admin_stn .cases_box .common_box p em {color: #35384d; font-size: 15px; font-weight: 500; line-height: 45px;}
.admin .admin_stn .cases_box .common_box p em.fl {float: left; margin: 0 10px 0 0;}
.admin .admin_stn .cases_box .common_box p em.fr {display: flex; float: right;}
.admin .admin_stn .cases_box .training em.fl,
.admin .admin_stn .cases_box .train_finish em.fl,
.admin .admin_stn .cases_box .payment_request em.fl {line-height: 23px;}
.admin .admin_stn .cases_box .common_box p span {display: inline-block; height: 45px; margin: 0 6px 0 0; padding: 0 30px; border-radius: 23px; background: #f7f8fc; color: #506df5; font-size: 25px; font-weight: 500; line-height: 45px;}
.admin .admin_stn .btn_box a {font-size: 17px; line-height: 46px;}
.admin .admin_stn .btn_box a span {margin: 0 10px 0 0;}
.work_space .sort_group {float: right; margin: 0 0 10px 0;}
.work_space .sort_group > div {float: left; margin: 0 0 0 15px;}
.work_space .sort_group .select_box {width: 120px; height: 40px;}
.work_space .sort_group .select_box select {background: #fff; color: #697992; font-size: 12px;}
/* .work_space .sort_group .select_box select option:first-child {display: none;} */
.work_space .sort_group .srch_box {width: 150px; height: 40px; margin: 0 40px 0 14px;}
.work_space .sort_group input,
.work_space .sort_group label {line-height: 40px; color: #697992; font-size: 13px;}
.work_space .sort_group .srch_box button {right: -40px; width: 40px;}
.work_space .sort_group .srch_box button span {font-size: 13px;}
.work_space .sort_group .date_box {width: 120px;}
/* .work_space .sort_group .date_box span {position: absolute; top: 14px; right: 10px; color: rgba(94,119,255,0.7); font-size: 13px;} */
.work_space .sort_group .date_box em {position: absolute; top: 11px; right: -12px; color: #697992; font-size: 13px; font-weight: 500;}
.admin .work_space .sort_group .select_box {margin: 0 0 0 15px;}
.admin .work_space .project_lst table tbody tr:hover {box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); cursor: pointer;}
.admin .work_space .work_lst table tbody td {line-height: 22px; word-wrap: break-word;}
.admin .work_space .work_lst table tbody td.certify_period span {display: inline-block; width: 72px;}
.admin .work_space .work_lst table tbody td.certify_period em {display: inline-block; width: 80px;}
.admin .work_space .work_lst table tbody td.status span {color: #506df5;}

.work_space .work_lst {overflow: hidden; width: 100%; margin: 10px 0 15px;}
.work_space .work_lst table {width: 100%;}
.work_space .work_lst table tr {height: 40px;}
.work_space .work_lst table thead {border: 1px solid #808aab; color: #fff; font-size: 14px; font-weight: 500; background: #808aab;}
.work_space .work_lst table tbody tr {border-top: 1px solid #cfd5eb;}
.work_space .work_lst table tbody tr:nth-child(even) {background: rgba(242, 244, 252, 0.4);}
.work_space .work_lst table tbody td {overflow: hidden; padding: 8px 5px; text-overflow: ellipsis; word-wrap: normal;}
.work_space .work_lst table tbody .type,
.work_space .work_lst table tbody .cost {font-weight: 500;}
.work_space .work_lst table tbody .point span,
.work_space .work_lst table tbody .unit_cost span {position: relative; padding: 0 0 0 20px; font-weight: 500;}
.work_space .work_lst table tbody .point span:before,
.work_space .work_lst table tbody .unit_cost span:before {content: ''; display: block; position: absolute; top: 3px; left: 0; width: 15px; height: 15px; background: url('../images/ico_point.svg')50% 50% no-repeat; background-size: contain;}
.work_space .work_lst table tbody {color: #2c3f51; font-size: 14px;}

.admin.worker_reviewer .admin_stn .cases_box .common_box {margin: 0 10px 0 0;}
.admin.worker_reviewer .admin_stn .character li {float: left; padding: 0 30px; border: 1px solid #cfd5eb; border-radius: 4px; background: #fff; color: #697992; font-size: 15px; font-weight: 500; line-height: 40px; cursor: pointer;}
.admin.worker_reviewer .admin_stn .character li:nth-child(1) {border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0;}
.admin.worker_reviewer .admin_stn .character li:nth-child(2) {border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0;}
.admin.worker_reviewer .admin_stn .character li.active {background: #506df5; color: #fff;}
.admin.worker_reviewer .work_space .work_lst table thead th {font-weight: 500; word-wrap: break-word; word-break: keep-all;}
.admin.worker_reviewer .work_space .work_lst table tbody {font-size: 13px;}
.admin.worker_reviewer .work_space .work_lst table tbody td.bank,
.admin.worker_reviewer .work_space .work_lst table tbody td.account {font-size: 14px;}
.admin.worker_reviewer .work_space .work_lst table tbody td .select_box {width: 86px; height: 30px;}

.admin.project .select_box {width: auto;}
.admin.project .select_box label {position: static; color: #2c3f51; font-size: 14px;}
.admin.project .select_box select {width: 120px;}

.admin.project_set .admin_stn {overflow: visible !important; border-bottom: 1px dotted #cfd5eb; text-align: left;}
.admin.project_set .admin_stn .making_project {overflow: hidden; text-align: left;}
.admin.project_set .admin_stn h3 {display: inline-block;}
.admin.project_set .admin_stn .progress_icon {display: inline-block; margin: 0 0 0 37px;}
.admin.project_set .admin_stn .progress_icon span {display: inline-block; position: relative; margin: 0 15px; color: #808aab; font-size: 20px; line-height: 27px;}
.admin.project_set .admin_stn .progress_icon span:after {content: ''; display: block; position: absolute; top: 50%; right: 19px; width: 34px; border: 0.5px dashed #808aab;}
.admin.project_set .admin_stn .progress_icon span:first-child:after {display: none;}
.admin.project_set .admin_stn .progress_icon span.fas {color: #506df5;}
.admin.project_set .admin_stn .work_cont {margin: 25px 0 0 0; clear: both;}
.admin.project_set .admin_stn h4 {margin: 0 0 20px 0 !important; font-size: 15px !important;}
.admin.project_set .admin_stn .work_cont .cont_select {overflow: hidden;}
.admin.project_set .admin_stn .work_cont .cont_select > div + div {position: relative; margin: 0 0 0 40px;}
.admin.project_set .admin_stn .work_cont .select_group {float: left; position: relative; width: calc(20% - 32px); text-align: right;}
.admin.project_set .admin_stn .work_cont .select_group:not(:first-child):before {content: '\f101'; font-family: 'Font Awesome 5 Free'; color: #2c3f51; font-size: 15px; font-weight: 900; display: block; position: absolute; top: 11px; left: -26px;}
.admin.project_set .admin_stn .work_cont .select_box {display: inline-block; height: 40px;}
.admin.project_set .admin_stn .work_cont .select_box.large {display: block; width: 100%;}
.admin.project_set .admin_stn .work_cont .select_box.small {width: 88%; min-width: 154px; margin: 10px 0 0 5px;}
.admin.project_set .admin_stn .work_cont .select_small_group span {position: absolute; top: 47px; left: 3px; color: #2c3f51; font-size: 15px; opacity: 0.5; transform: rotate(90deg);}
.admin.project_set .admin_stn .work_cont .select_small_group span:nth-child(3) {top: 96px;}
.admin.project_set .admin_stn .project_info {overflow: hidden; text-align: left;}
.admin.project_set .admin_stn .project_info > div + div {margin: 0 0 0 12px;}
.admin.project_set .admin_stn .project_info .info_box {float: left;}
.admin.project_set .admin_stn .project_info .info_box > span {display: block; margin: 0 0 10px 0; color: #2c3f51; font-size: 13px;}
.admin.project_set .admin_stn .project_info .info_box.company_client {width: calc(13% - 10px);}
.admin.project_set .admin_stn .project_info .info_box.project_name {width: calc(35% - 10px);}
.admin.project_set .admin_stn .project_info .info_box.manager {width: calc(10% - 10px);}
.admin.project_set .admin_stn .project_info .info_box.point {width: calc(14% - 10px);}
.admin.project_set .admin_stn .project_info .info_box.start_date,
.admin.project_set .admin_stn .project_info .info_box.end_date {width: calc(14% - 12px);}
.admin.project_set .admin_stn .project_info .info_box .ipt_box,
.admin.project_set .admin_stn .project_info .info_box .date_box,
.admin.project_set .admin_stn .project_info .info_box .select_box {width: 100%; height: 40px;}
.admin.project_set .admin_stn .project_info .date_box em {position: absolute; top: 11px; right: -12px; color: #697992; font-size: 13px; font-weight: 500;}
.admin.project_set .admin_stn .project_info .info_box:nth-child(6) {margin: 0 0 0 16px;}
.admin.project_set .admin_stn .project_info .info_box .ipt_box input::placeholder {color: #808aab; font-size: 14px; letter-spacing: -0.2px;}
.admin.project_set .admin_stn .project_info .info_box .ipt_box input::-webkit-input-placeholder {color: #808aab; font-size: 14px; letter-spacing: -0.2px;}
.admin.project_set .admin_stn .project_info .info_box .ipt_box input:-ms-input-placeholder {color: #808aab; font-size: 14px; letter-spacing: -0.2px;}
.admin.project_set .admin_stn .project_info .info_box .ipt_box input::-ms-input-placeholder {color: #808aab; font-size: 14px; letter-spacing: -0.2px;}
.admin.project_set .admin_stn .project_info .info_box .date_box input::placeholder {color: #808aab; font-size: 14px; letter-spacing: -0.2px;}
.admin.project_set .admin_stn .project_info .info_box .date_box input::-webkit-input-placeholder {color: #808aab; font-size: 14px; letter-spacing: -0.2px;}
.admin.project_set .admin_stn .project_info .info_box .date_box input:-ms-input-placeholder {color: #808aab; font-size: 14px; letter-spacing: -0.2px;}
.admin.project_set .admin_stn .project_info .info_box .date_box input::-ms-input-placeholder {color: #808aab; font-size: 14px; letter-spacing: -0.2px;}
.admin.project_set .work_space .btn_box {height: 40px; margin: 30px 0 0 16px;}
.admin.project_set .work_space .btn_box button {padding: 0 20px;}
.admin.project_set .work_space .btn_box button.back {background: #808aab;}
.admin.project_set .content > div:last-child {text-align: right;}
.admin.project.project_set .btn_box button {width: auto;}
.admin.project.project_set .btn_box button:nth-child(1) {margin: 0 10px 0 0; border: 1px solid #506df5; background: #fff; color: #506df5;}

.admin.upload .admin_stn .work_cont {text-align: left;}
.admin.upload .admin_stn h4 {margin: 0 0 14px 0 !important;}
.admin.upload .admin_stn h4 span {display: inline-block; margin: 0 0 0 15px; color: #506df5; font-size: 14px; font-weight: 400;}
.admin.upload .admin_stn .file_upload_box {width: calc(50% - 115px); height: 40px;}
.admin.upload .admin_stn .file_upload_box label {color: #697992; font-size: 14px; line-height: 37px;}
.admin.upload .admin_stn .file_upload_box span {border-radius: 0 3px 3px 0; font-size: 15px;}
.admin.upload .admin_stn .upload_box {position: relative; max-height: 690px; margin: 10px 0 0 0;}
.admin.upload .admin_stn .upload_box > div {float: left;}
.admin.upload .admin_stn .upload_lst {width: calc(50% - 75px); min-width: 440px; height: calc(100% - 40px);}
.admin.upload .admin_stn .upload_lst .table_hd {color: #fff; border-radius: 5px 5px 0 0;}
.admin.upload .admin_stn .upload_lst .table_bd {overflow: auto; height: calc(100% - 40px); border: 1px solid #cfd5eb; border-top: none; border-radius: 0 0 5px 5px; background: #fff; word-wrap: break-word;}
.admin.upload .admin_stn .upload_lst table {table-layout: fixed; width: 100%;}
.admin.upload .admin_stn .upload_lst tr {height: 40px;}
.admin.upload .admin_stn .upload_lst tr + tr {border-top: 1px solid #cfd5eb;}
.admin.upload .admin_stn .upload_lst th:nth-child(2) {font-size: 14px; font-weight: 500; text-align: center;}
.admin.upload .admin_stn .upload_lst th:nth-child(3) {font-size: 13px; font-weight: 500; text-align: right;}
.admin.upload .admin_stn .upload_lst th:not(:nth-child(2)),
.admin.upload .admin_stn .upload_lst td:not(:nth-child(2)) {padding: 0 10px;}
.admin.upload .admin_stn .upload_lst .table_bd td:nth-child(2) {overflow: hidden; padding: 0 30px 0 0; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal;}
.admin.upload .admin_stn .complate {margin: 0 0 0 150px;}
.admin.upload .admin_stn .standby .table_hd {background: #808aab;}
.admin.upload .admin_stn .standby .table_bd {color: #808aab; font-size: 13px;}
.admin.upload .admin_stn .complate .table_hd {background: #2c3f51;}
.admin.upload .admin_stn .complate .table_bd {color: #2c3f51; font-size: 13px;}
.admin.upload .admin_stn .upload_lst .check_box label:before {top: -15px; width: 20px; height: 20px; border: 2px solid #808aab; border-radius: 2px;}
.admin.upload .admin_stn .upload_lst .check_box input:checked + label:after {top: -13px; left: 4px; font-size: 12px;}
.admin.upload .admin_stn .upload_lst .table_hd .check_box label:before {border-color: #fff;}
.admin.upload .admin_stn .upload_lst .table_hd .check_box input:checked + label:after {color: #fff;}
.admin.upload .admin_stn .standby .table_bd .check_box input:checked + label:after {color: #808aab;}
.admin.upload .admin_stn .complate .check_box label:before {border-color: #2c3f51;}
.admin.upload .admin_stn .complate .table_bd .check_box input:checked + label:after {color: #2c3f51;}
.admin.upload .admin_stn .upload_box > .btn_box {position: absolute; top: 50%; height: auto; margin: 0 30px; transform: translate(0, -50%);}
.admin.upload .admin_stn .upload_box > .btn_box button {padding: 10px 12px;}
.admin.upload .admin_stn .upload_box > .btn_box button span {display: block; font-size: 30px;}
.admin.upload .admin_stn .upload_lst .btn_box {height: 30px; margin: 10px 0 0 0;}
.admin.upload .admin_stn .upload_lst .btn_box button {padding: 0 10px; border: 1px solid #f5508b; background: #fff; color: #f5508b; font-weight: 400;}
.admin.upload .admin_stn .upload_lst .btn_box button span {margin: 0 8px 0 0;}

.admin.project_set.guide_write h4 span {margin: 0 0 0 25px; font-size: 14px; font-weight: 400;}
.admin.project_set.guide_write .common_box {max-height: 678px}
.admin.project_set.guide_write .common_box textarea {width: 100%; height: 100%; padding: 15px; border-radius: 5px; box-sizing: border-box; color: #2c3f51; font-size: 14px;}
.admin.project_set.guide_write .admin_stn .btn_group {overflow: hidden;}
.admin.project_set.guide_write .admin_stn .btn_group .fl .btn_box {margin: 10px 20px 0 0;}
.admin.project_set.guide_write .admin_stn .btn_group .fl .btn_box button {border: 1px solid #506df5; background: #fff; color: #506df5;}
.admin.project_set.guide_write .admin_stn .btn_group .fr .btn_box {margin: 10px 0 0 0;}
.admin.project_set.guide_write .btn_group .btn_box button.project_start {background: #00263e;}

.project_state .content > div:last-child {text-align: center !important;}
.project_state .admin_stn {text-align: center !important;}
.project_state .admin_stn .work_cont .select_box {opacity: 0.8;}
.project_state .admin_stn .work_cont .select_group:not(:first-child):before,
.project_state .admin_stn .work_cont .select_group span {opacity: 0.7 !important;}
.project_state .admin_stn .btn_box {margin: 20px 0 0 0 !important;}
.project_state .admin_stn .stn_box {overflow: hidden; text-align: left;}
.project_state .admin_stn .stn_box > h4 {display: inline-block; width: 150px; margin: 0 !important;}
.project_state .admin_stn .stn_box > div {display: inline-block;}
.project_state .total_upload h4 {line-height: 30px;}
.project_state .total_upload .cases {height: 30px; padding: 0 20px; border-radius: 3px;}
.project_state .total_upload .cases span {color: #506df5; font-size: 15px; font-weight: 500; line-height: 28px;}
.project_state .work_progress {position: relative; width: 100%; height: 18px;}
.project_state .work_progress .progress_box {position: absolute; top: 2px; left: 150px; width: 65%; min-width: 680px; height: 14px; border-radius: 3px;}
.project_state .work_progress .progress_box .progress_bar {display: block; position: relative; top: -1px; left: -1px; width: 100%; height: 100%; border: 1px solid #cfd5eb; border-radius: 3px; background: #506df5;}
.project_state .work_progress .progress_box .progress_num {position: absolute; top: -22px; left: calc(100% - 25px); color: #2c3f51; font-size: 14px}
.project_state .work_progress .progress_box .progress_num .done {color: #506df5;}
.project_state .work_progress .progress_box > em {display: none; position: absolute; top: -4px; right: -50px; width: 40px; color: #506df5; font-size: 14px; font-weight: 500;}
.project_state .work_progress .progress_box > em.on {display: block;}
.project_state .extract_data h4 {float: left;}
.project_state .extract_data .extract_lst {width: 65%; min-width: 680px; height: 240px;}
.project_state .extract_data .extract_lst > div {width: 100%}
.project_state .extract_data .extract_lst table {width: 100%; text-align: center;}
.project_state .extract_data .extract_lst tr {height: 40px;}
.project_state .extract_data .extract_lst .table_hd {border: 1px solid #cfd5eb; border-radius: 5px 5px 0 0; background: #fff;}
.project_state .extract_data .extract_lst .table_bd {overflow: auto; height: calc(100% - 40px); border: 1px solid #cfd5eb; border-top: none; border-radius: 0 0 5px 5px; background: #fff;}
.project_state .extract_data .extract_lst .table_hd th {color: #2c3f51; font-size: 13px; font-weight: 700;}
.project_state .extract_data .extract_lst .table_bd tr + tr {border-top: 1px solid #cfd5eb;}
.project_state .extract_data .extract_lst .table_bd tr:nth-child(even) {background: #f2f4fc;}
.project_state .extract_data .extract_lst .table_bd td {color: #2c3f51; font-size: 14px;}
.project_state .extract_data .extract_lst .table_bd td.num {color: #506df5; font-size: 13px; font-weight: 500;}
.project_state .extract_data .extract_lst .table_bd td.extract_state button {border: 1px solid #506df5; background: #fff; color: #506df5;}
.project_state .extract_data .extract_lst .table_bd .btn_box {height: 30px; margin: 0 !important;}
.project_state .extract_data .extract_lst .table_bd .btn_box button {padding: 0 15px; font-weight: 400;}

.project_state .work_guide .common_box {height: 350px;}
.project_state .work_guide .common_box textarea {width: 100%; height: 100%; padding: 15px; border-radius: 5px; box-sizing: border-box; color: #2c3f51; font-size: 14px;}
.project_state .work_guide .btn_group {overflow: hidden;}
.project_state .work_guide .btn_group .btn_box {margin: 10px 0 0 0 !important;}
.project_state .work_guide .btn_group .fl .btn_box {margin: 10px 20px 0 0 !important;}
.project_state .work_guide .btn_group .fl .btn_box button {border: 1px solid #506df5; background: #fff; color: #506df5;}
.project_state .btn_box button.confirm {padding: 0 30px !important; background: #00263e;}

.data_request .btn button {display: inline-block;}
.data_request .btn button.cancel {margin: 0 10px 0 0; border: 1px solid #808aab; background: #808aab;}

.admin.client_company .admin_stn .cases_box .common_box p em.fl {line-height: 23px;}
.admin.client_company .admin_stn .company_lst tbody td.address {text-align: left;}
.admin.client_company .admin_stn .company_lst tbody tr:hover {box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); cursor: pointer;}

#container.company_set .content > div:first-child .admin_stn {padding: 0 0 20px 0; border: none;}
.company_set .admin_stn h3 {margin: 0 0 25px 0;}
.company_set .admin_stn h3 em {margin: 0 0 0 8px; color: #506df5;}
.admin.company_set .admin_stn h4 span {margin: 0 0 0 8px; color: #2c3f51;}
.admin.company_set .designate_box {overflow: hidden; height: 773px;}
.admin.company_set .designate_box > div {overflow: hidden; float: left; height: 100%;}
.admin.company_set .designate_box .project_designate {width: calc(25% - 20px); height: 100%; margin: 0 20px 0 0;}
.admin.company_set .designate_box .project_designate .project_srch {height: 50px; padding: 10px 0; border-bottom: 1px solid #cfd5eb; box-sizing: border-box; background: #f7f8fc;}
.admin.company_set .designate_box .project_designate .project_srch .srch_box {width: calc(100% - 30px); height: 28px;}
.admin.company_set .designate_box .srch_box input {position: absolute; top: 0; left: 0; border: 1px solid #506df5; border-radius: 5px;}
.admin.company_set .designate_box .srch_box input::placeholder {color: #697992; font-size: 12px; letter-spacing: -0.2px; opacity: 0.7;}
.admin.company_set .designate_box .srch_box input::-webkit-input-placeholder {color: #697992; font-size: 12px; letter-spacing: -0.2px; opacity: 0.7;}
.admin.company_set .designate_box .srch_box input:-ms-input-placeholder {color: #697992; font-size: 12px; letter-spacing: -0.2px; opacity: 0.7;}
.admin.company_set .designate_box .srch_box label {top: 5px; opacity: 0.7;}
.admin.company_set .designate_box .srch_box button {right: 0; width: 32px; border: none; background: transparent; color: #506df5; font-size: 12px;}
.admin.company_set .designate_box .project_designate .srch_lst {overflow: auto; height: calc(100% - 50px);}
.admin.company_set .designate_box .project_designate .srch_lst li {margin: 10px 0; padding: 0 10px; text-align: left;}
.admin.company_set .designate_box .project_designate .srch_lst li span {display: inline-block; position: relative; padding: 8px 10px; border: 1px solid #506df5; border-radius: 3px; color: #506df5; font-size: 12px; font-weight: 500; line-height: 15px; word-break: keep-all; cursor: pointer;}
.admin.company_set .designate_box .project_designate .srch_lst li.active span {padding: 8px 10px 8px 26px; background: #506df5; color: #fff;}
.admin.company_set .designate_box .project_designate .srch_lst li.active span:before {content: '\f00c'; position: absolute; top: 8px; left: 10px; font-family: 'Font Awesome 5 Free'; color: #fff; font-size: 12px; font-weight: 900;}
.admin.company_set .designate_box .manpower_designate {width: 75%; height: 100%;}
.admin.company_set .designate_btn {overflow: hidden; margin: 0 0 10px 0; border-bottom: 1px solid #808aab;}
.admin.company_set .designate_btn li {float: left; margin: 0 8px 0 0; padding: 10px 22px; border: 1px solid #506df5; border-bottom: none; border-radius: 3px 3px 0 0; box-sizing: border-box; background: #fff; color: #506df5; font-size: 14px; font-weight: 500; letter-spacing: -0.2px; cursor: pointer;}
.admin.company_set .designate_btn li.on {background: #506df5; color: #fff;}
.admin.company_set .manpower_box {overflow: hidden; height: calc(100% - 50px); text-align: left;}
.admin.company_set .manpower_box > div {display: inline-block;}
.admin.company_set .manpower_box .common_box {overflow: hidden; width: calc(50% - 56px); height: 100%;}
.admin.company_set .manpower_box .lst_title {position: relative; width: 100%; height: 38px;}
.admin.company_set .manpower_box .lst_title li {display: none; position: absolute; top: 0; left: 0; width: 100%; color: #fff; font-size: 14px; font-weight: 500; line-height: 38px; text-align: center;}
.admin.company_set .manpower_box .lst_title li.on {display: block;}
.admin.company_set .manpower_box .slate_box .lst_title {background: #808aab;}
.admin.company_set .manpower_box .decide_box .lst_title {background: #2c3f51;}
.admin.company_set .manpower_box .adjust_box {padding: 10px 15px; background: #f7f8fc;}
.admin.company_set .manpower_box .adjust_box {overflow: hidden;}
.admin.company_set .manpower_box .adjust_box .btn_box {float: left; height: 24px;}
.admin.company_set .manpower_box .adjust_box .btn_box button {padding: 0 10px; border: 1px solid #f5508b; background: #fff; color: #f5508b; font-size: 11px;}
.admin.company_set .manpower_box .adjust_box .btn_box button span {margin: 0 7px 0 0;}
.admin.company_set .manpower_box .adjust_box .total_person {display: inline-block; float: right; color: #808aab; font-size: 14px; font-weight: 500; line-height: 24px;}
.admin.company_set .manpower_box .lst_box {height: calc(100% - 82px);}
.admin.company_set .manpower_box .lst_box table {table-layout: fixed; width: 100%;}
.admin.company_set .manpower_box .lst_box tr {height: 38px;}
.admin.company_set .manpower_box .lst_box .check_box label:before {top: -15px; width: 20px; height: 20px; border: 2px solid #808aab; border-radius: 2px;}
.admin.company_set .manpower_box .lst_box .check_box input:checked + label:after {top: -13px; left: 4px; font-size: 12px;}
.admin.company_set .manpower_box .lst_box .table_hd .check_box label:before {border-color: #fff;}
.admin.company_set .manpower_box .lst_box .table_hd .check_box input:checked + label:after {color: #fff;}
/* .admin.company_set .manpower_box .lst_box .check_box input:checked + label:after {color: #808aab;} */
.admin.company_set .manpower_box .lst_box .table_hd th:nth-child(1) {padding: 0 0 0 15px; text-align: left;}
.admin.company_set .manpower_box .lst_box .table_hd th:nth-child(2) {color: #fff; font-weight: 500;}
.admin.company_set .manpower_box .lst_box .table_hd th:nth-child(3) {padding: 0 15px 0 0; text-align: right;}
.admin.company_set .manpower_box .lst_box .table_hd .srch_box {overflow: hidden; top: 2px; width: 67%; height: 28px; border-radius: 3px; background: #fff;}
.admin.company_set .manpower_box .lst_box .table_hd .srch_box input {display: none; border: none;}
.admin.company_set .manpower_box .lst_box .table_hd .srch_box input.on {display: block;}
.admin.company_set .manpower_box .lst_box .table_hd .srch_box button {color: #697992;}
.admin.company_set .manpower_box .lst_box .table_bd {overflow: auto; height: calc(100% - 38px);}
.admin.company_set .manpower_box .lst_box .table_bd tr {border-bottom: 1px solid #cfd5eb; color: #808aab; font-size: 13px;}
.admin.company_set .manpower_box .lst_box .table_bd td:not(:nth-child(2)) {text-align: left;}
.admin.company_set .manpower_box .lst_box .table_bd td:nth-child(1) {padding: 0 0 0 15px;}
.admin.company_set .manpower_box .lst_box .table_bd td:nth-child(2) {}
.admin.company_set .manpower_box .lst_box .table_bd td:nth-child(3) {overflow: hidden; padding: 0 15px; text-overflow: ellipsis; white-space: nowrap;}
.admin.company_set .manpower_box .slate_lst .check_box label:before {border-color: #808aab;}
.admin.company_set .manpower_box .slate_lst .table_bd .check_box input:checked + label:after {color: #808aab;}
.admin.company_set .manpower_box .slate_lst .table_hd {background: #808aab;}
.admin.company_set .manpower_box .decide_lst .table_hd {background: #2c3f51;}
.admin.company_set .manpower_box .decide_lst .table_bd tr {color: #2c3f51;}
.admin.company_set .manpower_box .decide_lst .check_box label:before {border-color: #2c3f51;}
.admin.company_set .manpower_box .decide_lst .table_bd .check_box input:checked + label:after {color: #2c3f51;}
.admin.company_set .manpower_box > .btn_box {height: 100%; margin: -60px 13px 0 13px; vertical-align: middle;}
.admin.company_set .manpower_box > .btn_box button {height: 70px; padding: 15px 6px;}
.admin.company_set .manpower_box > .btn_box span {display: block; font-size: 20px;}

.admin.company_set .btn_group {display: inline-block; float: right;}
.admin.company_set .btn_group .btn_box {height: 40px; margin: 0 0 0 20px;}
.admin.company_set .btn_group .btn_box button {padding: 0 20px;}
.admin.company_set .btn_group .btn_box button.cancel {background: #808aab;}

#container.company_register .content > div:first-child .admin_stn {border: none;}
.admin.company_register h3 {margin: 0;}
.admin.company_register .company_info {overflow: hidden; width: 100%;}
.admin.company_register .company_info > div {float: left; text-align: left;}
.admin.company_register .company_info .info_box > span {display: block; margin: 30px 0 10px 0; color: #2c3f51; font-size: 14px; font-weight: 500;}
.admin.company_register .company_info .btn_box {margin: 58px 0 0 10px;}
.admin.company_register .company_info .info_box > span em {color: #808aab; font-size: 12px;}
.admin.company_register .company_info .ipt_box,
.admin.company_register .company_info .date_box {width: 100%; height: 40px;}
.admin.company_register .company_info .ipt_box input {background: #fff;}
.admin.company_register .company_info .ipt_box input::placeholder {color: #697992; font-size: 14px;}
.admin.company_register .company_info .ipt_box input::-webkit-input-placeholder {color: #697992; font-size: 14px;}
.admin.company_register .company_info .ipt_box input:-ms-input-placeholder {color: #697992; font-size: 14px;}
.admin.company_register .company_info .date_box input::-webkit-input-placeholder {color: #697992; font-size: 14px;}
.admin.company_register .company_info .date_box input:-ms-input-placeholder {color: #697992; font-size: 14px;}
.admin.company_register .company_info .date_box input::-ms-input-placeholder {color: #697992; font-size: 14px;}
.admin.company_register .company_info .company_client_name {width: 17%;}
.admin.company_register .company_info .address {width: calc(83% - 10px);}
.admin.company_register .company_info .tel_num1 {width: 17%;}
.admin.company_register .company_info .tel_num2 {width: 17%; margin: 0 0 0 10px;}
.admin.company_register .company_info .manager_name {width: 17%; margin: 0 0 0 40px;}
.admin.company_register .company_info .manager_email {width: calc(49% - 100px); margin: 0 0 0 50px;}
.admin.company_register .company_info .start_date {width: 16.5%;}
.admin.company_register .company_info .start_date .date_box em {position: absolute; top: 10px; right: -13px;}
.admin.company_register .company_info .end_date {width: 16.5%; margin: 0 0 0 20px;}
.admin.company_register .company_info .certify_type {width: 17%; margin: 0 0 0 40px;}
.admin.company_register .company_info .memo {width: 100%;}
.admin.company_register .company_info .memo_box {overflow: hidden; height: 200px;}
.admin.company_register .company_info .memo_box textarea {width: 100%; height: 100%; padding: 10px 15px; box-sizing: border-box; color: #2c3f51; font-size: 14px;}
.admin.company_register .company_info .memo_box textarea::placeholder {color: #697992; font-size: 14px;}
.admin.company_register .company_info .memo_box textarea::-webkit-input-placeholder {color: #697992; font-size: 14px;}
.admin.company_register .company_info .memo_box textarea:-ms-input-placeholder {color: #697992; font-size: 14px;}
.admin.company_register .btn_box {float: right; height: 40px; margin: 0 0 0 10px;}
.admin.company_register .btn_box button {padding: 0 20px;}
.admin.company_register .btn_box button.cancel {background: #808aab;}

/* ---------- 기업고객 어드민 ---------- */
.company .progress {color: #506df5;}
.company .complete {color: #2c3f51;}
.company .near_end {color: #f5508b;}
.company .snb ul.nav li a {text-indent: 20px;}
.company .content > div:first-child .company_stn {overflow: hidden; border-bottom: 1px dotted #cfd5eb;}
.company .company_stn h3 {margin: 0 0 10px 0;}
.company .company_stn .cases_box {overflow: hidden; margin: 0 0 40px 0;}
.company .company_stn .cases_box > div {float: left; width: 280px; margin: 0 20px 0 0; padding: 20px 30px;}
.company .company_stn .cases_box p {color: #35384d; font-size: 15px; line-height: 45px; text-align: left;}
.company .company_stn .cases_box p .fa-circle {margin: 0 5px 0 0; font-size: 15px;}
.company .company_stn .cases_box p em {display: flex; float: right;}
.company .company_stn .cases_box p em span {display: inline-block; position: relative; min-width: 75px; height: 45px; margin: 0 5px 0 0; padding: 0 30px; border-radius: 23px; box-sizing: border-box; background: #f7f8fc; font-size: 25px; font-weight: 500; text-align: center;}
.company .work_space .sort_group .select_box {margin: 0 0 0 15px;}
.work_status .company_stn .cases_box > div {width: 350px;}

/* admin qna */
.qna h3 {margin:0 0 30px;}
.qna h3 ~ .btn_box {display:block; margin:30px 0 0; text-align:left;}
.qna h3 ~ .btn_box a {width:auto; padding:13px 30px; font-size:17px; font-weight:500;}
.qna h3 ~ .btn_box a em {margin:0 10px 0 0;}
.qna .work_space .sort_group {overflow:hidden; float:none; margin:0;}
.qna .work_space .sort_group .select_box {width:auto; height:auto; margin:0;}
.qna .select_box:after {content:none;}
.qna .select_box select {display:inline-block; position:relative; width:150px; height:40px; margin:0 8px 0 0; background:#fff url('../images/ico_arrow_down03.png') right 10px top 50% no-repeat !important; color:#697992; font-size:12px;}
.qna .sort_group .srch_box {float:right; width:250px; margin:0 50px 0 0;}
.qna .sort_group .srch_box input::placeholder {color:#697992; font-size:12px;}
.qna .sort_group .srch_box button {right:-50px; width:50px;}
.qna .common_tbl {margin:20px 0;}
.qna .common_tbl tbody td .wait {color:#f5508b; font-weight:500;}
.qna .common_tbl tbody td .ongoing {color:#506df5; font-weight:500;}
.qna .common_tbl tbody td .cplt {font-weight:500;}

.qna .qstn_write_wrap {width:800px;}
.qna .qstn_write_wrap > div {display:block; margin:0 0 8px; text-align:left;}
.qna .qstn_write_wrap .ipt_box input {height:40px; background:#fff;}
.qna .qstn_write_wrap .detail_box {overflow:hidden; width:100%; height:340px; border:1px solid #cfd5eb; border-radius:5px; box-sizing:border-box;}
.qna .qstn_write_wrap .detail_box textarea {display:block; width:100%; height:calc(100% - 40px); padding:15px; box-sizing:border-box; font-size:14px;}
.qna .qstn_write_wrap .detail_box .attach_file {height:40px; padding:0 20px; border-top:1px solid #cfd5eb; box-sizing:border-box; background:#fafbfe;}
.qna .qstn_write_wrap .detail_box .attach_file * {display:inline-block; font-size:14px; line-height:38px;}
.qna .qstn_write_wrap .detail_box .attach_file dt {width:70px; font-weight:500;}
.qna .qstn_write_wrap .detail_box .attach_file li {margin:0 18px;}
.qna .qstn_write_wrap .detail_box .attach_file li input {position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; border:0;}
.qna .qstn_write_wrap .detail_box .attach_file li label {cursor:pointer;}
.qna .qstn_write_wrap .detail_box .attach_file li label em {margin:0 5px 0 0;}
.qna .qstn_write_wrap .enroll_box * {display:inline-block;}
.qna .qstn_write_wrap .enroll_box dt {color:#2c3f51; font-size:14px;}
.qna .qstn_write_wrap .enroll_box dd .ipt_box {width:130px; margin:0 4px 0 10px;}
.qna .qstn_write_wrap .enroll_box dd small {color:#2c3f51; font-size:12px;}
.qna .qstn_write_wrap .enroll_box .btn_write_save {float:right; padding:0 30px; border-radius:2px; background:#506df5; color:#fff; line-height:40px;}

/* admin qna */
.qna .textarea {display:block; position:relative; width:100%; height:calc(100% - 40px); padding:20px; box-sizing:border-box; background:#fff; color:#2c3f51; font-size:14px; line-height:20px; text-align:left; white-space:pre-line;}
.qna .textarea p {white-space:pre-line;}
.qna .textarea:empty:before {content:attr(placeholder); display:block; color:#2c3f51; cursor:text; opacity:0.6;}
.qna .textarea:focus {outline:none;}
.qna .textarea.readonly .fileBox button {display:none;}

.qna .fileArea {position:relative; top:0; left:0; width:100%; text-align:left;}
.qna .fileArea.readonly .fileBox button {display:none;}
.qna .fileBox {display:inline-block; position:relative; width:80px; height:80px; margin:0 17px 10px 0; border:1px solid #cfd5eb; border-radius:3px; box-sizing:border-box;}
.qna .fileBox button {display:inline-block; position:absolute; top:-8px; right:-8px; width:20px; height:20px; border:1px solid #cfd5eb; border-radius:50%; box-sizing:border-box; background:#fff; color:#808aab; font-size:11px; line-height:18px; transition:all 0.2s ease-out; z-index:5;}
.qna .fileBox button:hover {color:#506df5;}
.qna .fileBox a {display:inline-block; width:100%; height:100%;}
.qna .fileBox img {width:100%; height:100%; border-radius:2px; object-fit:cover;}

.qna .attach_file {height:40px; padding:0 20px; border-top:1px solid #cfd5eb; box-sizing:border-box; background:#fafbfe; text-align:left;}
.qna .attach_file * {display:inline-block; font-size:14px; line-height:38px;}
.qna .attach_file dt {width:70px; font-weight:500;}
.qna .attach_file li {margin:0 18px;}
.qna .attach_file li input {position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; border:0;}
.qna .attach_file li label {cursor:pointer; transition:all 0.3s ease-out;}
.qna .attach_file li label:hover {color:#506df5;}
.qna .attach_file li label em {margin:0 5px 0 0;}

.qna h3 {margin:0 0 30px;}
.qna h3 ~ .btn_box {display:block; margin:30px 0 0; text-align:left;}
.qna h3 ~ .btn_box a {width:auto; padding:13px 30px; font-size:17px; font-weight:500;}
.qna h3 ~ .btn_box a em {margin:0 10px 0 0;}
.qna .sort_group {overflow:hidden; float:none; margin:0;}
.qna .sort_group .select_box {width:auto; height:auto; margin:0;}
.qna .select_box:after {content:none;}
.qna .select_box select {display:inline-block; position:relative; width:150px; height:40px; margin:0 8px 0 0; background:#fff url('../images/ico_arrow_down03.png') right 10px top 50% no-repeat !important; color:#697992; font-size:12px;}
.qna .sort_group .srch_box {float:right; width:250px; margin:0 50px 0 0;}
.qna .sort_group .srch_box input::placeholder {color:#697992; font-size:12px;}
.qna .sort_group .srch_box button {right:-50px; width:50px;}
.qna .common_tbl {margin:20px 0;}
.qna .common_tbl tbody td .wait {color:#f5508b; font-weight:500;}
.qna .common_tbl tbody td .ongoing {color:#506df5; font-weight:500;}
.qna .common_tbl tbody td .cplt {font-weight:500;}

.qna .viewArea {overflow:hidden; width:100%; border:1px solid #cfd5eb; border-radius:5px; background:#fff;}
.qna .viewArea .view_hd {width:100%; line-height:40px; text-align:left;}
.qna .viewArea .view_hd .txt_info {overflow:hidden; height:40px; padding:0 38px; background:#808aab; color:#fff;}
.qna .viewArea .view_hd .txt_info li {display:inline-block; font-size:14px;}
.qna .viewArea .view_hd .txt_info li:nth-child(3) {float:right;}
.qna .viewArea .view_hd .txt_info li:nth-child(4) {float:right;}
.qna .viewArea .view_hd .txt_info li dl {display:inline-block; vertical-align:top;}
.qna .viewArea .view_hd .txt_info li dt {display:inline-block; margin:0 20px 0 40px; font-weight:500;}
.qna .viewArea .view_hd .txt_info li dd {display:inline-block;}
.qna .viewArea .view_hd .txt_info li:nth-child(1) dt {width:70px; margin:0 20px 0 0;}
/* .qna .viewArea .view_hd .txt_info li:nth-child(1) dd {overflow:hidden; width:180px; text-overflow:ellipsis; white-space:nowrap;} */
.qna .viewArea .view_hd .txt_info li:nth-child(2) dd {width:90px;}
.qna .viewArea .view_hd .txt_info li:nth-child(3) dd {width:40px;}
.qna .viewArea .view_hd .txt_info li:nth-child(4) dd {width:80px;}
.qna .viewArea .view_hd .txt_tit {height:40px; padding:0 38px;}
.qna .viewArea .view_hd .txt_tit * {display:inline-block; color:#2c3f51; font-size:14px;}
.qna .viewArea .view_hd .txt_tit dt {width:70px; margin:0 20px 0 0;}
.qna .viewArea .view_hd .txt_tit dd {width:calc(100% - 100px); box-sizing:border-box;}

.qna .viewArea .view_bd {border-top:1px solid #cfd5eb; border-bottom:1px solid #cfd5eb;}
.qna .viewArea .view_bd .orgn_txt_box {overflow:auto; height:auto; min-height:60px; max-height:280px; padding:20px 38px; box-sizing:border-box; background:#fafbfe;}
.qna .viewArea .view_bd .orgn_txt_box .textarea {height:calc(100% - 90px); padding:0; background:#fafbfe;}
.qna .viewArea .view_bd .aswr_txt_box {display:none; padding:20px 38px; border-top:1px solid #cfd5eb;}
.qna .viewArea .view_bd .aswr_txt_box li + li {margin:20px 0 0;}
.qna .viewArea .view_bd .aswr_txt_box li dl {overflow:hidden;}
.qna .viewArea .view_bd .aswr_txt_box li dt {float:left;}
.qna .viewArea .view_bd .aswr_txt_box li dt span {display:block; text-align:left;}
.qna .viewArea .view_bd .aswr_txt_box li dt span.writer {margin:0 0 5px; color:#2c3f51; font-size:14px; font-weight:500;}
.qna .viewArea .view_bd .aswr_txt_box li dt span.date {color:#2c3f51; font-size:12px; opacity:0.7;}
.qna .viewArea .view_bd .aswr_txt_box li dd {float:left; position:relative; width:calc(100% - 62px);}
.qna .viewArea .view_bd .aswr_txt_box li dd .aswr_box {overflow:auto; width:calc(100% - 82px); min-height:50px; margin:0 28px; padding:15px 20px; border:1px solid #cfd5eb; border-radius:3px; box-sizing:border-box; color:#2c3f51; font-size:14px; line-height:20px; text-align:left;}
.qna .viewArea .view_bd .aswr_txt_box li dd .aswr_box p {white-space:pre-line;}
.qna .viewArea .view_bd .aswr_txt_box li dd .btn_aswr_dlt {position:absolute; right: 0; bottom:0; color:#808aab; font-size:14px; transition:all 0.3s ease-out;}
.qna .viewArea .view_bd .aswr_txt_box li dd .btn_aswr_dlt em {margin:0 4px 0 0;}
.qna .viewArea .view_bd .aswr_txt_box li dd .btn_aswr_dlt:hover {color:#f5508b;}
.qna .viewArea .view_bd .adtn_txt_box {overflow:auto; max-height:300px; padding:20px 38px; border-top:1px solid #cfd5eb; box-sizing:border-box;}
.qna .viewArea .view_bd .adtn_txt_box dt {margin:0 0 10px; color:#506df5; font-size:14px; font-weight:500; text-align:left;}
.qna .viewArea .view_bd .adtn_txt_box dd .textarea {min-height:110px; padding:0;}
.qna .viewArea .view_bd .adtn_txt_box .textarea:empty:before {content:attr(placeholder); display:block; color:#2c3f51; cursor:text; opacity:0.6;}

.qna .viewArea .view_ft {overflow:hidden; padding:10px 38px;}
.qna .viewArea .view_ft button {width:auto; padding:0 30px; line-height:40px;}
.qna .viewArea .view_ft button.btn_rgst_aswr {background:#506df5;}
.qna .viewArea .view_ft .btn_box.fr * {float:left;}
.qna .viewArea .view_ft .btn_box.fr span {margin:0 10px 0 0; color:#2c3f51; font-size:14px; line-height:40px}
.qna .viewArea .view_ft .btn_box.fr button {background:#fff; line-height:38px; transition:all 0.3s ease-out;}
.qna .viewArea .view_ft .btn_box.fr button:nth-child(2) {border:1px solid #506df5; border-right:none; border-radius:2px 0 0 2px; color:#506df5;}
.qna .viewArea .view_ft .btn_box.fr button:nth-child(2).on,
.qna .viewArea .view_ft .btn_box.fr button:nth-child(2):hover {background:#506df5; color:#fff;}
.qna .viewArea .view_ft .btn_box.fr button:nth-child(3) {border:1px solid #2c3f51; border-left:none; border-radius:0 2px 2px 0; color:#2c3f51;}
.qna .viewArea .view_ft .btn_box.fr button:nth-child(3).on,
.qna .viewArea .view_ft .btn_box.fr button:nth-child(3):hover {background:#2c3f51; color:#fff;}

.qna .viewArea ~ .btn_box {margin:20px 0 0; text-align:center;}
.qna .viewArea ~ .btn_box a {padding:0 30px; color:#506df5; background:#fff; font-size:14px; line-height:38px;}

#pop_detail_view .popWrap {overflow:visible; width:800px; height:540px; padding:10px;}
#pop_detail_view .popWrap .pop_hd em {margin:0;}
#pop_detail_view .popWrap .pop_hd .detail_tit {display:inline-block; margin:10px 0; color:#2c3f51; font-size:14px; font-weight:500;}
#pop_detail_view .popWrap .pop_bd {height:410px; padding:0; border:1px solid #808aab; border-radius:0;}
#pop_detail_view .popWrap .pop_bd img {width:100%; height:100%; object-fit:contain;}
#pop_detail_view .popWrap .btn {margin:10px 0 0;}
#pop_detail_view .popWrap .btn button {border-radius:2px;}
#pop_detail_view .popWrap .btn button em {margin:0 5px 0 0;}
