#maum_data #m_header {}
#maum_data #m_header .aside_bg {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.1; z-index: 5;}
#maum_data #m_header .aside {display: none; position: fixed; top: 0; right: 0; width: 100%; height: 100%; background: #f7f8fc; z-index: 10;}
#maum_data #m_header .aside .aside_h {height: 60px; border-bottom: 1px solid #cfd5eb; box-sizing: border-box; background: #fff;}
#maum_data #m_header .aside .aside_h a {display: inline-block; width: 116px; margin: 21px 0 0 20px;}
#maum_data #m_header .aside .aside_h a img {width: 100%;}
#maum_data #m_header .login_area {position: static; width: 100%; height: auto; padding: 0 30px; box-shadow: none; box-sizing: border-box; background: none; transform: none;}
#maum_data #m_header .login_area .sign_in > div {width: 100%;}
#maum_data #m_header .login_area .top_sign .ipt_box {width: 100%;}
#maum_data #m_header .login_area .btn_box {width: 100%;}
#maum_data #m_header .login_area .sign_out {padding: 20px 0 0;}
#maum_data #m_header .login_area .sign_out .top_sign {width: 100%;}
#maum_data #m_header .login_area .sign_out > div {width: 100%;}
#maum_data #m_header .login_area .sign_out .my_account > span {margin: 3px 18px 0 0;}
#maum_data #m_header .login_area .sign_out .my_account .user_account p {display: block; line-height: 22px;}
#maum_data #m_header .login_area .sign_out .my_account .user_account p span {width: 180px; margin: 0;}
#maum_data #m_header .login_area .sign_out .top_sign .btn_box {margin: 17px 0 26px;}
#maum_data #m_header .login_area .sign_out .m_nav {padding: 0 14px 50px; border-bottom: 1px dotted #cfd5eb; text-align: left;}
#maum_data #m_header .login_area .sign_out .m_nav li {line-height: 52px;}
#maum_data #m_header .login_area .sign_out .m_nav li a {display: block; color: #00263e; font-weight: 500;}
#maum_data #m_header .login_area .sign_out .m_nav > li  > a {font-size: 16px;}
#maum_data #m_header .login_area .sign_out .m_nav > li > a > span {margin: 0 27px 0 0; color: #506df5;}
#maum_data #m_header .login_area .sign_out .m_nav > li > a > em {display: none; float: right; color: #506df5; font-size: 12px; line-height: 52px;}
#maum_data #m_header .login_area .sign_out .m_nav > li > a > em.active {display: block;}
#maum_data #m_header .login_area .sign_out .m_nav .m_sub {display: none; border: 1px solid #cfd5eb; background: #fff;}
#maum_data #m_header .login_area .sign_out .m_nav .m_sub li a {padding: 0 0 0 47px; box-sizing: border-box; font-size: 14px;}
#maum_data #m_header .login_area .sign_out .m_nav .m_sub li a span {margin: 0 8px 0 0;}

#maum_data #m_header .btn_ham {display: none; position: absolute; top: 10px; right: 15px; width: 40px; height: 40px; z-index: 10; transition: all 0.3s ease-out;}
#maum_data #m_header .btn_ham span {display: block; position: absolute; left: 5px; width: 30px; height: 3px; border-radius: 3px; background: #2c3f51; z-index: 5;}
#maum_data #m_header .btn_ham span:nth-child(1) {top: 7px; -webkit-animation : menu_bar1 0.75s forwards; animation : menu_bar1 0.75s forwards;}
#maum_data #m_header .btn_ham span:nth-child(2) {top: 18px; transition : all .25s .25s; opacity : 1;}
#maum_data #m_header .btn_ham span:nth-child(3) {bottom: 8px; -webkit-animation : menu_bar2 0.75s forwards; animation : menu_bar2 0.75s forwards;}
#maum_data #m_header .btn_ham.active {position: fixed;}
/* #maum_data #m_header .btn_ham.active span {background: #cfd5eb;} */
#maum_data #m_header .btn_ham.active span:nth-child(1) {top: 4px; -webkit-animation : active_menu_bar1 0.75s forwards; animation : active_menu_bar1 0.75s forwards;}
#maum_data #m_header .btn_ham.active span:nth-child(2) {opacity : 0;}
#maum_data #m_header .btn_ham.active span:nth-child(3) {bottom: 10px; -webkit-animation : active_menu_bar2 0.75s forwards; animation : active_menu_bar2 0.75s forwards;}


@-webkit-keyframes menu_bar1 {
	0% {-webkit-transform : translateY(15px) rotate(45deg);}
	50% {-webkit-transform : translateY(15px) rotate(0);}
	100% {-webkit-transform : translateY(0) rotate(0);}
}
@keyframes menu_bar1 {
	0% {transform : translateY(15px) rotate(45deg);}
	50% {transform : translateY(15px) rotate(0);}
	100% {transform : translateY(0) rotate(0);}
}
@-webkit-keyframes menu_bar2 {
	0% {-webkit-transform : translateY(-8px) rotate(-45deg);}
	50% {-webkit-transform : translateY(-8px) rotate(0);}
	100% {-webkit-transform : translateY(0) rotate(0);}
}
@keyframes menu_bar2 {
	0% {transform : translateY(-8px) rotate(-45deg);}
	50% {transform : translateY(-8px) rotate(0);}
	100% {transform : translateY(0) rotate(0);}
}

@-webkit-keyframes active_menu_bar1 {
	0% {-webkit-transform : translateY(0) rotate(0);}
	50% {-webkit-transform : translateY(15px) rotate(0);}
	100% {-webkit-transform : translateY(15px) rotate(45deg);}
}
@keyframes active_menu_bar1 {
	0% {transform : translateY(0) rotate(0);}
	50% {transform : translateY(15px) rotate(0);}
	100% {transform : translateY(15px) rotate(45deg);}
}
@-webkit-keyframes active_menu_bar2 {
	0% {-webkit-transform : translateY(0) rotate(0);}
	50% {-webkit-transform : translateY(-8px) rotate(0);}
	100% {-webkit-transform : translateY(-8px) rotate(-45deg);}
}
@keyframes active_menu_bar2 {
	0% {transform : translateY(0) rotate(0);}
	50% {transform : translateY(-8px) rotate(0);}
	100% {transform : translateY(-8px) rotate(-45deg);}
} 

/* -------------------- media query -------------------- */
@media all and (max-width:768px){
    #maum_data.index #wrap {min-width: 320px;}

    /* ---------- header ---------- */
    #maum_data.index #header {height: 60px;}
    #maum_data.index .header_box {width: 100%; padding: 0 20px; box-sizing: border-box;}
    #maum_data.index #header h1 {width: 116px; margin: 21px 0 0;}
    #maum_data.index #header .sta {display: none;}
    /* #maum_data.index #m_header {display: block;} */
    #maum_data #m_header .btn_ham {display: inline-block;}

    /* ---------- contents ---------- */
    .index #contents {padding: 14px 0 40px;}
    .index .cont_box {width: 100%; padding: 0 30px; box-sizing: border-box; text-align: center;}

    /* stn_training */
    .stn_training {height: auto;}
    .stn_training .cont_box > div {display: inline-block; float: none !important; position: static; transform: none;}
    .index .cont_box .img {width: calc(100% - 40px); margin: 0 0 14px;}
    .stn_training .txt {width: 100%;}
    .stn_training .txt img {display: none;}
    .stn_training .txt p {margin: 0; font-weight: 500;}
    .stn_training .txt em:nth-child(1) {display: none;}
    .stn_training .txt em:nth-child(4) {display: none;}
    .stn_training .txt .btn_box {width: 100%; margin: 20px 0 0;}

    /* stn_user */
    .stn_user {display: none;}

    /* stn_info */
    .stn_info {height: auto;}
    .stn_info .cont_box > div {float: none !important;}
    .index #contents .cont_box h3 {position: static; margin: 33px 0 0;}
    .index .cont_box .service_area > div {padding: 30px 0 0;}
    .stn_info .service_area .use_process {width: 100%;}
    .stn_info .service_area .use_process li {width: calc(50% - 6px); height: 82px; margin: 0 0 26px;}
    .stn_info .service_area .use_process li:nth-child(odd) {margin: 0 12px 0 0;}
    .stn_info .service_area .use_process li > div {width: 40px; height: 30px;}
    .stn_info .service_area .use_process li:not(:nth-child(4)) > div {width: 40px; height: 30px;}
    .stn_info .service_area .use_process li span {font-size: 13px; line-height: 1.1;}
    .stn_info .service_area .use_process li:not(:nth-child(4)) span {margin: 5px 0 0;}
    .stn_info .lank_area h3 {margin: 9px 0 0 !important;}
    .index .cont_box .lank_area > div {padding: 49px 0 0;}
    .stn_info .lank_area .tab_box {width: 100%;}
    .stn_info .lank_area .tab_box .tab_btn {top: -32px;}
    .stn_info .lank_area .tab_box .tab_btn li {height: 32px; line-height: 32px;}
    .stn_info .lank_area .tab_box .tab_btn li.active {height: 33px;}
    .stn_info .lank_area .tab_box .tab_cont li {font-size: 13px; text-align: left;}
    .stn_info .lank_area .tab_box .tab_cont .payment:before {left: -18px; width: 14px; height: 14px; margin: -7px 0 0;}

    /* ---------- footer ---------- */
    #footer {display: none;}
    #footer.mobile {display: block;}
}

@media all and (max-width:480px){
    /* stn_training */
    .stn_training .txt p {font-size: 20px;}
    .stn_training .txt em {font-size: 13px;}

    /* stn_info */
    .stn_info .service_area .use_process li span {font-size: 12px;}
    .stn_info .service_area .use_process li:not(:nth-child(4)) span {margin: 6px 0 0;}

    /* footer */
    #footer.mobile .cont_box .contact a {display: block; line-height: 22px;}
}

@media all and (max-width:342px){
    /* footer */
    #footer.mobile .cont_box .service .ai_service > div a:nth-child(even) {margin: 0;}
}
