@charset "utf-8";
/* MINDsLab. CSJ. 20210402 */

.pc{display:block;}
.mo{display:none;}

/* ==================== container ==================== */
#container{position:relative; display:block; width:100%; height:auto;}

/* container(contents) */
#contents{display:block; width:100%; height:auto;}

/* contents(content) */
.content{display:block; width:100%; height:auto;}

/* stn common*/
.stn{position:relative; width:100%;}
.stn .cont{position:relative; max-width:1200px; height:100%; margin:0 auto; padding:76px 0 80px; box-sizing:border-box;}
.cont_tit{font-size:36px; font-weight:500; line-height:1; letter-spacing:-0.5px; text-align:center;}
.cont_tit_desc{margin:20px 0 36px 0; font-size:19px; letter-spacing:-0.5px; text-align:center;}
.btn_go{display:table; height:60px; margin:40px auto 0; padding:0 40px; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; background:#6663e5; color:#fff; font-size:18px; line-height:58px; letter-spacing:-0.5px;}
.btn_go:hover, .btn_go:active, .btn_go:focus{color:#fff;}


/* stn_visual */
.stn_visual{height:550px; background:url('../images/bg_visual_pc.jpg'); background-position:center top; overflow:hidden;}
.stn_visual .cont{padding:0;}
.stn_visual .cont_txt{display:flex; justify-content:center; align-items:baseline; flex-direction:column; position:absolute; top:0; height:100%; z-index:1;}
.stn_visual .visual_tit{color:#fff; font-size:35px; font-weight:700; line-height:43px; letter-spacing:-0.54px;}
.stn_visual .visual_txt{margin-top:18px; color:#fff;font-size:20px; line-height:1; letter-spacing:-0.31px;}
.stn_visual .btn_go_white{ display:table; width:auto; height:60px; margin-top:24px; padding:0 40px; border:1px solid #fff; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; color:#fff; font-size:18px; line-height:58px; letter-spacing:-0.5px; box-sizing:border-box; transition:all 0.3s; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -ms-transition:all 0.3s; -o-transition:all 0.3s;}
.stn_visual .btn_go_white:hover{border-color:rgba(255,255,255,0.9); background:rgba(255,255,255,0.9); color:#4847a6;}
.road_wrap{position:absolute; top:0; right:-140px; width:900px; height:100%;}
.road_wrap .road_inner{position:relative; width:100%; height:100%;}
.road_wrap .car{position:absolute; height:auto;}
.road_wrap .car_btm{width:164px; bottom:0; right:579px; animation:topRight 3s ease-in-out infinite; -webkit-animation:topRight 3s ease-in-out infinite;}
.road_wrap .car_top{ width:94px; top:16px; right:0; animation:bottomLeft 3s 1s ease-in-out infinite; -webkit-animation:bottomLeft 3s 1s ease-in-out infinite; animation-fill-mode:both;}
.road_wrap .car_top02{width:97px; top:16px; right:0; animation:bottomLeft 3s 2.5s ease-in-out infinite; -webkit-animation:bottomLeft 3s 2.5s ease-in-out infinite; animation-fill-mode:both; }
.road_wrap .car_top03{ width:97px; top:512px; right:0; animation:topLeft 3s ease-in-out infinite; -webkit-animation:topLeft 3s ease-in-out infinite; }
@keyframes topRight {
    0% {
        opacity:0;
        bottom:0;
        right:579px;
    }
    30%{
        opacity:0;
    }
    70% {
        opacity:1;
    }
    85% {
        opacity:0;
    }
    100% {
        opacity:0;
        bottom:75%;
        right:-132px;
    }
}
@keyframes bottomLeft {
    0% {
        opacity:0;
        top:16px;
        right:0;
    }
    40% {
        opacity:1;
    }
    70% {
        opacity:1;
    }
    100% {
        opacity:0;
        top:90%;
        right:825px;
    }
}
@keyframes topLeft {
    0% {
        opacity:0;
        top:512px;
        right:0;
    }
    30%{
        opacity:1;
    }

    35%{
        opacity:1;
    }
    45%{
        opacity:0;
    }

    68%{
        opacity:0;
    }
    78%{
        opacity:1;
    }

    100% {
        opacity:0;
        top:142px;
        right:70%;
    }
}

/* stn_sequence */
.stn_sequence .cont_tit_desc{margin-bottom:19px;}
.sequence_wrap{position:relative; width:1020px; margin:0 auto;}
.sequence_wrap .sequence_slider{position:relative;}
.sequence_wrap .sequence_slider::after{clear:both; content:''; display:block;}
.sequence_wrap .sq_list{float:left; width:33.33%; text-align:center; outline:0;}
.sequence_wrap .sq_list .sq_area{position:relative;}
.sequence_wrap .sq_list img{display:block; height:153px; margin:0 auto 66px;}
.sequence_wrap .sq_list .tit{color:#6b67e9; font-size:24px; font-weight:500; letter-spacing:-0.87px;}
.sequence_wrap .sq_list .desc{margin-top:12px; color:#232d48; font-size:16px; line-height:24px; letter-spacing:-0.5px;} 
.sequence_wrap .sq_list .sq_step{display:flex; justify-content:space-between; align-items:center; position:absolute; top:177px; left:0; width:100%;}
.sequence_wrap .sq_list .sq_step .dot{display:inline-block; position:relative; width:18px; height:18px; margin:0 auto; border:1px solid #b6c5d1; border-radius:50%; box-sizing:border-box; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; background:#fff;}
.sequence_wrap .sq_list .sq_step .dot::before{content:''; display:inline-block; position:absolute; top:50%; left:50%; width:8px; height:8px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; background:#6b67e9; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); vertical-align:middle;}
.sequence_wrap .sq_list .sq_step .line{position:absolute; width:48%; height:1px; border-top:1px dashed #b6c5d1; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); z-index:-1;} 
.sequence_wrap .sq_list .sq_step .line.fl{left:50%; transform:translate(-100%, -50%); -webkit-transform:translate(-100%, -50%); -moz-transform:translate(-100%, -50%); -ms-transform:translate(-100%, -50%); -o-transform:translate(-100%, -50%);}
.sequence_wrap .sq_list .sq_step .line.fr{right:50%; transform:translate(100%, -50%); -webkit-transform:translate(100%, -50%); -moz-transform:translate(100%, -50%); -ms-transform:translate(100%, -50%); -o-transform:translate(100%, -50%);}
.sequence_wrap .sq_arrow .sq_step::after{content:''; display:block; position:absolute; right:-10px; top:50%; width:20px; height:10px; background:#fff; background-image:url('../images/ico_arrow_right.svg'); background-position:center; background-repeat:no-repeat; background-size:10px auto; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%);}

/* stn_service */
.stn_service{background:#f5f6fa;}
.service_wrap{width:100%; height:auto; border:1px solid #b6c5d1; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; background:#fff; box-sizing:border-box;}
.service_wrap .btn_wrap{width:560px; height:48px; margin:24px auto 0;border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; background-color:#f5f6fa; box-shadow:1px 2px 4px 0 rgba(15, 15, 37, 0.1);}
.service_wrap .btn_wrap .btn_service{display:flex; align-items:center; justify-content:center; float:left; width:25%; height:100%; border-top:1px solid #b6c5d1; border-bottom:1px solid #b6c5d1; color:#4d5d85; font-size:16px; font-weight:500; letter-spacing:-0.5px; cursor:pointer;}
.service_wrap .btn_wrap .btn_service:hover, .service_wrap .btn_wrap .btn_service.on{ border-color:#6b67e9; background:#6b67e9; color:#fff; transition:all 0.5s; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; }
.service_wrap .btn_wrap .btn_service:first-child{border-top-left-radius:3px; border-bottom-left-radius:3px; border-left:1px solid #b6c5d1;}
.service_wrap .btn_wrap .btn_service:last-child{border-top-right-radius:0; border-bottom-right-radius:3px; border-right:1px solid #b6c5d1;}
.service_wrap .service_kind{position:relative; width:942px; height:470px; margin:20px auto; background:url('../images/bg_service_pc.jpg'); background-position:center; background-repeat:no-repeat; background-size:100%;}
.service_wrap .service_kind .kind_list{position:absolute;}
.service_wrap .service_kind .kind_list .ico_gps{display:block; height:48px; cursor:pointer;}
.service_wrap .service_kind .kind_list .kind_area{position:relative; cursor:pointer;}
.service_wrap .service_kind .kind_recog{top:62px; right:56px;}
.service_wrap .service_kind .kind_faint{top:-9px; left:251px;}
.service_wrap .service_kind .kind_faint .ico_gps{width:auto; height:50px;}
.service_wrap .service_kind .kind_invasion{top:104px; left:66px;}
.service_wrap .service_kind .kind_wander{top:178px; left:274px;}
.service_wrap .service_kind .kind_wander .ico_gps{height:38px;}

.service_wrap .service_kind .kind_desc{position:absolute; display:none;}
.service_wrap .service_kind .kind_img{position:relative; font-size:0; text-align:center;}
.service_wrap .service_kind .kind_img p{position:absolute; top:14px; left:50%; width:auto; font-size:16px; font-weight:500; text-align:center; letter-spacing:-0.53px; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%);}
.service_wrap .service_kind .kind_img img{display:inline-block; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);}
.service_wrap .service_kind .kind_txt{display:block; position:static; width:384px; padding:6px 16px 7px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;background:rgba(252,215,62,0.9); font-size:16px; line-height:20px; letter-spacing:-0.53px; text-align:center; box-sizing: border-box;}
.service_wrap .service_kind .kind_list.on .kind_desc{ z-index:1; display:block; animation:serviceOn 0.5s ease-out; -webkit-animation:serviceOn 0.5s ease-out; }
.service_wrap .service_kind .kind_recog .kind_desc{top:46px; left:-250px;}
.service_wrap .service_kind .kind_recog .kind_txt{width:462px;}
.service_wrap .service_kind .kind_faint .kind_desc{top:22px; left:-86px;} 
.service_wrap .service_kind .kind_invasion .kind_desc{top:46px; left:-124px;} 
.service_wrap .service_kind .kind_wander .kind_desc{top:14px; left:-102px;} 
@keyframes serviceOn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/* stn_experience */
.stn_experience{height:697px; background:url('../images/bg_experience.jpg'); background-position:center top; background-size:auto 100%;}
.stn_experience .cont_tit{color:#fff;}
.stn_experience .cont_tit_desc{color:rgba(255,255,255,0.8);}
.stn_experience .btn_lyr_video{display:table; position:relative; width:auto; margin:0 auto; cursor:pointer;}
.stn_experience .btn_lyr_video .img_experience{display:block; width:100%; margin:0 auto;}
.stn_experience .btn_lyr_video .ico_playBtn{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%);}

/* stn_estimate */
.stn_estimate .estimate_wrap{position:relative; width:1060px; margin:36px auto 0;}
.stn_estimate .estimate_wrap::after{clear:both; content:''; display:block;}
.stn_estimate .estimate_wrap .swiper-wrapper{height:auto;}
.stn_estimate .estimate_wrap .est_list{float:left;  outline:none;}
.stn_estimate .estimate_wrap .est_list .est_area{position:relative; width:260px; height:320px;padding:40px 10px 0; border:solid 1px #d3dbe8; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; text-align:center; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1); box-sizing:border-box;}
.stn_estimate .estimate_wrap .est_list.est_arrow{position:relative; padding-right:140px;}
.stn_estimate .estimate_wrap .est_list.est_arrow::after{content:''; display:block; position:absolute; right:60px; top:50%; width:26px; height:24px; background:url('../images/ico_arrow_right.svg'); background-repeat:no-repeat; background-size:100% auto; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%);}
.stn_estimate .estimate_wrap .est_img{display:block; width:100%; height:128px;}
.stn_estimate .estimate_wrap .est_img img{display:block; height:80px; margin:0 auto;}
.stn_estimate .estimate_wrap .tit{color:#666cff; font-size:24px; font-weight:500; line-height:1; letter-spacing:-0.87px;}
.stn_estimate .estimate_wrap .desc{margin-top:16px; font-size:16px; line-height:24px; letter-spacing:-0.5px;}

/* stn_skill */
.stn_skills{background:#f5f6fa;}
.stn_skills .skills_list_wrap{width:840px; margin:0 auto;}
.stn_skills .skills_list_wrap li{display:flex; align-items:center; width:100%; height:60px; margin-top:16px; padding:0 24px; border:solid 1px #d4d7e2; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; background:#fff; box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.1); box-sizing:border-box;}
.stn_skills .skills_list_wrap li:first-child{margin-top:0;}
.stn_skills .skills_list_wrap li img{margin-right:24px;}
.stn_skills .skills_list_wrap li span{display:block; width:calc(100% - 69px); font-size:20px; letter-spacing:-0.53px;}

/* stn_topBanner */
.stn_topBanner{display:flex; flex-direction:column; align-items:center; justify-content:center; width:100%; height:550px; background:url('../images/bg_section_topBanner.jpg'); background-position:center top; background-repeat:no-repeat; color:#fff;}
.stn_topBanner .topBanner_title{font-size:45px; font-weight:700; line-height:43px; letter-spacing:-0.69px;}
.stn_topBanner .topBanner_desc{margin-top:25px; font-size:20px; line-height:1; letter-spacing:-0.31px; text-align:center;}

/* stn_cont */
.stn_cont{width:1200px; margin:0 auto; padding:77px 0 80px; box-sizing:border-box;}

/* stn.faq */
.stn.faq .topBanner_title{padding-top:80px;}
.stn.faq .search_area{display:flex; align-items:center; justify-content:space-between; width:800px; height:60px; margin-top:40px; padding:0 2px 0 40px; border-radius:3px; background:#fff; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2); -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; box-sizing:border-box;}
.stn.faq .search_area input{width:calc(100% - 60px); border:0; font-size:17px;}
.stn.faq .search_area input::placeholder{font-size:17px; letter-spacing:-0.43px;}
.stn.faq .search_area .btn_search{width:60px; height:100%; cursor:pointer;}
.stn.faq .search_area .btn_search i{color:#6b67e9; font-size:25px;}

.accordion{width:100%;}
.accordion .accordion_area{width:100%;}
.accordion .accordion_list{margin-top:24px; padding-left:20px; border:1px solid #d4d7e2; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;  background-color: #ffffff;box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.1);}
.accordion .accordion_list:first-child{margin-top:0;}
.accordion .accordion_list .accordion_head{display:flex; align-items:center; justify-content:space-between; position:relative; width:100%; height:1px; min-height:60px; padding:4px 0 5px; cursor:pointer; box-sizing:border-box;}
.accordion .accordion_list .accordion_head::before {content:''; display:block; position:absolute; top:8px; width:31px; height:44px; padding-right:22px; background:url('../images/ico_stn_faq.svg'); background-size:auto 44px; background-repeat:no-repeat;}
.accordion .accordion_list .accordion_head span{display:flex; align-items:center; width:calc(100% - 60px); padding:3px 0 4px 53px; color:#232d48; font-size:20px; letter-spacing:-0.53px; box-sizing:border-box;}
.accordion .accordion_list .accordion_head span .result{font-weight:400; background:rgba(255,250,0,0.4);}
.accordion .accordion_list .accordion_head i{display:flex; align-items:center; justify-content:center; width:60px;}
.accordion .accordion_list .accordion_head i::before{font-size:20px; color:#232d48; letter-spacing:-0.53px; transition:all 0.5s; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; }
.accordion .accordion_list .accordion_con{color:#232d48; font-size:15px;line-height:24px; letter-spacing:-0.39px;}
.accordion .accordion_list .accordion_con .result{font-weight:400; background:rgba(255,250,0,0.4);}
.accordion .accordion_list.open .accordion_head i::before{ transform:rotate(180deg); -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg);}
.accordion .accordion_list.close .accordion_con{display:block; height:0px; transition:height 1s ease-out; -webkit-transform:scaleY(0); -o-transform:scaleY(0); -ms-transform:scaleY(0); transform:scaleY(0); -webkit-transition:height 1s ease-out; -moz-transition:height 1s ease-out; -ms-transition:height 1s ease-out; -o-transition:height 1s ease-out;}
.accordion .accordion_list.open .accordion_con{display:block; width:100%; padding:4px 60px 23px 53px; -webkit-transform:scaleY(1); -o-transform:scaleY(1); -ms-transform:scaleY(1); transform:scaleY(1); -webkit-transform-origin:top; -o-transform-origin:top; -ms-transform-origin:top; transform-origin:top; -webkit-transition:-webkit-transform 0.4s ease-out; -o-transition:-o-transform 0.4s ease; -ms-transition:-ms-transform 0.4s ease; transition:transform 0.4s ease; box-sizing:border-box;}

/* ==================== media query ==================== */
@media screen and (max-width:768px) {
    .pc{display:none;}
    .mo{display:block;}

    .stn .cont{width:100%; padding:29px 24px 40px; box-sizing:border-box;}
    .cont_tit{font-size:24px; font-weight:500; line-height:30px; letter-spacing:-0.33px; text-align:center;}
    .cont_tit_desc{margin:12px 0 24px 0; padding:0 24px; font-size:16px; line-height:24px; letter-spacing:-0.32px; text-align:center; box-sizing:border-box;}
    .btn_go{height:48px; margin:24px auto 0; padding:0 32px; font-size:16px; line-height:48px; letter-spacing:-0.33px;}
    
    /* .stn_visual */
    .stn_visual{height:340px; background:url('../images/bg_visual_mobile.svg'); background-position:center top; overflow:hidden;}
    .stn_visual .cont_txt{display:flex; justify-content:center; align-items:baseline; flex-direction:column; position:absolute; top:0; height:100%; padding-top:20px; box-sizing:border-box; z-index:1;}
    .stn_visual .visual_tit{font-size:24px; line-height:28px; letter-spacing:-0.37px;}
    .stn_visual .visual_txt{margin-top:16px; font-size:16px; letter-spacing:-0.25px;}
    .stn_visual .btn_go_white{height:48px; margin-top:21px; padding:0 32px; font-size:16px; line-height:48px; letter-spacing:-0.44px;}
    .stn_visual .btn_go_white:hover{border-color:#fff; background:transparent; color:#fff;}
    .road_wrap{display:none;}

    /* stn_sequence */
    .stn_sequence .cont{padding:29px 0 40px;}
    .sequence_wrap{position:relative; width:100%; margin:0 auto;}
    .sequence_wrap .sequence_slider{position:relative; width:100%;}
    .sequence_wrap .sequence_slider::after{clear:both; content:''; display:block;}
    .sequence_wrap .sq_list{position:relative; outline:0;}
    .sequence_wrap .sq_list:last-child{width:1}
    .sequence_wrap .sq_list img{display:block; height:107px; margin-bottom:7px;}
    .sequence_wrap .sq_list .tit{font-size:16px; letter-spacing:-0.87px;}
    .sequence_wrap .sq_list .sq_area{position:relative; width:100%; height:auto; padding:16px 0 63px; }
    .sequence_wrap .sq_list .desc{padding:0 24px; font-size:14px; line-height:20px; letter-spacing:-0.37px;}
    .sequence_wrap .sq_list .sq_step{top:auto; bottom:0; left:3%; width:94%;}

    /* stn_service */
    .stn_service .cont{padding:29px 0 40px;}
    .stn_service .cont_tit_desc{padding:0 10px;}
    .service_wrap{height:auto; border:0; background:transparent;}
    .service_wrap .btn_wrap{width:calc(100% - 48px); height:auto; margin:0 auto; background:transparent;}
    .service_wrap .btn_wrap::after{clear:both; content:''; display:block;}
    .service_wrap .btn_wrap .btn_service{position:relative; border:1px solid #b6c5d1; margin:-1px 0 0 -1px; width:50.14%; height:48px; background-color:#fff; font-size:16px; box-sizing:border-box;}
    .service_wrap .btn_wrap .btn_service.on{z-index:2; border:1px solid #6b67e9; background:#6b67e9;}
    .service_wrap .btn_wrap .btn_service:first-child{border-bottom-left-radius:0;}
    .service_wrap .btn_wrap .btn_service:nth-child(2){border-top-right-radius:3px;}
    .service_wrap .btn_wrap .btn_service:nth-child(3){border-bottom-left-radius:3px;}
    .service_wrap .btn_wrap .btn_service:last-child{border-bottom-right-radius:3px;}
    .service_wrap .service_kind .kind_list .ico_gps{display:none;}
    .service_wrap .service_kind .kind_img p{top:5%; font-size:12px; letter-spacing:-0.41px;}
    .service_wrap .service_kind{width:100%; height:auto; background:transparent;}
    .service_wrap .service_kind .kind_img img{width:50vw;}
    .service_wrap .service_kind .service_close{position:absolute; top:0; right:0; width:30px; height:30px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; background:rgb(252,215,62,0.9); box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); cursor:pointer;}
    .service_wrap .service_kind .service_mo_img{width:100%;}
    .service_wrap .service_kind .service_mo_img img{display:block; position:relative; width:100%; z-index:0;}
    .service_wrap .service_kind .kind_list{top:0 !important; left: 0 !important; width:100%; height:100%; padding:0 24px; box-sizing:border-box;}
    .service_wrap .service_kind .kind_desc{top:0 !important; left:50% !important; width:100% !important; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%);}
    .service_wrap .service_kind .kind_txt{width:100% !important;margin-top:8px; padding:5px 4px 6px; font-size:12px; line-height:16px; letter-spacing:-0.4px;}

    /* stn_experience */
    .stn_experience{height:auto;}
    .stn_experience .cont_tit_desc{padding:0;}
    .stn_experience .btn_lyr_video .ico_playBtn{height:7vh;}

    /* stn_estimate */
    .stn_estimate .estimate_wrap{width:100%; margin-top:23px;}
    .stn_estimate .estimate_wrap .slidk-list{width:100%;}
    .stn_estimate .estimate_wrap .slick-track{width:100%;}
    .stn_estimate .estimate_wrap .est_list .est_area{width:100%; height:auto; min-height:246px; padding:26px 10px 25px;}
    .stn_estimate .estimate_wrap .est_list.est_arrow{padding:0 10px;}
    .stn_estimate .estimate_wrap .est_list{padding:0 10px;}
    .stn_estimate .estimate_wrap .est_list.est_arrow::after{display:none;}
    .stn_estimate .estimate_wrap .est_img{height:104px;}
    .stn_estimate .estimate_wrap .tit{font-size:16px;}
    .stn_estimate .estimate_wrap .desc{margin-top:12px; font-size:14px; line-height:20px;letter-spacing:-0.37px;}
    .stn_estimate .slick-dots{margin-top:24px; font-size:0; text-align:center;}
    .stn_estimate .slick-dots li{display:inline-block; position:relative; font-size:0;}
    .stn_estimate .slick-dots li .dot{display:inline-block; position:relative; width:26px; height:26px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; border:1.4px solid #b6c5d1; background:#fff; box-sizing:border-box; vertical-align:middle; cursor:pointer;}
    .stn_estimate .slick-dots li .dot::before{content:''; display:inline-block; position:absolute; top:50%; left:50%; width:11px; height:11px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; background:#b6c5d1; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); vertical-align:middle;}
    .stn_estimate .slick-dots li::after{display:inline-block; height:12px; padding:0 7px; content:url(../images/ico_arrow_right.svg); vertical-align:middle;}
    .stn_estimate .slick-dots li:last-child:after{display:none;}
    .stn_estimate .slick-dots li.slick-active .dot::before{background:#6b67e9;}
    
    /* stn_skill */
    .stn_skills .skills_list_wrap{width:100%; margin:0 auto;}
    .stn_skills .skills_list_wrap li{height:auto; margin-top:8px; padding:14px 5px 14px 10px;}
    .stn_skills .skills_list_wrap li img{height:30px; margin-right:5px;}
    .stn_skills .skills_list_wrap li span{width:calc(100% - 35px); font-size:14px; line-height:20px; letter-spacing:-0.32px; word-break:keep-all;}

    
    /* stn_topBanner */
    .stn_topBanner{height:270px; padding:0 24px; box-sizing:border-box;}
    .stn_topBanner .topBanner_title{font-size:24px; line-height:1; letter-spacing:-0.37px;}
    .stn_topBanner .topBanner_desc{margin-top:17px; font-size:16px; line-height:20px; letter-spacing:-0.25px;}

    /* stn_cont */
    .stn_cont{width:100%; padding:40px 20px;}

    /* stn.faq */
    .stn.faq .topBanner_title{padding-top:22px;}
    .stn.faq .search_area{width:100%; height:48px; margin-top:16px; padding-left:10px;}
    .stn.faq .search_area input{width:calc(100% - 60px); border:0; font-size:16px;}
    .stn.faq .search_area input::placeholder{font-size:16px; letter-spacing:-0.5px;}
    .stn.faq .search_area .btn_search{width:38px;}
    .stn.faq .search_area .btn_search i{color:#6b67e9;  font-size:16px; letter-spacing:-0.27px;}

    .accordion .accordion_list{margin-top:16px; padding-left:10px; border:1px solid #d4d7e2; border-radius:1.5px; -webkit-border-radius:1.5px; -moz-border-radius:1.5px; -ms-border-radius:1.5px; -o-border-radius:1.5px;}
    .accordion .accordion_list .accordion_head{min-height:48px; padding:9px 0 11px;}
    .accordion .accordion_list .accordion_head::before{width:20px; height:28px; padding-right:10px; background-size:auto 28px; }
    .accordion .accordion_list .accordion_head span{width:calc(100% - 29px); padding-left:30px; font-size:16px; line-height:20px; letter-spacing:-0.42px;}
    .accordion .accordion_list .accordion_head i{width:29px;}
    .accordion .accordion_list .accordion_head i::before{font-size:15px; letter-spacing:-0.39px;}
    .accordion .accordion_list .accordion_con{font-size:14px;line-height:22px; letter-spacing:-0.37px;}
    .accordion .accordion_list.open .accordion_con{padding:0 10px 18px 0;}
}



@media screen and (max-width:589px) {
    .service_wrap .btn_wrap .btn_service{width:50.18%;}
}

@media screen and (max-width:469px) {
    .service_wrap .btn_wrap .btn_service{width:50.24%;}
}

@media screen and (max-width:366px) {
    .service_wrap .btn_wrap .btn_service{width:50.32%;}
}