@charset "utf-8";
/* MINDsLab. UX/UI Team NBR 2021.04.12 */

@import url('reset.css');
@import url('font.css');

/* -------------------- chatbot avatar -------------------- */
/* iframe */
#chatbotAvatar {position:fixed; right:46px; bottom:43px; width:50px; height:50px; z-index:9999;}
#chatbotAvatar.open {right:32px; bottom:0; width:770px; height:420px;}
#iframe_chatbotAvatar {position:absolute; width:100%; height:100%;}

/* scrollbar */
.scrollBox::-webkit-scrollbar {width:4px; height:4px; border-radius:0;}  /* 스크롤바의 width */
.scrollBox::-webkit-scrollbar-track {background:transparent;}  /* 스크롤바의 전체 배경색 */
.scrollBox::-webkit-scrollbar-thumb {border-radius:2px; background:#fff;}  /* 스크롤바 색 */
.scrollBox::-webkit-scrollbar-button {display:none;}  /* 위 아래 버튼 (버튼 없애기를 함) */

#btn_chatbotAvatar {display:block; overflow:hidden; position:fixed; right:0; bottom:0; width:50px; height:50px; border-style:solid; border-image:linear-gradient(138deg, #fd9483 8%, #fd72a6 23%, #b85bfa 56%, #676aff 92%) 1 / 2px; border-radius:12px; background:#e3e8eb url('../images/img_avatar_sora.png') 50% 50% no-repeat; background-size:contain; background-origin:border-box; backdrop-filter:blur(12px); -webkit-backdrop-filter:blur(12px); text-indent:-9999px; transition:all 0.3s ease-out;}
#btn_chatbotAvatar.hide {display:none;}

#chatbotAvatar_wrap {display:none; position:absolute; right:0; bottom:0; width:280px; height:100%;}
#chatbotAvatar_wrap.open {display:block;}

.videoBox {position:absolute; bottom:0; right:30%; width:auto; height:340px;}
.videoBox video {height:100%;}

.contBox {position:absolute; right:0; bottom:0; width:100%; height:100%; padding:12px; border:1px solid rgba(255, 255, 255, 0.25); border-radius:20px 20px 0 0; box-sizing:border-box; background-image:linear-gradient(155deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.6) 100%); backdrop-filter:blur(12px); -webkit-backdrop-filter:blur(12px);}

.scrollBox {overflow:auto; width:100%; height:calc(100% - 55px); padding:0 6px 0 0;}

.info_txt {color:#fff; font-weight:500; text-align:center;}

.faq_lst {margin:12px 0 0; text-align:left;}
.faq_lst li {display:inline-block; margin:0 6px 6px 0; padding:6px 10px 6px 24px; border:1px solid rgba(255, 255, 255, 0.24); border-radius:32px; box-sizing:border-box; background-color:rgba(255, 255, 255, 0.75); backdrop-filter:blur(4.9px); -webkit-backdrop-filter:blur(4.9px); font-weight:500; letter-spacing:-0.45px; line-height:1.6; transition:border 0.3s ease-out, text-shadow 0.3s ease-out; cursor:pointer;}
.faq_lst li:hover {border:1px solid #fff; text-shadow:0 0 0 #353b67;}
.faq_lst li.hashtag {background-image:url('../images/ico_hashtag.svg'); background-position:10px 9px; background-repeat:no-repeat;}
.faq_lst li.question {background-image:url('../images/ico_question.svg'); background-position:10px 9px; background-repeat:no-repeat;}

.faq_lst ~ .btnBox {margin:4px 0 24px; text-align:center;}
.faq_lst ~ .btnBox button {display:none; padding:6px 10px; border-radius:22px; background:rgba(65, 72, 83, 0.4); color:#fff; font-size:10px; font-weight:500; transition:all 0.3s ease-out;}
.faq_lst ~ .btnBox button:hover {font-weight:700;}
.faq_lst ~ .btnBox button.on {display:inline-block;}

.chat_lst li + li {margin:12px 0 0;}
.chat_lst li .txt {display:inline-block; padding:10px 12px; font-size:12px; letter-spacing:-0.54px; line-height:1.33; word-break:keep-all;}
.chat_lst li .date {display:block; margin:4px 0 0; color:#616c78; font-size:8px;}
.chat_lst li.avatar {text-align:left;}
.chat_lst li.avatar .txt {border-radius:20px 20px 20px 0; background:rgba(255, 255, 255, 0.5);}
.chat_lst li.user {text-align:right;}
.chat_lst li.user .txt {border-radius:20px 20px 0 20px; background:rgba(65, 72, 83, 0.5); color:#fff;}

.contBox .controller {position:absolute; bottom:12px; left:12px; width:calc(100% - 24px); padding:8px 0; border-radius:12px; box-shadow:0 1px 16px 0 rgba(0, 0, 0, 0.2); background:#fff; text-align:center;}
.contBox .controller button {min-width:34px; margin:0 6px; padding:24px 0 0; color:#abafb6; font-size:8px; letter-spacing:-0.6px; line-height:1.5; pointer-events:none;}
.contBox .controller button.btn_mute {background:url('../images/ico_mute.svg') 50% 0 no-repeat; background-size:auto 20px;}
.contBox .controller button.btn_voice_cvsn {background:url('../images/ico_mic.svg') 50% 0 no-repeat; background-size:auto 20px;}
.contBox .controller button.btn_text_cvsn {background:url('../images/ico_chat.svg') 50% 0 no-repeat; background-size:auto 20px;}
.contBox .controller button.btn_setting {background:url('../images/ico_setting.svg') 50% 0 no-repeat; background-size:auto 20px;}
.contBox .controller button.btn_minimize {background:url('../images/ico_minimize.svg') 50% 0 no-repeat; background-size:auto 20px;}
.contBox .controller.active button {pointer-events:inherit;}
.contBox .controller.active button.btn_mute {background:url('../images/ico_mute_active.svg') 50% 0 no-repeat; background-size:auto 20px; color:#de41fc;}
.contBox .controller.active button.btn_voice_cvsn {background:url('../images/ico_mic_active.svg') 50% 0 no-repeat; background-size:auto 20px; color:#8949e9;}
.contBox .controller.active button.btn_text_cvsn {background:url('../images/ico_chat_active.svg') 50% 0 no-repeat; background-size:auto 20px; color:#fd7071;}
.contBox .controller.active button.btn_setting {background:url('../images/ico_setting_active.svg') 50% 0 no-repeat; background-size:auto 20px; color:#2dbdf5;}
.contBox .controller.active button.btn_minimize {background:url('../images/ico_minimize_active.svg') 50% 0 no-repeat; background-size:auto 20px; color:#8bc617;}

/* -------------------- media query -------------------- */
@media screen and (max-width:768px) {
    #chatbotAvatar.open {right:0; width:100%; min-width:320px; height:100%;}
    #chatbotAvatar_wrap {top:0; bottom:auto; width:100%; height:100%;}
    .videoBox {right:0; z-index:10;} 
    .contBox {width:100%; height:100%; border-radius:0;}
    .contBox .controller {z-index:20;}
    .scrollBox {height:234px;}
}