@charset "UTF-8";
/* MINDsLab. NBR. 20201022 */

/* -------------------- common -------------------- */
/* color */
/* background color */
.bg_blue {background-color: #00829d;}
.bg_green {background-color: #009583;}

/* border color */
.bd_blue {border-color: #00829d;}
.bd_green {border-color: #009583;}
/* //color */

/* btnBox */
.btnBox a {border: 1px solid transparent; background: #009583; color: #fff;}
.btnBox a:hover {box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);}
/* //btnBox */

/* iptBox */
.iptBox input {border: 1px solid #a6adbf; background: #fff; color: inherit;}
.iptBox input:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1);}
/* //iptBox */

/* chkBox */
.chkBox input[type="checkbox"]:checked {background: #000;}
.chkBox input[type="checkbox"] + label:before {border: 1px solid rgba(11,42,74,0.3); background: #fff;}
.chkBox input[type="checkbox"]:checked + label:before {border-color: #00829d; background: #00829d; color: #fff;}
.chkBox input[type="checkbox"]:checked + label {color: #00829d;}
/* //chkBox */

/* radioBox */
.radioBox input[type="radio"] + label:before {border: 1px solid rgba(11,42,74,0.3); background: #fff;}
.radioBox input[type="radio"]:checked + label:before {border-color: #009583;}
.radioBox input[type="radio"]:checked + label:after {border-radius: 100%; background: #009583;}
/* //radioBox */

/* select */
.select {border: 1px solid #a6adbf; background-color: #fff;}
.select:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1);}
.select[disabled] {border: 1px solid #a6adbf; background: #f0f0f0;}
/* //select */

/* scroll select */
.slt_scroll {border: 1px solid #a6adbf; background-color: #fff;}
.sltBox.disabled .slt_scroll {background: #f0f0f0; color: #8f8f8f;}
.slt_scroll:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1);}
.sltBox.disabled .slt_scroll:focus {border: 1px solid #a6adbf;}
.slt_scroll:active,
.slt_scroll.open {box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1);}
.slt_scroll .list {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); background: #fff;}
.slt_scroll .list:hover .option:not(:hover) {background: transparent;}
.slt_scroll .option:hover,
.slt_scroll .option:focus {background: #f6f6f6;}
.slt_scroll .option.selected:focus {background: #f6f6f6;}
/* //scroll select */

/* Table(View,Edit) */
.tbl_line_view tbody {border-top: 2px solid #4e8692; border-bottom: 2px solid #4e8692;}
.tbl_line_view tbody th {border: 1px solid #a6adbf; background: #e9f1f3;}
.tbl_line_view tbody td {border: 1px solid #a6adbf; background: #e9f1f3;}
.tbl_line_view tbody td {background:#fff;}
/* //Table(View,Edit) */

/* srchBox */
.srchBox input {border: 1px solid #a6adbf; background: #fff; color: inherit;}
.srchBox input:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1);}
.srchBox .btn_srch {background-color: #009583;}
/* //srchBox */

/* custom table */
.custom_tbl {border: 1px solid #a6adbf;}
.custom_tbl .tbl_hd {background: #4e8692;}
.custom_tbl .tbl_hd th {color: #fff;}
.custom_tbl .tbl_bd td {border-right: 1px dotted #a6adbf; border-bottom: 1px dotted #a6adbf;}
.custom_tbl .tbl_ft {border-top: 1px solid #a6adbf; background: #f0f0f0;}
.custom_tbl .tbl_ft td + td {border-left: 1px dotted #a6adbf;}
/* //custom table */

/* layer popup */
.lyr_bg_dim:after {background: rgba(0,0,0,0.5);}
.lyrBox {box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff;}
.lyrBox .lyr_hd {background: #4e8692; color: #fff;}
.lyrBox .lyr_ft .btnBox a {color: #fff;}
.lyrBox .lyr_ft .btnBox a.btn_lyr_close {background: #7f8185;}
.lyrBox .lyr_ft .btnBox a.btn_alert_close {background: #7f8185;}
.lyr_notify {color: #009583;}
/* //layer popup */

/* 개별 layer popup */
/* STT 오류수정 */
#lyr_stt_edit .lyr_ct span small {color: #ff1616;}
#lyr_stt_edit .lyr_ct .textBox {border: 1px solid #a6adbf;}
#lyr_stt_edit .lyr_ct .textArea_original {border-bottom: 1px dotted #a6adbf;}
#lyr_stt_edit .lyr_ct .textArea_original div.textBox {background: #f0f0f0;}
#lyr_stt_edit .lyr_ct .textArea_edit textarea.textBox {background: #fff;}
#lyr_stt_edit .lyr_ct .textArea_edit textarea.textBox:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1);}
/* //STT 오류수정 */

/* 질의응답 */
#lyr_qa_edit .lyr_ct > div strong {background: #4e8692; color: #fff;}
#lyr_qa_edit .lyr_ct .qa_info em {border: 1px solid #a6adbf; background: #f0f0f0;}
#lyr_qa_edit .lyr_ct .qa_info .iptBox input {border-color: #a6adbf;}
#lyr_qa_edit .lyr_ct .textBox {border: 1px solid #a6adbf;}
#lyr_qa_edit .lyr_ct div.textBox {background: #f0f0f0;}
#lyr_qa_edit .lyr_ct textarea.textBox {background: #fff;}
#lyr_qa_edit .lyr_ct textarea.textBox:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1);}
#lyr_qa_edit .lyr_ct .fl {border-right: 1px dotted #a6adbf;}
#lyr_qa_edit .lyr_ct > div.disabled strong {background: #7f8185;}
#lyr_qa_edit .lyr_ct > div.disabled .iptBox input {background: #f0f0f0;}
#lyr_qa_edit .lyr_ct > div.disabled .select {background: #f0f0f0;}
#lyr_qa_edit .lyr_ct > div.disabled textarea.textBox {background: #f0f0f0;}
/* //질의응답 */

/* 클립보드 */
#lyr_clipboard .lyr_ct {background: #4e8692; color: #fff;}
/* //클립보드 */
/* //개별 layer popup */

/* context menu */
.contextMenu {box-shadow: 0 15px 35px rgba(50,50,90,0.2), 0 5px 15px rgba(0,0,0,0.07); background: #fff;}
.contextMenu li:hover {background: #4d8691; color: #fff;}
.contextMenu li:hover a {color: #fff;}
/* //context menu */
/* -------------------- //common -------------------- */

/* -------------------- popup -------------------- */
/* -------------------- contents -------------------- */
#container h1:before {background: #4e8692;}
.popup_wrap {background: #e9f1f3;}

/* customInfo */
.customInfo {box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff;}
.customInfo tbody td .custom_info {border: 1px solid #a6adbf; background: #f0f0f0;}
/* //customInfo */

/* Table(datatables) */
.dataTableBox {box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff;}
table.dataTable tr.selected td {background: #e9f1f3;}
table.dataTable thead th {border-left: 1px dotted #a6adbf; background: #4e8692; color: #fff;}
table.dataTable thead th:nth-child(6) .iptBox input {color: #174b56 !important;}
table.dataTable tbody td {border-left: 1px dotted #a6adbf; border-bottom: 1px dotted #a6adbf;}
table.dataTable tbody td:nth-child(4).active {box-shadow: inset 1px 1px 0 #009583, inset -1px -1px 0 #009583;}
table.dataTable tbody td:nth-child(6).active {background: #fdeddc;}
table.dataTable tfoot th {border-left: 1px dotted #a6adbf; background: #f0f0f0;}
.dataTables_scrollHead {background: #4e8692;}
.dataTables_scrollFoot {background: #f0f0f0;}
.dataTables_wrapper.no-footer .dataTables_scrollBody {border-bottom: 1px solid #a6adbf;}
.DTFC_LeftBodyWrapper table.dataTable tbody td {background: #e9f1f3;}
button.dt-button, div.dt-button, a.dt-button, button.dt-button:active:not(.disabled), button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled),button.dt-button:focus:not(.disabled), div.dt-button:focus:not(.disabled), a.dt-button:focus:not(.disabled), button:active:not(.disabled):hover:not(.disabled) {background: #009583 !important; color: #fff !important;}
.dataTables_wrapper .dataTables_length {color: inherit;}
.dataTables_wrapper .dataTables_length select {border: 1px solid #a6adbf; background-color: #fff;}
.dataTables_wrapper .dataTables_paginate .paginate_button {color: #174b56 !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {color: #174b56 !important;}
/* //Table(datatables) */

/* player */
.playerBox {color:#333; background:rgba(255,255,255,0.1);}
.playerBox button {background:#ccc;}
.playerBox .player_button button:active:not(.disabled):hover:not(.disabled) {border: 1px solid transparent !important; background: none !important;}
.playerBox .player_button button.btn_player_play {background-color:#fff;}
.playerBox .player_button button.btn_player_play.pause {background-color:#fff;}
.playerBox .player_speed span {color:#fff; background:#9ca4b9;}
.playerBox .player_bar .player_bar_streaming:before {background-color:#c2c8d8;}
.playerBox .player_bar .player_bar_streaming .player_bar_loaded {background:rgba(0,0,0,0.05);}
.playerBox .player_bar .player_bar_streaming .player_bar_played {background:#5e77ff;}
.playerBox .player_bar .player_bar_streaming .player_bar_played:after {border:2px solid #fff; box-shadow:0 0 7px rgba(0,0,0,0.5); background:#a6adbf;}
.playerBox.playing .player_bar .player_bar_streaming .player_bar_played:after {background:#5e77ff;}
.playerBox .player_time .current {color:#787a8a;}
.playerBox .player_time .duration {color:#35384d;}
.playerBox.muted .player_volume .player_bar_button a {background-color:#4f5669;}
.playerBox.muted .player_volume .player_bar_button a:before {border-right:9px solid #4f5669;}
.playerBox .player_volume .player_bar_adjust span { background-color:#c2c8d8;}
.playerBox .player_volume .player_bar_adjust span em {background-color:#009583;}
.pyr_speed .select {border: 1px solid #a6adbf;}
/* //player */

/* term_srch_box */
.term_srch_box .btn_index_move a:hover {border: 1px solid #a6adbf;}

.pageing a.btn_page_prev {background-color:#fff;}
.pageing a.btn_page_next {background-color:#fff;}
table.dataTable tbody td em.findElement.selected {background:#ffb624;}
/* //term_srch_box */

/* consultBox */
.consultBox {box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff;}
/* //consultBox */

/* conversationBox */
.conversationBox {background: #b2ced5;}
.conversationBox .custom {background: #fbdb67;}
.conversationBox .counselor {background: #fff;}
.conversationBox em.findElement.selected {background:#ffb624;}
/* //conversationBox */

/* -------------------- popup_tm_qa_targetSet page -------------------- */
.tm_qa_targetSet h2 p {box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #f9fafb;}
.target_setArea .set_condition dt {border-bottom: 2px solid #3f3f3f;}
.target_setArea .set_condition dt .iptBox input {border-color: #dedede;}
.target_setArea .set_condition dd {box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #f9fafb;}
.target_setArea .set_condition dd .sltArea {border: 1px solid #cfd5eb; background: #fff;}
.target_setArea .set_condition .btnBox a.btn_move_right {background-color: #019582;}
.target_setArea .set_condition .btnBox a.btn_move_left {background-color: #019582;}
.target_setArea .fl dl:nth-child(2) dd input {border: 1px solid #dedede;}
.target_setArea > .btnBox a {background: #019582; color: #fff;}

/* tree multiselect */
div.tree-multiselect div.title {color: inherit;}
div.tree-multiselect div.title:before {border-top: 1px dotted #000;}
div.tree-multiselect div.title > span.collapse-section:after {border: 1px solid rgba(11,42,74,0.3); background: #fff;}
div.tree-multiselect div.section.collapsed > div.title span.collapse-section:after {border: 1px solid rgba(11,42,74,0.3); background: #fff;}
div.tree-multiselect div.section > div.item:before {border: 1px dotted #000;}
div.tree-multiselect span.remove-selected {background: #7f8185;}
div.tree-multiselect div.selections input[type="checkbox"] + label:before {border: 1px solid rgba(11,42,74,0.3); background: #fff;}
div.tree-multiselect div.selections input[type="checkbox"]:checked + label:before {border-color: #00829d; background: #00829d; color: #fff;}
.sltArea .product_list .chkBox input[type="checkbox"]:checked + label {color: inherit;}

/* -------------------- popup_tm_qa_audit page -------------------- */
.topBox {box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff;}
.topBox .btnBox a {background: #009583; color: #fff;}
.topBox .player {background: #e9f1f3;}
.topBox .player .playerBox .player_button button.btn_player_play {background-color: transparent;}
.topBox .btn_qa_group a {background: #009583;}

.audit_detailArea {box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff;}
.etc_scriptArea dd li {border: 1px solid #a6adbf; background: #f0f0f0;}
.audit_detailArea div.DTFC_LeftWrapper table.dataTable.no-footer {border-bottom: 1px solid transparent;}
.audit_detailArea div.DTFC_LeftWrapper table.dataTable.no-footer tbody td {background: #f3f8f9;}
.audit_detailArea table.dataTable tbody tr:hover td {background: #f3f8f9;}
.audit_detailArea table.dataTable tbody tr.active td {background: #fdeddc;}

.audit_detail_view .fl .detail_box.eval_score_box th {border: 1px solid #a6adbf; background: #4e8692; color: #fff;}
.audit_detail_view .fl .detail_box.eval_score_box td {border: 1px solid #a6adbf;}
.audit_detail_view .fl .detail_box.eval_score_box td ul {border: 1px solid #a6adbf;}
.audit_detail_view .fl .detail_box.eval_score_box td ul li + li {border-left: 1px solid #a6adbf;}
.audit_detail_view .fl .detail_box.eval_score_box td ul li strong {border-bottom: 1px solid #a6adbf; background: #f3f8f9;}
.audit_detail_view .fl .detail_box.eval_score_box td textarea {border: 1px solid #a6adbf; background: #fff;}
.audit_detail_view .fl .detail_box.eval_score_box td textarea:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1);}
.audit_detail_view .fl .detail_box .evalArea .eval_tab_title a {border: 1px solid #a6adbf;}
.audit_detail_view .fl .detail_box .evalArea .eval_tab_title a.on {background: #4e8692; color: #fff;}
.audit_detail_view .fl .detail_box .evalArea .eval_case {border: 1px solid #a6adbf; background: #f0f0f0;}
.audit_detail_view .fl .detail_box .evalArea .btnBox a {background: #009583; color: #fff;}
.audit_detail_view .fl .detail_box .evalArea .btnBox a.btn_problem {background: #7f8185;}
.audit_detail_view .fl .detail_box .eval_tbl {border: 1px solid #a6adbf;}
.audit_detail_view .fl .detail_box .eval_tbl td .iptBox input[type="text"] {border: 1px solid #a6adbf;}
.audit_detail_view .fl .detail_box .eval_tbl td span.asw_icplt {background: #d30000; color: #fff;}
.audit_detail_view .fl .detail_box .eval_tbl td a {border-radius: 3px; color: #fff;}
.audit_detail_view .fl .detail_box .eval_tbl td a.btn_detect_success {background: #0e448b;}
.audit_detail_view .fl .detail_box .eval_tbl td a.btn_detect_part {background: #e0700b;}
.audit_detail_view .fl .detail_box .eval_tbl td a.btn_detect_fail {background: #d30000;}

.audit_detail_view .fr .detail_box .custom_tbl .tbl_bd tr:hover td {background: #f3f8f9;}
.audit_detail_view .fr .detail_box .btnBox a {background: #009583; color: #fff;}
.audit_detail_view .fr .detail_box .btnBox a.btn_tpry_save {background: #7f8185;}
.audit_detail_view .fr .detail_box .stt_result li.txt_blue a {color: #0669ea;}
.audit_detail_view .fr .detail_box .stt_result li.txt_red a {color: #d30000;}
.audit_detail_view .fr .detail_box > dl {border: 1px solid #a6adbf;}
.audit_detail_view .fr .detail_box > dl dt {background: #4e8692; color: #fff;}

/* -------------------- popup_assign page -------------------- */
.qa_setArea .custom_tbl .tbl_hd th + th {border-left: 1px dotted #a6adbf;}
.qa_setArea .custom_tbl .tbl_bd {background: #fff;}
.qa_setArea .btnBox a {background: #009583; color: #fff;}
.qa_setArea .btnBox a.btn_cancel {background: #7f8185;}

/* -------------------- admin popup -------------------- */
.admin h2:before {background: #00829d;}
.admin .btnBox a.btn_cancel {background: #7f8185;}
.admin .btnBox a.btn_close {background: #7f8185;}
.admin .btnBox a.btn_delete {background: #7f8185;}

.admin table.dataTable thead th {border-left: 1px solid #a6adbf;}
.admin table.dataTable td {border-left: 1px solid #a6adbf; border-bottom: 1px solid #a6adbf;}
.admin table.dataTable td:last-child {border-right: 1px solid #a6adbf;}
.admin table.dataTable td.dataTables_empty:hover {background: #fff;}
.admin table.dataTable.no-footer {border-bottom: 1px solid #a6adbf;}

/* tbl_popup_set(admin에서 사용하는 윈도우 팝업 내 테이블 스타일) */
.tbl_popup_set {border: 1px solid #a6adbf;}
.tbl_popup_set table th {border-right: 1px solid #a6adbf; background: #4e8692; color: #fff;}
.tbl_popup_set table tbody th {border-bottom: 1px solid #a6adbf;}
.tbl_popup_set table tbody td {border-right: 1px solid #a6adbf; border-bottom: 1px solid #a6adbf; background: #fff;}
.tbl_popup_set table tbody td .iptBox input[disabled],
.tbl_popup_set table tbody td .iptBox input[readonly] {background: #f0f0f0;}
.tbl_popup_set table tbody td .iptBox input[readonly]:focus {border: 1px solid #a6adbf;}
.tbl_popup_set table tbody td .btnBox a.btn_add:before {background: #fff;}
.tbl_popup_set table tbody td .btnBox a.btn_add:after {background: #fff;}
.tbl_popup_set .tbl_hd {background: #4e8692;}
/* //tbl_popup_set(admin에서 사용하는 윈도우 팝업 내 테이블 스타일) */

/* tbl_include_btn */
.tbl_include_btn tbody tr.active td {background: #e9f1f3;}
/* -------------------- //popup -------------------- */

/* -------------------- stt_tm_qa -------------------- */
#header {box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1);}
#container {background: #e9f1f3;}

/* -------------------- header -------------------- */
#header .title_box {border-bottom: 1px solid rgba(233,241,243,0.2);}
#header .title_box h1 .title {border-left: 1px solid rgba(233,241,243,0.2); color: #E9F1F3;}

#header .title_box .etc_box .user_account {background: rgba(255,255,255,0.5);}
#header .title_box .etc_box .btn_logout a {background: #009583; color: #fff;}
#header .title_box .etc_box .btn_logout a:hover {border: 1px solid #E9F1F3;}

#header .gnb > li h2 {background: #fff; color: #174b56;}
#header .gnb > li.active h2 {border-left: 1px solid #a6adbf; border-right: 1px solid #a6adbf; background: #fff;}
#header .gnb li.current h2,
#header .gnb li.current > a {color: #00829d;}
#header .gnb .sub {border: 1px solid #a6adbf; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff;}

/* -------------------- 탭기능 style -------------------- */
.tab_title li.active {background: #fff;}
.tab_title .btn_close:before {background: #3f3f3f;}
.tab_title .btn_close:after {background: #3f3f3f;}
.tab_list li {background: #b3cfd1;}

.tab_dropdown .btnBox .btn_tab_allDlt {background: #009583; color: #fff;}
.tab_dropdown .btn_open em {background: #3f3f3f;}
.tab_dropdown .btn_open em:before {background: #3f3f3f;}
.tab_dropdown .btn_open em:after {background: #3f3f3f;}
.tab_dropdown .dropdown_list {box-shadow: 0 15px 35px rgba(50,50,90,0.2), 0 5px 15px rgba(0,0,0,0.07); background: #fff;}
.tab_dropdown .dropdown_list li a:hover {color: #009583;}
.tab_dropdown .dropdown_list li.active {background: #009583;}
.tab_dropdown .dropdown_list li.active a {color: #fff;}
.tab_content {box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff;}

#container .tabArea {background: #f9f4f4;}
#container .tabArea li.active {background: #e8f1f3;}

/* Table(datatables) */
table.dataTable tr.selected td {background: #e9f1f3;}
table.dataTable thead th {border-left: 1px dotted #a6adbf; background: #4e8692; color: #fff;}
table.dataTable tbody td {border-left: 1px dotted #a6adbf; border-bottom: 1px dotted #a6adbf;}
table.dataTable tfoot th {border-left: 1px dotted #a6adbf; background: #f0f0f0;}
table.dataTable.no-footer {border-bottom: 1px solid #a6adbf;}

.dataTables_scrollHead {background: #4e8692;}
.dataTables_scrollFoot {background: #f0f0f0;}
.dataTables_wrapper.no-footer .dataTables_scrollBody {border-bottom: 1px solid #a6adbf;}
.dataTables_wrapper.no-footer .dataTables_scrollBody tbody tr:hover td {background: #e9f1f3;}
.DTFC_LeftBodyWrapper table.dataTable tbody td {background: #e9f1f3;}

button.dt-button, div.dt-button, a.dt-button, button.dt-button:active:not(.disabled), button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled),button.dt-button:focus:not(.disabled), div.dt-button:focus:not(.disabled), a.dt-button:focus:not(.disabled), button:active:not(.disabled):hover:not(.disabled) {background: #009583 !important; color: #fff !important;}

.dataTables_wrapper .dataTables_length select {border: 1px solid #a6adbf; background-color: #fff;}
.dataTables_wrapper .dataTables_paginate .paginate_button {color: #174b56 !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {color: #174b56 !important;}
/* //Table(datatables) */

/* -------------------- tm_qa_target page -------------------- */
.tm_qa_target .dataTableBox .btnBox a {background: #019582; color: #fff;}

/* -------------------- tm_qa_assign page -------------------- */
.tm_qa_assign h3:before {background: #00829d;}
.tm_qa_assign .dataTableBox > .btnBox a {background: #019582; color: #fff;}
.tm_qa_assign .assign_status_box table td span.off {color: #d30000;}

/* -------------------- admin contents -------------------- */
#contents.admin h3:before {background: #00829d;}

.admin table.dataTable td.dataTables_empty:hover {background: #fff;}

.admin .custom_tbl thead {border-bottom: 1px solid #a6adbf;}
.admin .custom_tbl tr {border-bottom: 1px solid #a6adbf;}
.admin .custom_tbl th {border-right: 1px solid #a6adbf; background: #4e8692; color: #fff;}
.admin .custom_tbl td {border-right: 1px solid #a6adbf;}

.tbl_include_btn tbody tr:hover td,
.tbl_include_btn tbody tr.active td {background: #e9f1f3;}

.tbl_set_view {border: 1px solid #a6adbf;}
.tbl_set_view .tbl_hd {background: #4e8692;}
.tbl_set_view thead {border: 1px solid #4e8692;}
.tbl_set_view thead th {border-right: 1px solid #a6adbf; color: #fff;}
.tbl_set_view tbody td {border-right: 1px solid #a6adbf; border-bottom: 1px solid #a6adbf;}
.tbl_set_view tbody tr:hover td {background: #e9f1f3;}
.tbl_set_view tbody td select.disabled {background: #f0f0f0;}
.tbl_set_view tbody td .btnBox a.btn_add:before {background: #fff;}
.tbl_set_view tbody td .btnBox a.btn_add:after {background: #fff;}

.btnBox a.btn_delete {background: #7f8185;}

/* -------------------- eval_tbl_manage page -------------------- */
.eval_tbl_manage .setArea .set_eval_list .tbl_set_view .tbl_hd tr:first-child th:nth-child(9) {border-bottom: 1px solid #a6adbf;}

/* -------------------- simulation_screen page -------------------- */
.simulation_screen .srchArea .iptBox label {border: 1px solid #a6adbf; background: #fff; color: inherit;}
.simulation_screen .srchArea .iptBox label:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1);}
.simulation_screen .scriptArea h4 {background: #4e8692; color: #fff;}
.simulation_screen .scriptArea .scriptBox textarea {border: 1px solid #a6adbf; background: #fff; color: inherit;}
.simulation_screen .scriptArea .scriptBox textarea:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1);}
.simulation_screen .tbl_set_view tbody tr:hover td {background: #fff;}

/* -------------------- service_mntr page -------------------- */
.service_mntr .custom_tbl td a {color: #fff;}
.service_mntr .custom_tbl td a.failed {background: #ff1616;}
.service_mntr .custom_tbl td a.running {background: #85ba52;}
.service_mntr .custom_tbl td a.stopped {background: #000;}
.service_mntr .custom_tbl td a.unidentified {background: #dd933c;}
.service_mntr .custom_tbl td .service_detail {border: 1px solid #a6adbf; box-shadow: 0 15px 35px rgba(50,50,90,0.2), 0 5px 15px rgba(0,0,0,0.07); background: #fff; color: #000;}

/* -------------------- ta_rprcs page -------------------- */
.ta_rprcs .setArea .tbl_set_view th {background: #4e8692; color: #fff;}
.ta_rprcs .setArea .tbl_set_view tr:hover td {background: #fff;}

/* -------------------- stt_ta_rprcs page -------------------- */
.stt_ta_rprcs .setArea .tbl_set_view th {background: #4e8692; color: #fff;}
.stt_ta_rprcs .setArea .tbl_set_view tr:hover td {background: #fff;}
/* -------------------- //stt_tm_qa -------------------- */
