@charset "utf-8";
/* MINDsLab. UX/UI Team NBR 20210205 */

/* -------------------- import -------------------- */
@import url('reset.css');
@import url('font.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

/* -------------------- common -------------------- */
.fl {float:left;}
.fr {float:right;}

.btnBox a {display:inline-block; border:2px solid #fff; border-radius:10px; box-sizing:border-box; background:#8487f5; color:#fff; font-size:24px; font-weight:800;}
.btnBox a span {font-weight:800;}
.btnBox button {display:inline-block; border:2px solid #fff; border-radius:10px; box-sizing:border-box; background:#8487f5; color:#fff; font-size:24px; font-weight:800;}

.radioBox {display:inline-block; position:relative;}
.radioBox input {position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; border:0;}
.radioBox label {display:inline-block; position:relative; padding:0 0 0 30px; color:#7f87a5; font-size:20px; cursor:pointer;}
.radioBox label:before {content:''; display:inline-block; position:absolute; top:21px; left:0; width:20px; height:20px; border:1px solid #737b95; border-radius:50%; box-sizing:border-box; background:#fff;}
.radioBox input:checked + label:before {border:1px solid #8487f5;}
.radioBox input:checked + label:after {content:''; display:inline-block; position:absolute; top:26px; left:5px; width:10px; height:10px; border-radius:50%; background:#8487f5;}