@charset "UTF-8";
/* MINDsLab. NBR. 20200902 */

/* -------------------- contents -------------------- */
#wrap {width: 100%; min-width: 1250px; height: 100%;}
#container {display: table; table-layout: fixed; width: 100%; height: 100%; padding: 20px; box-sizing: border-box; background: #E9F1F3;}
#container h1 {margin: 0 0 15px; font-size: 18px;}

/* -------------------- CS STT 전수 -------------------- */
/* customInfo */
.customInfo {width: 100%; margin: 0 0 20px; padding: 10px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); box-sizing: border-box; background: #fff;}
.customInfo tbody td .iptBox {width: 100%;}
.customInfo tbody td input {border-color: #C7D0D3; background: #f0f0f0;}
.customInfo tbody td input.iptDateTime {width: 140px; background-image: none;}
.customInfo tbody td input:focus {border: 1px solid #C7D0D3; box-shadow: none;}
/* //customInfo */

/* player */
.player {display: inline-block; float: left;}
.playerBox {display: inline-block; width: 100%; min-width: 400px; height: 100%; padding: 10px 5px; color: #333; line-height: 24px; border-radius: 5px; box-sizing: border-box; background: rgba(255,255,255,0.1);}
.playerBox a {width: 100%; height: 100%; border: none; background: #ccc; box-sizing: border-box;}
.playerBox a span {display: inline-block; overflow: hidden; text-indent: -999px;}
.playerBox>span {height: 100%; font-size: 11px; box-sizing: border-box;}
.playerBox>div{display: inline-block; position: relative; height: 100%; padding: 0 5px; text-align: center; vertical-align: middle; box-sizing: border-box;}

.playerBox .player_button {text-align: center;}
.playerBox .player_button a {display: block; width: 15px; height: 15px; font-size: 11px; line-height: 20px; text-indent: 0; border: none; border-radius: 3px;}
.playerBox .player_button a.btn_player_speedDown {background: #fff url("../images/ico_player_speedDown_db.png") 50% 50% no-repeat; background-size: contain;}
.playerBox .player_button a.btn_player_play {background: #fff url("../images/ico_player_play_db.png") 50% 50% no-repeat; background-size: contain;}
.playerBox .player_button a.btn_player_play.pause {background: #fff url("../images/ico_player_pause_db.png") 50% 50% no-repeat; background-size: contain;}
.playerBox .player_button a.btn_player_speedUp {background: #fff url("../images/ico_player_speedUp_db.png") 50% 50% no-repeat; background-size: contain;}

.playerBox .player_speed {width: 30px;}
.playerBox .player_speed span {display: inline-block; height: 16px; padding: 0 7px; color: #fff; font-size: 11px; line-height: 16px; border-radius: 10px; background: #9ca4b9;}

.playerBox .player_bar {width: 200px;}
.playerBox .player_bar .player_bar_streaming {display: inline-block; position: relative; width: 100%; height: 12px; margin: 0; cursor: pointer; vertical-align: middle;}
.playerBox .player_bar .player_bar_streaming:before {content:''; position: absolute; top: 5px; left: 0; width: 100%; height: 4px; border-radius: 10px; background-color: #c2c8d8;}
.playerBox .player_bar .player_bar_streaming > em {position: absolute; left: 0; top: 5px;}
.playerBox .player_bar .player_bar_streaming .player_bar_loaded {height: 4px; background: rgba(0,0,0,0.05); z-index: 1;}
.playerBox .player_bar .player_bar_streaming .player_bar_played {flex-direction: row-reverse; height: 4px; border-radius: 10px; background: #5e77ff; z-index: 2;}
.playerBox .player_bar .player_bar_streaming .player_bar_played:after {content: ''; display: flex; position: absolute; top: -4px; right: -1px; border: 2px solid #fff; width: 12px; height: 12px; margin-right: -5px; border-radius: 6px; box-shadow: 0 0 7px rgba(0,0,0,0.5); background: #a6adbf; box-sizing: border-box; transition: all 0.2s ease-out;}
.playerBox.playing .player_bar .player_bar_streaming .player_bar_played:after {background: #5e77ff; transition: all 0.2s ease-out;}

.playerBox .player_time {width: 50px; font-size: 11px;}
.playerBox .player_time .current {color: #787a8a; margin: 0 3px 0 0;}
.playerBox .player_time .duration {color: #35384d;}

.playerBox .player_volume {width: 100px;}
.playerBox .player_volume .player_bar_button {display: flex; align-items: center; width: 24px; height: 24px; cursor: pointer;}
.playerBox .player_volume .player_bar_button a {position: relative; width: 6px; height: 8px; vertical-align: middle; background: #9ca4b9;}
.playerBox .player_volume .player_bar_button a:before, .playerBox .player_volume .player_bar_button a:after {content: ''; position: absolute;}
.playerBox .player_volume .player_bar_button a:before {top: -4px; left: 0; width: 0; height: 0; border-top: 8px solid transparent; border-right: 9px solid #9ca4b9; border-bottom: 8px solid transparent; /*! border-left:none; */}
.playerBox .player_volume .player_bar_button a:after {top: -2px; left: 10px; width: 6px; height: 6px; border: 6px double #9ca4b9; border-width: 6px 6px 0 0; border-radius: 0 12px 0 0; transform: rotate(45deg);}
.playerBox.muted .player_volume .player_bar_button a {background-color: #4f5669;}
.playerBox.muted .player_volume .player_bar_button a:before {border-right: 9px solid #4f5669;}
.playerBox.muted .player_volume .player_bar_button a:after {display: none;}

.playerBox .player_volume .player_bar_adjust {position: absolute; top: 50%; right: 5px; margin: -2px 0 0 0;}
.playerBox .player_volume .player_bar_adjust span {display: flex; overflow: hidden; position: relative; width: 60px; height: 4px; border-radius: 5px; background-color: #c2c8d8; cursor: pointer;}
.playerBox .player_volume .player_bar_adjust span em {position: absolute; top: 0; left: 0; height: 4px; background-color: #5e77ff;}
/* //player */

/* term_srch_box */
.term_srch_box {display: inline-block; float: right; padding: 5px 0;}
.term_srch_box .srchBox {width: 300px; height: 30px;}
.term_srch_box .srchBox input {padding: 0 80px 0 5px;}
.term_srch_box .srchBox .txtIndex {position: absolute; top: 7px; right: 47px;}
.term_srch_box .btnBox {display: inline-block; vertical-align: top;}
.term_srch_box .btnBox a {display: block; width: 15px; height: 15px; box-sizing: border-box;}
.term_srch_box .btnBox a:hover {border: 1px solid #C7D0D3;}
.term_srch_box .btnBox a img {width: 100%;}
/* //term_srch_box */

/* dataTable */
.dataTableBox {width: 100%; margin: 0 0 20px; padding: 10px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); box-sizing: border-box; background: #fff;} /* datatable을 감싸는 박스 추가 */
table.dataTable {width: auto !important; table-layout: fixed;}
.dataTables_wrapper {width: 100%; text-align: center;}
.dataTables_wrapper .dataTables_info {position: absolute; left: 115px; padding: 10px 0 0; line-height: 31px;}
div.dt-buttons {position: static; float: right; margin: 10px 0 0; height: 30px;}
button.dt-button, div.dt-button, a.dt-button, button.dt-button:active:not(.disabled), button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled),button.dt-button:focus:not(.disabled), div.dt-button:focus:not(.disabled), a.dt-button:focus:not(.disabled), button:active:not(.disabled):hover:not(.disabled) {margin: 0 !important; padding: 5px 15px !important; border: none !important; border-radius: 3px !important; box-shadow: none !important; background: #009583 !important; color: #fff !important; font-size: 13px !important;}
.dataTables_wrapper .dataTables_length {position: absolute; left: 0; bottom: 4px;}
.dataTables_length select {display: inline-block; height: 30px; padding: 0 20px 0 5px; font-size: 13px; border: 1px solid #C7D0D3; border-radius: 3px; background: #fff url(../images/arw_bottom_bk.png) right 7px top 50% no-repeat; transition: all 0.3s ease-out;}
.dataTables_scrollHead,
table.DTFC_Cloned thead {background: #4e8692; color: #fff;}
table.dataTable thead th {padding: 10px 0; border-bottom: 1px solid #C7D0D3; text-align: center;}
table.dataTable thead th:first-child {background-image: none;}
table.dataTable thead th:nth-child(6) .iptBox {width: 40px; margin: 0 0 0 10px;}
table.dataTable thead th:nth-child(6) .iptBox input {color: #174b56 !important;}
table.dataTable tbody td {border-right: 1px dotted #C7D0D3; border-bottom: 1px dotted #C7D0D3; text-align: center;}
table.dataTable tbody td:nth-child(4) {text-align: left;}
table.dataTable tbody td:nth-child(6).active {background: #fdeddc;}
table.dataTable tbody td:last-child {border-right: none;}
table.dataTable tbody tr:last-child td {border-bottom: none;}
table.dataTable tbody tr.currentPlay td:nth-child(1),
table.dataTable tbody tr.currentPlay td:nth-child(2),
table.dataTable tbody tr.currentPlay td:nth-child(3),
table.dataTable tbody tr.currentPlay td:nth-child(4) {font-weight: 700;}
table.dataTable tbody td .srch_term {font-weight: 700;}
table.dataTable tbody td .srch_term.focus {background: #ffb624;}
.dataTables_wrapper.no-footer .dataTables_scrollBody {border-top: 1px solid #C7D0D3; border-bottom: 1px solid #C7D0D3;}
/* //dataTable */
