@charset "UTF-8";
/* MINDsLab. NBR. 20200902 */

/* -------------------- contents -------------------- */
#wrap {min-width: 1250px;}
#contents {width: 100%; height: 100%; padding: 20px; box-sizing: border-box; background: #E9F1F3;}
#contents h1 {margin: 0 0 15px; font-size: 18px;}

/* -------------------- CS STT 전수 -------------------- */
/* customInfo */
.customInfo {width: 100%; margin: 0 0 20px; padding: 10px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); box-sizing: border-box; background: #fff;}
.customInfo tbody td .iptBox {width: 100%;}
.customInfo tbody td input {border-color: #C7D0D3; background: #f0f0f0;}
.customInfo tbody td input.iptDateTime {width: 140px; background-image: none;}
.customInfo tbody td input:focus {border: 1px solid #C7D0D3; box-shadow: none;}

/* dataTableBox */
div.dt-buttons {position: static; float: right; margin: 10px 0 0;}
table.dataTable tbody td {overflow: visible; white-space: normal;}
table.dataTable tbody td:nth-child(4) {text-align: left;}
