@charset "UTF-8";
/* MINDsLab. NBR. 20201022 */

/* background color */
.bg_blue {background-color: #00829d;}
.bg_green {background-color: #009583;}

/* border color */
.bd_blue {border-color: #00829d;}
.bd_green {border-color: #009583;}
/* //color */

/* btnBox */
.btnBox a {background: #009583;; color: #fff;}
/* //btnBox */

/* iptBox */
.iptBox input {border: 1px solid #C7D0D3; background: #fff;}
.iptBox input:focus {border: 1px solid rgba(11,42,74,0.4);}
/* //iptBox */

/* chkBox */
.chkBox input[type="checkbox"] + label:before {border: 1px solid rgba(11,42,74,0.3); background: #fff;}
.chkBox input[type="checkbox"]:checked + label:before {border-color: #00829d; background: #00829d; color: #fff;}
.chkBox input[type="checkbox"]:checked + label {color: #00829d;}
/* //chkBox */

/* radioBox */
.radioBox input[type="radio"] + label:before {border: 1px solid rgba(11,42,74,0.3); background: #fff;}
.radioBox input[type="radio"]:checked + label:before {border-color: #009583;}
.radioBox input[type="radio"]:checked + label:after {background: #009583;}
/* //radioBox */

/* select */
.select {border: 1px solid #C7D0D3; background-color: #fff;}
.select:focus {border: 1px solid rgba(11,42,74,0.4);}
.select[disabled] {border: 1px solid #C7D0D3; background: #f0f0f0;}
/* //select */

/* scroll select */
.slt_scroll {border: 1px solid #C7D0D3; background-color: #fff;}
.sltBox.disabled .slt_scroll {background: #f0f0f0; color: #8f8f8f;}
.slt_scroll:focus {border: 1px solid rgba(11,42,74,0.4)}
.sltBox.disabled .slt_scroll:focus {border: 1px solid #C7D0D3;}
.slt_scroll .list {border: 1px solid rgba(11,42,74,0.4); background: #fff;}
.slt_scroll .option:hover,
.slt_scroll .option:focus {background: #f6f6f6;}
.slt_scroll .option.selected:focus {background: #f6f6f6;}
/* //scroll select */

/* Table(View,Edit) */
.tbl_line_view tbody {border-top: 2px solid #4e8692; border-bottom: 2px solid #4e8692;}
.tbl_line_view tbody th {border: 1px solid #c7d0d3; background: #e9f1f3;}
.tbl_line_view tbody td {border: 1px solid #c7d0d3; background: #e9f1f3;}
.tbl_line_view tbody td {background:#fff;}
/* //Table(View,Edit) */

/* srchBox */
.srchBox input {border: 1px solid #C7D0D3; background: #fff;}
.srchBox input:focus {border: 1px solid rgba(11,42,74,0.4);}
.srchBox .btn_srch {background-color: #009583;}
/* //srchBox */

/* custom table */
.custom_tbl {border: 1px solid #c7d0d3;}
.custom_tbl .tbl_hd {background: #4e8692;}
.custom_tbl .tbl_hd th {color: #fff;}
.custom_tbl .tbl_bd td {border-right: 1px dotted #C7D0D3; border-bottom: 1px dotted #C7D0D3;}
.custom_tbl .tbl_ft {border-top: 1px solid #C7D0D3; background: #f0f0f0;}
.custom_tbl .tbl_ft td + td {border-left: 1px dotted #C7D0D3;}
/* //custom table */

/* layer popup */
.lyr_bg_dim:after {background: rgba(0,0,0,0.5);}
.lyrBox {background: #fff;}
.lyrBox .lyr_hd {background: #4e8692; color: #fff;}
.lyrBox .lyr_ft .btnBox a {color: #fff;}
.lyrBox .lyr_ft .btnBox a.btn_lyr_close {background: #7f8185;}
.lyrBox .lyr_ft .btnBox a.btn_alert_close {background: #7f8185;}
.lyr_notify {color: #009583;}
/* //layer popup */

/* 개별 layer popup */
/* STT 오류수정 */
#lyr_stt_edit .lyr_ct span small {color: #ff1616;}
#lyr_stt_edit .lyr_ct .textBox {border: 1px solid #C7D0D3;}
#lyr_stt_edit .lyr_ct .textArea_original {border-bottom: 1px dotted #C7D0D3;}
#lyr_stt_edit .lyr_ct .textArea_original div.textBox {background: #f0f0f0;}
#lyr_stt_edit .lyr_ct .textArea_edit textarea.textBox {background: #fff;}
#lyr_stt_edit .lyr_ct .textArea_edit textarea.textBox:focus {border: 1px solid rgba(11,42,74,0.4);}
/* //STT 오류수정 */

/* 질의응답 */
#lyr_qa_edit .lyr_ct > div strong {background: #4e8692; color: #fff;}
#lyr_qa_edit .lyr_ct .qa_info em {border: 1px solid #C7D0D3; background: #f0f0f0;}
#lyr_qa_edit .lyr_ct .qa_info .iptBox input {border-color: #C7D0D3;}
#lyr_qa_edit .lyr_ct .textBox {border: 1px solid #C7D0D3;}
#lyr_qa_edit .lyr_ct div.textBox {background: #f0f0f0;}
#lyr_qa_edit .lyr_ct textarea.textBox {background: #fff;}
#lyr_qa_edit .lyr_ct textarea.textBox:focus {border: 1px solid rgba(11,42,74,0.4);}
#lyr_qa_edit .lyr_ct .fl {border-right: 1px dotted #C7D0D3;}
#lyr_qa_edit .lyr_ct > div.disabled strong {background: #7f8185;}
#lyr_qa_edit .lyr_ct > div.disabled .iptBox input {background: #f0f0f0;}
#lyr_qa_edit .lyr_ct > div.disabled .select {background: #f0f0f0;}
#lyr_qa_edit .lyr_ct > div.disabled textarea.textBox {background: #f0f0f0;}
/* //질의응답 */
/* //개별 layer popup */

/* 클립보드 */
#lyr_clipboard .lyr_ct {background: #4e8692; color: #fff;}
/* //클립보드 */

/* context menu */
.contextMenu {background: #fff;}
.contextMenu li:hover {background: #4d8691; color: #fff;}
.contextMenu li:hover a {color: #fff;}
/* //context menu */
