@charset "UTF-8";
/* MINDsLab. NBR. 20201022 */

/* -------------------- common -------------------- */
/* background color */
.bg_blue {background-color: #00829d;}
.bg_green {background-color: #009583;}

/* border color */
.bd_blue {border-color: #00829d;}
.bd_green {border-color: #009583;}
/* //color */

/* btnBox */
.btnBox a {background: #009583;; color: #fff;}
/* //btnBox */

/* iptBox */
.iptBox input {border: 1px solid #C7D0D3; background: #fff;}
.iptBox input:focus {border: 1px solid rgba(11,42,74,0.4);}
/* //iptBox */

/* chkBox */
.chkBox input[type="checkbox"] + label:before {border: 1px solid rgba(11,42,74,0.3); background: #fff;}
.chkBox input[type="checkbox"]:checked + label:before {border-color: #00829d; background: #00829d; color: #fff;}
.chkBox input[type="checkbox"]:checked + label {color: #00829d;}
/* //chkBox */

/* radioBox */
.radioBox input[type="radio"] + label:before {border: 1px solid rgba(11,42,74,0.3); background: #fff;}
.radioBox input[type="radio"]:checked + label:before {border-color: #009583;}
.radioBox input[type="radio"]:checked + label:after {background: #009583;}
/* //radioBox */

/* select */
.select {border: 1px solid #C7D0D3; background-color: #fff;}
.select:focus {border: 1px solid rgba(11,42,74,0.4);}
.select[disabled] {border: 1px solid #C7D0D3; background: #f0f0f0;}
/* //select */

/* scroll select */
.slt_scroll {border: 1px solid #C7D0D3; background-color: #fff;}
.sltBox.disabled .slt_scroll {background: #f0f0f0; color: #8f8f8f;}
.slt_scroll:focus {border: 1px solid rgba(11,42,74,0.4)}
.sltBox.disabled .slt_scroll:focus {border: 1px solid #C7D0D3;}
.slt_scroll .list {border: 1px solid rgba(11,42,74,0.4); background: #fff;}
.slt_scroll .option:hover,
.slt_scroll .option:focus {background: #f6f6f6;}
.slt_scroll .option.selected:focus {background: #f6f6f6;}
/* //scroll select */

/* Table(View,Edit) */
.tbl_line_view tbody {border-top: 2px solid #4e8692; border-bottom: 2px solid #4e8692;}
.tbl_line_view tbody th {border: 1px solid #c7d0d3; background: #e9f1f3;}
.tbl_line_view tbody td {border: 1px solid #c7d0d3; background: #e9f1f3;}
.tbl_line_view tbody td {background:#fff;}
/* //Table(View,Edit) */

/* srchBox */
.srchBox input {border: 1px solid #C7D0D3; background: #fff;}
.srchBox input:focus {border: 1px solid rgba(11,42,74,0.4);}
.srchBox .btn_srch {background-color: #009583;}
/* //srchBox */

/* custom table */
.custom_tbl {border: 1px solid #c7d0d3;}
.custom_tbl .tbl_hd {background: #4e8692;}
.custom_tbl .tbl_hd th {color: #fff;}
.custom_tbl .tbl_bd td {border-right: 1px dotted #C7D0D3; border-bottom: 1px dotted #C7D0D3;}
.custom_tbl .tbl_ft {border-top: 1px solid #C7D0D3; background: #f0f0f0;}
.custom_tbl .tbl_ft td + td {border-left: 1px dotted #C7D0D3;}
/* //custom table */

/* layer popup */
.lyr_bg_dim:after {background: rgba(0,0,0,0.5);}
.lyrBox {background: #fff;}
.lyrBox .lyr_hd {background: #4e8692; color: #fff;}
.lyrBox .lyr_ft .btnBox a {color: #fff;}
.lyrBox .lyr_ft .btnBox a.btn_lyr_close {background: #7f8185;}
.lyrBox .lyr_ft .btnBox a.btn_alert_close {background: #7f8185;}
.lyr_notify {color: #009583;}
/* //layer popup */

/* 개별 layer popup */
/* STT 오류수정 */
#lyr_stt_edit .lyr_ct span small {color: #ff1616;}
#lyr_stt_edit .lyr_ct .textBox {border: 1px solid #C7D0D3;}
#lyr_stt_edit .lyr_ct .textArea_original {border-bottom: 1px dotted #C7D0D3;}
#lyr_stt_edit .lyr_ct .textArea_original div.textBox {background: #f0f0f0;}
#lyr_stt_edit .lyr_ct .textArea_edit textarea.textBox {background: #fff;}
#lyr_stt_edit .lyr_ct .textArea_edit textarea.textBox:focus {border: 1px solid rgba(11,42,74,0.4);}
/* //STT 오류수정 */

/* 질의응답 */
#lyr_qa_edit .lyr_ct > div strong {background: #4e8692; color: #fff;}
#lyr_qa_edit .lyr_ct .qa_info em {border: 1px solid #C7D0D3; background: #f0f0f0;}
#lyr_qa_edit .lyr_ct .qa_info .iptBox input {border-color: #C7D0D3;}
#lyr_qa_edit .lyr_ct .textBox {border: 1px solid #C7D0D3;}
#lyr_qa_edit .lyr_ct div.textBox {background: #f0f0f0;}
#lyr_qa_edit .lyr_ct textarea.textBox {background: #fff;}
#lyr_qa_edit .lyr_ct textarea.textBox:focus {border: 1px solid rgba(11,42,74,0.4);}
#lyr_qa_edit .lyr_ct .fl {border-right: 1px dotted #C7D0D3;}
#lyr_qa_edit .lyr_ct > div.disabled strong {background: #7f8185;}
#lyr_qa_edit .lyr_ct > div.disabled .iptBox input {background: #f0f0f0;}
#lyr_qa_edit .lyr_ct > div.disabled .select {background: #f0f0f0;}
#lyr_qa_edit .lyr_ct > div.disabled textarea.textBox {background: #f0f0f0;}
/* //질의응답 */
/* //개별 layer popup */

/* 클립보드 */
#lyr_clipboard .lyr_ct {background: #4e8692; color: #fff;}
/* //클립보드 */

/* context menu */
.contextMenu {background: #fff;}
.contextMenu li:hover {background: #4d8691; color: #fff;}
.contextMenu li:hover a {color: #fff;}
/* //context menu */
/* -------------------- //common -------------------- */

/* -------------------- popup -------------------- */
/* -------------------- contents -------------------- */
#container h1:before { background: #4e8692;}
.popup_wrap {background: #e9f1f3;}

/* customInfo */
.customInfo {background: #fff;}
.customInfo tbody td .custom_info {border: 1px solid #C7D0D3; background: #f0f0f0;}
/* //customInfo */

/* Table(datatables) */
.dataTableBox {background: #fff;}
table.dataTable tr.selected td {background: #e9f1f3;}
table.dataTable thead th {border-left: 1px dotted #C7D0D3; background: #4e8692; color: #fff;}
table.dataTable thead th:nth-child(6) .iptBox input {color: #174b56 !important;}
table.dataTable tbody td {border-left: 1px dotted #C7D0D3; border-bottom: 1px dotted #C7D0D3;}
table.dataTable tbody td:nth-child(4).active {box-shadow: inset 1px 1px 0 #009583, inset -1px -1px 0 #009583;}
table.dataTable tbody td:nth-child(6).active {background: #fdeddc;}
table.dataTable tfoot th {border-left: 1px dotted #C7D0D3; background: #f0f0f0;}
.dataTables_scrollHead {background: #4e8692;}
.dataTables_scrollFoot {background: #f0f0f0;}
.dataTables_wrapper.no-footer .dataTables_scrollBody {border-bottom: 1px solid #C7D0D3;}
.DTFC_LeftBodyWrapper table.dataTable tbody td {background: #e9f1f3;}
button.dt-button, div.dt-button, a.dt-button, button.dt-button:active:not(.disabled), button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled),button.dt-button:focus:not(.disabled), div.dt-button:focus:not(.disabled), a.dt-button:focus:not(.disabled), button:active:not(.disabled):hover:not(.disabled) {background: #009583 !important; color: #fff !important;}
.dataTables_wrapper .dataTables_length select {border: 1px solid #C7D0D3; background-color: #fff;}
.dataTables_wrapper .dataTables_paginate .paginate_button {color: #174b56 !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {color: #174b56 !important;}
/* //Table(datatables) */

/* player */
.playerBox {color:#333; background:rgba(255,255,255,0.1);}
.playerBox button {background:#ccc;}
.playerBox .player_button button.btn_player_play {background-color:#fff;}
.playerBox .player_button button.btn_player_play.pause {background-color:#fff;}
.playerBox .player_speed span {color:#fff; background:#9ca4b9;}
.playerBox .player_bar .player_bar_streaming:before {background-color:#c2c8d8;}
.playerBox .player_bar .player_bar_streaming .player_bar_loaded {background:rgba(0,0,0,0.05);}
.playerBox .player_bar .player_bar_streaming .player_bar_played {background:#5e77ff;}
.playerBox .player_bar .player_bar_streaming .player_bar_played:after {border:2px solid #fff; background:#a6adbf;}
.playerBox.playing .player_bar .player_bar_streaming .player_bar_played:after {background:#5e77ff;}
.playerBox .player_time .current {color:#787a8a;}
.playerBox .player_time .duration {color:#35384d;}
.playerBox.muted .player_volume .player_bar_button a {background-color:#4f5669;}
.playerBox.muted .player_volume .player_bar_button a:before {border-right:9px solid #4f5669;}
.playerBox .player_volume .player_bar_adjust span {background-color:#c2c8d8;}
.playerBox .player_volume .player_bar_adjust span em {background-color:#009583;}
.pyr_speed .select {border: 1px solid #C7D0D3;}
/* //player */

/* term_srch_box */
.term_srch_box .btn_index_move a:hover {border: 1px solid #C7D0D3;}
.pageing a.btn_page_prev {background-color:#fff;}
.pageing a.btn_page_next {background-color:#fff;}
.pageing .page {color:#666;}
table.dataTable tbody td em.findElement.selected {background:#ffb624;}
/* //term_srch_box */

/* consultBox */
.consultBox {background: #fff;}
/* //consultBox */

/* conversationBox */
.conversationBox {background: #b2ced5;}
.conversationBox .custom {background: #fbdb67;}
.conversationBox .counselor {background: #fff;}
.conversationBox em.findElement.selected {background:#ffb624;}
/* //conversationBox */

/* -------------------- popup_tm_qa_targetSet page -------------------- */
.tm_qa_targetSet h2 p {background: #f9fafb;}
.target_setArea .set_condition dt {border-bottom: 2px solid #3f3f3f;}
.target_setArea .set_condition dt .iptBox input {border-color: #dedede;}
.target_setArea .set_condition dd {background: #f9fafb;}
.target_setArea .set_condition dd .sltArea {border: 1px solid #cfd5eb; background: #fff;}
.target_setArea .set_condition .btnBox a.btn_move_right {background-color: #019582;}
.target_setArea .set_condition .btnBox a.btn_move_left {background-color: #019582;}
.target_setArea .fl dl:nth-child(2) dd input {border: 1px solid #dedede;}
.target_setArea > .btnBox a {background: #019582; color: #fff;}

/* tree multiselect */
div.tree-multiselect div.title:before {border-top: 1px dotted #000;}
div.tree-multiselect div.title > span.collapse-section:after {border: 1px solid rgba(11,42,74,0.3); background: #fff;}
div.tree-multiselect div.section.collapsed > div.title span.collapse-section:after {border: 1px solid rgba(11,42,74,0.3); background: #fff;}
div.tree-multiselect div.section > div.item:before {border: 1px dotted #000;}
div.tree-multiselect span.remove-selected {background: #7f8185;}
div.tree-multiselect>div.selected div.item, 
div.tree-multiselect>div.selected div.section {position: relative; margin: 0px; padding: 2px 30px 2px 5px; background: none;}
div.tree-multiselect input[type=checkbox] {position: absolute; overflow: hidden; width: 1px; height: 1px; margin: -1px; padding: 0; clip: rect(0,0,0,0); border: 0;}
div.tree-multiselect div.selections input[type="checkbox"] + label {display: inline-block; position: relative; padding: 0 0 0 23px; font-size: 12px; cursor: pointer;}
div.tree-multiselect div.selections input[type="checkbox"] + label:before {content: ''; position: absolute; top: -13px; left: 2px; width: 15px; height: 15px; line-height: 15px; text-align: center; border: 1px solid rgba(11,42,74,0.3); border-radius: 3px; background: #fff; z-index: 5;}
div.tree-multiselect div.selections input[type="checkbox"]:checked + label:before {content: '\2713'; border-color: #00829d; background: #00829d; color: #fff;}
div.tree-multiselect div.item input[type="checkbox"] + label:before {top: 4px;}
.sltArea .product_list li {line-height: 25px;}
.sltArea .product_list .chkBox input[type="checkbox"] + label:before {top: 5px;}
.sltArea .product_list .chkBox input[type="checkbox"] + label {font-size: inherit;}
.sltArea .product_list .chkBox input[type="checkbox"]:checked + label {color: inherit;}

/* -------------------- popup_tm_qa_audit page -------------------- */
.topBox {overflow: hidden; width: 100%; margin: 0 0 10px; padding: 5px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); box-sizing: border-box; background: #fff;}
.topBox .tm_qa_audit {display: inline-block; float: left; width: 1070px; margin: 0; padding: 0; box-shadow: none; background: none;}
.topBox .tm_qa_audit .tbl_line_view tbody th {font-size: 12px;}
.topBox .tm_qa_audit .tbl_line_view tbody td {padding: 3px 5px;}
.topBox .tm_qa_audit .custom_info {overflow: hidden; padding: 3px 5px; font-size: 12px; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle;}
.topBox .tm_qa_audit .custom_info.rgst_num {width: 110px;}
.topBox .btnBox {display: inline-block; float: right; margin: 0; padding: 8px 0 0;}
.topBox .btnBox a {margin: 0 2px; padding: 0 20px; background: #009583; color: #fff; font-size: 12px; line-height: 23px;}
.topBox .player {height: 20px; margin: 0 0 0 15px; padding: 5px 20px; border-radius: 3px; background: #e9f1f3; vertical-align: top;}
.topBox .player .playerBox {line-height: 18px;}
.topBox .player .playerBox > div {line-height: 20px;}
.topBox .player .playerBox .player_button button.btn_player_play {background-color: transparent; line-height: 0;}
.topBox .player .playerBox .player_bar .player_bar_streaming:before {top: 4px;}
.topBox .player .playerBox .player_bar .player_bar_streaming > em {top: 4px;}
.topBox .player .playerBox .player_volume .player_bar_button {line-height: 18px;}
.topBox .player .pyr_speed .select {height: 20px; font-size: 12px; line-height: 20px;}
.topBox .btn_qa_group {display: inline-block; vertical-align: bottom;}
.topBox .btn_qa_group a {display: none; background: #009583;}
.topBox .btn_qa_group a.on {display: block;}

.audit_detailArea {overflow: hidden; width: 100%; padding: 5px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); box-sizing: border-box; background: #fff;}
.audit_detailArea .dataTableBox {padding: 0; border-radius: 0; box-shadow: none;}
.etc_scriptArea {display: none; float: right; padding: 0 0 5px;}
.etc_scriptArea.on {display: block;}
.etc_scriptArea * {display: inline-block;}
.etc_scriptArea dt {font-size: 12px; font-weight: 700;}
.etc_scriptArea dd li {margin: 0 0 0 5px; padding: 2px 5px; border: 1px solid #C7D0D3; border-radius: 3px; background: #f0f0f0; font-size: 12px;}
.audit_detailArea table.dataTable tbody tr {height: 25px !important;}
.audit_detailArea table.dataTable thead th {padding: 4px 10px; font-size: 12px;}
.audit_detailArea table.dataTable tbody td {padding: 4px 10px; font-size: 12px;}
.audit_detailArea table.dataTable.tbl_counsel_list tbody td:nth-child(4) {text-align: center;}
.audit_detailArea div.DTFC_LeftWrapper table.dataTable.no-footer {border-bottom: 1px solid transparent;}
.audit_detailArea div.DTFC_LeftWrapper table.dataTable.no-footer tbody td {background: #f3f8f9;}
.audit_detailArea table.dataTable tbody tr:hover td {background: #f3f8f9;}
.audit_detailArea table.dataTable tbody tr.active td {background: #fdeddc;}

.audit_detail_view {width: 100%; height: 655px; margin: 10px 0 0;}
.audit_detail_view > div {width: calc(50% - 10px); height: 100%;}
.audit_detail_view > div .detail_box:nth-child(2) {margin: 10px 0 0;}

.audit_detail_view .fl .detail_box.eval_score_box {box-sizing: border-box;}
.audit_detail_view .fl .detail_box.eval_score_box tr {height: 50px;}
.audit_detail_view .fl .detail_box.eval_score_box th {border: 1px solid #C7D0D3; background: #4e8692; color: #fff; font-size: 12px;}
.audit_detail_view .fl .detail_box.eval_score_box td {padding: 3px 5px; border: 1px solid #C7D0D3; text-align: center;}
.audit_detail_view .fl .detail_box.eval_score_box tr:first-child th {border-top: none;}
.audit_detail_view .fl .detail_box.eval_score_box tr:first-child td {border-top: none;}
.audit_detail_view .fl .detail_box.eval_score_box tr:last-child td {padding: 2px 15px; border-bottom: none;}
.audit_detail_view .fl .detail_box.eval_score_box td ul {display: table; margin: 0 auto; border: 1px solid #C7D0D3;}
.audit_detail_view .fl .detail_box.eval_score_box td ul li {display: table-cell; width: 65px; font-size: 12px;}
.audit_detail_view .fl .detail_box.eval_score_box td ul li + li {border-left: 1px solid #C7D0D3;}
.audit_detail_view .fl .detail_box.eval_score_box td ul li strong {display: block; padding: 2px 0; border-bottom: 1px solid #C7D0D3; background: #f3f8f9; font-weight: 400; text-align: center;}
.audit_detail_view .fl .detail_box.eval_score_box td ul li span {display: block; padding: 2px 0; text-align: center;}
.audit_detail_view .fl .detail_box.eval_score_box td select {width: 100%; font-size: 12px;}
.audit_detail_view .fl .detail_box.eval_score_box td textarea {display: inline-block; width: 100%; height: 70px; padding: 5px; border: 1px solid #C7D0D3; border-radius: 3px; box-sizing: border-box; background: #fff; font-size: 12px; vertical-align: middle;}
.audit_detail_view .fl .detail_box.eval_score_box td textarea:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
.audit_detail_view .fl .detail_box .evalArea {position: relative; padding: 31px 0 0;}
.audit_detail_view .fl .detail_box .evalArea .eval_tab_title {position: absolute; top: 1px; left: 0;}
.audit_detail_view .fl .detail_box .evalArea .eval_tab_title a {display: inline-block; margin: 0 2px 0 0; padding: 0 20px; line-height: 30px; border: 1px solid #C7D0D3; border-bottom: none; border-radius: 3px 3px 0 0; font-size: 12px;}
.audit_detail_view .fl .detail_box .evalArea .eval_tab_title a.on {background: #4e8692; color: #fff; font-weight: 700;}
.audit_detail_view .fl .detail_box .evalArea .eval_case {display: inline-block; position: absolute; top: 1px; left: 180px; padding: 0 10px; border: 1px solid #C7D0D3; border-radius: 15px; background: #f0f0f0; font-size: 12px; line-height: 23px;}
.audit_detail_view .fl .detail_box .evalArea .btnBox {display: inline-block; position: absolute; top: 1px; left: 274px; margin: 0;}
.audit_detail_view .fl .detail_box .evalArea .btnBox a {display: inline-block; margin: 0 2px; background: #009583; color: #fff; font-size: 12px; line-height: 23px;}
.audit_detail_view .fl .detail_box .evalArea .btnBox a.btn_problem {background: #7f8185;}
.audit_detail_view .fl .detail_box .eval_tbl {height: auto; border: 1px solid #c7d0d3; border-radius: 0 3px 3px 3px;}
.audit_detail_view .fl .detail_box .eval_tbl .tbl_hd {height: 30px; padding: 0;}
.audit_detail_view .fl .detail_box .eval_tbl .tbl_bd {height: 453px;}
.audit_detail_view .fl .detail_box .eval_tbl table tr {height: 30px;}
.audit_detail_view .fl .detail_box .eval_tbl td .iptBox {width: 50px;}
.audit_detail_view .fl .detail_box .eval_tbl td .iptBox input[type="text"] {height: 25px; border: 1px solid #C7D0D3;}
.audit_detail_view .fl .detail_box .eval_tbl td span.asw_icplt {display: inline-block; padding: 3px 10px; border-radius: 3px; background: #d30000; color: #fff;}
.audit_detail_view .fl .detail_box .eval_tbl td a {display: inline-block; padding: 3px 10px; border-radius: 3px; color: #fff;}
.audit_detail_view .fl .detail_box .eval_tbl td a.btn_detect_success {background: #0e448b;}
.audit_detail_view .fl .detail_box .eval_tbl td a.btn_detect_part {background: #e0700b;}
.audit_detail_view .fl .detail_box .eval_tbl td a.btn_detect_fail {background: #d30000;}

.audit_detail_view .fr .detail_box .custom_tbl .tbl_bd tr:hover td {background: #f3f8f9;}
.audit_detail_view .fr .detail_box .btnBox a {margin: 0 2px; background: #009583; color: #fff; font-size: 12px; line-height: 23px;}
.audit_detail_view .fr .detail_box .btnBox a.btn_tpry_save {background: #7f8185;}
.audit_detail_view .fr .detail_box .btnBox a.btn_transcript {float: right;}
.audit_detail_view .fr .detail_box .scriptBox dd {line-height: 1.6;}
.audit_detail_view .fr .detail_box .scriptBox li span {margin: 0 5px 0 0;}
.audit_detail_view .fr .detail_box .gnr_script {margin: 5px 0 0;}
.audit_detail_view .fr .detail_box .stt_result li a:hover {text-decoration: underline; cursor: pointer;}
.audit_detail_view .fr .detail_box .stt_result li.txt_blue a {color: #0669ea;}
.audit_detail_view .fr .detail_box .stt_result li.txt_red a {color: #d30000;}
.audit_detail_view .fr .detail_box > dl {height: 236px; border: 1px solid #c7d0d3; border-radius: 3px;}
.audit_detail_view .fr .detail_box > dl + dl {margin: 10px 0 0;}
.audit_detail_view .fr .detail_box > dl dt {padding: 0 10px; box-sizing: border-box; background: #4e8692; color: #fff; font-size: 12px; font-weight: 700; line-height: 30px;}
.audit_detail_view .fr .detail_box > dl dd {overflow: auto; height: calc(100% - 30px); padding: 5px; box-sizing: border-box; font-size: 12px;}

/* -------------------- popup_assign page -------------------- */
.date_default {display: inline-block; float: right; padding: 8px 0 0; font-weight: 700;}
.qa_setArea .custom_tbl {clear: both;}
.qa_setArea .custom_tbl .tbl_hd {height: 30px;}
.qa_setArea .custom_tbl .tbl_hd th + th {border-left: 1px dotted #C7D0D3;}
.qa_setArea .custom_tbl .tbl_bd {height: 300px; background: #fff;}
.qa_setArea .custom_tbl .tbl_bd td .radioBox input[type="radio"] + label {padding: 0 0 0 25px;}
.qa_setArea .custom_tbl .tbl_bd td .radioBox input[type="radio"] + label:before {top: 1px;}
.qa_setArea .custom_tbl .tbl_bd td .radioBox input[type="radio"]:checked + label:after {top: 4px;}
.qa_setArea .custom_tbl table tr {height: 30px;}
.qa_setArea .btnBox {margin: 10px 0 0; text-align: center;}
.qa_setArea .btnBox a {margin: 0 2px; background: #009583; color: #fff; line-height: 30px;}
.qa_setArea .btnBox a.btn_cancel {background: #7f8185;}

/* -------------------- popup_tm_qa_stt page -------------------- */
.tm_qa_stt table.dataTable.tbl_counsel_script tbody td {overflow: visible; text-overflow: inherit; white-space: normal;}
.tm_qa_stt table.dataTable.tbl_counsel_list tbody td:nth-child(4) {text-align: center;}
.tm_qa_stt .player {margin: 5px 0;}
.tm_qa_stt .term_srch_box {margin: 5px 0;}

/* -------------------- admin popup -------------------- */
.admin.small > div {width: 550px;}
.admin.medium > div {width: 900px;}
.admin.large > div {width: 1200px;}

#container .admin h1 {float: left; margin: 0 0 5px; line-height: 30px;}
#container .admin h1:before {top: 8px;}
.admin h1 ~ .btnBox {float: right; margin: 6px 0;}
.admin h1 ~ .btnBox a {padding: 0 15px; line-height: 20px;}
.admin h1 ~ .srchBox {float: right; width: 250px; margin: 0 0 5px;}
.admin h2 {position: relative; float: left; padding: 0 0 0 15px; font-size: 14px; line-height: 30px;}
.admin h2:before {content: ''; display: inline-block; position: absolute; top: 50%; left: 0; width: 8px; height: 8px; margin-top: -3px; border-radius: 2px; background: #00829d;}
.admin h2 ~ .btnBox {float: right; margin: 0 0 5px;}
.admin h2 ~ .btnBox a {padding: 0 15px; line-height: 20px;}
.admin h2 ~ .srchBox {float: right; width: 250px; margin: 0 0 5px;}
.admin .pop_top {overflow: hidden;}
.admin .pop_mdl {}
.admin .pop_mdl > div {margin: 0 0 20px;}
.admin .pop_btm {margin: 20px 0 10px;}
.admin .pop_btm .btnBox {text-align: center;}
.admin .btnBox a {margin: 0 2px;}
.admin .btnBox a.btn_cancel {background: #7f8185;}
.admin .btnBox a.btn_close {background: #7f8185;}
.admin .btnBox a.btn_delete {background: #7f8185;}
.admin .btn_gnr_group {text-align: center;}
.admin .btn_gnr_group a.btn_delete {float: left;}
.admin .btn_change_group a.btn_edit_show {display: none; float: none;}

.admin .dataTableBox {padding: 0 0 35px; border-radius: 0; box-shadow: none; background: none;}
.admin table.dataTable thead th {border-left: 1px solid #C7D0D3;}
.admin table.dataTable tr {height: 40px !important;}
.admin table.dataTable td {border-left: 1px solid #C7D0D3; border-bottom: 1px solid #C7D0D3;}
.admin table.dataTable td:last-child {border-right: 1px solid #C7D0D3;}
.admin table.dataTable tr:last-child td {border-bottom: none;}
.admin table.dataTable td.dataTables_empty {vertical-align: middle;}
.admin table.dataTable td.dataTables_empty:hover {background: #fff;}
.admin table.dataTable.no-footer {border-bottom: 1px solid #C7D0D3;}

/* tbl_popup_set(admin에서 사용하는 윈도우 팝업 내 테이블 스타일) */
.tbl_popup_set {width: 100%; border: 1px solid #C7D0D3; clear: both;}
.tbl_popup_set table {width: 100%;}
.tbl_popup_set table tr {height: 40px;}
.tbl_popup_set table th {border-right: 1px solid #C7D0D3; background: #4e8692; color: #fff; font-weight: 700; text-align: center;}
.tbl_popup_set table thead th:last-child {border: none;}
.tbl_popup_set table tbody tr:last-child td {border-bottom: none;}
.tbl_popup_set table tbody th {border-bottom: 1px solid #C7D0D3;}
.tbl_popup_set table tbody td {padding: 5px; border-right: 1px solid #C7D0D3; border-bottom: 1px solid #C7D0D3; background: #fff; text-align: center;}
.tbl_popup_set table tbody td:last-child {border-right: none;}
.tbl_popup_set table tbody td .iptBox {width: 100%;}
.tbl_popup_set table tbody td .iptBox input {width: 100%;}
.tbl_popup_set table tbody td .iptBox input[disabled],
.tbl_popup_set table tbody td .iptBox input[readonly] {background: #f0f0f0; cursor: default;}
.tbl_popup_set table tbody td .iptBox input[readonly]:focus {border: 1px solid #C7D0D3; box-shadow: none;}
.tbl_popup_set table tbody td .iptBox input.iptDateTime {width: 140px;}
.tbl_popup_set table tbody td .select {width: 100%;}
.tbl_popup_set table tbody td .btnBox {margin: 0; text-align: center;}
.tbl_popup_set table tbody td .btnBox a span {display: inline-block; overflow: hidden; text-indent: -9999px;}
.tbl_popup_set table tbody td .btnBox a.btn_add {position: relative; width: 25px; height: 25px; padding: 0;}
.tbl_popup_set table tbody td .btnBox a.btn_add:before {content: ''; position: absolute; top: 50%; left: 50%; width: 15px; height: 3px; background: #fff; transform: translate(-50%, -50%);}
.tbl_popup_set table tbody td .btnBox a.btn_add:after {content: ''; position: absolute; top: 50%; left: 50%; width: 3px; height: 15px; background: #fff; transform: translate(-50%, -50%);}
.tbl_popup_set .tbl_hd {background: #4e8692;}
.tbl_popup_set .tbl_bd.tbl_scroll {overflow: auto; max-height: 400px;}
/* //tbl_popup_set(admin에서 사용하는 윈도우 팝업 내 테이블 스타일) */

/* tbl_include_btn */
.tbl_include_btn tbody tr.active td {background: #e9f1f3;}
.tbl_include_btn tbody td .iptBox input {height: 30px;}
.tbl_include_btn tbody td .btnBox a {padding: 0 15px; font-size: 12px; font-weight: 400; line-height: 23px;}
/* //tbl_include_btn */

/* .rgst_sentence_srch */
.setBox.rgst_sentence_srch table tbody td:first-child {text-align: left;}
.setBox.rgst_sentence_srch table tbody td.dataTables_empty {text-align: center;}
/* //rgst_sentence_srch */

/* dtcn_dic_add */
.setBox.dtcn_dic_add table tbody tr:nth-child(1) td,
.setBox.dtcn_dic_add table tbody tr:nth-child(2) td,
.setBox.dtcn_dic_add table tbody tr:nth-child(3) td {text-align: left;}
/* //dtcn_dic_add */

/* add_sentence */
.setBox.add_sentence .tbl_include_btn tbody td:nth-child(2),
.setBox.add_sentence .tbl_include_btn tbody td:nth-child(3) {text-align: left;}
.setBox.add_sentence .tbl_include_btn tbody td:nth-child(4) {text-align: center;}
/* //add_sentence */

/* srch_list */
.srch_list {margin: 10px 0 0;}

.right_manage {width: 550px;}

/* -------------------- prdt_script_manage page -------------------- */
.prdt_script_manage .setBox.detail_set tbody td:nth-child(7),
.prdt_script_manage .setBox.detail_set tbody td:nth-child(8) {text-align: left;}

/* -------------------- counsel_stn_manage page -------------------- */
.counsel_stn_manage .setBox.add_sentence .tbl_include_btn tbody td:nth-child(2) {text-align: left;}
.counsel_stn_manage .setBox.add_sentence .tbl_include_btn tbody td:nth-child(3) {text-align: center;}

/* -------------------- sentence_talk_cdtn page -------------------- */
.sentence_talk_cdtn .setBox .dataTableBox .dataTable tbody td {text-align: center;}

/* -------------------- gnr_script_manage page -------------------- */
.gnr_script_manage .setBox .dataTableBox .dataTable tbody td {text-align: center;}

/* -------------------- detect_dic_manage page -------------------- */
.detect_dic_manage .setBox.add_sentence .tbl_include_btn tbody td:nth-child(3) {text-align: center;}

/* -------------------- media qeury -------------------- */
@media screen and (max-width: 767px){
    .dataTables_wrapper .dataTables_paginate {margin: 0}
