@charset "UTF-8";
/* MINDsLab. NBR. 20200903 */

/* -------------------- layout -------------------- */
#wrap {width: 100%; min-width: 1280px; height: 100%;}
#header {position: absolute; width: 100%; min-width: 1280px; height: 90px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); z-index: 5;}
#container {display: table; table-layout: fixed; position: relative; width: 100%; height: 100%; padding: 90px 0 0; background: #e9f1f3;}
#contents {width: 100%; height: 100%; padding: 10px; box-sizing: border-box;}

/* -------------------- header -------------------- */
#header .title_box {width: 100%; height: 50px; padding: 0 20px; border-bottom: 1px solid rgba(233,241,243,0.2); box-sizing: border-box;}
#header .title_box h1 {float: left; height: 100%;}
#header .title_box h1 .logo {display: inline-block; height: 30px; margin: 10px 0;}
#header .title_box h1 .title {display: inline-block; height: 100%; padding: 12px 20px 0; border-left: 1px solid rgba(233,241,243,0.2); box-sizing: border-box; color: #E9F1F3; font-size: 18px;}

#header .title_box .etc_box {float: right; height: 100%; padding: 10px 0; box-sizing: border-box;}
#header .title_box .etc_box > div {float: left;}
#header .title_box .etc_box .user_account {overflow: hidden; width: 150px; height: 30px; margin: 0 10px 0 0; padding: 0 5px; border-radius: 3px; box-sizing: border-box; background: rgba(255,255,255,0.5); text-overflow: ellipsis; line-height: 30px; white-space: nowrap;}
#header .title_box .etc_box .btn_logout {display: block; height: 30px; line-height: 28px;}
#header .title_box .etc_box .btn_logout a {display: block; background: #009583; color: #fff;}
#header .title_box .etc_box .btn_logout a:hover {border: 1px solid #E9F1F3;}
#header .title_box .etc_box .btn_logout img {margin: -2px 0 0; vertical-align: middle;}

#header .gnb {display: flex; position: relative; width: 100%; z-index: 5;}
#header .gnb > li {flex: 1;}
#header .gnb > li h2 {position: relative; background: #fff; color: #174b56; font-size: 14px; text-align: center; line-height: 40px; cursor: pointer; transition: background 0.3s ease-out;}
#header .gnb > li.active h2 {border-left: 1px solid #C7D0D3; border-right: 1px solid #C7D0D3; background: #fff;}
#header .gnb li.current h2,
#header .gnb li.current > a {color: #00829d;}

#header .gnb .sub {display: none; border: 1px solid #C7D0D3; border-top: none; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff;}
#header .gnb .sub li a {display: inline-block; width: 100%; height: 100%; padding: 0 20px; box-sizing: border-box; line-height: 40px;}
#header .gnb .sub li a:hover {text-decoration: underline;}
#header .gnb .sub > li > a {font-weight: 700;}
#header .gnb .sub > li.down > a {background: url('../images/arw_bottom_bk.png')right 20px top 50% no-repeat;}
#header .gnb .sub > li.up > a {background: url('../images/arw_top_bk.png')right 20px top 50% no-repeat;}

#header .gnb .third {display: none;}
#header .gnb .third > li {font-size: 12px;}
#header .gnb .third > li:last-child {padding: 0 0 15px;}
#header .gnb .third > li a {padding: 0 30px; line-height: 25px;}


/* -------------------- 탭기능 style -------------------- */
/* -- 추가 200915 AMR 탭메뉴 css -- */
.tab_title {position: relative;}
.tab_title.dropOn .tab_dropdown {display: block;}
.tab_title.dropOn .tab_list_wrap {width: calc(100% - 110px);}
.tab_title li.active {background: #fff;}
.tab_title .btn_close {display: inline-block; position: relative; width: 20px; height: 20px; margin: 0 0 0 10px; line-height: 30px; vertical-align: middle;}
.tab_title .btn_close:before {content: ''; position: absolute; top: 4px; left: 12px; width: 2px; height: 12px; border-radius: 1px; background: #3f3f3f; transform: rotate(45deg);}
.tab_title .btn_close:after {content: ''; position: absolute; top: 4px; left: 12px; width: 2px; height: 12px; border-radius: 1px; background: #3f3f3f; transform: rotate(-45deg);}
.tab_title .btn_close span {display: inline-block; overflow: hidden; text-indent: -999px;}

.tab_list_wrap {overflow: hidden; position: relative; width: 100%; height: 30px;}
.tab_list {position: absolute; top: 0; left: 0;}
.tab_list li {display: inline-block; position: relative; min-width: 80px; height: 30px; margin: 0 10px 0 0; padding: 0 10px; border-radius: 4px 4px 0 0; background: #b3cfd1; font-size: 13px; vertical-align: bottom; text-align: center; cursor: pointer;}
.tab_list li a:first-child {line-height: 30px; vertical-align: middle;}
.tab_list li.active a:first-child {font-weight: 700;}

.tab_dropdown {display: none;}
.tab_dropdown .btnBox {position: absolute; top: -5px; right: 0;}
.tab_dropdown .btnBox .btn_tab_allDlt {margin: 0 6px 6px; background: #009583; color: #fff; line-height: 25px;}
.tab_dropdown .btn_open {position: relative; width: 25px; height: 30px; margin: 0 0 6px; padding: 0; background: transparent;}
.tab_dropdown .btn_open span {display: inline-block; overflow: hidden; text-indent: -999px;}
.tab_dropdown .btn_open em {position: absolute; top: 50%; left: 0; width: 25px; height: 3px; background: #3f3f3f; transform: translate(0, -50%);}
.tab_dropdown .btn_open em:before {content: ''; position: absolute; top: -10px; left: 0; width: 25px; height: 3px; background: #3f3f3f;}
.tab_dropdown .btn_open em:after {content: ''; position: absolute; left: 0; bottom: -10px; width: 25px; height: 3px; background: #3f3f3f;}
.tab_dropdown .dropdown_list {display: none; overflow: auto; position: absolute; top: 100%; right: 0; height: auto; max-height: 500px; border-radius: 3px; box-shadow: 0 15px 35px rgba(50,50,90,0.2), 0 5px 15px rgba(0,0,0,0.07); background: #fff; z-index: 3;}
.tab_dropdown .dropdown_list.active {display: block;}
.tab_dropdown .dropdown_list li a {display: inline-block; width: 100%; height: 100%; padding: 0 30px; box-sizing: border-box; font-weight: 700; line-height: 35px;}
.tab_dropdown .dropdown_list li a:hover {color: #009583;}
.tab_dropdown .dropdown_list li.active {background: #009583;}
.tab_dropdown .dropdown_list li.active a {color: #fff; font-weight: 700;}
.tab_content {width: 100%; height: calc(100% - 30px); padding: 5px; border-radius: 0 3px 3px 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); box-sizing: border-box; background: #fff;}
.tab_content:empty {padding: 0;}

#container .tabArea {height: 40px; padding: 0 20px; background: #f9f4f4;}
#container .tabArea li {display: inline-block; width: 200px; border-radius: 3px 3px 0 0; line-height: 40px;}
#container .tabArea li.active {background: #e8f1f3;}
#container .tabArea li a {display: inline-block; width: 100%; padding: 0 10px; box-sizing: border-box;}

/* -------------------- home_dashboard page -------------------- */

/* -------------------- cs_stt page -------------------- */

/* -------------------- //cs_stt page -------------------- */

/* -------------------- tm_qa_target page -------------------- */
.dtr-control {outline: none;}
.tm_qa_target .srchArea tbody td input.iptDate,
.tm_qa_target .srchArea tbody td input.ta_score {width: 110px;}
.tm_qa_target .dataTableBox .btnBox {display: inline-block; margin: 0 0 5px;}
.tm_qa_target .dataTableBox .btnBox a {margin: 0 6px 0 0; background: #019582; color: #fff; line-height: 28px;}
.tm_qa_target .dataTableBox .btnBox a.btn_target {opacity: 0.5; pointer-events: none;}
.tm_qa_target .dataTableBox .btnBox a.btn_cancel {opacity: 0.5; pointer-events: none;}
.tm_qa_target .dataTableBox .btnBox a.on {opacity: 1; pointer-events: all;}
.tm_qa_target .dataTableBox .chk_only_box input[type="checkbox"]:before {left: -10px;}
.tm_qa_target .dataTables_info .select-info {display: none;}
.tm_qa_target .dataTables_wrapper .dataTables_info {position: static;}
/* -------------------- //tm_qa_target page -------------------- */

/* -------------------- tm_qa_assign page -------------------- */
.tm_qa_assign .srchArea tbody td input.iptDateTime {width: 100px;}
.tm_qa_assign .srchArea tbody td input.ta_score {width: 52px;}
.tm_qa_assign .dataTableBox .dt-buttons {bottom: 0;}
.tm_qa_assign .dataTableBox .chk_only_box input[type="checkbox"]:before {top: 2px; left: -9px;}
.tm_qa_assign .dataTableBox .dataTables_wrapper {margin: -18px 0 0;}
.tm_qa_assign .dataTableBox .dataTables_wrapper .dataTables_info {position: static; padding: 5px 0 0;}
.tm_qa_assign .dataTableBox table.dataTable tbody td:nth-child(4) {min-width: 200px;}
.tm_qa_assign .stnArea {margin: 20px 0 0;}
.stnArea h2 {float: left; position: relative; margin: 0 15px 5px 0; padding: 0 0 0 15px; font-size: 14px; line-height: 30px;}
.stnArea h2:before {content: ''; display: inline-block; position: absolute; top: 50%; left: 0; width: 8px; height: 8px; margin-top: -3px; border-radius: 100%; background: #00829d;}
.stnArea > .btnBox {float: left;}
.stnArea .btnBox a {background: #019582; color: #fff; line-height: 28px;}
.stnArea .dateSearch_box {float: right;}
.stnArea .dateSearch_box > div {display: inline-block; vertical-align: bottom;}
.stnArea .dateSearch_box .btnBox {margin: 0 0 0 20px;}
.stnArea .dateSearch_box .iptBox .iptDateTime {width: 100px;}
.stnArea .assign_status_box {overflow-x: auto; width: 100%;}
.stnArea .assign_status_box table {width: 100%;}
/* -------------------- //tm_qa_assign page -------------------- */

/* -------------------- qa_result page -------------------- */
.qa_result div.dt-buttons {position: static; float: right; margin: 10px 0 0; height: 30px;}
/* -------------------- //qa_result page -------------------- */

/* -------------------- admin page -------------------- */
