@charset "UTF-8";
/* MINDsLab. NBR. 20210707 */

/* 공통 CSS */
@import url("reset.css"); 
@import url("font.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");


/* -------------------- layout -------------------- */
#wrap {width:100%; min-width:1280px; height:100%; min-height:768px;}
#container {display:table; width:100%; height:100%; background:#eeeff1;}
#snb {overflow:hidden; position:fixed; top:0; left:0; width:80px; height:100%; min-height:768px; background:#fff; transition:all 0.1s ease-out; z-index:5000;}
#contents {display:table-cell; width:calc(100% - 80px); height:100%; margin:0 0 0 80px; padding:70px 40px 0 120px; box-sizing:border-box; vertical-align:top;}


/* -------------------- common -------------------- */
/* scroll bar */
::-webkit-scrollbar {width:6px; height:6px; border-radius:3px;}  /* 스크롤바의 width */
::-webkit-scrollbar-track {background:transparent;}  /* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {border-radius:3px; background:#aeb0b3;}  /* 스크롤바 색 */
::-webkit-scrollbar-button {display:none;}  /* 위 아래 버튼 (버튼 없애기를 함) */

/* float */
.fl {float:left;}
.fr {float:right;}

/* clearfix */
.clearfix:after {content:''; display:block; clear:both;}

/* hide */
.hide {display:inline-block; overflow:hidden; position:absolute; text-indent:-9999px; line-height:0; white-space:nowrap;}

/* ellip */
.ellip {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

/* textarea */
.textarea {width:100%; padding:12px; border:1px solid #d9dde6; border-radius:4px; box-sizing:border-box; background:#f8f8f8; }
.textarea::placeholder {color:#707177; font-size:13px; letter-spacing:-0.13px;}

/* ipt_txt */
.ipt_txt {min-width:100px; height:32px; padding:0 12px; border:1px solid #d9dde6; border-radius:4px; box-sizing:border-box; background:#fff; color:#26282B;}
.ipt_txt::placeholder {color:#707177; font-size:13px; letter-spacing:-0.13px;}

/* srchBox */
.srchBox {display:inline-block; position:relative;}
.srchBox input[type="text"] {min-width:100px; height:32px; padding:0 36px 0 12px; border:1px solid #d9dde6; border-radius:4px; box-sizing:border-box; background:#fff; color:#26282b;}
.srchBox input[type="text"]::placeholder {color:#707177; font-size:13px; letter-spacing:-0.13px;}
.srchBox .btn_srch {position:absolute; top:0; right:4px; width:32px; height:32px; background:url('../images/dashboard/ico_srch.svg') 50% 50% no-repeat;}

/* select */
.select {min-width:100px; height:32px; padding:0 40px 0 12px; border:1px solid #d9dde6; border-radius:4px; box-sizing:border-box; background:#fff url('../images/dashboard/ico_caret_down.svg') top 50% right 4px no-repeat; color:#707177; font-size:13px; letter-spacing:-0.13px;}

/* button */
.btn_primary_rect {display:inline-block; height:42px; border-radius:4px; background:#aaadb1; color:#fff; font-size:14px; letter-spacing:-0.14px; line-height:42px; transition:all 0.3s ease-out;}
.btn_primary_rect.blue {background-color:#1054b2 !important;}
.btn_primary_rect.on {background:#1054b2; pointer-events:inherit;}
.btn_list_remove {width:80px;}

.btn_shortcut {padding:0 22px 0 0; background:url('../images/dashboard/ico_shortcut_g.svg') top 50% right 0 no-repeat; color:#26282b; font-size:13px; letter-spacing:-0.13px; vertical-align:middle; transition:all 0.3s ease-out;}
.btn_shortcut:hover {background:url('../images/dashboard/ico_shortcut_b.svg') top 50% right 0 no-repeat; color:#1d5ca7; text-decoration:underline;}

/* radioBox */
.radioBox {display:inline-block;}
.radioBox input[type="radio"] {overflow:hidden; position:absolute; width:1px; height:1px; margin:1px; padding:0; border:none;}
.radioBox input[type="radio"] + label {position:relative; padding:0 0 0 30px; color:#26282b; font-size:13px; letter-spacing:-0.13px; vertical-align:middle; transition:all 0.2s ease-out; cursor:pointer;}
.radioBox input[type="radio"] + label:before {content:''; display:inline-block; position:absolute; top:0; left:0; width:18px; height:18px; border:1px solid #d9dde6; border-radius:50%; box-sizing:border-box; background:#fff; transition:all 0.2s ease-out;}
.radioBox input[type="radio"]:checked + label:after {content:''; display:inline-block; position:absolute; top:4px; left:4px; width:10px; height:10px; border-radius:50%; background:#1054b2; transition:all 0.2s ease-out;}

/* chkBoxOnly */
.chkBoxOnly {display:inline-block; position:relative;}
.chkBoxOnly input[type="checkbox"] {overflow:hidden; width:1px; height:1px; margin:1px; padding:0; border:none;}
.chkBoxOnly input[type="checkbox"]:before {content:''; display:block; position:absolute; top:50%; left:50%; width:20px; height:20px; border:1px solid #d9dde6; border-radius:4px; box-sizing:border-box; background:#fff; transform:translate(-50%, -50%); transition:border 0.2s ease-out; cursor:pointer;}
.chkBoxOnly input[type="checkbox"]:checked:before {border:1px solid #1054b2; background:#fff url('../images/dashboard/ico_chk_b.svg') 50% 50% no-repeat;} 

/* switch button */
.switchBox {display:inline-block;}
.switchBox input[type="checkbox"] {overflow:hidden; position:absolute; width:1px; height:1px; margin:1px; padding:0; border:none;}
.switchBox input[type="checkbox"] + label {position:relative; padding:0 52px 0 0; color:#707177; font-size:13px; letter-spacing:-0.13px; vertical-align:middle; cursor:pointer;}
.switchBox input[type="checkbox"] + label:before {content:''; display:inline-block; position:absolute; top:0; right:0; width:40px; height:18px; border-radius:9px; background:#c3cbd7; transition:all 0.2s ease-out;}
.switchBox input[type="checkbox"] + label:after {content:''; display:inline-block; position:absolute; top:2px; right:24px; width:14px; height:14px; border-radius:50%; background:#f0f0f0; transition:all 0.2s ease-out;}
.switchBox input[type="checkbox"]:checked + label:before {background:#1054b2;}
.switchBox input[type="checkbox"]:checked + label:after {right:2px; background:#fff;}

/* datepicker */
input[type="text"].fromDate,
input[type="text"].toDate {position:relative; background:#fff url('../images/dashboard/ico_calender.svg') top 50% right 8px no-repeat;}

/* font point */
.ft_point_red {color:#ba2b2b;}


/* -------------------- snb -------------------- */
#snb .topBox {height:80px;}
#snb .topBox .logo {display:none; width:100%; height:100%;}
#snb .topBox .logo a {display:flex; align-items:center; justify-content:center; height:100%;}
#snb .topBox .btn_ham {width:100%; height:100%; background:#1054b2 url('../images/dashboard/ico_ham.svg') 50% 50% no-repeat;}
#snb .account {display:none; padding:0 15px; border-top:1px solid #d9dde6; box-sizing:border-box;}
#snb .account span {display:block; overflow:hidden; width:100%; color:#8c94a0; font-size:15px; font-weight:500; letter-spacing:-0.15px; line-height:70px; text-align:center; white-space:nowrap; text-overflow:ellipsis;}
#snb .nav {display:flex; flex-direction:column; width:100%; height:calc(100% - 80px);}
#snb .nav li {position:relative; width:100%; height:60px; padding:0 0 0 80px; box-sizing:border-box; transition:background-color 0.3s ease-out;}
#snb .nav li:last-child {margin-top:auto;}
#snb .nav li:nth-child(1) {background:url('../images/dashboard/ico_workspace.svg') 50% 50% no-repeat;}
#snb .nav li:nth-child(2) {background:url('../images/dashboard/ico_project.svg') 50% 50% no-repeat;}
#snb .nav li:nth-child(3) {background:url('../images/dashboard/ico_statistic.svg') 50% 50% no-repeat;}
#snb .nav li:nth-child(4) {background:url('../images/dashboard/ico_worker.svg') 50% 50% no-repeat;}
#snb .nav li:nth-child(5) {background:url('../images/dashboard/ico_inquiry.svg') 50% 50% no-repeat;}
#snb .nav li:nth-child(6) {background:url('../images/dashboard/ico_contract.svg') 50% 50% no-repeat;}
#snb .nav li:nth-child(7) {background:url('../images/dashboard/ico_logout.svg') 50% 50% no-repeat;}
#snb .nav li.active {background-color:#eeeff1;}
#snb .nav li.active:before {content:''; display:block; position:absolute; top:0; left:0; width:4px; height:100%; background:#1054b2;}
#snb .nav li a {display:none; color:#26282b; font-size:14px; letter-spacing:-0.14px; line-height:60px;}

#snb.open {width:210px; box-shadow:0 3px 40px 0 rgba(50, 80, 106, 0.33);}
#snb.open .topBox .logo {display:block;}
#snb.open .topBox .btn_ham {display:none;}
#snb.open .account {display:block;}
#snb.open .nav {height:calc(100% - 150px);}
#snb.open .nav li {padding:0; background-position:30px 50%;}
#snb.open .nav li:hover {background-color:#eeeff1;}
#snb.open .nav li a {display:block; padding:0 0 0 74px; box-sizing:border-box;}
#snb.open .nav li:nth-child(7) a {padding:0 0 0 78px;}


/* -------------------- content -------------------- */
/* titArea */
.titArea {margin:0 0 30px;}
.titArea h3 {float:left; margin:0 30px 0 0; color:#26282b; font-size:22px; font-weight:500; letter-spacing:-0.22px;}
.titArea .btnBox {float:left; margin:-10px 0 0;}
.titArea .btnBox .btn_rgst {padding:0 34px 0 14px; background:url('../images/dashboard/ico_add.svg') top 50% right 14px no-repeat;}

/* contArea */
.titArea + .contArea {padding:30px 30px 58px; border:1px solid #d9dde6; border-radius:4px; box-sizing:border-box; background:#fff;}
.titArea + .contArea .contBox + .contBox {margin:20px 0 0;}
.titArea + .contArea .contBox .disabled {position:relative; opacity:0.3;}
.titArea + .contArea .contBox .disabled:after {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%;}
.titArea + .contArea .contBox dl dt {color:#26282b; font-size:14px; font-weight:500; letter-spacing:-0.14px;}
.titArea + .contArea .contBox dl dd {margin:12px 0 0;}
.titArea + .contArea .contBox dl dd .radioBox {display:block;}
.titArea + .contArea .contBox dl dd .radioBox + .radioBox {margin:10px 0 0;}

.titArea + .contArea .define_group {display:table;}
.titArea + .contArea .define_group dl {display:table-cell;}
.titArea + .contArea .define_group dl + dl {padding:0 0 0 20px;}

.titArea + .contArea .contBox .detail_set {margin:10px 0 0 30px; padding:12px; border-radius:7px; box-sizing:border-box; background:#eaebed; transition:opacity 0.3s ease-out;}
.titArea + .contArea .contBox .detail_set dl dt {font-size:13px; letter-spacing:-0.13px;}
.titArea + .contArea .contBox .detail_set dl dd .select,
.titArea + .contArea .contBox .detail_set dl dd .ipt_txt {width:236px;}
.titArea + .contArea .contBox .guide_msg {margin:10px 0 0; color:#26282b; font-size:13px; letter-spacing:-0.13px; text-indent:30px;}

.titArea + .contArea .btnBox {margin:40px 0 0; text-align:center;}
.titArea + .contArea .btnBox button {width:100px; margin:0 13px;}

.workspace_register .titArea h3 {display:none;}
.workspace_register .titArea h3.on {display:block;}
.workspace_register .titArea + .contArea .contBox dl dd .radioBox input[type="radio"] + label span {display:inline-block; margin:0 18px 0 0;}
.workspace_register .titArea + .contArea .contBox dl dd .radioBox input[name="workspace_auth"] + label span {width:52px;}
.workspace_register .titArea + .contArea .contBox dl dd .radioBox input[name="contract_type"] + label span {width:102px;}
.workspace_register .titArea + .contArea .contBox dl dd .textarea {width:1060px; height:182px;}
.workspace_register .titArea + .contArea .contBox:nth-child(1) dl dd .ipt_txt {width:250px;}

/* tblBox */
.tblBox table {width:100%;}
.tblBox table thead tr th {height:53px; padding:0 15px; background:#2d344b; color:#fff; font-size:14px; font-weight:500; letter-spacing:-0.14px; line-height:18px; text-align:left;}
.tblBox table tbody tr td {position:relative; height:60px; padding:0 15px; box-sizing:border-box; background:#fff; color:#26282b; font-size:13px; letter-spacing:-0.13px; text-align:left; line-height:19px; transition:background-color 0.3s ease-out;}
.tblBox table tbody tr:hover td {background:#f0f4ff;}
.tblBox table tbody tr td:first-child:before {content:''; transition:all 0.3s ease-out;}
.tblBox table tbody tr:hover td:first-child:before {content:''; display:block; position:absolute; top:0; left:0; width:4px; height:100%; background:#1054b2;}
.tblBox table tbody tr:not(:last-child) td {border-bottom:1px solid #d9dde6;}
.tblBox table tbody tr.selected td {background:#f0f4ff;}
.tblBox table tbody tr.selected td:first-child:before {content:''; display:block; position:absolute; top:0; left:0; width:4px; height:100%; background:#1054b2;}
.tblBox table tbody tr td.empty {text-align:center; pointer-events:none;}
.tblBox table tbody tr:hover td.empty:hover {background:#fff;}

.tblBox.icld_chk table thead tr th:first-child,
.tblBox.icld_chk table tbody tr td:first-child {text-align:center;}

/* pagingArea */
.pagingArea {margin:48px 0 0; text-align:center;}
.pagingArea .paging {display:inline-block;}
.pagingArea .paging a {display:inline-block; width:26px; height:26px; color:#757c88; font-size:13px; line-height:26px; vertical-align:top;}
.pagingArea .paging a.current {color:#1054b2; font-weight:700; pointer-events:none;}
.pagingArea .paging .btn_paging {border:1px solid #d9dde6; border-radius:4px; box-sizing:border-box;}
.pagingArea .paging .btn_paging.first {background:#fff url('../images/dashboard/ico_paging_first.svg') 50% 50% no-repeat;}
.pagingArea .paging .btn_paging.prev {background:#fff url('../images/dashboard/ico_paging_prev.svg') 50% 50% no-repeat;}
.pagingArea .paging .btn_paging.next {background:#fff url('../images/dashboard/ico_paging_next.svg') 50% 50% no-repeat;}
.pagingArea .paging .btn_paging.last {background:#fff url('../images/dashboard/ico_paging_last.svg') 50% 50% no-repeat;}
.pagingArea .btnBox {margin:-8px 0 0;}

/* help_msg */
.help_msg {display:inline-block; position:relative; width:18px; height:18px; margin:0 0 0 10px; background:url('../images/dashboard/ico_info.svg') 50% 50% no-repeat; transition:all 0.3s ease-out; vertical-align:text-bottom;}
.help_msg:hover {background:url('../images/dashboard/ico_info_w.svg') 50% 50% no-repeat;}
.help_msg .textBox {display:none; position:absolute; padding:16px; border-radius:6px; box-shadow:0 3px 6px 0 rgba(20, 21, 38, 0.17); box-sizing:border-box; background:#fff; color:#26282b; line-height:22px; word-break:keep-all;}
.help_msg:hover .textBox {display:block;}
.help_msg .textBox dl + dl {margin:23px 0 0;}
.help_msg .textBox dl dt {font-size:14px; font-weight:700; letter-spacing:-0.14px;}
.help_msg .textBox dl dd {font-size:12px; letter-spacing:-0.12px;}

/* tbl_tap_wrap */
.tbl_tap_wrap {width:100%;}
.tbl_tap_wrap .tapBtn {display:flex; position:relative; top:1px;}
.tbl_tap_wrap .tapBtn li {position:relative; width:150px; height:78px; padding:13px 0 0; border:1px solid #d9dde6; border-radius:4px 4px 0 0; box-sizing:border-box; background:#fbfbfb; color:#939496; font-size:14px; font-weight:500; letter-spacing:-0.14px; text-align:center; cursor:pointer;}
.tbl_tap_wrap .tapBtn li + li {margin:0 0 0 10px;}
.tbl_tap_wrap .tapBtn li .caseNum {display:block; margin:2px 0 0; color:#939496; font-size:26px; font-weight:500; letter-spacing:-0.26px; line-height:38px;}
.tbl_tap_wrap .tapBtn li.active {border-bottom:none; background:#fff;}
.tbl_tap_wrap .tapBtn li.active:before {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:4px; border-radius:4px 4px 0 0; background:#1054b2;}
.tbl_tap_wrap .tapBtn li.active,
.tbl_tap_wrap .tapBtn li.active .caseNum {color:#1054b2;}

.tbl_tap_wrap .tapCont {width:100%; border:1px solid #d9dde6; border-radius:0 4px 4px 4px; background:#fff;}
.tbl_tap_wrap .tapCont .filterArea {width:100%; padding:13px 30px; box-sizing:border-box;}
.tbl_tap_wrap .tapCont .filterArea .select {width:140px;}
.tbl_tap_wrap .tapCont .filterArea .select + .select {margin:0 0 0 16px;}
.tbl_tap_wrap .tapCont .filterArea .select + .switchBox {margin:0 0 0 16px; vertical-align:middle;}
.tbl_tap_wrap .tapCont .filterArea .srchBox {float:right;}
.tbl_tap_wrap .tapCont .filterArea .srchBox input[type="text"] {width:270px;} 
.tbl_tap_wrap .tapCont .tblBox tbody tr:last-child td:first-child {border-bottom-left-radius:4px;}
.tbl_tap_wrap .tapCont .tblBox tbody tr:last-child td:last-child {border-bottom-right-radius:4px;}


/* -------------------- aside -------------------- */
.asideWrap {display:none; position:fixed; top:0; right:0; bottom:0; left:0; z-index:6000;}
.asideWrap.open {display:block;}
.asideWrap .aside_bg {width:100%; height:100%; background:rgba(0, 0, 0, 0.56);}
.asideWrap .aside {overflow-y:auto; position:absolute; top:0; right:0; width:666px; height:100%; padding:30px; box-sizing:border-box; background:#f8fafb;}
.asideWrap .aside .btn_aside_close {float:right; width:24px; height:24px; margin:0 0 30px; background:url('../images/dashboard/ico_aside_close.svg') 50% 50% no-repeat;}
.asideWrap .aside .contArea {clear:both;}
.asideWrap .aside .contArea .contBox {width:100%; padding:20px; border:1px solid #d9dde6; border-radius:4px; box-sizing:border-box; background:#fff;}
.asideWrap .aside .contArea .contBox + .contBox {margin:20px 0 0;}
.asideWrap .aside .contArea .contBox .tit {padding:0 0 10px; border-bottom:1px solid #e4e4e4;}
.asideWrap .aside .contArea .contBox .tit h4 {display:inline-block; color:#26282b; font-size:22px; font-weight:500; letter-spacing:-0.22px; line-height:22px;}
.asideWrap .aside .contArea .contBox .tit .fr .switchBox {margin:0 0 0 6px;}
.asideWrap .aside .contArea .contBox .tit .fr .switchBox input[type="checkbox"] + label {padding:0 48px 0 0;}
.asideWrap .aside .contArea .contBox .cont {overflow:hidden; margin:16px 0 0;}
.asideWrap .aside .contArea .contBox .cont dl.define {color:#26282b; font-size:13px; letter-spacing:-0.13px; line-height:26px;}
.asideWrap .aside .contArea .contBox .cont dl.define > * {display:inline-block;}
.asideWrap .aside .contArea .contBox .cont dl.define dt {font-weight:500;}
.asideWrap .aside .contArea .contBox .cont dl.define dd {margin:0 0 0 4px;}
.asideWrap .aside .contArea .contBox .cont .lineBox {overflow:hidden; width:100%; border:1px solid #d9dde6; border-radius:4px; box-sizing:border-box; background:#fff;}
.asideWrap .aside .btnBox {margin:40px 0 0; text-align:center;}
.asideWrap .aside .btnBox .btn_aside_modify {width:100px; background:#1054b2;}

#workspace .aside .contArea .contBox:nth-child(1) .tit h4 {overflow:hidden; width:calc(100% - 80px); white-space:nowrap; text-overflow:ellipsis;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fl {display:table; position:relative; width:273px; height:184px;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fl .state {position:absolute; top:0; right:0; width:80px; height:30px; border-radius:20px 0 0 20px; background:#1d5ca7; text-align:center; line-height:30px;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fl dl {display:table-cell; color:#26282b; text-align:center; vertical-align:middle;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fl dl dt {font-size:13px; font-weight:700; letter-spacing:-0.13px;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fl dl dd {overflow:hidden; max-width:190px; margin:14px auto 0; font-size:58px; font-weight:500; letter-spacing:-0.58px; white-space:nowrap; text-overflow:ellipsis;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fl .state span {display:none; max-width:115px; color:#fff; font-size:11px; font-weight:500; letter-spacing:-0.11px;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fl .state span.on {display:block;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fr {width:273px;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fr .lineBox {display:table; height:81px;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fr .lineBox + .lineBox {margin:22px 0 0;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fr .lineBox dt {display:table-cell; width:89px; background:#2d344b; color:#fff; font-size:13px; font-weight:700; letter-spacing:-0.13px; text-align:center; vertical-align:middle;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fr .lineBox dd {display:table-cell; width:calc(100% - 89px); color:#26282b; font-size:30px; font-weight:500; letter-spacing:-0.3px; text-align:center; vertical-align:middle;}
#workspace .aside .contArea .contBox:nth-child(2) .cont .fr .lineBox dd span {display:inline-block; overflow:hidden; max-width:85px; white-space:nowrap; text-overflow:ellipsis; vertical-align:bottom;}
#workspace .aside .contArea .contBox:nth-child(3) .cont .work_guide {overflow-y:auto; height:175px; color:#26282b; font-size:13px; font-weight:500; letter-spacing:-0.13px; line-height:22px; word-break:keep-all; white-space:pre-line;}