@charset "UTF-8";
/* MINDsLab. NBR. 20211201 */

/* 공통 CSS */
@import url("reset.css"); 
@import url("font.css");
@import url("all.css");


/* -------------------- layout -------------------- */
#wrap {width:100%; min-width:1250px; height:100%; min-height:760px; background:#f1f3f9;}
#container {display:table; width:100%; height:100%; background:#eeeff1;}
#snb {position:fixed; top:0; left:0; width:100px; height:100%; min-height:768px; background:#353a55; transition:all 0.1s ease-out; z-index:5000;}
#contents {display:table-cell; width:calc(100% - 100px); height:100%; margin:0 0 0 80px; padding:25px 120px 0 220px; box-sizing:border-box; transition:width 0.2s ease-out; vertical-align:top;}
#snb.open + #contents {width:calc(100% - 260px); padding:25px 40px 0 280px;}


/* -------------------- common -------------------- */
/* scroll bar */
::-webkit-scrollbar {width:6px; height:6px; border-radius:3px;}  /* 스크롤바의 width */
::-webkit-scrollbar-track {background:transparent;}  /* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {border-radius:3px; background:#aeb0b3;}  /* 스크롤바 색 */
::-webkit-scrollbar-button {display:none;}  /* 위 아래 버튼 (버튼 없애기를 함) */

/* scroll bar - Firefox */
.history_list,
.class_list,
.textarea,
.aside .tabWrap .tab_cont > ul,
.frame_list {scrollbar-width:thin; scrollbar-color:#aeb0b3;}

/* float */
.fl {float:left;}
.fr {float:right;}

/* hide */
.hide {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; margin:0; padding:0; text-indent:-9999px; line-height:0; white-space:nowrap;}

/* chkBoxOnly */
.chkBoxOnly {display:inline-block; position:relative;}
.chkBoxOnly input[type="checkbox"] {overflow:hidden; margin:-1px; padding:0; border:none;}
.chkBoxOnly input[type="checkbox"]:before {content:''; display:block; position:absolute; top:50%; left:50%; width:15px; height:15px; border:1px solid #353a55; border-radius:2px; box-sizing:border-box; background:#fff; line-height:13px; transform:translate(-50%, -50%); transition:border 0.2s ease-out; cursor:pointer;}
.chkBoxOnly input[type="checkbox"]:checked:before {content:'\f00c'; font-family:'Font Awesome 5 Free'; color:#fff; font-size:10px; font-weight:900; text-align:center; display:block; position:absolute; top:50%; left:50%; background:#353a55; transform:translate(-50%, -50%);}

/* radioBox */
.radioBox {display:inline-block;}
.radioBox input[type="radio"] {overflow:hidden; position:absolute; width:0; height:0; margin:0; padding:0; border:none;}
.radioBox input[type="radio"] + label {position:relative; padding:0 0 0 24px; color:#26282b; font-size:13px; letter-spacing:-0.13px; vertical-align:middle; transition:all 0.2s ease-out; cursor:pointer;}
.radioBox input[type="radio"] + label:before {content:''; display:inline-block; position:absolute; top:50%; left:0; width:14px; height:14px; border:1px solid #babbd4; border-radius:50%; box-sizing:border-box; background:#fff; transform:translate(0, -50%); transition:all 0.2s ease-out;}
.radioBox input[type="radio"]:checked + label:before {border:1px solid #7a7cfb;}
.radioBox input[type="radio"]:checked + label:after {content:''; display:inline-block; position:absolute; top:50%; left:4px; width:6px; height:6px; border-radius:50%; background:#7a7cfb; transform:translate(0, -50%); transition:all 0.2s ease-out;}
.radioBox label:nth-child(n+4) {margin:0 0 0 30px;}

/* input[type="text"] */
.ipt_txt {width:144px; height:32px; padding:0 10px; border:1px solid #e0e0ed; border-radius:16px; box-sizing:border-box; background:#f1f3f9; color:#353a55; font-size:14px; letter-spacing:-0.19px;}

/* input[type="file"] */
input[type="file"] {overflow:hidden; position:absolute; width:1px; height:1px; margin:1px; padding:0; border:none;}
input[type="file"] + label {display:inline-block;}
input[type="file"] + label .btn_file_add {display:inline-block; padding:0 12px; border-radius:4px; box-sizing:border-box; cursor:pointer;}

/* select */
.select {position:relative; min-width:114px; height:32px; padding:0 36px 0 16px; border:1px solid #e0e0ed; border-radius:16px; box-sizing:border-box; background:#fff url('../images/ico_caret_down.svg') top 50% right 10px no-repeat; color:#353a55; font-size:14px; letter-spacing:-0.19px;}

/* button */
.btn_primary {height:32px; padding:0 20px; border:1px solid #7a7cfb; border-radius:16px; background:#7a7cfb; color:#fff; font-size:14px; letter-spacing:-0.19px; vertical-align:top;}
.btn_primary.line {background:#fff; color:#7a7cfb;}

/* font color */
.ft_point_pink {color:#ec7876;}


/* -------------------- layer popup -------------------- */
/* common */
.lyrWrap {display:none; position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:9999;}
.lyr_bg {position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.65);}
.lyrCont {overflow:hidden; position:relative; min-width:340px; margin:100px auto 0; border-radius:10px;}
.lyrCont .lyr_top {position:relative; padding:15px; background:#5d6177;}
.lyrCont .lyr_top .tit {margin:0; color:#fff; font-size:15px; font-weight:500; line-height:1; text-align:center;}
.lyrCont .lyr_top .btn_lyr_close {position:absolute; top:12px; right:12px; width:20px; height:20px;}
.lyrCont .lyr_top .btn_lyr_close:before {content:'\f00d'; font-family:'Font Awesome 5 Free'; color:#fff; font-size:20px; font-weight:900; display:block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.lyrCont .lyr_mid {padding:20px 30px; background:#fff;}
.lyrCont .lyr_mid .alert_txt {color:#26282b; font-size:13px; letter-spacing:-0.13px; line-height:20px; text-align:center;}
.lyrCont .lyr_btm {padding:14px 0; border-top:1px solid #e0e0ed; background:#fff; text-align:center;}
.lyrCont .lyr_btm button.btn_primary {margin:0 4px;}

.modify .lyrCont .lyr_mid {padding:0;}
.modify .lyrCont .lyr_mid .tblBox table tbody tr th {border-right:1px solid #e0e0ed; border-bottom:1px solid #e0e0ed; background:#f1f3f9; color:#353a55; font-size:14px; letter-spacing:-0.19px; text-align:center;}
.modify .lyrCont .lyr_mid .tblBox table tbody tr:last-child th {border-bottom:none;}
.modify .lyrCont .lyr_mid .tblBox table tbody tr th:nth-child(3) {border-left:1px solid #e0e0ed;}
.modify .lyrCont .lyr_mid .tblBox table tbody tr td {padding:0 10px; border-bottom:1px solid #e0e0ed; background:#fff; color:#353a55; font-size:14px; letter-spacing:-0.19px; text-align:left;}
.modify .lyrCont .lyr_mid .tblBox table tbody tr:last-child td {border-bottom:none;}
.modify .lyrCont .lyr_mid .tblBox table tbody tr td .ipt_txt {width:100%; border-radius:4px;}
.modify .lyrCont .lyr_mid .tblBox table tbody tr td .btn_primary {padding:0 17px; border-radius:4px; font-weight:500;}
.modify .lyrCont .lyr_mid .tblBox table tbody tr td .ipt_txt + .btn_primary {margin:0 0 0 4px;}
.modify .lyrCont .lyr_mid .tblBox table tbody tr td .select {width:70px; margin:0 0 0 4px; padding:0 20px 0 6px; border-radius:4px; box-sizing:border-box; background-position:top 50% right 6px; vertical-align:top;}

#detect_result_detail .lyrCont {width:680px;}
#detect_result_detail .lyrCont .lyr_mid {position:relative; padding:33px 60px 41px;}
#detect_result_detail .lyrCont .lyr_mid .detect_img {overflow:hidden; border:1px solid #e0e0ed; border-radius:4px; background:#f1f3f9;}
#detect_result_detail .lyrCont .lyr_mid .detect_img .stateBox .state {display:none; height:30px; margin:0; color:#fff; font-size:15px; font-weight:500; letter-spacing:-0.2px; line-height:28px; text-align:center;}
#detect_result_detail .lyrCont .lyr_mid .detect_img .stateBox .state.fake {background:#ec7876;}
#detect_result_detail .lyrCont .lyr_mid .detect_img .stateBox .state.real {background:#7a7cfb;}
#detect_result_detail .lyrCont .lyr_mid .detect_img .stateBox .state.on {display:block;}
#detect_result_detail .lyrCont .lyr_mid .detect_img ul {display:flex; justify-content:space-between; padding:18px 40px;}
#detect_result_detail .lyrCont .lyr_mid .detect_img ul li {position:relative; width:230px; height:150px;}
#detect_result_detail .lyrCont .lyr_mid .detect_img ul li img {width:100%;}
#detect_result_detail .lyrCont .lyr_mid .detect_img ul li .detect_cell {display:flex; flex-wrap:wrap; position:absolute; top:0; left:0; width:100%; height:100%; border:1px solid #000; box-sizing:border-box; background:rgba(209, 206, 78, 0.5);}
#detect_result_detail .lyrCont .lyr_mid .detect_img ul li .detect_cell > div {width:calc(25% - 1px);}
#detect_result_detail .lyrCont .lyr_mid .detect_img ul li .detect_cell > div:not(:nth-child(-n+4)) {border-top:1px solid #000;}
#detect_result_detail .lyrCont .lyr_mid .detect_img ul li .detect_cell > div:not(:nth-child(4n)) {border-right:1px solid #000;}
#detect_result_detail .lyrCont .lyr_mid .detect_img ul li .detect_cell > div.monitor {background:rgba(217, 14, 32, 0.5);}
#detect_result_detail .lyrCont .lyr_mid .result_detail {overflow:hidden; margin:10px 0 0; border:1px solid #e0e0ed; border-radius:4px;}
#detect_result_detail .lyrCont .lyr_mid .result_detail table {width:100%;}
#detect_result_detail .lyrCont .lyr_mid .result_detail table tbody tr th {height:30px; border-bottom:1px solid #e0e0ed; background:#f1f3f9; color:#353a55; font-size:14px; letter-spacing:-0.19px; text-align:center;}
#detect_result_detail .lyrCont .lyr_mid .result_detail table tbody tr:last-child th {border-bottom:none;}
#detect_result_detail .lyrCont .lyr_mid .result_detail table tbody tr th:nth-child(2) {border-left:1px solid #e0e0ed;}
#detect_result_detail .lyrCont .lyr_mid .result_detail table tbody tr td {height:30px; border-bottom:1px solid #e0e0ed; border-left:1px solid #e0e0ed; color:#353a55; font-size:14px; letter-spacing:-0.19px; text-align:center;}
#detect_result_detail .lyrCont .lyr_mid .result_detail table tbody tr:last-child td {border-bottom:none;}
#detect_result_detail .lyrCont .lyr_mid .btn_prev_result {position:absolute; top:50%; left:0; width:34px; height:60px; border:1px solid #e0e0ed; border-radius:0 4px 4px 0; background:#f1f3f9 url('../images/arw_left_g.svg') 50% 50% no-repeat; transform:translate(0, -50%);}
#detect_result_detail .lyrCont .lyr_mid .btn_next_result {position:absolute; top:50%; right:0; width:34px; height:60px; border:1px solid #e0e0ed; border-radius:4px 0 0 4px; background:#f1f3f9 url('../images/arw_right_g.svg') 50% 50% no-repeat; transform:translate(0, -50%);}

#add_user .lyrCont {width:633px;}
#add_user .lyrCont .lyr_mid .tblBox table tbody tr:nth-child(1) td {border-bottom:none;}
#add_user .lyrCont .lyr_mid .tblBox table tbody tr td .ipt_txt.dptmt_code,
#add_user .lyrCont .lyr_mid .tblBox table tbody tr td .ipt_txt.user_id {width:135px;}
#add_user .lyrCont .lyr_mid .tblBox table tbody tr td .ipt_txt.email {width:68px;}
#add_user .lyrCont .lyr_mid .tblBox table tbody tr td .ipt_txt.address {width:427px;}
#add_user .lyrCont .lyr_mid .tblBox table tbody tr td .select {width:70px; min-width:auto; font-size:12px;}

#srch_dptmt .lyrCont {width:425px;}
#srch_dptmt .lyrCont .lyr_mid {padding:10px;}
#srch_dptmt .lyrCont .lyr_mid .srchArea {border:none; box-shadow:none; background:none;}
#srch_dptmt .lyrCont .lyr_mid .srchArea .select {width:110px; min-width:auto; border-radius:4px; vertical-align:top;}
#srch_dptmt .lyrCont .lyr_mid .srchArea .ipt_txt {width:216px; border-radius:4px; vertical-align:top;}
#srch_dptmt .lyrCont .lyr_mid .srchArea .btn_primary {border-radius:4px;}
#srch_dptmt .lyrCont .lyr_mid .tblBox {margin:20px 0 0;}
#srch_dptmt .lyrCont .lyr_mid .pagingArea {margin:10px 0 0; padding:0 0 20px;}
#srch_dptmt .lyrCont .lyr_mid .pagingArea .paging {white-space:nowrap;}
#srch_dptmt .lyrCont .lyr_mid .pagingArea .paging .btn_paging.prev,
#srch_dptmt .lyrCont .lyr_mid .pagingArea .paging .btn_paging.next {margin:0;}

#modify_pw .lyrCont {width:425px;}
#modify_pw .lyrCont .lyr_mid {padding:20px;}
#modify_pw .lyrCont .lyr_mid dl dt {float:left; width:105px; color:#383d58; font-size:14px; letter-spacing:-0.19px; line-height:32px;}
#modify_pw .lyrCont .lyr_mid dl dd .ipt_txt {width:calc(100% - 105px); border-radius:4px;}
#modify_pw .lyrCont .lyr_mid dl + dl {margin:14px 0 0;}

#auth_set .lyrCont {width:280px; min-width:auto;}
#auth_set .lyrCont .lyr_mid {padding:10px 0;}
#auth_set .lyrCont .lyr_mid .desc {color:rgba(53, 58, 85, 0.6); font-size:14px; letter-spacing:-0.19px; text-align:center;}
#auth_set .lyrCont .lyr_mid .tree_view_wrap {overflow:auto; width:auto; height:380px; margin:7px 0 0; padding:0 30px; border:none; box-shadow:none;}

#add_menu .lyrCont {width:633px;}

#id_chk .lyrCont {width:425px;}
#id_chk .lyrCont .lyr_mid .info {color:#5d6177; font-size:14px; letter-spacing:-0.19px; text-align:center;}

#srch_address .lyrCont {width:425px;}
#srch_address .lyrCont .lyr_mid {padding:20px 10px;}


/* -------------------- loginWrap -------------------- */
.loginWrap {width:100%; height:100%; background:url('../images/bg_login.png') 50% 50% no-repeat; background-size:cover;}
.loginWrap .loginBox {position:absolute; top:50%; left:50%; width:480px; text-align:center; transform:translate(-50%, -50%);}
.loginWrap .loginBox h1 {margin:0 0 20px; color:#fff; font-family:'Roboto', sans-serif; font-size:40px; font-weight:500; letter-spacing:-0.53px; line-height:1;}
.loginWrap .loginBox h1 span {font-size:20px; font-weight:100; letter-spacing:-0.27px;}
.loginWrap .loginBox .formBox {padding:58px 0 60px; border:1px solid rgba(255, 255, 255, 0.1); border-radius:21px; -webkit-backdrop-filter:blur(21px); backdrop-filter:blur(21px); box-shadow:inset 1px 1px 1px 0 rgba(255, 255, 255, 0.2); background-image:linear-gradient(163deg, rgba(255, 255, 255, 0) 38%, rgba(240, 240, 240, 0.19) 87%);}
.loginWrap .loginBox .formBox .tit {margin:0 0 26px; color:#fff; font-family:'Roboto', sans-serif; font-size:40px; font-weight:300; letter-spacing:-0.53px; line-height:1;}
.loginWrap .loginBox .formBox .iptBox {position:relative; width:320px; height:48px; margin:0 auto;}
.loginWrap .loginBox .formBox .iptBox + .iptBox {margin:24px auto 32px;}
.loginWrap .loginBox .formBox .iptBox .ipt_txt {width:100%; height:100%; padding:0 30px 0 64px; border-radius:24px; box-sizing:border-box; background:rgba(255, 255, 255, 0.2); color:#fff; font-size:15px;}
.loginWrap .loginBox .formBox .iptBox .ipt_txt::placeholder {color:rgba(255, 255, 255, 0.5);}
.loginWrap .loginBox .formBox .iptBox:before {content:''; font-family:'Font Awesome 5 Free'; color:rgba(255, 255, 255, 0.6); font-size:18px; font-weight:900; display:block; position:absolute; top:50%; left:30px; transform:translate(0, -50%);}
.loginWrap .loginBox .formBox .iptBox.active .ipt_txt {border:1px solid #7a7cfb;}
.loginWrap .loginBox .formBox .iptBox.active:before {color:#fff;}
.loginWrap .loginBox .formBox .iptBox:nth-child(2):before {content:'\f007';}
.loginWrap .loginBox .formBox .iptBox:nth-child(3):before {content:'\f023';}
.loginWrap .loginBox .formBox .btn_login {width:320px; height:48px; border-radius:24px; background:#7a7cfb; color:#fff; font-size:15px; font-weight:500;}
.loginWrap .loginBox .formBox .error_info {margin:62px 0 0; color:rgba(255, 255, 255, 0.8); font-size:14px; line-height:1;}
.loginWrap .loginBox .formBox .error_info span {font-weight:500;}


/* -------------------- snb -------------------- */
#snb .topBox {position:relative; height:70px; z-index:10;}
#snb .topBox .logo {display:none; text-align:center;}
#snb .topBox .logo a {color:#fff; font-size:30px; font-weight:500; letter-spacing:-0.4px; line-height:85px;}
#snb .topBox .btn_ham {position:relative; width:100%; height:100%;}
#snb .topBox .btn_ham em {color:#fff; font-size:30px;}
#snb .topBox .btn_ham:hover span {display:block;}
#snb .nav {display:flex; flex-direction:column; width:100%; height:calc(100% - 70px); padding:0 20px; box-sizing:border-box; pointer-events:none;}
#snb .nav li {position:relative; width:100%;}
#snb .nav > li {margin:20px 0 0;}
#snb .nav li h2 {position:relative; height:48px; box-sizing:border-box; transition:all 0.2s ease-out;}
#snb .nav li h2 a {display:block; width:100%; height:100%;}
#snb .nav li h2 a span {display:none; color:rgba(255, 255, 255, 0.6); font-size:15px; font-weight:500; letter-spacing:-0.2px; line-height:48px;}
#snb .nav li:nth-child(1) h2 a {background:url('../images/ico_detect_w.svg') 50% 50% no-repeat;}
#snb .nav li:nth-child(2) h2 a {background:url('../images/ico_monitoring_w.svg') 50% 50% no-repeat;}
#snb .nav li:nth-child(3) h2 a {background:url('../images/ico_stats_w.svg') 50% 50% no-repeat;}
#snb .nav li:nth-child(4) h2 a {background:url('../images/ico_admin_w.svg') 50% 50% no-repeat;}
#snb .nav li .sub {display:none;}
#snb .nav li .sub li {line-height:14px;}
#snb .nav li .sub > li + li {margin:20px 0 0;}
#snb .nav li .sub > li:last-child {margin:20px 0 16px;}
#snb .nav li .sub > li a {position:relative;}
#snb .nav li .sub > li a:before {content:''; font-family:'Font Awesome 5 Free'; color:rgba(255, 255, 255, 0.6); font-size:10px; font-weight:900; display:block; position:absolute; top:50%; left:56px; transform:translate(0, -50%); transition:color 0.3s ease-out;}
#snb .nav li .sub > li > a:before {content:'\f068';}
#snb .nav li .sub li a {padding:0 0 0 75px; color:rgba(255, 255, 255, 0.6); font-size:14px; letter-spacing:-0.19px; line-height:14px;}
#snb .nav li .sub li .third li {margin:7px 0 0;}
#snb .nav li .sub li .third li a {padding:0 0 0 92px;}
#snb .nav li .sub li .third li a:before {content:'\f105'; left:75px;}
#snb .nav li.active a.active,
#snb .nav li.active span,
#snb .nav li.active a.active:before,
#snb .nav li.active a.hover:before {color:#fff !important; font-weight:700;}

#snb.open {width:240px;}
#snb.open .topBox {height:85px; text-align:center;}
#snb.open .topBox .logo {display:inline-block;}
#snb.open .topBox .btn_ham {display:inline-block; width:auto; height:auto; margin:0 20px 0 0;}
#snb.open .nav {height:calc(100% - 85px); pointer-events:inherit;}
#snb.open .nav > li {margin:0; transition:all 0.2s ease-out;}
#snb.open .nav > li:hover {border-radius:4px; background:#2c3149;}
#snb.open .nav > li + li {margin:20px 0 0;}
#snb.open .nav li h2 {padding:0 20px;}
#snb.open .nav li a.hover {color:#fff; font-weight:700; transition:all 0.3s ease-out;}
#snb.open .nav li h2 a {padding:0 0 0 46px; box-sizing:border-box;}
#snb.open .nav li h2 a span {display:block; transition:all 0.2s ease-out;}
#snb.open .nav li h2:hover a span {color:#fff;}
#snb.open .nav li:nth-child(1) h2 a {background:url('../images/ico_detect_g.svg') 0 50% no-repeat;}
#snb.open .nav li:nth-child(2) h2 a {background:url('../images/ico_monitoring_g.svg') 0 50% no-repeat;}
#snb.open .nav li:nth-child(3) h2 a {background:url('../images/ico_stats_g.svg') 0 50% no-repeat;}
#snb.open .nav li:nth-child(4) h2 a {background:url('../images/ico_admin_g.svg') 0 50% no-repeat;}
#snb.open .nav li:nth-child(1) h2:hover a {background:url('../images/ico_detect_w.svg') 0 50% no-repeat;}
#snb.open .nav li:nth-child(2) h2:hover a {background:url('../images/ico_monitoring_w.svg') 0 50% no-repeat;}
#snb.open .nav li:nth-child(3) h2:hover a {background:url('../images/ico_stats_w.svg') 0 50% no-repeat;}
#snb.open .nav li:nth-child(4) h2:hover a {background:url('../images/ico_admin_w.svg') 0 50% no-repeat;}
#snb.open .nav li.active:nth-child(1) h2 a {background:url('../images/ico_detect_w.svg') 0 50% no-repeat;}
#snb.open .nav li.active:nth-child(2) h2 a {background:url('../images/ico_monitoring_w.svg') 0 50% no-repeat;}
#snb.open .nav li.active:nth-child(3) h2 a {background:url('../images/ico_stats_w.svg') 0 50% no-repeat;}
#snb.open .nav li.active:nth-child(4) h2 a {background:url('../images/ico_admin_w.svg') 0 50% no-repeat;}
#snb.open .nav > li.active {border-radius:4px; background:#2c3149;}
#snb.open .nav > li.active .sub {display:block;}


/* -------------------- content -------------------- */
/* etcArea */
.etcArea {text-align:right;}
.etcArea .user_menu {display:inline-block; position:relative; min-width:163px; max-width:200px; min-height:32px;}
.etcArea .user_menu ul {position:absolute; top:0; left:0; width:100%; border-radius:16px; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1); background:#fff;}
.etcArea .user_menu ul li {display:none; position:relative; height:32px;}
.etcArea .user_menu ul li:nth-child(1):before {content:'\f007'; font-family:'Font Awesome 5 Free'; color:#353a55; font-size:14px; font-weight:900; display:block; position:absolute; top:50%; left:30px; transform:translate(0, -50%);}
.etcArea .user_menu ul li:nth-child(1):after {content:'\f0d7'; font-family:'Font Awesome 5 Free'; color:#353a55; font-size:14px; font-weight:900; display:block; position:absolute; top:50%; right:30px; transform:translate(0, -50%);}
.etcArea .user_menu ul li + li {border-top:1px solid #e7e7ea;}
.etcArea .user_menu ul li a {display:inline-block; overflow:hidden; width:100%; height:100%; color:rgba(53, 58, 85, 0.7); font-size:14px; letter-spacing:-0.19px; line-height:32px; text-align:center; text-overflow:ellipsis; white-space:nowrap; vertical-align:top;}
.etcArea .user_menu ul li:nth-child(2) a {color:#353a55;}
.etcArea .user_menu ul.open li {display:block;}
.etcArea .user_menu ul li.on {display:block;}
.etcArea .btn_logout {position:relative; height:32px; margin:0 0 0 8px; padding:0 30px 0 50px; border-radius:16px; background:#e3e6ed; color:rgba(53, 58, 85, 0.7); font-size:14px; letter-spacing:-0.19px; vertical-align:top;}
.etcArea .btn_logout:before {content:'\f2f5'; font-family:'Font Awesome 5 Free'; color:#353a55; font-size:14px; font-weight:900; display:block; position:absolute; top:50%; left:30px; transform:translate(0, -50%);}

/* titArea */
.titArea {margin:0 0 28px;}
.titArea h3 {color:#353a55; font-size:20px; font-weight:500; letter-spacing:-0.27px; line-height:20px;}
.titArea h3 span {margin:0 0 0 4px; font-size:15px; font-weight:400; letter-spacing:-0.2px;} 
.titArea h3 span em {margin:0 8px;}

/* workArea */
.workArea {max-height:800px; padding:60px 0; border:1px solid #e0e0ed; border-radius:4px; background:#fff;}
.workArea:empty {padding:0; border:none;}

/* file-upload-form */
.uploadBox {position:relative; width:560px; height:267px; margin:0 auto; border:1px dashed #b7b7e2; border-radius:4px; background:#f1f3f9;}
.uploadBox + .btn_chk_result {display:block; width:100px; height:40px; margin:20px auto 0; border-radius:20px; background:#7a7cfb; color:#fff; font-size:15px; font-weight:500; letter-spacing:-0.2px; line-height:40px; text-align:center;}
.upload_form_box {display:none; position:absolute; top:0; left:0; width:100%; height:100%;}
.upload_form_box.active {display:block;}
#file-progress {display:none;}
#file-drag {display:block; padding:54px 0 38px; box-sizing:border-box; color:#353a55; font-size:14px; letter-spacing:-0.19px; text-align:center;}
#file-drag img {display:block; margin:0 auto;}
#file-drag .btn_file_add {height:32px; margin:20px 0 25px; background:#1054b2; color:#fff; font-size:13px; letter-spacing:-0.13px; line-height:32px;}
#messages {display:flex; flex-direction:column; overflow:auto; width:100%; height:227px; margin:20px 0; padding:0 80px; box-sizing:border-box;}
#messages li {height:30px; padding:0 20px; border-bottom:1px dashed #b7b7e2; box-sizing:border-box; line-height:30px;}
#messages li em {margin:0 8px 0 0; color:rgba(53, 58, 85, 0.8); font-size:20px; letter-spacing:-0.27px; line-height:30px; vertical-align:top;}
#messages li em.fa-times {font-size:14px;}
#messages li span {display:inline-block; overflow:hidden; max-width:300px; color:rgba(53, 58, 85, 0.8); font-size:14px; letter-spacing:-0.19px; line-height:30px; text-overflow:ellipsis; white-space:nowrap; vertical-align:top;}
#messages li .btn_file_delete {width:20px; height:30px; margin:0 0 0 8px; vertical-align:top;}

/* filterArea */
.filterArea {display:flex; justify-content:flex-start; align-items:flex-end; margin:0 0 16px;}
.filterArea dl {display:inline-block;}
.filterArea dl + dl {margin:0 0 0 30px;}
.filterArea dl dt {margin:0 0 3px; color:#353a55; font-size:12px; letter-spacing:-0.16px;}
.filterArea dl dd .iptBox {display:inline-block; position:relative;}
.filterArea dl dd .iptBox.date .ipt_txt {background:#fff;}
.filterArea dl dd .iptBox.date:before {content:'\f073'; font-family:'Font Awesome 5 Free'; color:rgba(53, 58, 85, 0.6); font-size:14px; display:block; position:absolute; top:56%; right:16px; transform:translate(0, -50%);}
.filterArea dl dd .tilde {margin:0 4px; color:#353a55; font-size:15px;}
.filterArea .btn_primary {margin-left:30px;}
.filterArea .btn_primary.fr {margin-left:auto;}

/* srchArea */
.srchArea {overflow:hidden; border:1px solid #e0e0ed; border-radius:4px; box-shadow:1px 1px 6px 0 rgba(101, 101, 101, 0.1); background:#fff;}
.srchArea table tbody tr th {background:#5d6177; color:#fff; font-size:15px; font-weight:500; letter-spacing:-0.2px; text-align:center;}
.srchArea table tbody tr td {padding:5px 10px;}
.srchArea table tbody tr td .select {width:140px; border-radius:4px; vertical-align:top;}
.srchArea table tbody tr td .ipt_txt {width:220px; padding:0 10px; border-radius:4px; vertical-align:top;}
.srchArea table tbody tr td .ipt_txt::placeholder {color:rgba(53, 58, 85, 0.6);}
.srchArea table tbody tr td .btn_primary {vertical-align:top;}

/* chartBox */
.chartBox {min-width:910px; width:calc(100vw - 340px); height:300px; margin:30px 0;}

/* statusBox */
.statusBox {padding:0 20px;}
.statusBox p {display:none; position:relative; padding:0 0 0 24px; color:#353a55; font-size:16px; font-weight:500; letter-spacing:-0.19px; line-height:33px;}
.statusBox p:before {content:''; display:block; position:absolute; top:10px; left:0; width:14px; height:14px; border-radius:50%; box-sizing:border-box;}
.statusBox p.success:before {background:#3bd53b;}
.statusBox p.error:before {background:#ff0f0f;}
.statusBox p.active {display:inline-block;}

/* srchArea + btnBox */
.srchArea + .btnBox {overflow:hidden; margin:30px 0 10px;}

/* tree_view_wrap */
.list_box {overflow:hidden; width:280px; border:1px solid #e0e0ed; border-radius:4px; box-shadow:1px 1px 6px 0 rgba(101, 101, 101, 0.1); box-sizing:border-box; background:#fff;}
.list_box .tit {height:40px; background:#5d6177; color:#fff; font-size:15px; font-weight:500; letter-spacing:-0.2px; line-height:40px; text-align:center;}
.tree_view_wrap {min-height:280px; max-height:660px;}
.tree_view_wrap.prtmt {width:auto; padding:20px; box-sizing:border-box;}
.tree_view_wrap.menu {width:auto; min-height:360px; padding:20px; box-sizing:border-box;}
div.tree-multiselect>div {width:100% !important; padding:0 !important; border:none !important; box-shadow:none !important;}
div.tree-multiselect .auxiliary .select-all-container,
div.tree-multiselect>div.selected {display:none !important;}
div.tree-multiselect {height:100%; border:none;}
div.tree-multiselect div.title {position:relative; padding:0 0 0 25px; box-sizing:border-box; background:none; color:#353a55; font-size:14px; letter-spacing:-0.19px; line-height:25px;}
div.tree-multiselect div.title:before {content:''; position:absolute; top:13px; left:19px; width:10px; height:1px; border-top:1px dotted #000;}
div.tree-multiselect div.item {line-height:23px;}
div.tree-multiselect div.title > span.collapse-section {position:absolute; top:5px; left:0;}
div.tree-multiselect div.title > span.collapse-section:after {content:'\2212'; position:absolute; display:block; width:15px; height:15px; border:1px solid #868999; border-radius:2px; box-sizing:border-box; background:#fff; font-size:14px; font-weight:700; text-align:center; line-height:13px; cursor:pointer; z-index:10;}
div.tree-multiselect div.section.collapsed > div.title span.collapse-section:after {content:'\002B'; position:absolute; display:block; width:15px; height:15px; border:1px solid #868999; border-radius:2px; box-sizing:border-box; background:#fff; font-size:14px; font-weight:700; text-align:center; line-height:13px; cursor:pointer;}
div.tree-multiselect div.section > div.section,
div.tree-multiselect div.section > div.item {position:relative; padding-left:23px;}
div.tree-multiselect div.section > div.item {padding:0 0 0 28px;}
div.tree-multiselect div.section > div.item:before {content:''; position:absolute; top:-11px; left:17px; width:12px; height:28px; border:1px dotted #000; border-top:none; border-right:none;}
div.tree-multiselect div.section .section:last-child > div.section:last-child:before {content:none;}
div.tree-multiselect span.section-name {float:left; position:relative; margin:0 5px 0 0; font-style:normal;}
div.tree-multiselect span.section-name:after {content:'\2010'; display:inline-block; position:absolute; right:-5px;}
div.tree-multiselect span.remove-selected {position:absolute; top:2px; right:0; width:20px; height:20px; margin:2px 0 0; padding:0; background:#7f8185; line-height:18px; text-align:center;}
div.tree-multiselect>div.selected div.item,
div.tree-multiselect>div.selected div.section {position:relative; margin:0px; padding:2px 30px 2px 5px; background:none;}
div.tree-multiselect input[type=checkbox] {position:absolute; overflow:hidden; width:1px; height:1px; margin:-1px; padding:0; clip:rect(0,0,0,0); border:0;}
div.tree-multiselect div.selections input[type="checkbox"] + label {display:inline-block; position:relative; padding:0 0 0 23px; color:#353a55; font-size:14px; letter-spacing:-0.19px; cursor:pointer;}
div.tree-multiselect div.selections input[type="checkbox"] + label:before {content:''; position:absolute; top:-13px; left:2px; width:15px; height:15px; line-height:15px; text-align:center; border:1px solid #868999; border-radius:2px; box-sizing:border-box; background:#fff; z-index:5;}
div.tree-multiselect div.selections input[type="checkbox"]:checked + label:before {content:'\f00c'; font-family:'Font Awesome 5 Free'; color:#7a7cfb; font-size:10px; font-weight:900; line-height:13px; text-align:center; display:block; padding:0 0 0 1px; border:1px solid #7a7cfb;}
div.tree-multiselect div.item input[type="checkbox"] + label:before {top:6px;}
div.tree-multiselect div.section > div.section:before {content:''; display:block; position:absolute; top:-10px; left:33px; width:1px; height:100%; border-left:1px dotted #000;}
div.tree-multiselect div.section > div.section:last-child:after {content:''; display:block; position:absolute; bottom:8px; left:33px; width:22px; height:1px; border-top:1px dotted #000;}

/* jqtree-tree - 22.01.24 NBR 추가 */
ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {background:#e9e9f9; font-weight:700; text-shadow:none; outline:none;}
ul.jqtree-tree .jqtree-title {position:relative; margin-left:20px; padding:0 10px; color:#353a55; font-size:14px; letter-spacing:-0.19px; line-height:25px; outline:none;}
ul.jqtree-tree .jqtree-toggler {position:relative; width:15px; height:15px; color:transparent; font-size:0;}
ul.jqtree-tree .jqtree-toggler:hover {color:transparent; font-size:0;}
ul.jqtree-tree .jqtree-toggler:before {content:'\f146'; display:block; position:absolute; top:5px; left:10px; font-family:'Font Awesome 5 Free'; color:#868999; font-size:15px; font-weight:400 !important; line-height:15px;}
ul.jqtree-tree .jqtree-toggler.jqtree-closed:before {content:'\f0fe';}
ul.jqtree-tree .jqtree-toggler.jqtree-toggler-left {margin-right:5px;}
ul.jqtree-tree > li > .jqtree-element > span.jqtree-title {}
ul.jqtree-tree ul.jqtree_common {margin-left:18px;}

/* tblBox */
.tblBox {overflow:hidden; border:1px solid #e0e0ed; border-radius:4px; box-shadow:1px 1px 6px 0 rgba(101, 101, 101, 0.1);}
.tblBox table {table-layout:fixed; width:100%;}
.tblBox table thead tr th {height:40px; padding:0 15px; border-bottom:1px solid #e7e7ea; background:#fff; color:#353a55; font-size:14px; font-weight:500; letter-spacing:-0.19px; line-height:18px; text-align:center;}
.tblBox table tbody tr td {position:relative; height:40px; padding:0 15px; box-sizing:border-box; background:#fff; color:#353a55; font-size:14px; letter-spacing:-0.19px; text-align:center;}
.tblBox table tbody tr td .btn_view_detail {padding:0 20px; height:32px; border:1px solid #7a7cfb; border-radius:16px; background:#7a7cfb; color:#fff; font-size:14px; letter-spacing:-0.19px;}
.tblBox table tbody tr td .user_id {color:#7a7cfb;}
.tblBox table tbody tr:nth-child(odd) td {background:rgba(241, 243, 249, 0.6);}
.tblBox table tbody tr:nth-child(odd) td .btn_view_detail {background:#fff; color:#7a7cfb;}

.tblBox.admin table thead tr th {padding:0 10px; background:#5d6177; color:#fff; font-size:15px; font-weight:500; letter-spacing:-0.2px;}
.tblBox.admin table tbody tr th {padding:0 10px; border-right:1px solid #e0e0ed; border-bottom:1px solid #e0e0ed; background:#f1f3f9; color:#353a55; font-size:14px; letter-spacing:-0.19px;}
.tblBox.admin table tbody tr:last-child th {border-bottom:none;}
.tblBox.admin table tbody tr td {padding:0 10px; border-bottom:1px solid #e0e0ed; background:#fff;}
.tblBox.admin table tbody tr td.empty {text-align:center;}
.tblBox.admin table tbody tr td .fa-user-cog {color:#7a7cfb; font-size:14px;}
.tblBox.admin table tbody tr:last-child td {border-bottom:none;}
.tblBox.admin table tbody tr td .ipt_txt {width:100%; border-radius:4px;}

/* pagingArea */
.pagingArea {position:relative; margin:20px 0 0;}
.pagingArea:after {content:''; display:block; clear:both;}
.pagingArea .paging {position:absolute; top:0; left:50%; transform:translate(-50%, 0);}
.pagingArea .paging a {display:inline-block; width:18px; height:18px; color:rgba(53, 58, 85, 0.5); font-size:12px; line-height:18px; text-align:center; vertical-align:top;}
.pagingArea .paging a.current {color:#353a55; font-weight:700; pointer-events:none;}
.pagingArea .paging .btn_paging {border:1px solid #e0e0ed; border-radius:4px; box-sizing:border-box; background:#fff;}
.pagingArea .paging .btn_paging.prev {margin:0 8px 0 0;}
.pagingArea .paging .btn_paging.next {margin:0 0 0 8px;}
.pagingArea .paging .btn_paging em {color:#353a55; font-size:12px; line-height:18px; vertical-align:top;}
.pagingArea .btnBox {margin:-8px 0 0;}

.admin_dptmt .fr {width:calc(100% - 310px);}
.admin_dptmt .fr .tblBox table thead tr th,
.admin_dptmt .fr .tblBox table tbody tr th {padding:0 40px; text-align:left;}
.admin_dptmt .btnBox {margin:15px 0 0; text-align:right;}
.admin_dptmt .tblBox table tbody tr td {text-align:left;}

.admin_user .tblBox table thead tr th,
.admin_user .tblBox table tbody tr td {font-size:12px;}

.fake_chk .tblBox table thead tr th,
.fake_chk .tblBox table tbody tr td {padding:0 40px; text-align:left; transition:background-color 0.3s ease-out;}
.fake_chk .tblBox table tbody tr.active td {background:#f1f3f9;}
.fake_chk .tblBox table tbody tr td .radioBox input[type="radio"] + label {padding:0 0 0 50px;}
.fake_chk .tblBox table tbody tr td .desc {margin:0 0 0 50px;}
.fake_chk .tblBox table tbody tr td .status {display:inline-block; position:relative; padding:0 0 0 24px;}
.fake_chk .tblBox table tbody tr td .status:before {content:''; display:block; position:absolute; top:2px; left:0; width:14px; height:14px; border-radius:50%; box-sizing:border-box;}
.fake_chk .tblBox table tbody tr td .high:before {background:#4d64df;}
.fake_chk .tblBox table tbody tr td .middle:before {background:#4eb7cb;}
.fake_chk .tblBox table tbody tr td .low:before {background:#fccd6a;}
.fake_chk .tblBox table tbody tr td .off:before {border:1px solid rgba(53, 58, 85, 0.5); background:#fff;}
.fake_chk .btn_primary {margin:16px 0 0;}

.profile .tblBox table tbody tr th {padding:0 40px;}
.profile .tblBox table tbody tr td {padding:0 20px; text-align:left;}

.statistic .srchArea table tbody tr td .iptBox {display:inline-block;}
.statistic .srchArea table tbody tr td .ipt_txt {width:100px;}
.statistic .srchArea table tbody tr td .select {width:100px;}
.statistic .tblBox table tbody tr th {text-align:center;}

.monitoringBox {height:700px; margin:20px 0 0; padding:20px; border:1px solid #e0e0ed; border-radius:4px; box-shadow:1px 1px 6px 0 rgb(101 101 101 / 10%); box-sizing:border-box; background:#fff;}
.monitoringBox .stn .item {float:left; width:calc(50% - 30px); height:330px;}
.monitoringBox .stn .item .tit {position:relative; width:100%; height:30px; padding:0; box-sizing:border-box; border-bottom:1px solid #242f31; font-size:16px; text-align:left; line-height:30px;}
.monitoringBox .stn .item .chartBox {min-width:auto; width:100%; height:calc(100% - 50px); margin:0;}
.monitoringBox .stn .item:nth-child(2) {margin-left:30px;}
.monitoringBox .stn:nth-child(1) .item:nth-child(2) .chartBox {height:290px;}