@charset "utf-8";
/* MINDsLab. NBR. 20200224 */

/* NotoSansCJKkr */
@font-face {
    font-family:'NotoSansCJKkr';	
    font-style:normal;
    font-weight:100;
    src:url(../../font/landing_page_v2/NotoSansCJKkr-Thin.otf) format('opentype');
    src:url(../../font/landing_page_v2/NotoSansCJKkr-Thin.woff) format('woff'),
        url(../../font/landing_page_v2/NotoSansCJKkr-Thin.woff2) format('woff2');
}

@font-face {
    font-family:'NotoSansCJKkr';
    font-style:normal;
    font-weight:300;
    src:url(../../font/landing_page_v2/NotoSansCJKkr-Light.otf) format('opentype');
    src:url(../../font/landing_page_v2/NotoSansCJKkr-Light.woff) format('woff'),
        url(../../font/landing_page_v2/NotoSansCJKkr-Light.woff2) format('woff2');
}

@font-face {
    font-family:'NotoSansCJKkr';
    font-style:normal;
    font-weight:400;
    src:url(../../font/landing_page_v2/NotoSansCJKkr-Regular.otf) format('opentype');
    src:url(../../font/landing_page_v2/NotoSansCJKkr-Regular.woff) format('woff'),
        url(../../font/landing_page_v2/NotoSansCJKkr-Regular.woff2) format('woff2');
}

@font-face {
    font-family:'NotoSansCJKkr';
    font-style:normal;
    font-weight:500;
    src:url(../../font/landing_page_v2/NotoSansCJKkr-Medium.otf) format('opentype');
    src:url(../../font/landing_page_v2/NotoSansCJKkr-Medium.woff) format('woff'),
        url(../../font/landing_page_v2/NotoSansCJKkr-Medium.woff2) format('woff2');
}

@font-face {
    font-family:'NotoSansCJKkr';
    font-style:normal;
    font-weight:700;
    src:url(../../font/landing_page_v2/NotoSansCJKkr-Bold.otf) format('opentype');
    src:url(../../font/landing_page_v2/NotoSansCJKkr-Bold.woff) format('woff'),
        url(../../font/landing_page_v2/NotoSansCJKkr-Bold.woff2) format('woff2');
}

@font-face {
    font-family:'NotoSansCJKkr';
    font-style:normal;
    font-weight:900;
    src:url(../../font/landing_page_v2/NotoSansCJKkr-Black.otf) format('opentype');
    src:url(../../font/landing_page_v2/NotoSansCJKkr-Black.woff) format('woff'),
        url(../../font/landing_page_v2/NotoSansCJKkr-Black.woff2) format('woff2');
}

/* NotoSansKR */
@font-face {
    font-family:'NotoSansKR';	
    font-style:normal;
    font-weight:100;
    src:url(../../font/landing_page_v2/NotoSansKR-Thin.otf) format('opentype');
    src:url(../../font/landing_page_v2/NotoSansKR-Thin.woff) format('woff'),
        url(../../font/landing_page_v2/NotoSansKR-Thin.woff2) format('woff2');
}

@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:300;
    src:url(../../font/landing_page_v2/NotoSansKR-Light.otf) format('opentype');
    src:url(../../font/landing_page_v2/NotoSansKR-Light.woff) format('woff'),
        url(../../font/landing_page_v2/NotoSansKR-Light.woff2) format('woff2');
}

@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:400;
    src:url(../../font/landing_page_v2/NotoSansKR-Regular.otf) format('opentype');
    src:url(../../font/landing_page_v2/NotoSansKR-Regular.woff) format('woff'),
        url(../../font/landing_page_v2/NotoSansKR-Regular.woff2) format('woff2');
}

@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:500;
    src:url(../../font/landing_page_v2/NotoSansKR-Medium.otf) format('opentype');
    src:url(../../font/landing_page_v2/NotoSansKR-Medium.woff) format('woff'),
        url(../../font/landing_page_v2/NotoSansKR-Medium.woff2) format('woff2');
}

@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:700;
    src:url(../../font/landing_page_v2/NotoSansKR-Bold.otf) format('opentype');
    src:url(../../font/landing_page_v2/NotoSansKR-Bold.woff) format('woff'),
        url(../../font/landing_page_v2/NotoSansKR-Bold.woff2) format('woff2');
}

@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:900;
    src:url(../../font/landing_page_v2/NotoSansKR-Black.otf) format('opentype');
    src:url(../../font/landing_page_v2/NotoSansKR-Black.woff) format('woff'),
        url(../../font/landing_page_v2/NotoSansKR-Black.woff2) format('woff2');
}

/* Roboto */ 
@font-face {
font-family:'Roboto';	
font-style:normal;
font-weight:100;
src:url(../../font/landing_page_v2/Roboto-Thin.otf) format('opentype');
src:url(../../font/landing_page_v2/Roboto-Thin.woff) format('woff'),
    url(../../font/landing_page_v2/Roboto-Thin.woff2) format('woff2');
}
@font-face {
font-family:'Roboto';	
font-style:normal;
font-weight:300;
src:url(../../font/landing_page_v2/Roboto-Light.otf) format('opentype');
src:url(../../font/landing_page_v2/Roboto-Light.woff) format('woff'),
    url(../../font/landing_page_v2/Roboto-Light.woff2) format('woff2');
}
@font-face {
font-family:'Roboto';	
font-style:normal;
font-weight:400;
src:url(../../font/landing_page_v2/Roboto-Regular.otf) format('opentype');
src:url(../../font/landing_page_v2/Roboto-Regular.woff) format('woff'),
    url(../../font/landing_page_v2/Roboto-Regular.woff2) format('woff2');
}
@font-face {
font-family:'Roboto';	
font-style:normal;
font-weight:500;
src:url(../../font/landing_page_v2/Roboto-Medium.otf) format('opentype');
src:url(../../font/landing_page_v2/Roboto-Medium.woff) format('woff'),
    url(../../font/landing_page_v2/Roboto-Medium.woff2) format('woff2');
}
@font-face {
font-family:'Roboto';	
font-style:normal;
font-weight:700;
src:url(../../font/landing_page_v2/Roboto-Bold.otf) format('opentype');
src:url(../../font/landing_page_v2/Roboto-Bold.woff) format('woff'),
    url(../../font/landing_page_v2/Roboto-Bold.woff2) format('woff2');
}
@font-face {
font-family:'Roboto';	
font-style:normal;
font-weight:900;
src:url(../../font/landing_page_v2/Roboto-Black.otf) format('opentype');
src:url(../../font/landing_page_v2/Roboto-Black.woff) format('woff'),
    url(../../font/landing_page_v2/Roboto-Black.woff2) format('woff2');
}
