@charset "UTF-8";
/* MINDsLab. NBR. 20220107 */

/* 공통 CSS */
@import url("reset.css"); 
@import url("font.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");


/* -------------------- common -------------------- */
/* scroll bar */
::-webkit-scrollbar {width: 6px; height: 6px; border-radius: 3px;}  /* 스크롤바의 width */
::-webkit-scrollbar-track {background: transparent;}  /* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {border-radius: 3px; background: rgb(174, 176, 179);}  /* 스크롤바 색 */
::-webkit-scrollbar-button {display: none;}  /* 위 아래 버튼 (버튼 없애기를 함) */

/* clearfix */
.clearfix:after {content:''; display:block; clear:both;} 

/* float */
.fl {float:left;}
.fr {float:right;}

/* hide */
.hide {display:inline-block; overflow:hidden; position:absolute; text-indent:-9999px; line-height:0; white-space:nowrap;}

/* input[type="file"] */
input[type="file"] {overflow:hidden; position:absolute; width:1px; height:1px; margin:1px; padding:0; border:none;}
input[type="file"] + label {display:block; width:100%; height:100%; cursor:pointer; font-size:14px; text-align:center;}


/* -------------------- layer popup -------------------- */
/* common */
.lyrWrap {display:none; position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:9999;}
.lyr_bg {position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.4);}
.lyrCont {overflow:hidden; position:absolute; top:50%; left:50%; min-width:340px; border-radius:10px; background:#fff; transform:translate(-50%, -50%);}
.lyrCont .lyr_top {position:relative; padding:36px 0 0; text-align:center;}
.lyrCont .lyr_top .tit {margin-top:8px; color:#5e7cff; font-size:18px; font-weight:700; line-height:26px;}
.lyrCont .lyr_top .btn_lyr_close {position:absolute; top:12px; right:12px; width:14px; height:14px; background:url('../images/ico_close_g.svg') 50% 50% no-repeat;}
.lyrCont .lyr_top .btn_lyr_close span {display:block; overflow:hidden; text-indent:-9999px; white-space:nowrap;}
.lyrCont .lyr_mid {padding:25px 0 28px;}
.lyrCont .lyr_mid .alert_txt {color:#000; font-size:16px; letter-spacing:-0.8px; line-height:25px; text-align:center;}
.lyrCont .lyr_btm {padding:0 0 48px; text-align:center;}
.lyrCont .lyr_btm button.btn_primary {height:32px; margin:0 3px; padding:0 24px; border-radius:5px; box-sizing:border-box; background:#5e7cff; color:#fff; font-size:14px; font-weight:500; letter-spacing:-0.14px; transition:all 0.3s ease-out;}
/* .lyrCont .lyr_btm button.btn_primary:hover {background:#3340a8; color:#fff;} */
/* .lyrCont .lyr_btm button.btn_confirm {width:100px;} */
.lyrCont .lyr_btm button.btn_lyr_close {background:#b2b2b2;}
/* .lyrCont .lyr_btm button.btn_lyr_close:hover {background:#dddee0; color:#565e6a;} */


/* -------------------- layout -------------------- */
#wrap {min-width:1280px; min-width:1920px; height:100%; background:#fdfdfd;}
#header {display:table; position:relative; width:100%; height:74px; background:#fff;}
#container {display:table; width:100%; height:calc(100% - 74px);}
#gnb {display:table-cell; width:260px; background:#2c2c2c; vertical-align:top;}
#contents {display:table-cell; width:calc(100% - 260px); vertical-align:top;}
.content {overflow:hidden; position:relative; padding:43px 80px;}


/* -------------------- header -------------------- */
#header h1 {display:table-cell; width:260px; border-bottom:1px solid #1c2426; box-sizing:border-box; background:#2c2c2c; text-align:center; vertical-align:middle;}
#header h1 a {display:block; font-family:'NanumSquareRound', sans-serif; color:#fff; font-size:18px; font-weight:400; line-height:20px;}
#header h1 a strong {margin-left:4px; font-family:'NanumSquareRound', sans-serif; color:#fff; font-size:18px; font-weight:800; line-height:20px;}
#header .etc {display:table-cell; padding:0 80px 0 0; border-bottom:1px solid #f0f1f3; text-align:right; vertical-align:middle;}
#header .etc ul {height:30px;}
#header .etc ul li .btn_user {width:30px; height:30px; background:url('../images/ico_user.svg') 50% 50% no-repeat;}


/* -------------------- gnb -------------------- */
#gnb .nav li {line-height:50px; transition:background-color 0.3s ease-out;}
#gnb .nav li a {display:block; padding:0 30px 0 66px; box-sizing:border-box; background-position:30px 50%; background-repeat:no-repeat; font-family:'NanumSquareRound', sans-serif; color:#fff; font-size:16px;}
#gnb .nav li:hover,
#gnb .nav li.active {background-color:#5e7cff;}
#gnb .nav li:hover a,
#gnb .nav li.active a {text-shadow:0 0;}
#gnb .nav li:nth-child(1) a {background-image:url('../images/ico_grid.svg');}


/* -------------------- content -------------------- */
/* path */
.path {float:left;}
.path .path_nav {line-height:17px;}
.path .path_nav li {display:inline-block; height:17px; position:relative; line-height:17px; vertical-align:top;}
.path .path_nav li a {color:#b2b2b2; font-size:12px; letter-spacing:-0.12px;}
.path .path_nav li:not(:first-child) a {color:#2c2c2c;}
.path .path_nav li + li {margin-left:26px;}
.path .path_nav li + li:before {content:'/'; display:block; position:absolute; top:2px; left:-16px; color:#2c2c2c; font-size:12px;}

/* tit */
.path + .titArea {clear:both; margin-top:13px;}
.titArea {float:left;}
.titArea .btn_back {width:24px; height:24px; background:url('../images/arw_back.svg') 50% 50% no-repeat; vertical-align:middle;}
.titArea h3 {display:inline-block; font-family:'NanumSquareRound', sans-serif; color:#000; font-size:26px; font-weight:700; letter-spacing:-0.26px; line-height:29px; vertical-align:middle;}
.titArea .btn_back + h3 {margin-left:10px;}

/* stn */
.stn {clear:both; display:inline-block; width:100%; margin-top:30px;}

/* aiHuman_filter */
.aiHuman_filter ul {display:flex;}
.aiHuman_filter ul li {padding:0 24px; border-radius:20px; background:#efefef; color:#818181; font-size:14px; font-weight:500; letter-spacing:-0.14px; line-height:40px; transition:background-color 0.2s ease-out; cursor:pointer;}
.aiHuman_filter ul li + li {margin-left:12px;}
.aiHuman_filter ul li.active {background:#5e7cff; color:#fff;}

/* aiHuman_list */
.aiHuman_list {padding:60px 0 20px;}
.aiHuman_list ul {display:flex;}
.aiHuman_list ul li {overflow:hidden; width:360px !important; min-height:468px; max-height:675px; height:60vh; border-radius:10px; box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.08); box-sizing:border-box; background:#fff;}
.aiHuman_list ul li + li {margin-left:20px;}
.aiHuman_list ul li .dateBox {height:37px; padding:0 12px; box-sizing:border-box; background:#fcfbfc; text-align:right;}
.aiHuman_list ul li .dateBox .date {color:#818181; font-size:12px; line-height:37px;}
.aiHuman_list ul li .aiHumanPrev {height:calc(100% - 90px); padding:24px; box-sizing:border-box;}
.aiHuman_list ul li .aiHumanPrev .imgBox {height:calc(100% - 106px); border-radius:10px; background:#f7f7f7; text-align:center;}
.aiHuman_list ul li .aiHumanPrev .imgBox img {height:100%;}
.aiHuman_list ul li .aiHumanPrev .infoBox {margin-top:24px;}
.aiHuman_list ul li .aiHumanPrev .infoBox p {font-family:'NanumSquareRound', sans-serif; text-align:center;}
.aiHuman_list ul li .aiHumanPrev .infoBox .company {color:#818181; font-size:16px; letter-spacing:-0.16px; line-height:18px;}
.aiHuman_list ul li .aiHumanPrev .infoBox .job {margin:8px 0; color:#000; font-size:24px; font-weight:700; letter-spacing:-0.24px; line-height:26px;} 
.aiHuman_list ul li .aiHumanPrev .infoBox .name {color:#000; font-size:20px; letter-spacing:-0.2px; line-height:22px;} 
.aiHuman_list ul li .btnBox {display:flex; height:52px; border-top:1px solid #efefef;}
.aiHuman_list ul li .btnBox a {flex:1; font-size:14px; font-weight:500; line-height:52px; text-align:center;}
.aiHuman_list ul li .btnBox a.btn_chatbot_learn {background:#5e7cff; color:#fff;}
.aiHuman_list ul li .btnBox a.btn_chat_edit {background:#fff; color:#5e7cff;}
.aiHuman_list ul li.add {border:1px dashed #2c2c2c; box-shadow:none;}
.aiHuman_list ul li.add a {display:flex; flex-direction:column; justify-content:center; align-items:center; width:100%; height:100%;}
.aiHuman_list ul li.add a em {display:block; width:40px; height:40px; border-radius:50%; box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.08); background:url('../images/ico_add.svg') 50% 50% no-repeat;}
.aiHuman_list ul li.add a span {display:block; margin-top:12px; color:#818181; font-size:14px; letter-spacing:-0.14px; line-height:20px;}

/* learnArea */
.learnArea {clear:both; float:left; width:calc(100% - 380px);}
.learnArea .chatbot_learn_map {text-align:center;}
.learnArea .chatbot_learn_map .tit {font-family:'NanumSquareRound', sans-serif; color:#2c2c2c; font-size:24px; font-weight:800; letter-spacing:-0.24px; line-height:26px;}
.learnArea .chatbot_learn_map .desc {margin:14px 0 0; color:#3e3e3e; font-size:12px; letter-spacing:-0.12px; line-height:17px;}
.learnArea .chatbot_learn_map .step_list_wrap {display:flex; flex-wrap:wrap; justify-content:center; margin:18px 0 24px;}
.learnArea .chatbot_learn_map .step_list_wrap ul {display:flex;}
.learnArea .chatbot_learn_map .step_list_wrap ul li {position:relative; width:110px; height:110px; margin-top:16px; padding:19px; border:1px solid #dddddd; border-radius:10px; box-sizing:border-box; background:#fff;}
.learnArea .chatbot_learn_map .step_list_wrap ul li span {display:block; text-align:center;}
.learnArea .chatbot_learn_map .step_list_wrap ul li .stepNum {overflow:hidden; width:24px; height:24px; margin:0 auto; border-radius:50%; background:#dedede; color:#fff; font-size:14px; line-height:24px;}
.learnArea .chatbot_learn_map .step_list_wrap ul li .stepTxt {margin:10px 0 0; font-family:'NanumSquareRound', sans-serif; color:#818181; font-size:16px; font-weight:700; letter-spacing:-0.16px; line-height:1.3; word-break:keep-all;}
.learnArea .chatbot_learn_map .step_list_wrap ul + ul,
.learnArea .chatbot_learn_map .step_list_wrap ul li + li {margin-left:64px;}
.learnArea .chatbot_learn_map .step_list_wrap ul + ul li:before {content:''; display:block; position:absolute; top:50%; left:-44px; width:24px; height:24px; background:url('../images/arw_right_g.svg') 50% 50% no-repeat; transform:translateY(-50%);}
.learnArea .chatbot_learn_map .step_list_wrap ul li + li:before {content:''; display:block; position:absolute; top:50%; left:-65px; width:64px; height:1px; border-top:1px solid #dddddd;}
.learnArea .chatbot_learn_map .step_list_wrap ul li.current {border:1px solid #5e7cff;}
.learnArea .chatbot_learn_map .step_list_wrap ul li.current .stepNum {background:#5e7cff;}
.learnArea .chatbot_learn_map .step_list_wrap ul li.current .stepTxt {color:#5e7cff;}
.learnArea .chatbot_learn_map .step_list_wrap ul li.done {border:1px solid #dedede;}
.learnArea .chatbot_learn_map .step_list_wrap ul li.done .stepNum {background:#2c2c2c url('../images/ico_check.svg') 50% 50% no-repeat; text-indent:-999px;}
.learnArea .chatbot_learn_map .step_list_wrap ul li.done .stepTxt {color:#2c2c2c;}
.learnArea .chatbot_learn_map .step_info .btn_fast {display:inline-block; height:32px; padding:0 60px; border-radius:16px; box-sizing:border-box; background:#e4e9fd;}
.learnArea .chatbot_learn_map .step_info .btn_fast span {display:inline-block; color:#5e7cff; font-size:14px; font-weight:500; letter-spacing:-0.14px; line-height:32px; vertical-align:middle;}
.learnArea .chatbot_learn_map .step_info .btn_fast .ico_arw {display:inline-block; margin-left:10px; width:18px; height:18px; border-radius:50%; background:#fff url('../images/arw_right_b.svg') 50% 50% no-repeat; vertical-align:middle;}
.learnArea .chatbot_learn_map .step_info .desc {display:inline-block; margin:0 0 0 64px; color:#818181; font-size:14px; letter-spacing:-0.14px; vertical-align:top;}
.learnArea .chatbot_learn_map .step_info .desc br {display:none;}

/* learn_cont */
.learn_cont {height:41.9vh; height:486px; margin-top:40px; border-radius:10px; box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.08); background:#fff;}
.learn_cont .titArea {float:none; padding:23px 40px; border-bottom:1px solid #efefef; box-sizing:border-box;}
.learn_cont .titArea .tit {display:inline-block; margin-right:40px; font-family:'NanumSquareRound', sans-serif; color:#5e7cff; font-size:20px; font-weight:800; letter-spacing:-0.2px;}
.learn_cont .titArea .desc {display:inline-block; color:#3e3e3e; font-size:16px; letter-spacing:-0.16px; word-break:keep-all;}
.learn_cont .contArea {position:relative; height:calc(100% - 76px); padding:48px 40px;}
.learn_cont .contArea .btn_sample_dwld {position:absolute; top:23px; right:40px; color:#5e7cff; font-size:12px; font-weight:500; letter-spacing:-0.12px; line-height:17px; text-decoration:underline;}
.learn_cont .contArea .uploadBox {display:block; overflow:auto; width:100%; height:calc(100% - 96px); border-radius:10px; box-sizing:border-box;}
.learn_cont .contArea .uploadBox input[type="file"] + label {display:none; vertical-align:middle;}
.learn_cont .contArea .uploadBox input[type="file"] + label p {display:inline-block; margin:12px 0 0; padding:0 24px; border-radius:18px; background:#1f2931; color:#fff; font-size:12px; font-weight:500; letter-spacing:-0.12px; line-height:36px;}
.learn_cont .contArea .uploadBox.init {display:table; table-layout:fixed; border:1px dashed rgba(0, 0, 0, 0.12); background:#f7f7f7;}
.learn_cont .contArea .uploadBox.init input[type="file"] + label {display:table-cell;}
/* .learn_cont .contArea .uploadBox .file_list {overflow:auto; width:100%; height:100%;} */
.learn_cont .contArea .uploadBox .file_list li {display:flex; justify-content:flex-end; padding:27px 40px; border:1px solid #E2E2E2; border-radius:10px; box-sizing:border-box; text-align:right;}
.learn_cont .contArea .uploadBox .file_list li > * {display:inline-block; color:#2c2c2c; font-size:14px; line-height:24px; vertical-align:top;}
.learn_cont .contArea .uploadBox .file_list li .fileName {overflow:hidden; margin-right:auto; width:50%; text-align:left; text-overflow:ellipsis; white-space:nowrap;}
.learn_cont .contArea .uploadBox .file_list li .progress {position:relative; width:276px; height:28px; margin:0 26px; border-radius:14px; background:#f7f7f7;}
.learn_cont .contArea .uploadBox .file_list li .progress span {position:absolute; color:#2c2c2c; font-size:14px; letter-spacing:-0.14px; line-height:28px; white-space:nowrap;}
.learn_cont .contArea .uploadBox .file_list li .progress .current {top:0; left:0; width:0; height:100%; border-radius:14px; background:#5e7cff;}
.learn_cont .contArea .uploadBox .file_list li .progress .current.half {width:50%;}
.learn_cont .contArea .uploadBox .file_list li .progress .status {left:12px;}
.learn_cont .contArea .uploadBox .file_list li .progress .per {left:102px;}
.learn_cont .contArea .uploadBox .file_list li .progress .current.half ~ span {color:#fff;}
.learn_cont .contArea .uploadBox .file_list li .btn_file_delete {width:24px; height:24px; margin-left:26px; background:url('../images/ico_close.svg') 50% 50% no-repeat;}
.learn_cont .contArea .uploadBox.init .file_list {display:none;}

/* .learn_cont .contArea .uploadBox .btnBox {margin-top:20px; text-align:center;}
.learn_cont .contArea .uploadBox .btnBox button {display:none; height:52px; padding:0 80px; border-radius:10px; color:#fff; font-size:16px; font-weight:500; letter-spacing:-0.16px;}
.learn_cont .contArea .uploadBox .btnBox .btn_learn_start {background:#5e7cff;}
.learn_cont .contArea .uploadBox .btnBox button.active {display:inline-block;} */

.learn_cont .contArea .uploadBox .status_group {margin:20px 0 0;}
.learn_cont .contArea .uploadBox.init .status_group {display:none;}
.learn_cont .contArea .uploadBox .status_group .statusBox {display:none; height:52px; text-align:center;}
.learn_cont .contArea .uploadBox .status_group .statusBox button {height:52px; padding:0 80px; border-radius:10px; color:#fff; font-size:16px; font-weight:500; letter-spacing:-0.16px;}
.learn_cont .contArea .uploadBox .status_group .statusBox button.btn_learnFile_rgst,
.learn_cont .contArea .uploadBox .status_group .statusBox button.btn_start_learn {background:#5e7cff;}
.learn_cont .contArea .uploadBox .status_group .statusBox button.btn_restart_learn {background:#000;}
.learn_cont .contArea .uploadBox .status_group .statusBox .status_label {display:inline-block; height:52px; padding:0 80px; border-radius:10px; background:#bababa; color:#fff; font-size:16px; font-weight:500; letter-spacing:-0.16px; line-height:52px;}
.learn_cont .contArea .uploadBox .status_group.step01 .statusBox.step01,
.learn_cont .contArea .uploadBox .status_group.step02 .statusBox.step02,
.learn_cont .contArea .uploadBox .status_group.step03 .statusBox.step03,
.learn_cont .contArea .uploadBox .status_group.step04 .statusBox.step04 {display:block;}

/* aiHumanViewer */
.aiHumanViewer {float:right; width:360px; height:82.8vh; height:873px; margin-top:-90px; border-radius:10px; box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.08); box-sizing:border-box; background:#fff;}
.aiHumanViewer .infoBox {height:82px; border-bottom:1px solid #efefef; box-sizing:border-box; text-align:center;}
.aiHumanViewer .infoBox p {display:inline-block; font-family:'NanumSquareRound', sans-serif; color:#000; font-size:18px; font-weight:700; letter-spacing:-0.18px; line-height:81px;}
.aiHumanViewer .testArea {height:calc(100% - 82px); padding:20px; box-sizing:border-box; text-align:center;}
.aiHumanViewer .testArea .statusBox {display:inline-block; height:37px; margin-bottom:20px; padding:0 24px; border-radius:17px; background:rgba(245, 247, 251, 0.45); vertical-align:top;}
.aiHumanViewer .testArea .statusBox span {display:inline-block; overflow:hidden; width:100%; color:#667177; font-size:12px; line-height:37px; text-overflow:ellipsis; white-space:nowrap;}
.aiHumanViewer .testArea .videoBox {overflow:hidden; height:calc(100% - 188px); border-radius:10px; background:#f7f7f7; text-align:center;}
.aiHumanViewer .testArea .videoBox video {height:100%; vertical-align:top;}
.aiHumanViewer .testArea .user_chat {margin:20px 0;}
.aiHumanViewer .testArea .user_chat input[type="text"] {width:268px; height:48px; padding:0 12px; border:1px solid #ebebeb; border-radius:10px; background:#fcfcfc; box-sizing:border-box; color:#2c2c2c; font-size:14px; letter-spacing:-0.14px; vertical-align:top;}
.aiHumanViewer .testArea .user_chat input[type="text"]::placeholder {color:#a3a3a3; font-size:14px; letter-spacing:-0.14px;}
.aiHumanViewer .testArea .user_chat .btn_send {width:48px; height:48px; border-radius:10px; background:#5e7cff url('../images/ico_send.svg') 50% 50% no-repeat; vertical-align:top;}
.aiHumanViewer .testArea .chat_slt_box {margin:0 0 7px;}
.aiHumanViewer .testArea .chat_slt_box .chat_type_slt {display:inline-block; position:relative; width:130px; height:36px; border-radius:10px; box-sizing:border-box; background-image:url('../images/arw_btm_b.svg'); background-position:top 50% right 11px; background-repeat:no-repeat; text-align:left; cursor:pointer;}
.aiHumanViewer .testArea .chat_slt_box .chat_type_slt.focus {border:1px solid #657df7;}
.aiHumanViewer .testArea .chat_slt_box .chat_type_slt .slt_type {color:#5e7cff; font-size:14px; font-weight:500; letter-spacing:-0.14px; line-height:36px;}
.aiHumanViewer .testArea .chat_slt_box .chat_type_slt ul {display:none; position:absolute; bottom:calc(100% + 4px); width:100%; padding:4px 2px; border-radius:10px; box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.08); box-sizing:border-box; background:#fff; }
.aiHumanViewer .testArea .chat_slt_box .chat_type_slt ul li {padding:0 11px; box-sizing:border-box; color:#2c2c2c; font-size:14px; letter-spacing:-0.14px; line-height:28px; transition:background-color 0.2s ease-out; cursor:pointer;}
.aiHumanViewer .testArea .chat_slt_box .chat_type_slt ul li:hover {border-radius:10px; background:#e7e8ff; color:#657df7;}


/* -------------------- media query -------------------- */
/* @media screen and (max-width:1615px) {
    .learnArea .chatbot_learn_map .step_list_wrap ul li:before {content:none !important;}
    .learnArea .chatbot_learn_map .step_list_wrap ul + ul,
    .learnArea .chatbot_learn_map .step_list_wrap ul li + li {margin-left:13px;}
}

@media screen and (max-width:1390px) {
    .learnArea .chatbot_learn_map .step_list_wrap ul:last-child {margin-left:0;}
    .learnArea .chatbot_learn_map .step_info {position:relative;}
    .learnArea .chatbot_learn_map .step_info .btn_fast {width:100%;}
    .learnArea .chatbot_learn_map .step_info .desc {position:absolute; top:-60px; right:0; text-align:left;}
    .learnArea .chatbot_learn_map .step_info .desc br {display:block;}
} */