

.builder_box{position:relative; width:534px;height:410px; margin:0 auto;}
.builder_box img {width:100%;}

.data_demobox .data_box.aibuilder_box ul li:first-child {background: url(../../kr/images/img_aibuilder1.svg) 50% 44px no-repeat;}
.data_demobox .data_box.aibuilder_box ul li:nth-child(2) {background: url(../../kr/images/img_aibuilder2.svg) 50% 35px no-repeat;}
.data_demobox .data_box.aibuilder_box ul li:nth-child(3) {background: url(../../kr/images/img_aibuilder3.svg) 50% 45px no-repeat;}