/*아카데미 페이지*/
.academy_cont {padding: 85px 30px 0 30px;}
.content .academy_demobox {padding:0; margin: 0 0 60px 0;}
.academy_top {background:url("../images/bg_academy.png") 50% 50% no-repeat; background-size:cover;height: 250px;position:relative;}
.academy_top .academy_top_area {position:relative; margin:0 auto;text-align: center; height: 100%;}
.academy_top .academy_top_area img {margin:82px auto 0;}
.academy_top .tab_menu {position:absolute;bottom:0; width:100%;height:60px;background-color: rgba(44, 63, 81, 0.5);}
.academy_top .tab_menu ul{width:1218px;margin:0 auto;}
.academy_top .tab_menu ul li {position:relative;float:left;width:406px; }
.academy_top .tab_menu ul li button {border:none;width:100%;height: 60px;background: transparent;color:#fff; opacity:0.7;text-align: center; display: block;line-height: 60px;letter-spacing: -0.57px;font-size:17px;cursor:pointer;transition:all 0.3s ease-out;}
.academy_top .tab_menu ul li.active:after{content: '';width:100%;height:3px; background: #fff;position:absolute;top:0;left:0; opacity:1;}
.academy_top .tab_menu ul li:hover button, .academy_top  .tab_menu ul li.active button {opacity:1;transition:all 0.3s ease-out;}
.academy_top .tab_menu ul li:hover {background: #ffffff29;transition:all 0.3s ease-in-out;}

.academy_main {display: none; margin:50px auto 0;}
.academy_main.on {display:block;}
.academy_main .curriculum {width: 1220px;margin:0 auto;}
.academy_main .curriculum h1 {background:url("../../common/images/img_academy_tit.png") 50% 50% no-repeat;  height: 30px; margin: 0 0 20px 0;background-size: 596px;}
.academy_main .curriculum img {margin:0 0 0 30px;}
.academy_main .step_box {overflow:hidden;margin: 50px 0 60px 0;}
.academy_main .step_box .step {float:left; width:350px;}
.academy_main .step_box .step:first-child{margin: 0 10px 0 74px;background: url("../../common/images/step_1.svg") 50% 0 no-repeat ;}
.academy_main .step_box .step:nth-child(2){margin: 0 10px 0 0;background: url("../../common/images/step_2.svg") 50% 0 no-repeat ;}
.academy_main .step_box .step:nth-child(3){background: url("../../common/images/step_3.svg") 50% 0 no-repeat ;}
.academy_main .step_box .step h5 {width:300px; margin: 0 0 30px 0;font-weight:normal; height: 42px; font-size:16px;letter-spacing: -0.4px;;color:#fff;text-align: center;padding:10px 0 0;}
.academy_main .step_box .step h5 small {font-size:13px;display: block;letter-spacing: -0.43px;font-weight:300;}
.academy_main .step_box .step ul {width:300px;border-bottom: solid 1px #979797;}
.academy_main .step_box .step ul li {line-height: normal;height:55px;font-size:14px;letter-spacing: -0.22px;color: #2c3f51;font-weight:500;}
.academy_main .step_box .step ul li span{display:inline-block; float: left;width: 43px; height: 23px;margin: 0 7px 0 0;line-height: 23px;text-align: center;border-radius: 11.5px; border: solid 1px #2c3f51;}
.academy_main .step_box .step dl{overflow: hidden;width:300px;clear:both;line-height: normal;font-size:14px;letter-spacing: -0.11px;color: #1f2e3b;padding:10px 0 ; border-bottom: dotted 1px #979797;}
.academy_main .step_box .step dl:last-child {border-bottom: solid 1px #979797;}
.academy_main .step_box .step dt, .academy_main .step_box .step dd {float:left;}
.academy_main .step_box .step dt{width:125px;min-height: 60px;}
.academy_main .apply_btn_box {width:100%;background: #f3f5fb;padding: 40px 0;}
.academy_main .apply_btn_box .apply_btn, .apply_btn {position: relative;width: 124px; height: 40px;line-height:40px;margin:20px auto; border-radius: 5px; background-color: #2c3f51;color: #fff;font-size:14px;font-weight: 400;display: block;text-align: center; overflow: hidden;letter-spacing: -0.22px;transition:all 0.3s ease-out;}
.academy_main .apply_btn_box .apply_btn {width:165px;}
.apply_btn:before {content:"";background-color:rgba(255,255,255,0.5);height:100%;width:2em;display: block;position:absolute;top:0; left:-4em; transform: skewX(-45deg) translateX(0);transition:all 0.3s ease-out;}
.apply_btn:hover, .apply_btn:active, .apply_btn:focus {background: #2c3f51; color:#fff;transition:all 0.5s ease-out;}
.apply_btn:hover:before {transform: skewX(-45deg) translateX(18.5em);transition:all 0.5s ease-in-out;}

.academy_main .month_box {overflow: hidden;width: 1220px; margin: 0 auto;}
.academy_main .month_box:last-child {margin:0 auto 100px;}
.academy_main .month_box h3 { float: left;font-size:40px;font-weight:bold;color:#192a39;letter-spacing:-0.32px;line-height: normal;padding: 12px 0 0 0; text-align: center;min-width: 165px;}
.academy_main .month_box table {float:right;width:998px;border-top:2px solid #697992;}
.academy_main .month_box table tr {height:105px;}
.academy_main .month_box table td {vertical-align: top; padding: 20px 0 0 0; color: #1f2e3b;font-size:15px;}
.academy_main .month_box table td.td_date {padding: 17px 0 0 25px;width:185px;line-height: normal;}
.academy_main .month_box table td em {font-size:25px; color:#1f2e3b; margin: 0 0 6px 0; display: block;}
.academy_main .month_box table td span {display: block;color:#2575f9;font-size:19px;letter-spacing: -0.16px;}
.academy_main .month_box table td span.off {width: 97px; height: 44px;line-height:44px;margin:0 auto; border-radius: 5px; border: solid 1px #b0bed5;color:#b0bed5;font-size:15px;text-align: center;}
.academy_main .month_box table td.td_txt { border-bottom: dotted 1px #b0bed5;}
.academy_main .month_box table td span.br_span {display: block; color: #1f2e3b;font-size: 15px;line-height: normal;}
.academy_main .month_box table td.last_txt{border-bottom: solid 1px #697992;}
.academy_main .month_box:not(:last-child) table {border-top:1px solid #697992;}
.academy_main .month_box:first-child table {border-top:2px solid #697992;}
.academy_main .month_box:last-child table, .academy_main .month_box:last-child td.last_txt {border-bottom:2px solid #697992;border-top: 1px solid #697992;}

.overview {text-align: center;}
.overview h4{color: #1e2438;font-size:25px; height: 37px; line-height: 37px; margin: 0 0 2px 0;font-weight: 500;}
.overview h4 + span {opacity: 0.7;font-size:16px;display:block;color: #2c3f51;}
.overview .overview_lst {margin:40px auto;width:1012px;overflow: hidden;}
.overview .overview_lst li {float:left;width:282px;height:195px;margin:0 83px 0 0;background: url("../../common/images/bg_aca_li3.svg") 50% 0 no-repeat ;}
.overview .overview_lst li h5{height:24px; line-height:24px;margin:51px 0 11px; font-size:16px;color: #1f2e3b;letter-spacing: -0.13px;}
.overview .overview_lst li p { color: #576068; font-size: 14px;line-height: 1.57;letter-spacing: -0.11px;}
.overview .overview_lst li:nth-child(2){background: url("../../common/images/bg_aca_li1.svg") 50% 0 no-repeat ;}
.overview .overview_lst li:last-child {margin:0;background: url("../../common/images/bg_aca_li2.svg") 50% 0 no-repeat ;}
.overview .aca_apply {position:relative; z-index: 0;display:block;margin:0 auto 50px;line-height: 40px; width: 190px;height: 40px;border-radius: 5px;border: solid 1px #2575f9; color: #2575f9;letter-spacing: -0.22px;font-size: 14px; font-weight: 500;}
.overview .aca_apply:after{content:''; position:absolute; background:#2575f9;height:100%; left:0; top:0;width:0; z-index: -1;transition: all 0.3s ease-in-out;}
.overview .aca_apply:hover {color:#fff;transition: all 0.3s ease-in-out;}
.overview .aca_apply:hover:after {width:100%;}
.overview .disc_box {clear:both;background-color: #f3f5fb; height: 443px;}
.overview .disc_desc {position:relative; padding:50px 0 58px 410px;margin:0 auto;width:1042px;text-align: left; box-sizing: border-box;}
.overview .disc_desc h4{margin:0 0 8px 0;}
.overview .disc_desc:before {content:'';background: url("../../common/images/bg_aca.png") 50% 0 no-repeat;position:absolute; top:0; left: -454px;width:810px;height:443px;}
.overview .disc_desc p{color: #2c3f51;font-size:16px;opacity: 0.7;line-height: 1.38;margin:0 0 48px 0;}
.overview .disc_desc ul {margin:0 0 50px 0;}
.overview .disc_desc ul li { letter-spacing: -0.12px; color: #1f2e3b;font-size:15px;margin:0 0 20px 0; height: 22px;line-height: 22px;}
.overview .disc_desc ul li em {color: #2575f9;font-size:15px;margin:0 8px 0 0;}
.overview .disc_desc .apply_btn {margin:30px 0 0 0;background-color: #2575f9;width:165px;}

.academy_footer {width:100%;background: #192a39;overflow: hidden;}
.academy_footer .footer_area {width: 1218px;margin:0 auto;overflow: hidden;min-height: 288px;}
.academy_footer .footer_area .footer_logo {float:left;height:146px;margin: 71px 85px 0 25px;border-right: solid 1px #2b3a46;}
.academy_footer .footer_area .footer_logo img{width: 264px;margin:56px 85px;}
.academy_footer .academy_noti {float:left;margin:45px 0 0 0;width: 648px; height: 169px; background-color: rgba(31, 46, 59, 0.4); color:#fff; position:relative;}
.academy_footer .academy_noti dl {float:left;width: calc(50% - 40px); padding: 20px 0 0 40px; }
.academy_footer .academy_noti dl dt {float:left;font-size: 17px;letter-spacing: -0.14px;font-weight:600;width:48px; clear: both;height:73px;line-height: normal;}
.academy_footer .academy_noti dl dt.right_line {margin:0 16px 0 0; text-align: right;}
.academy_footer .academy_noti dl dd { min-height: 110px; font-size: 15px;float:left;line-height: normal;letter-spacing: -0.12px;}
.academy_footer .academy_noti dl dd small {font-size:12px;}
/* Mobile Layout */
@media screen and (max-width:760px) {


    /*아카데미 추가*/
    .academy_top {margin:0 0 0 0; height: 285px;}

    .academy_top .academy_top_area {width:100%;}
    .academy_top .academy_top_area img{margin: 100px 0 0 10px; width: 195px;}
    .academy_top .tab_menu ul {width:100%;}
    .academy_top .tab_menu ul li {width:33.333%;height: 60px;}
    .academy_top .tab_menu ul li button {height:100%;font-size:14px;}
    .academy_top .tab_menu ul li button.active:after {width:100%;}
    .academy_main .curriculum {width:100%;text-align: center;}
    .academy_main .curriculum h1{background-size:90%;}
    .academy_main .curriculum img {width:98%;margin:0;}
    .academy_main .step_box {margin:20px 0;}
    .academy_main .step_box .step{width: 95%; margin: 20px auto 0; background-size: contain; float: unset;}
    .academy_main .step_box .step:first-child, .academy_main .step_box .step:nth-child(2), .academy_main .step_box .step:nth-child(3) {width:95%;margin:20px auto 0;background-size: contain; float: unset;}
    .academy_main .step_box .step h5 {width: 86%; padding: 6px 0 0;}
    .academy_main .step_box .step ul li {text-align:left;}

    .academy_main{width:100%; margin: 20px auto 0; overflow: hidden;}
    .academy_main .month_box {height:auto;padding: 0 0 30px 0;position: relative;width:100%;}
    .academy_main .month_box h3 { padding: 0; position: relative; width: 100%;}
    .academy_main .month_box h3 a {float:right; margin:10px 10px 0 0;}
    .academy_main .month_box table{width:100%;}
    .academy_main .month_box table tr {height: auto;}
    .academy_main .month_box table td {display:block;padding:0 0 0 20px;font-size: 12px;}
    .academy_main .month_box table td.td_txt {border:none;padding: 0 0 5px 20px;}
    .academy_main .month_box table td span.br_span {display: inline;font-size: 12px;}
    .academy_main .month_box table td.last_txt {border:none;padding: 0 0 5px 20px;}
    .academy_main .month_box table td span {font-size:13px;}
    .academy_main .month_box table td.td_date {width:100%;margin:0;padding: 10px 0 10px 20px;}
    .academy_main .month_box table td.td_date {font-size:18px;width: calc(100% - 20px);background: #f5f6fa;}
    .academy_main .month_box table td.apply_btn{position:absolute;bottom:10px;width: 100%;padding: 0;}
    .academy_main .month_box:nth-child(4) td.last_txt {border-bottom:none;}

    .overview .overview_lst {width:100%;}
    .overview .overview_lst li {float:unset;width:90%;margin: 0 auto 20px;}
    .overview .overview_lst li:last-child {margin: 0 auto;}
    .overview .overview_lst li h5 {padding: 51px 0 11px;margin: 0;}
    .overview .disc_box {height:auto;}
    .overview .disc_desc {width:100%;padding: 200px 10px 30px;}
    .overview .disc_desc:before { width:100%; left:0;background-size: contain;}
    .overview .disc_desc p {font-size:13px; margin: 0 0 20px 0;}
    .overview .disc_desc ul li {font-size:14px;height:auto;}

    .academy_footer .footer_area{width:100%;}
    .academy_footer .footer_area .footer_logo {float:unset;width:100%;margin:30px auto;text-align: center;height:auto;}
    .academy_footer .footer_area .footer_logo img {margin:0;}
    .academy_footer .academy_noti {width: calc(100% - 20px);margin: 20px 10px;height: auto;padding: 0;}
    .academy_footer .academy_noti dl{width:90%;padding: 0 0 0 20px;}
    .academy_footer .academy_noti dl dt {font-size:13px;height: 50px;}
    .academy_footer .academy_noti dl dd {font-size:10px; min-height: 75px;}
    .academy_footer .academy_noti dl dt.right_line{text-align: left;float:left;margin:0;}


}


