@import url(notosankr.css);
/* Side navigation Bar */
.snb {display:table-cell; position: fixed; width: 184px; height: calc(100% - 125px);min-width: 237px;background: #f5f6fa; overflow: auto;padding: 65px 0 60px 0;z-index: 101;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);}
.snb .sub_tit {font-size:13px; color:#002b49;margin:0 17px; font-weight: bold;height: 30px;line-height: 30px; border-bottom: 0.5px solid #002b49;}
.snb .sub_tit.sub_list {margin: 32px 17px 0;}
.snb ul {padding:0 7px;}
.snb ul.api_list {margin:0 auto 20px;}
.snb ul .collapsible {position:relative;color: #002b49; cursor: pointer;margin: 0 10px;border: none; text-align: left; outline: none; font-size: 13px;font-weight:500; line-height: 27px; overflow: hidden;transition:all 0.3s ease-out;}
.snb ul .collapsible > span {display: inline-block;height:27px;}
.snb ul .collapsible:hover  { transition:all 0.3s ease-out;}
.snb ul .sublist { max-height: 0; overflow: hidden; transition: max-height 0.3s ease-out; }
.snb ul .collapsible.list1 {color:#675fb0;}
.snb ul .collapsible.list2 {color:#e66f83;border-top: 0.5px solid #ccc;}
.snb ul .collapsible.list3 {color:#27c1c1;border-top: 0.5px solid #ccc;}
.snb ul .collapsible.list4 {color:#2cace5;border-top: 0.5px solid #ccc;}
.snb ul .collapsible.list5 {color:#fb9223;border-top: 0.5px solid #ccc;}

.snb ul .collapsible .ico_menu {min-height:34px;opacity: 1;transition:all 0.3s ease-out;}
.snb ul .collapsible .ico_menu span {width:20%;float:left;height: 30px;}
.snb ul .collapsible .ico_menu span:hover img {transition:all 0.2s ease-out;}
.snb ul .collapsible .ico_menu span img {vertical-align: middle; margin: 0 0 0 3px;transition:all 0.2s ease-out;}
.snb ul .collapsible.active {height:30px;}
.snb ul .collapsible.active > .ico_menu {opacity: 0; transition:all 0.3s ease-out;}

.snb ul .list1_sub a:first-child{background:url(../images/menu/ico_spe_1_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list1_sub a:nth-child(2){background:url(../images/menu/ico_spe_2_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list1_sub a:nth-child(3){background:url(../images/menu/ico_spe_3_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list1_sub a:nth-child(4){background:url(../images/menu/ico_spe_4_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out; background-size: 22px;}
.snb ul .list1_sub a:nth-child(5){background:url(../images/menu/ico_spe_5_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list1_sub a:last-child{background:url(../images/menu/ico_spe_6_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;background-size: 20px;}
.snb ul .list2_sub a:first-child {background:url(../images/menu/ico_vis_6_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;background-size: 19px;}
.snb ul .list2_sub a:nth-child(2){background:url(../images/menu/ico_vis_5_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;background-size: 21px;}
.snb ul .list2_sub a:nth-child(3){background:url(../images/menu/ico_vis_2_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(4){background:url(../images/menu/ico_vis_1_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list2_sub a:nth-child(5){background:url(../images/menu/ico_vis_4_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;background-size: 22px;}
.snb ul .list2_sub a:nth-child(6){background:url(../images/menu/ico_vis_3_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;background-size: 14px;}
.snb ul .list2_sub a:nth-child(7){background:url(../images/menu/ico_vis_7_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;background-size: 18px;}
.snb ul .list2_sub a:nth-child(8){background:url(../images/menu/ico_vis_8_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;background-size: 18px;}
.snb ul .list2_sub a:nth-child(9){background:url(../images/menu/ico_vis_9_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;background-size: 14px;}
.snb ul .list3_sub a:first-child {background:url(../images/menu/ico_lan_1_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(2){background:url(../images/menu/ico_lan_2_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(3){background:url(../images/menu/ico_lan_3_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(4){background:url(../images/menu/ico_lan_5_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:nth-child(5){background:url(../images/menu/ico_lan_6_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list3_sub a:last-child{background:url(../images/menu/ico_lan_itf.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list4_sub a:first-child {background:url(../images/menu/ico_bot_1_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list4_sub a:nth-child(2){background:url(../images/menu/ico_bot_2_fold.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list5_sub a:first-child{background:url(../images/menu/ico_eng_1.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list5_sub a:nth-child(2){background:url(../images/menu/ico_eng_2.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .list5_sub a:nth-child(3){background:url(../images/menu/ico_eng_3.svg) 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .app_manu a:first-child {background:url("../images/menu/ico_myvoice.svg") 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .app_manu a:nth-child(2){background:url("../images/menu/ico_voice_bot.svg") 13px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .data_manu a:first-child {background:url(../images/menu/ico_data_list.svg) 16px 50% no-repeat;transition:all 0.2s ease-out;}
.snb ul .data_manu a:nth-child(2){background:url("../images/menu/ico_data_service.svg") 13px 50% no-repeat;transition:all 0.2s ease-out;}

.snb .twodepth {font-family:'Noto Sans KR', sans-serif;height:26px;display: inline-block; text-indent: 40px; color: #002b49; font-size: 12px; line-height: 26px; width: 100%;transition:all 0.3s ease-out;}
.snb .twodepth:after { margin-right: 20px;}
.snb .twodepth:hover {font-weight: bold; transition:all 0.3s ease-out;opacity: 1;}
.snb .twodepth.active {font-weight: bold;}
.snb .list1_sub .twodepth:hover, .snb .list1_sub .twodepth.active {color:#675fb0;}
.snb .list2_sub .twodepth:hover, .snb .list2_sub .twodepth.active {color:#f7778a;}
.snb .list3_sub .twodepth:hover, .snb .list3_sub .twodepth.active {color:#27c1c1;}
.snb .list4_sub .twodepth:hover, .snb .list4_sub .twodepth.active {color:#2cace5;}
.snb .list5_sub .twodepth:hover, .snb .list5_sub .twodepth.active {color:#fb9223;}
.snb ul .app_manu .twodepth:hover, .snb ul .app_manu .twodepth.active {color:#2575f9;}
.snb ul .data_manu .twodepth:hover, .snb ul .data_manu .twodepth.active {color:#2575f9;}

/*화살표*/
.snb .dropdwn:after {content: ''; color: white;position: absolute; top: 0;right: 0;width: 20px; height: 26px;transition:all 0.2s ease-out;}
.snb .dropdwn.active:after {content: "";transition:all 0.2s ease-out;}
.snb ul .collapsible.list1:after {background:url(../images/ico_sub_dw_1.png) 50% 50% no-repeat; }
.snb ul .collapsible.list1.active:after{background:url(../images/ico_sub_up_1.png) 50% 50% no-repeat; }
.snb ul .collapsible.list2:after {background:url(../images/ico_sub_dw_2.png) 50% 50% no-repeat; }
.snb ul .collapsible.list2.active:after{background:url(../images/ico_sub_up_2.png) 50% 50% no-repeat; }
.snb ul .collapsible.list3:after {background:url(../images/ico_sub_dw_3.png) 50% 50% no-repeat; }
.snb ul .collapsible.list3.active:after{background:url(../images/ico_sub_up_3.png) 50% 50% no-repeat; }
.snb ul .collapsible.list4:after {background:url(../images/ico_sub_dw_4.png) 50% 50% no-repeat; }
.snb ul .collapsible.list4.active:after{background:url(../images/ico_sub_up_4.png) 50% 50% no-repeat; }
.snb ul .collapsible.list5:after {background:url(../images/ico_sub_dw_5.png) 50% 50% no-repeat; }
.snb ul .collapsible.list5.active:after{background:url(../images/ico_sub_up_5.png) 50% 50% no-repeat; }


/* 모바일 메뉴 */
.aside {display:block; overflow:auto; position:fixed; top:0; right:0; width:0; height:100%; z-index:1000; background:#fff; box-shadow:3px 0 7px #000;}
.aside .aside_top {display:block; padding:25px 0;}
.aside .aside_top h1 {display:block; height:20px; text-align:center;}
.aside .aside_top h1 img {height:100%;}
.aside .aside_mid {display:block; padding:25px;}
.aside .aside_mid .m_nav {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li h2 {display:block; height:45px; border-bottom:1px solid #d2d2d2;}
.aside .aside_mid .m_nav li h2 a {display:block; color:#222c46; font-size:15px; font-weight:500; line-height:45px; text-align:center;}
.aside .aside_mid .m_nav li h2 span {display:block; color:#999; font-size:15px; font-weight:500; line-height:45px; text-align:center;}
.aside .aside_mid .m_nav li ul.m_lst {display:none;}
.aside .aside_mid .m_nav li ul.m_lst li {display:block;}
.aside .aside_mid .m_nav li ul.m_lst li h3 {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a {display:block; height:38px; padding:0 18px; color:#687083; font-size:15px; font-weight:normal; line-height:38px;background-color:#eef1fa;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a.depth3 { background:#eef1fa url(../images/ico_plus.png) right 18px center no-repeat; background-size:10px;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a.depth3.active {background:url(../images/ico_minus.png) right 18px center no-repeat; background-color:#eef1fa; background-size:10px;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span {display:inline-block; padding:0 0 0 30px; background-size:20px !important;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_voice {background:url(../images/ico_aside_voice.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_visual {background:url(../images/ico_aside_visual.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_int {background:url(../images/ico_aside_int.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_lang {background:url(../images/ico_aside_lang.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_cvs {background:url(../images/ico_aside_cvs.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub {display:none; padding:5px 18px; background:#f8f9fe;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li {display:block;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a {display:block; min-height:30px; color:#161d2f; font-size:13px; line-height:18px;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a b {font-weight:normal;  margin:0 5px 0 0;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a.active {color:#3375fa;} 
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a em.new {display:inline-block; padding:3px 5px; color:#fff; font-size:10px; line-height:10px;  border-radius:3px; background:#23c5de;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li b {display:block; min-height:30px; color:#999; font-size:13px; line-height:22px; font-weight:normal;}
.aside .aside_btm {display:block; margin:70px 0 30px 0; padding:0 25px;}
.aside .aside_btm ul {clear:both; overflow:hidden;}
.aside .aside_btm ul li {display:block; margin-bottom:10px; text-align:center;}
.aside .aside_btm ul li a {display:inline-block; width:100px; height:26px; padding:0 0 0 30px; color:#687083; font-size:14px; font-weight:normal; line-height:26px;}
.aside .aside_btm ul li.btn_mail a {background:url(../images/ico_aside_mail.png) 0 50% no-repeat; background-size:22px;}
.aside .aside_btm ul li.btn_tel a {background:url(../images/ico_aside_tel.png) 0 50% no-repeat; background-size:22px;}
.bg_aside {display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,1.0); opacity:1.0; z-index:100;}

/* header_햄버거버튼 */ 
.btn_header_ham {display:none; width:50px; height:50px; position:absolute; top:0; right:0; z-index:2000; border:none; box-sizing:border-box; background:none; opacity:0.6; cursor:pointer;}
.btn_header_ham.active {position:fixed;left:0; opacity:1.0;}
.hamburger_icon {position:relative; top:50%; left:50%; margin:-1px 0 0 -13px; width:25px; height:3px; background:#fff; border-radius:3px;}
.hamburger_icon, .hamburger_icon:before {display:block; width:25px; height:3px; border-radius:3px; background-color:rgba(255, 255, 255, 1.0);}
.hamburger_icon:after {display:block; top:9px; right:0; width:15px; height:3px; border-radius:3px; background-color:rgba(255, 255, 255, 1.0);}
.hamburger_icon:before, .hamburger_icon:after {position:absolute; content:"";}
.hamburger_icon:before {top:-9px; background-color:#fff;}


/* 모바일 */
@media screen and (max-width:760px){
	.snb {display: none;}	
	.btn_header_ham {display:block;position:fixed;}
	
	
}
