@charset "utf-8";
/* CSS Document */

/* page loading */
#maumAI_kiosk #pageldg {display:block; position:fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; background-color:#fff; z-index:8888; opacity:1.0;}
#maumAI_kiosk #pageldg:before {content:''; position:absolute; top:50%; left:50%; margin:0 0 0 -30px;; border-radius:100%; background:radial-gradient(#e9edf3, #fff); opacity:0; width:60px; height:60px; -webkit-animation:pageldg_wave 1.7s 2.5s linear infinite; animation:pageldg_wave 1.7s 2.5s linear infinite; z-index:444;}
/* keyframes */
@-webkit-keyframes pageldg_wave {0%   {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
5%   {opacity:1;}
100% {-webkit-transform:scale(1); transform:scale(50); opacity:0;} 
}
@keyframes pageldg_wave {0%   {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
5%   {opacity:1;}
100% {-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
#maumAI_kiosk #pageldg span.out_bg {position:absolute; top:50%; width:150px; height:150px; margin:-75px 0 0 -75px; border-radius:150px; background:#ced4db; animation:out_bg 1s 0s ease-in-out both; z-index:555;}
/* keyframes */
@-webkit-keyframes out_bg {0% {opacity:0; transform:scale(0);}
80% {opacity:0.3; transform:scale(1.2);}
100% {opacity:1; transform:scale(1);}
}
@keyframes out_bg {0% {opacity:0; transform:scale(0);}
80% {opacity:0.2; transform:scale(1.2);}
100% {opacity:1; transform:scale(1);}
}
#maumAI_kiosk #pageldg span em {overflow:hidden; position:absolute; top:50%; left:50%; width:100px; height:100px; margin:-50px 0 0 -50px; background:rgba(11,42,74,0.25); animation:em_opacity 3s 0.1s ease-in-out both;}
/* keyframes */
@-webkit-keyframes em_opacity {0% {opacity:0; top:0%;}
20% {opacity:0.3; top:55%;}
30% {opacity:1; top:50%;}
100% {opacity:1; top:50%;}
}
@keyframes em_opacity {0% {opacity:0; top:0%;}
20% {opacity:0.3; top:55%;}
30% {opacity:1; top:50%;}
100% {opacity:1; top:50%;}
}
#maumAI_kiosk #pageldg span em strong:nth-child(1) {content:''; position:absolute; bottom:0%; left:50%; width:60px; height:60px; margin:0 0 0 -35px; border-radius:50px; background:rgba(11,42,74,1.0); animation:st_move_01 1.5s 0.1s ease-in-out both; z-index:888;}
/* keyframes */
@-webkit-keyframes st_move_01 {0% {top:150%;}
100% {top:50%;}
}
@keyframes st_move_01 {0% {bottom:-100px;}
100% {bottom:0;}
}
#pageldg span em strong:nth-child(2) {content:''; position:absolute; top:10px; left:0; width:50px; height:50px; border-radius:50px; background:#00aebc; animation:st_move_02 1s 1s ease-in-out both;}
/* keyframes */
@-webkit-keyframes st_move_02 {0% {top:100px; left:50px;}
100% {top:10px; left:0;}
}
@keyframes st_move_02 {0% {top:100px; left:50px;}
100% {top:10px; left:0;}
}
#maumAI_kiosk #pageldg span em strong:nth-child(3) {content:''; position:absolute; top:10px; right:0; width:50px; height:50px; border-radius:10px; background:#008ad8; animation:st_move_03 1s 1.5s ease-in-out both;}
/* keyframes */
@-webkit-keyframes st_move_03 {0% {top:150%;}
40% {top:150%;}
100% {top:50%;}
}
@keyframes st_move_03 {0% {top:100px; right:50px;}
100% {top:10px; right:0;}
}
#maumAI_kiosk #pageldg span em b {content:''; position:absolute; top:50%; left:50%; width:100px; height:100px; margin:-50px 0 0 -50px; background:url("../../images/images_kiosk/ico_pageldg_bg.png") 50% 50% no-repeat; background-size:cover; z-index:999;}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}
/* keyframes */
@-webkit-keyframes pageldg_hide {0% {opacity:1;}
100% {opacity:0;}
}
@keyframes pageldg_hide {0% {opacity:1;}
100% {opacity:0;}
}

/* -------------------- kiosk -------------------- */
*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {overflow:auto !important;}

/* -------------------- login -------------------- */
#maumAI_kiosk .login {position:fixed; top:0; left:0; width:100%; height:100%; background:#fff;}
#maumAI_kiosk #btn_fullScreen {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; margin:0; padding:0; line-height:0; border:none;}
#maumAI_kiosk .btn_login {display:block; position:absolute; top:50%; left:50%; width:332px; height:50px; margin:-24px 0 0 -166px; font-family:"Noto Sans KR", sans-serif; color:#002b49; font-size:20px; font-weight:700; text-align:center; line-height:46px; border:1px solid rgba(0,43,73,1.0); border-radius:44px; background:rgba(255,255,255,0.5); cursor:pointer; transition:all 0.3s ease-out;}
#maumAI_kiosk .btn_login:before {content:''; display:inline-block; width:22px; height:22px; margin:-3px 10px 0 0; vertical-align:middle; background:url("../../images/images_kiosk/ico_google_clr.png") 50% 50% no-repeat; background-size:cover;}
#maumAI_kiosk .btn_login:hover, #maumAI_kiosk .btn_login:focus {box-shadow:0 3px 8px 0 rgba(0,0,0,0.1), 0 5px 20px 0 rgba(0,0,0,0.1); transition:all 0.3s ease-out;}  

/* -------------------- index -------------------- */
#maumAI_kiosk .kiosk_wrap {display:table; width:calc(100% - 100px); height:calc(100% - 100px); padding:50px;}

#maumAI_kiosk .kiosk_wrap:before {content:''; position:fixed; top:0; left:0; width:100%; height:100%; background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); background-size:600% 100%; animation:HeroBG 20s ease infinite; z-index:-1;}
@-webkit-keyframes HeroBG {
0%   {background-position:0 0;}
50%  {background-position:100% 0;}
100% {background-position:0 0;}
}

@keyframes HeroBG {
0%   {background-position:0 0;}
50%  {background-position:100% 0;}
100% {background-position:0 0;}
}

#maumAI_kiosk .kiosk_wrap h1 {position:absolute; top:40px; left:40px; width:180px;}
#maumAI_kiosk .kiosk_wrap h1 img {width:100%;}
#maumAI_kiosk .kiosk_wrap .btn_login_kiosk {overflow:hidden; position:absolute; top:30px; right:40px; width:60px; height:60px; text-indent:-200px; border:none; border-radius:7px; background:#fff url("../../images/images_kiosk/ico_google_clr.png") 50% 50% no-repeat; background-size:30px; z-index:999;}

#maumAI_kiosk .kiosk_wrap .kiosk_container {display:table-cell; position:relative; width:100%; text-align:center; vertical-align:middle; background:url("../../images/images_kiosk/bg_maumAI_cloud.png") 50% 50% no-repeat; background-size:auto 100%; z-index:888;}

#maumAI_kiosk .kiosk_wrap ul.nav_kiosk {position:relative;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li {position:absolute; top:50%; left:50%; width:120px; height:120px;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li a {display:table; overflow:hidden; width:120px; height:65px; padding:55px 0 0 0; color:#555; font-size:14px; font-weight:600; line-height:16px; letter-spacing:-1px; border:none; border-radius:100px; background-size:45% !important; box-shadow:0 0 15px rgba(0,0,0,0.2);}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li a span {display:table-cell; vertical-align:middle;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li strong {display:table; overflow:hidden; width:120px; height:65px; padding:55px 0 0 0; color:#555; font-size:14px; font-weight:600; line-height:16px; letter-spacing:-1px; border:none; border-radius:100px; background-size:45% !important; box-shadow:0 0 15px rgba(0,0,0,0.2);}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li strong span {display:table-cell; vertical-align:middle;}

#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(1) {margin:-18% 0 0 -12%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(1) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_stt.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(2) {margin:0% 0 0 -22%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(2) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_tts.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(3) {margin:0 0 0 -2.5%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(3) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_den.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(4) {margin:15% 0 0 -22%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(4) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_dia.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(5) {margin:-7.5% 0 0 3%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(5) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_vf.png") 50% 25% no-repeat;}

#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(6) {margin:7.5% 0 0 -37%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(6) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_tr.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(7) {margin:-7.5% 0 0 -14.5%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(7) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_tti.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(8) {margin:-7.5% 0 0 12%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(8) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_dir.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(9) {margin:15% 0 0 -1.5%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(9) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_avr.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(10) {margin:7.5% 0 0 -6%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(10) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_esr.png") 50% 25% no-repeat;}

#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(11) {margin:-7.5% 0 0 -5.5%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(11) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_nlu.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(12) {margin:-15% 0 0 -20%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(12) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_mrc.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(13) {margin:7.5% 0 0 -16%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(13) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_xdc.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(14) {margin:7.5% 0 0 14.5%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(14) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_nlg.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(15) {margin:0% 0 0 -12%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(15) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_hmd.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(16) {margin:0% 0 0 7%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(16) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_if.png") 50% 25% no-repeat;}

#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(17) {margin:7.5% 0 0 25%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(17) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_bot.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(18) {margin:15% 0 0 -32%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(18) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_bqa.png") 50% 25% no-repeat;}

#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(19) {margin:-15% 0 0 -3.5%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(19) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_en01.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(20) {margin:0% 0 0 -31.5%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(20) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_en02.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(21) {margin:7.5% 0 0 4.5%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(21) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_en03.png") 50% 25% no-repeat;}

#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(22) {margin:0% 0 0 17%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(22) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_app01.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(23) {margin:15% 0 0 9%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(23) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_app01.png") 50% 25% no-repeat;}

#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(24) {margin:15% 0 0 -11.5%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(24) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_data01.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(25) {margin:15% 0 0 19%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(25) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_data02.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(26) {margin:7.5% 0 0 -26%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(26) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_vr.png") 50% 25% no-repeat;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(27) {margin:-7.5% 0 0 -23.5%;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(27) a {background:rgba(255,255,255,1.0) url("../../images/images_kiosk/ico_api_fr.png") 50% 25% no-repeat;}

#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(28) {margin:15% 0 0 28%; opacity:0.8;}
#maumAI_kiosk .kiosk_wrap ul.nav_kiosk li:nth-child(28) strong {color:#fff; background:rgba(0,0,0,0.3) url("../../images/images_kiosk/ico_coming_soon.png") 50% 25% no-repeat; background-size:40% 40% !important;}

/* -------------------- Layer Popup -------------------- */
#maumAI_kiosk .lyrWrap {display:block; position:fixed; top:0; left:0; width:100%; height:100%; z-index:9999;}
#maumAI_kiosk .lyrWrap .lyr_bg {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.85);}
#maumAI_kiosk .lyrWrap .lyr_bg.ie9 {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,1.0);}
#maumAI_kiosk .lyrBox {overflow:hidden; position:absolute; top:50%; left:50%; width:calc(100% - 10%); height:calc(100% - 10%); border-radius:20px; background:#fff; box-shadow:0 0 15px rgba(11,42,74,0.3); -webkit-animation:lyr_show 0.3s 0s ease-out; animation:lyr_show 0.3s 0s ease-out;}
/* keyframes */
@-webkit-keyframes lyr_show {
0% {top:51%; opacity:0;}
100% {top:50%; opacity:1;}
}
@keyframes lyr_show {
0% {top:51%; opacity:0;}
100% {top:50%; opacity:1;}
}
#maumAI_kiosk .lyrWrap.lyr_hide .lyrBox {top:51%; transition:all 0.3s ease-out;}
#maumAI_kiosk .lyrBox .lyr_top {clear:both; overflow:hidden; height:50px; padding:5px 20px; background:rgba(11,42,74,1.0);}
#maumAI_kiosk .lyrBox .lyr_top h3 {float:left; padding:5px; color:#fff; font-size:24px; line-height:40px;}
#maumAI_kiosk .lyrBox .lyr_top .btn_lyr_close {overflow:hidden; float:right; position:relative; width:40px; height:40px; margin:3px 0 0 0; text-indent:-99px; border:none; background:none; opacity:0.3; transition:all 0.3s ease-out; cursor:pointer;}
#maumAI_kiosk .lyrBox .lyr_top .btn_lyr_close:hover, .lyrBox .lyr_top .btn_lyr_close:focus {opacity:0.7; transition:all 0.3s ease-out;}
#maumAI_kiosk .lyrBox .lyr_top .btn_lyr_close:before {content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; background:#fff; border-radius:5px; transform:rotate(45deg);}
#maumAI_kiosk .lyrBox .lyr_top .btn_lyr_close:after {content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; border-radius:5px; background:#fff; transform:rotate(-45deg);}

#maumAI_kiosk .lyrWrap .lyrBox .lyr_mid {display:block; width:100%; height:calc(100% - 60px);}
#maumAI_kiosk .lyrWrap .lyrBox .lyr_mid iframe {width:100%; height:100%; border:none;}
#maumAI_kiosk .lyrWrap .lyrBox .lyr_mid .legacy-browser {display:block; font-size:14px; line-height:20px;}
#maumAI_kiosk .lyrWrap .lyrBox .lyr_mid .legacy-browser a {color:#008ad8;}
#maumAI_kiosk .lyrWrap .lyrBox .lyr_mid .legacy-browser a:hover, .lyrWrap .lyrBox .lyr_mid .legacy-browser a:focus {text-decoration:underline;}
#maumAI_kiosk .lyrWrap .lyrBox .lyr_mid .preview {display:block; margin:0 0 5px 0; color:rgba(11,42,74,0.4); font-size:50px; text-align:center;}
#maumAI_kiosk .lyrWrap .lyrBox .lyr_mid .codeview {display:block; padding:10px;}
#maumAI_kiosk .lyrWrap .lyrBox .lyr_mid .codeview pre {display:block; padding:10px; font-size:14px;}
#maumAI_kiosk .lyrWrap .lyrBox .lyr_btm {display:block; padding:7px; text-align:center; background:rgba(11,42,74,0.03);}
#maumAI_kiosk .lyr_hide {-webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:lyr_hide; animation-name:lyr_hide;}
/* keyframes */
@-webkit-keyframes lyr_hide {
0% {opacity:1;}
100% {opacity:0;}
}
@keyframes lyr_hide {
0% {opacity:1;}
100% {opacity:0;}
}

#gitple-launcher {display:none !important;}
#wrap.kiosk {min-width:100%;}
#wrap.kiosk #header {display:none;}
#wrap.kiosk .snb {display:none;}
#wrap.kiosk #container {width:100%; margin:0;}
#wrap.kiosk .content {min-height:100%; padding:0;}
#wrap.kiosk .content .demobox > p {display:none;}
#wrap.kiosk .content .demobox span.sub {display:none;}
#wrap.kiosk .content .demobox {margin:0; padding:0; box-shadow:none;}
#wrap.kiosk .menu_lst {display:none;}
#wrap.kiosk #footer {display:none;}
.m_kiosk_container {display:none;} 

/* 크롬 + 파폭 핵 */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    #maumAI_kiosk .kiosk_wrap {height:100%;}
}
    
/* 파폭 핵 */
@-moz-document url-prefix() {
    #maumAI_kiosk .kiosk_wrap {height:calc(100% - 100px);}
} 
@media screen and (max-width:1400px) {
    #maumAI_kiosk .kiosk_wrap .kiosk_container {background:url("../../images/images_kiosk/bg_maumAI_cloud.png") 50% 50% no-repeat; background-size:100% auto;}
}

/* 세로형 레이아웃 */
@media screen and (max-width:1080px) {
#maumAI_kiosk .kiosk_wrap {width:calc(100% - 20pt);height:calc(100% - 50pt); padding:25pt 10pt;}
#maumAI_kiosk .kiosk_wrap h1 {display:none; top:30pt; left:20pt; width:120pt;}
#maumAI_kiosk .kiosk_wrap .btn_login_kiosk {top:20pt; right:20pt; width:50pt; height:50pt; background-size:35pt;}
#maumAI_kiosk .kiosk_wrap .kiosk_container {display:none;} 
#maumAI_kiosk .kiosk_wrap .m_kiosk_container {display:table; width:100%; height:100%;} 
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .visualBox {display:table; width:100%; height:20%;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .visualBox .txt {display:block; padding:0 10pt 4% 10pt; color:rgba(255,255,255,1.0); font-size:40pt; font-weight:700; line-height:40pt; text-align:center; text-shadow:0 2pt 5pt rgba(0,0,0,0.2);}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .visualBox .img_aniBox {display:block; margin: 0 0 4% 0; text-align:center;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .visualBox .img_aniBox img {display:inline-block; width:40%; animation:mov_cloud 10s 0s infinite linear;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox {display:table; width:100%; height:70%;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl {display:table-cell; width:25%; padding:10pt;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:last-child {margin:0;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl dt {display:block;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl dt span{display:block; position:relative; margin:0; padding:15pt 10pt; color:#fff; font-size:18pt; font-weight:700; text-align:center; border-radius:7pt 7pt 0 0; background:rgba(255,255,255,1.0);}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(1) dt span {background:rgba(103,95,176,1.0);}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(2) dt span {background:rgba(0,160,176,1.0);}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(3) dt span {background:rgba(230,111,131,1.0);}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(4) dt span {background:rgba(251,146,35,1.0);}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl dd {display:block; padding:10pt 0; border-radius:0 0 7pt 7pt; background:rgba(255,255,255,0.3);}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl dd ul {display:table; width:100%}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl dd ul li {display:block; margin:0 0 10pt 0; padding:0 7pt; text-align:center;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl dd ul li:last-child {margin:0;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl dd ul li a {display:table; overflow: hidden; width:100%; height:100pt; padding:10% 0 0 0; vertical-align:middle; border-radius:7pt; background:rgba(255,255,255,1.0) url("../../images/images_kiosk/bg_btn.png") 50% 50% no-repeat; background-size:cover; box-shadow:0 8px 0 rgba(0,0,0,0.1);}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl dd ul li a span {display:table-cell; height:30px; padding:45% 0 5% 0; font-size:18pt; font-weight:700; line-height:22pt; letter-spacing:-1px; vertical-align:middle; background-size:40% !important;}
    
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(1) dd ul li:nth-child(1) a span {background:url("../../images/images_kiosk/ico_api_stt.png") 50% 0% no-repeat;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(1) dd ul li:nth-child(2) a span {background:url("../../images/images_kiosk/ico_api_tts.png") 50% 0% no-repeat;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(1) dd ul li:nth-child(3) a span {background:url("../../images/images_kiosk/ico_api_den.png") 50% 0% no-repeat;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(1) dd ul li:nth-child(4) a span {background:url("../../images/images_kiosk/ico_api_dia.png") 50% 0% no-repeat; background-size:50% !important;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(1) dd ul li:nth-child(5) a span {background:url("../../images/images_kiosk/ico_api_vf.png") 50% 0% no-repeat;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(1) dd ul li:nth-child(6) a span {background:url("../../images/images_kiosk/ico_api_vr.png") 50% 0% no-repeat;}
    
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(2) dd ul li:nth-child(1) a span {background:url("../../images/images_kiosk/ico_api_mrc.png") 50% 0% no-repeat;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(2) dd ul li:nth-child(2) a span {background:url("../../images/images_kiosk/ico_api_xdc.png") 50% 0% no-repeat;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(2) dd ul li:nth-child(3) a span {background:url("../../images/images_kiosk/ico_api_nlu.png") 50% 0% no-repeat;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(2) dd ul li:nth-child(4) a span {background:url("../../images/images_kiosk/ico_api_hmd.png") 50% 0% no-repeat; background-size:45% !important;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(2) dd ul li:nth-child(5) a span {background:url("../../images/images_kiosk/ico_api_nlg.png") 50% 0% no-repeat;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(2) dd ul li:nth-child(6) a span {background:url("../../images/images_kiosk/ico_api_if.png") 50% 0% no-repeat;}
    
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(3) dd ul li:nth-child(1) a span {background:url("../../images/images_kiosk/ico_api_tti.png") 50% 0% no-repeat; background-size:45% !important;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(3) dd ul li:nth-child(2) a span {background:url("../../images/images_kiosk/ico_api_dir.png") 50% 0% no-repeat;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(3) dd ul li:nth-child(3) a span {background:url("../../images/images_kiosk/ico_api_tr.png") 50% 0% no-repeat;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(3) dd ul li:nth-child(4) a span {background:url("../../images/images_kiosk/ico_api_avr.png") 50% 0% no-repeat; background-size:50% !important;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(3) dd ul li:nth-child(5) a span {background:url("../../images/images_kiosk/ico_api_esr.png") 50% 0% no-repeat; background-size:50% !important;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(3) dd ul li:nth-child(6) a span {background:url("../../images/images_kiosk/ico_api_fr.png") 50% 0% no-repeat;}
    
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(4) dd ul li:nth-child(1) a span {background:url("../../images/images_kiosk/ico_api_en01.png") 50% 0% no-repeat;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(4) dd ul li:nth-child(2) a span {background:url("../../images/images_kiosk/ico_api_en02.png") 50% 0% no-repeat;}
#maumAI_kiosk .kiosk_wrap .m_kiosk_container .m_lstBox dl:nth-child(4) dd ul li:nth-child(3) a span {background:url("../../images/images_kiosk/ico_api_en03.png") 50% 0% no-repeat;}
    
#maumAI_kiosk .lyrBox {width:calc(100% - 10%); height:calc(100% - 10%); border-radius:10pt;}
#maumAI_kiosk .lyrBox .lyr_top {height:40pt; padding:5pt 10pt;}
#maumAI_kiosk .lyrBox .lyr_top h3 {font-size:18pt; line-height:28pt;}
#maumAI_kiosk .lyrBox .lyr_top .btn_lyr_close {width:30pt; height:30pt;}
}
/* keyframes */
@-webkit-keyframes mov_cloud {
0%   {margin:0;}
25%  {margin:0 0 0 25%;}
50%  {margin:0;}
75%  {margin:0 25% 0 0;}
100% {margin:0;}
}
@keyframes mov_cloud {
0%   {margin:0;}
25%  {margin:0 0 0 25%;}
50%  {margin:0;}
75%  {margin:0 25% 0 0;}
100% {margin:0;}
} 



  