@charset "utf-8";
/* MINDsLab. NBR. 20200107 */

/* Noto */ 
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:100;
src:url(../fonts/NotoSansKR-Light.ttf) format('truetype');
src:url(../fonts/NotoSansKR-Light.woff) format('woff'),
    url(../fonts/NotoSansKR-Light.woff2) format('woff2');    
}

@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:400;
src:url(../fonts/NotoSansKR-Regular.ttf) format('truetype');
src:url(../fonts/NotoSansKR-Regular.woff) format('woff'),
    url(../fonts/NotoSansKR-Regular.woff2) format('woff2');   
}

@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:500;
src:url(../fonts/NotoSansKR-Medium.ttf) format('truetype');
src:url(../fonts/NotoSansKR-Medium.woff) format('woff'),
    url(../fonts/NotoSansKR-Medium.woff2) format('woff2');   
}

@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:700;
src:url(../fonts/NotoSansKR-Bold.ttf) format('truetype');
src:url(../fonts/NotoSansKR-Bold.woff) format('woff'),
    url(../fonts/NotoSansKR-Bold.woff2) format('woff2');   
}

/* Roboto */ 
@font-face {
font-family:'Roboto';	
font-style:normal;
font-weight:100;
src:url(../fonts/Roboto-Thin.otf) format('opentype');
src:url(../fonts/Roboto-Thin.woff) format('woff'),
    url(../fonts/Roboto-Thin.woff2) format('woff2');
}

@font-face {
font-family:'Roboto';	
font-style:normal;
font-weight:300;
src:url(../fonts/Roboto-Light.otf) format('opentype');
src:url(../fonts/Roboto-Light.woff) format('woff'),
    url(../fonts/Roboto-Light.woff2) format('woff2');
}

@font-face {
font-family:'Roboto';	
font-style:normal;
font-weight:400;
src:url(../fonts/Roboto-Regular.otf) format('opentype');
src:url(../fonts/Roboto-Regular.woff) format('woff'),
    url(../fonts/Roboto-Regular.woff2) format('woff2');
}

@font-face {
font-family:'Roboto';	
font-style:normal;
font-weight:500;
src:url(../fonts/Roboto-Medium.otf) format('opentype');
src:url(../fonts/Roboto-Medium.woff) format('woff'),
    url(../fonts/Roboto-Medium.woff2) format('woff2');
}

@font-face {
font-family:'Roboto';	
font-style:normal;
font-weight:700;
src:url(../fonts/Roboto-Bold.otf) format('opentype');
src:url(../fonts/Roboto-Bold.woff) format('woff'),
    url(../fonts/Roboto-Bold.woff2) format('woff2');
}
