@charset "UTF-8";
/* MINDsLab. NBR. 20201118 */

/* common css file */
@import url("reset.css");
@import url("font.css");

/* -------------------- common -------------------- */
/* h1 */
h1 {float:left; margin:60px 0 0; font-size:32px; font-weight:500; line-height:1.47;}
/* //h1 */

/* hide */
.hide {position:absolute; top:0; left:0; clear:both; overflow:hidden; width:0; height:0; margin:0; padding:0; line-height:0;}

/* btnBox */
.btnBox {display:block;}
.btnBox button {display:inline-block; border:1px solid transparent; box-sizing:border-box; background:#55a8fd; color:#fff; font-weight:500;}
/* //btnBox */

/* iptBox */
.iptBox {position:relative;}
.iptBox input {display:inline-block; width:100%; height:30px; padding:0 5px; border:1px solid #e0e0e0; box-sizing:border-box; border-radius:4px; background:#fff; color:inherit; font-size:13px;}
.iptBox label {display:inline-block; position:absolute; top:0; left:0;}
/* //iptBox */

/* srchBox */
.srchBox {float:right; position:relative; width:508px; height:50px; margin:70px 0 0;}
.srchBox input {width:100%; height:100%; padding:0 30px; border:1px solid #e4e7eb; border-radius:25px; box-sizing:border-box; color:#55a8fd; font-size:16px;}
.srchBox label {position:absolute; top:0; left:30px; color:#99a3ae; font-size:16px; line-height:50px; cursor:text;}
.srchBox button {position:absolute; top:10px; right:30px; width:30px;}
.srchBox img {width:100%;}
/* //srchBox */

/* header */
#header {position:relative; width:100%; height:105px; border-bottom:1px solid #bcc0c7; box-sizing:border-box; text-align:center;}
.gnb li {display:inline-block; width:151px; margin:0 25px;}
.gnb li a {display:inline-block; width:100%; font-size:22px; font-weight:700; line-height:100px; letter-spacing:-0.2px; transition:color 0.3s ease-out;}
.gnb li a:hover {border-bottom:4px solid #55a8fd; color:#55a8fd;}
.gnb li.active a {border-bottom:4px solid #55a8fd; color:#55a8fd;}
.btn_logout {display:inline-block; position:absolute; top:32px; right:80px; width:125px; height:40px; border:1px solid #b0c1d3; border-radius:20px; box-sizing:border-box; background:#fff; color:#8891a7; font-size:18px; font-weight:500; line-height:38px;}
/* //header */

/* tblBox */
.tblBox {overflow:hidden; width:100%; border:1px solid #e9ecf1; border-radius:4px;}
.tblBox table {width:100%;}
.tblBox table thead tr {height:56px;}
.tblBox table thead th {background:#8b939c; color:#fff; font-size:15px; text-align:center;}
.tblBox table tbody tr {}
.tblBox table tbody td {padding:25px 20px; border-bottom:1px solid #e9ecf1; font-size:15px; text-align:center; line-height:1.47;}
.tblBox table tbody tr:last-child td {border-bottom:none;}
.tblBox table tbody td button {width:87px; height:28px; border:1px solid #55a8fd; border-radius:14px; background:#fff; color:#55a8fd; font-size:13px; transition:all 0.3s ease-out;}
.tblBox table tbody td button:hover {background:#55a8fd; color:#fff;}
/* //tblBox */

/* paging */
.paging_wrap {display:block; overflow:hidden; clear:both; margin:35px 0 0; text-align:center;}
.paging {display:inline-block;}
.paging a {display:inline-block; width:30px; margin:0 3px; color:#98a7b7; font-size:13px; line-height:30px; transition:all 0.3s ease-out;}
.paging a.on,
.paging a:hover {color:#55a8fd; font-weight:700;}
.paging .btn_paging {border:1px solid #98a7b7; border-radius:4px;}
.paging .btn_paging img {width:30px;}
/* //paging */

/* layer popup */
.lyr_wrap {display:none; position:fixed; top:0; left:0; width:100%; height:100%; text-align:center; z-index:3000;}
.lyr_bg_dim {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(18,18,18,0.5); z-index:-10;}
.lyrBox {display:inline-block; position:absolute; top:50%; left:50%; width:500px; min-height:150px; border-radius:4px; background:#fff; z-index:9999;}
.lyrBox .lyr_ct p {text-align:center;}
.lyrBox .lyr_ft .btnBox {margin:0; text-align:center;}
.lyrBox .lyr_ft .btnBox a {min-width:70px; margin:0 3px; color:#fff; line-height:30px;}
.lyrBox .lyr_ft .btnBox button.btn_lyr_close {background:#b1b7be;}
/* //layer popup */

/* 개별 layer popup */
#lyr_logout .lyrBox {width:350px; height:200px; margin:-100px 0  0 -175px;}
#lyr_logout .lyrBox .lyr_ct {height:143px;}
#lyr_logout .lyrBox .lyr_ct p {color:#333; font-size:18px; font-weight:500; line-height:143px;}
#lyr_logout .lyrBox .lyr_ft .btnBox {width:100%; height:57px;}
#lyr_logout .lyrBox .lyr_ft .btnBox button {float:left; width:50%; height:100%;}

/* -------------------- contents -------------------- */
/* layout */
#wrap {width:100%; min-width:1190px;}
#contents {width:100%; height:100%; padding:0 0 50px;}
#contents > div {position:relative; width:1170px; margin:0 auto;}

/* login page */
.login_area {position:absolute !important; top:50%; left:50%; width:420px !important; height:370px; margin:-185px 0 0 -210px !important;}
.login_area h1 {float:none; margin:0; color:#121f3e; font-size:20px; font-weight:400; line-height:1.45;}
.login_box {width:100%; margin:20px 0; padding:40px 20px 50px; border:1px solid #e9ecf1; box-sizing:border-box;}
.login_box .iptBox input {height:50px; margin:0 0 20px; padding:0 20px 0 64px; color:#55A8FD; font-size:18px; line-height:48px;}
.login_box .iptBox label {top:13px; left:20px;}
.login_box .iptBox label img {width:24px;}
.login_box .btnBox button {width:100%; height:50px; font-size:18px;}
.login_area p {color:#898989; font-size:13px; line-height:1.46;}

/* dataset page */
.tblBox.tbl_dataset table tbody tr > *:first-child + * + * + * {text-align:left;}
.view_indicator {clear:both; text-align:right;}
.view_indicator > div {display:inline-block;}
.view_indicator .slider {position:relative; width:645px; height:4px; background:#eaecf2; vertical-align:bottom;}
.view_indicator .slider .bar {position:absolute; top:0; left:0; width:65px; height:4px; background:#121f3e;}
.view_indicator .btnBox {margin:0 0 5px;}
.view_indicator .btnBox button {width:30px; height:30px; background:#fff;}
.view_indicator .btnBox button:first-child {margin:0 40px;}
.view_indicator .btnBox button img {width:100%;}
.trend_view {overflow:hidden; margin:40px 0 0;}
.trend_view li {float:left; width:218px; height:210px; border:1px solid #e9ecf1; box-sizing:border-box;}
.trend_view li + li {margin:0 0 0 20px;}
.trend_view li a {display:inline-block; width:100%; height:100%;}
.trend_view li img {width:100%;}
.date_srch_group {clear:both; margin:0 0 20px; text-align:right;}
.date_srch_group span {font-size:18px; font-weight:500; line-height:1.5;}
.date_srch_group .iptBox {display:inline-block; width:146px; height:32px; margin:0 20px;}
.date_srch_group .iptBox input {padding:0 20px; line-height:32px;}
.date_srch_group .iptBox label {padding:0 0 0 20px; font-size:14px; line-height:32px; cursor:text;}
.date_srch_group .iptBox img {display:inline-block; position:absolute; top:5px; right:20px; width:20px;}
.date_srch_group .btnBox {display:inline-block; margin:0 0 0 25px;}
.date_srch_group .btnBox button {width:131px; height:34px; border-radius:17px;}

/* category page */
.stn_category {overflow:hidden;}
.ctgrBox {overflow:hidden; clear:both; margin:40px 0 0;}
.ctgrBox h2 {margin:0 0 20px;}
.ctgrBox ul li {float:left; width:284px; height:77px; border:1px solid #b0c1d3; border-radius:4px; box-sizing:border-box; background:#fff; text-align:center; transition:all 0.3s ease-out;}
.ctgrBox ul li + li {margin:0 0 10px 10px;}
.ctgrBox ul li a {display:inline-block; width:100%; height:100%; font-size:20px; font-weight:500; line-height:75px; text-align:center;}
.ctgrBox ul li:hover {background:#55a8fd;}
.ctgrBox ul li:hover a {color:#fff;}

/* weaponList page */
.listBox {clear:both;}
.navBox {overflow:hidden; width:100%; margin:15px 0 25px; border-bottom:1px solid #dfe0e3;}
.navBox .lnb {overflow:hidden; float:left;}
.navBox .lnb li {float:left; position:relative; width:125px; line-height:42px; text-align:center;}
.navBox .lnb li a {display:inline-block; width:100%; height:100%; font-size:14px; font-weight:500; transition:color 0.3s ease-out;}
.navBox .lnb li em {position:absolute; right:0; color:#e4e4e6;}
.navBox .lnb li.active {border-bottom:2px solid #55a8fd;}
.navBox .lnb li.active a {color:#55a8fd;}
.navBox .btnbox {float:right; margin:0 0 12px;}
.navBox .btnbox button {width:30px; height:30px; border:1px solid #e4e7eb; border-radius:4px;}
.navBox .btnbox button img {height:12px;}
.navBox .lnb li:hover {border-bottom:2px solid #55a8fd;}
.navBox .lnb li:hover a {color:#55a8fd;}

.viewBox > div {display:none; width:100%;}
.viewBox > div.on {display:block;}
.viewBox .type_list {padding:35px 0 0;}
.viewBox .type_list .tblBox.tbl_weapon_list table tbody tr > *:first-child + * + * {text-align:left;}
.viewBox .type_thumb .item_list {overflow:hidden; margin:35px 0 0;}
.viewBox .type_thumb .item_list li {float:left; width:224px;}
.viewBox .type_thumb .item_list li + li {margin:0 0 0 10px;}
.viewBox .type_thumb .item_list li a {display:inline-block; width:100%; height:100%;}
.viewBox .type_thumb .item_list li .thumbnail {display:inline-block; width:100%; height:180px; border:1px solid #e9ecf1; box-sizing:border-box; text-align:center;}
.viewBox .type_thumb .item_list li .thumbnail img {height:100%;}
.viewBox .type_thumb .item_list li .title {display:inline-block; margin:10px 0 0; font-size:14px; font-weight:500; line-height:1.43;}
.viewBox .type_thumb .item_list li:hover .title {text-decoration:underline;}

/* detail page */
.detail_wrap {clear:both;}
.detail_wrap h2 {margin:40px 0 30px; font-size:23px; font-weight:500;}
.detail_wrap .detail_item {overflow:hidden;}
.detail_wrap .detail_item .imgBox {float:left; width:490px; height:363px; border:1px solid #e9ecf1; text-align:center;}
.detail_wrap .detail_item .imgBox img {height:100%;}
.detail_wrap .detail_item .tblBox {float:right; width:626px; height:363px;}
.detail_wrap .detail_item .tbl_info table tr {height:33px;}
.detail_wrap .detail_item .tbl_info table thead th {padding:0; background:#8b939c; color:#fff; font-size:15px; font-weight:500;}
.detail_wrap .detail_item .tbl_info table tbody th {padding:0; border-bottom:1px solid #e9ecf1; background:#f2f7ff; font-size:15px;}
.detail_wrap .detail_item .tbl_info table tbody tr:last-child th {border-bottom:none;}
.detail_wrap .detail_item .tbl_info table tbody td {padding:0; font-size:15px;}
.detail_wrap .detail_desc {clear:both;}

.detail_wrap .detail_desc {width:100%; margin:40px 0 0; padding:30px; border:1px solid #e9ecf1; box-sizing:border-box; font-size:15px; line-height:1.67; word-break:keep-all; white-space:pre-line;}

/* srchResult page */
.result_wrap {clear:both;}
.result_wrap .srch_info {color:#333; font-size:25px; line-height:1.48; text-align:center;}
.result_wrap .result_list li {width:100%; height:124px;}
.result_wrap .result_list li + li {margin:35px 0 0;}
.result_wrap .result_list li .imgBox {display:inline-block; width:255px; height:124px; border:1px solid #e9ecf1; box-sizing:border-box; text-align:center; vertical-align:top;}
.result_wrap .result_list li .imgBox img {height:100%;}
.result_wrap .result_list li .txtBox {display:inline-block; width:855px; margin:0 0 0 30px; }
.result_wrap .result_list li .txtBox dt {color:#333; font-size:22px; font-weight:700; line-height:1.5;}
.result_wrap .result_list li .txtBox dd {overflow:hidden; width:100%; height:48px; margin:20px 0 0; color:#333; font-size:15px; line-height:24px; word-break:keep-all; text-overflow:ellipsis;}

/* admin page */
.tbl_user_list table tbody td {}
.use_info {display:inline-block;}
.use_info + .use_info {margin:0 0 0 47px;}
.use_info span {display:inline-block; position:relative; width:10px; height:10px; margin:0 15px 0 0;}
.use_info span img {display:none; position:absolute; top:0; left:0; width:100%;}
.use_info span img.on {display:inline-block;}
