@charset "utf-8";
/* MINDsLab. UX/UI Team NBR 20210901 */

/* -------------------- import -------------------- */
@import url('reset.css');
@import url('font.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

/* page loading */
#pageldg {display:block; position:fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; background-color:#fff; z-index:99999999; opacity:1.0;}
#pageldg:before {content:''; position:absolute; top:50%; left:50%; margin:0 0 0 -30px; border-radius:100%; background:radial-gradient(#e9edf3, #fff); opacity:0; width:60px; height:60px; -webkit-animation:pageldg_wave 1.7s 2.5s linear infinite; animation:pageldg_wave 1.7s 2.5s linear infinite; z-index:444;}
#pageldg span.out_bg {position:absolute; top:50%; width:180px; height:180px; margin:-90px 0 0 -90px; border-radius:300px; background:#fff; animation:out_bg 1s 0s ease-in-out both; z-index:555;}
#pageldg span em {overflow:hidden; position:absolute; top:50%; left:50%; width:200px; height:200px; margin:-100px 0 0 -100px; border-radius:300px; background:#fff; animation:em_opacity 3s 0.1s ease-in-out both;}
#pageldg span em strong:nth-child(1) {content:''; position:absolute; bottom:38%; left:12%; width:0%; height:30%; background:#00aebc; animation:st_move_01 1.5s 0.1s ease-in-out both;}
#pageldg span em strong:nth-child(2) {content:''; position:absolute; top:52%; left:28%; width:60%; height:18%; border-radius:0; background:#fff; animation:st_move_02 1.5s 1.2s ease-in-out both;}
#pageldg span em strong:nth-child(3) {content:''; position:absolute; bottom:48%; right:15%; width:20px; height:0%; background:#00aebc; animation:st_move_03 0.5s 2.0s ease-in-out both;}
#pageldg span em b {content:''; position:absolute; top:50%; left:50%; width:160px; height:160px; margin:-80px 0 0 -80px; background:url("../images/ico_pageldg_trans.svg") 50% 50% no-repeat; background-size:cover; z-index:999;}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}

/* page loading keyframes */
@-webkit-keyframes pageldg_wave {
    0%   {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
    5%   {opacity:1;}
    100% {-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
@keyframes pageldg_wave {
    0%   {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
    5%   {opacity:1;}
    100% {-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
@-webkit-keyframes out_bg {
    0%   {opacity:0; transform:scale(0);}
    80%  {opacity:0.3; transform:scale(1.2);}
    100% {opacity:1; transform:scale(1);}
}
@keyframes out_bg {
    0%   {opacity:0; transform:scale(0);}
    80%  {opacity:0.2; transform:scale(1.2);}
    100% {opacity:1; transform:scale(1);}
}
@-webkit-keyframes st_move_01 {
    0%   {width:0%;}
    100% {width:50%;}
}
@keyframes st_move_01 {
    0%   {width:0%;}
    100% {width:50%;}
}
@-webkit-keyframes st_move_02 {
    0%   {background:#fff;}
    0%   {background:#fff;}
    100% {background:#35384d;}
}
@keyframes st_move_02 {
    0%   {background:#fff;}
    100% {background:#35384d;}
}
@-webkit-keyframes st_move_03 {
    0%   {height:0%;}
    100% {height:6%;}
}
@keyframes st_move_03 {
    0%   {height:0%;}
    100% {height:6%;}
}
@-webkit-keyframes pageldg_hide {
    0%   {opacity:1;}
    100% {opacity:0;}
}
@keyframes pageldg_hide {
    0%   {opacity:1;}
    100% {opacity:0;}
}


/* -------------------- common -------------------- */
/* hide */
.hide {display:block; overflow:hidden; text-indent:-9999px; line-height:0; white-space:nowrap;}

/* checkBox */
.checkBox{display:inline-block; position:relative; margin:5px 0 0;}
.checkBox input[type="checkbox"]{position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; clip:rect(0,0,0,0); border:0;}
.checkBox input[type="checkbox"] + label{display:inline-block; position:relative; margin:0 10px 0 0; padding-left:30px; color:#fff; font-size:18px; font-weight:700; letter-spacing:-0.47px; line-height:1.44; word-break:keep-all; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.checkBox input[type="checkbox"] + label:before{content:''; position:absolute; top:3px; left:0; width:20px; height:20px; border-radius:4px; box-sizing:border-box; background:#fff; text-align:center; line-height:32px; transition:background-color 0.2s ease-out;}
.checkBox input[type="checkbox"]:checked + label:before{content:'\f00c'; font-family:'Font Awesome 5 Free'; color:#fff; font-size:12px; font-weight:900; line-height:20px; background:#5678db;}


/* -------------------- event -------------------- */
.pc {display:block;}
.mobile {display:none;}

#wrap.event {position:relative; width:100%; height:100%; min-height:750px;}
#wrap.event .stn {position:relative; width:100%; min-width:1290px;}
#wrap.event .contBox {width:1250px; height:100%; margin:0 auto; padding:0 20px;}
#wrap.event .contBox .stn_tit {color:#3d3e57; font-size:40px; letter-spacing:-2px; line-height:1.4; text-align:center;}
#wrap.event .contBox .stn_tit strong {display:block; color:#283d7b;}

/* visual */
#wrap.event .visual {height:700px; background:linear-gradient(to bottom, #1B202E -29%, #323544 127%);}
#wrap.event .visual .contBox {position:relative; z-index:10;}
#wrap.event .visual .contBox .logo {padding:30px 0 0; line-height:0;}
#wrap.event .visual .contBox .svc_txt {position:absolute; top:calc(50% + 7px); transform:translate(0, -50%);}
#wrap.event .visual .contBox .svc_txt .titBox .main_tit {color:#c1cff5; font-family:'Roboto', sans-serif; font-size:75px; font-weight:900; letter-spacing:46px; line-height:1; text-transform:uppercase;}
#wrap.event .visual .contBox .svc_txt .titBox .sub_tit {margin:16px 0 35px; color:#8b97af; font-family:'Roboto', sans-serif; font-size:18.5px; font-weight:300; letter-spacing:14.1px; line-height:1; text-transform:uppercase;}
#wrap.event .visual .contBox .svc_txt .descBox .main_desc {color:#e4eef7; font-size:28px; font-weight:500; letter-spacing:-0.37px; line-height:1;}
#wrap.event .visual .contBox .svc_txt .descBox .sub_desc {margin:14px 0 28px; color:#e4eef7; font-size:20px; font-weight:300; letter-spacing:-0.27px;}
#wrap.event .visual .contBox .svc_txt .descBox .btn_go_contact {height:60px; padding:0 60px; border-radius:4px; background:#5678db; color:#fff; font-size:20px; font-weight:500; letter-spacing:-0.27px;}
#wrap.event .visual .videoBox {overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%;}
#wrap.event .visual .videoBox video {display:block; position:absolute; top:50%; left:50%; width:100%; transform:translate(-50%, -50%);}

/* service */
#wrap.event .service {background:#fff;}
#wrap.event .service .svc_list li {box-sizing:border-box; height:530px;}
#wrap.event .service .svc_list li + li {border-top:1px solid #d8d8dd;}
#wrap.event .service .svc_list li .contBox {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
#wrap.event .service .svc_list li .contBox .img {position:relative; width:674px; margin-top:auto; padding-bottom:36.8%;}
#wrap.event .service .svc_list li .contBox .img img {position:absolute; bottom:0; left:0; width:100%;}
#wrap.event .service .svc_list li .contBox .desc {}
#wrap.event .service .svc_list li .contBox .desc dt .sub_tit {color:#283d7b; letter-spacing:-0.72px; line-height:1.08;}
#wrap.event .service .svc_list li .contBox .desc dt .main_tit {color:#5678db; font-size:40px; letter-spacing:-2px; line-height:1.4;}
#wrap.event .service .svc_list li .contBox .desc dd {width:444px; margin-top:8px; color:#4f5167; font-size:20px; letter-spacing:-0.6px; line-height:1.5; word-break:keep-all;}
#wrap.event .service .svc_list li:not(:nth-child(2)) .contBox .desc {order:1; padding-left:80px;}
#wrap.event .service .svc_list li:nth-child(2) .contBox .desc {padding-left:146px;}

/* use_case */
#wrap.event .use_case {padding:70px 0; background:#f6f8ff;}
#wrap.event .use_case .contBox .ai_human_list {display:flex; flex-wrap:wrap; margin:40px 0 0;}
#wrap.event .use_case .contBox .ai_human_list li {flex:none; width:336px;}
#wrap.event .use_case .contBox .ai_human_list li:nth-child(3n+2) {margin:0 121px;}
#wrap.event .use_case .contBox .ai_human_list li:nth-child(n+4) {margin-top:52px;}
#wrap.event .use_case .contBox .ai_human_list li .img {width:100%;}
#wrap.event .use_case .contBox .ai_human_list li .img img {width:100%;}
#wrap.event .use_case .contBox .ai_human_list li .desc dt {margin:14px 0 8px; color:#5678db; font-size:30px; letter-spacing:-1.2px; line-height:1.07;}
#wrap.event .use_case .contBox .ai_human_list li .desc dt strong {color:#283d7b;}
#wrap.event .use_case .contBox .ai_human_list li .desc dd {color:#4f5167; font-size:18px; letter-spacing:-0.47px; line-height:1.5; word-break:keep-all;}

/* interview */
#wrap.event .interview {padding:70px 0; background:#DBE5FE;}
#wrap.event .interview .contBox .stn_tit {margin:0 0 32px;}
#wrap.event .interview .contBox .itv_list {align-items:center;}
#wrap.event .interview .contBox .itv_list li {display:flex; justify-content:center; align-items:center;}
#wrap.event .interview .contBox .itv_list li .img {width:186px; margin:0 32px 0 0;}
#wrap.event .interview .contBox .itv_list li .img img {width:100%;}
#wrap.event .interview .contBox .itv_list li .txt {width:433px;}
#wrap.event .interview .contBox .itv_list li .txt dt .label {display:inline-block; margin:0 4px 0 0; padding:0 16px; border-radius:4px; background:#5678db; color:#fff; font-size:18px; letter-spacing:-0.72px; line-height:34px;}
#wrap.event .interview .contBox .itv_list li .txt dt .name {color:#3d3e57; font-size:30px; font-weight:700; letter-spacing:-1.2px; line-height:1.07; vertical-align:middle;}
#wrap.event .interview .contBox .itv_list li .txt dd {margin:11px 0 0; color:#4f5167; font-size:18px; letter-spacing:-0.47px; line-height:1.5; word-break:keep-all;}
.swiper-button-next, .swiper-button-prev {width:128px; height:128px; margin:0; transform:translate(0, -50%);}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {background:url('../images/aiHuman_ver2/ico_arw_right.svg') 100% 50% no-repeat;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {background:url('../images/aiHuman_ver2/ico_arw_left.svg') 0 50% no-repeat;}

/* contact */
#wrap.event .contact {padding:70px 0; background:#212e59;}
#wrap.event .contact .contBox {width:550px; text-align:center;}
#wrap.event .contact .contBox .stn_tit {color:#fff; font-weight:700;}
#wrap.event .contact .contBox .stn_desc {margin:8px 0; color:#fff; font-size:18px; line-height:1.44; text-align:center;}
#wrap.event .contact .contBox .contact_info {color:#fff; font-size:18px; line-height:1.44;}
#wrap.event .contact .contBox .contact_info a {color:#fff; font-weight:700;}
#wrap.event .contact .contBox .user_info {margin:40px 0 0; text-align:center;}
#wrap.event .contact .contBox .user_info dl {margin:0 0 24px; text-align:left;}
#wrap.event .contact .contBox .user_info dl.dual {float:left; width:calc(50% - 16px);}
#wrap.event .contact .contBox .user_info dl.dual + dl.dual {margin:0 0 0 32px;}
#wrap.event .contact .contBox .user_info dl:not(.dual) {clear:both;}
#wrap.event .contact .contBox .user_info dl dt {margin:0 0 8px; color:#fff; font-size:18px; font-weight:700; letter-spacing:-0.47px; line-height:1.44;}
#wrap.event .contact .contBox .user_info dl dt span {color:#a6abbc; font-weight:400;}
#wrap.event .contact .contBox .user_info dl dd .ipt_txt {width:100%; height:52px; padding:0 24px; border-radius:4px; box-sizing:border-box; color:#4f5167; font-size:14px; letter-spacing:-0.28px;}
#wrap.event .contact .contBox .user_info dl dd .ipt_txt::placeholder {color:#9e9eab; font-size:14px; letter-spacing:-0.28px;}
#wrap.event .contact .contBox .user_info .assentBox p {color:#a6abbc; font-size:13px; letter-spacing:-0.23px; line-height:1.38;}
#wrap.event .contact .contBox .user_info #inquireBtn {height:60px; margin:16px 0; padding:0 80px; border-radius:4px; background:#5678db; color:#fff; font-size:20px; font-weight:700; letter-spacing:-0.48px;}
#wrap.event .contact .contBox .info_msg {color:#a6abbc; font-size:18px; line-height:1.44;}


/* -------------------- media query -------------------- */
@media screen and (max-width:1920px){
    #wrap.event .visual .videoBox video {width:auto;}
}

@media screen and (max-width:768px){
    .pc {display:none;}
    .mobile {display:block;}

    .checkBox input[type="checkbox"] + label {padding-left:20px; font-size:14px;}
    .checkBox input[type="checkbox"] + label:before {width:16px; height:16px;}
    .checkBox input[type="checkbox"]:checked + label:before {line-height:16px;}

    #wrap.event .stn {min-width:320px;}
    #wrap.event .contBox {width:100%; box-sizing:border-box;}
    #wrap.event .contBox .stn_tit {font-size:22px;}

    #wrap.event .visual {height:592px;}
    #wrap.event .visual .contBox .svc_txt {position:static; text-align:center; transform:none;}
    #wrap.event .visual .contBox .svc_txt .titBox {margin:24px 0 0;}
    #wrap.event .visual .contBox .svc_txt .titBox .main_tit {font-size:37.5px; letter-spacing:12px;}
    #wrap.event .visual .contBox .svc_txt .titBox .sub_tit {margin:7px 0 0; font-size:10px; letter-spacing:4px;}
    #wrap.event .visual .contBox .svc_txt .descBox {position:absolute; bottom:0; left:0; width:100%; padding:20px 24px 40px; box-sizing:border-box; background:rgba(23, 26, 34, 0.3); text-align:left;}
    #wrap.event .visual .contBox .svc_txt .descBox .main_desc {font-size:16px; letter-spacing:-0.21px; line-height:1.38;}
    #wrap.event .visual .contBox .svc_txt .descBox .sub_desc {margin:10px 0; font-size:14px; letter-spacing:-0.19px; word-break:keep-all;}
    #wrap.event .visual .contBox .svc_txt .descBox .btn_go_contact {height:40px; padding:0 40px; font-size:14px; letter-spacing:-0.19px;}
    #wrap.event .visual .videoBox video {top:0; left:calc(50% - 248px); height:100%; transform:translate(-50%, 0);}

    #wrap.event .service .svc_list li {height:auto;}
    #wrap.event .service .svc_list li .contBox .img {width:100%;}
    #wrap.event .service .svc_list li .contBox .desc dt .main_tit {font-size:24px; letter-spacing:-0.6px; line-height:1.5;}
    #wrap.event .service .svc_list li .contBox .desc dt .sub_tit {font-size:16px; letter-spacing:-0.48px; line-height:1.63;}
    #wrap.event .service .svc_list li .contBox .desc dd {width:100%; margin:2px 0 0; font-size:14px; letter-spacing:-0.28px; line-height:1.43;}
    #wrap.event .service .svc_list li .contBox .img {margin:16px 0 0;}
    #wrap.event .service .svc_list li:not(:first-child) .contBox .img img {top:50%; bottom:auto; transform:translate(0, -50%);}
    #wrap.event .service .svc_list li:not(:nth-child(2)) .contBox .desc {padding-left:24px;}
    #wrap.event .service .svc_list li:nth-child(2) .contBox .desc {padding:0 24px;}
    

    #wrap.event .use_case {padding:24px 0;}
    #wrap.event .use_case .contBox .ai_human_list {justify-content:center; margin:16px 0 0;}
    #wrap.event .use_case .contBox .ai_human_list li {width:calc(50% - 48px); margin:0 24px;}
    #wrap.event .use_case .contBox .ai_human_list li:nth-child(3n+2) {margin:0 24px;}
    #wrap.event .use_case .contBox .ai_human_list li:nth-child(n+4) {margin:0 24px;}
    #wrap.event .use_case .contBox .ai_human_list li:nth-child(n+3) {margin:24px 24px 0;}
    #wrap.event .use_case .contBox .ai_human_list li:last-child {margin-right:auto;}
    #wrap.event .use_case .contBox .ai_human_list li .desc dt {margin:8px 0 2px; font-size:20px; letter-spacing:-0.47px; line-height:1.5;}
    #wrap.event .use_case .contBox .ai_human_list li .desc dd {font-size:14px; letter-spacing:-0.28px; line-height:1.43;}

    #wrap.event .interview {padding:24px 0;}
    #wrap.event .interview .contBox .stn_tit {margin:0 0 12px;}
    #wrap.event .interview .contBox .itv_list li {flex-direction:column;}
    #wrap.event .interview .contBox .itv_list li .img {width:93px; margin:0;}
    #wrap.event .interview .contBox .itv_list li .txt {width:100%;}
    #wrap.event .interview .contBox .itv_list li .txt dt {text-align:center;}
    #wrap.event .interview .contBox .itv_list li .txt dt .label {margin:0; padding:0 12px; font-size:14px; letter-spacing:-0.28px; line-height:24px;}
    #wrap.event .interview .contBox .itv_list li .txt dt .name {font-size:18px; letter-spacing:-0.47px;}
    #wrap.event .interview .contBox .itv_list li .txt dd {font-size:14px; letter-spacing:-0.28px; line-height:1.43;}
    .swiper-button-next, .swiper-button-prev {top:45px; width:40px; height:40px; background-size:auto 13px; transform:none;}

    #wrap.event .contact {padding:24px 0;}
    #wrap.event .contact .contBox {width:100%;}
    #wrap.event .contact .contBox .stn_desc {font-size:14px;}
    #wrap.event .contact .contBox .contact_info {font-size:14px; letter-spacing:-0.28px;}
    #wrap.event .contact .contBox .user_info {margin:16px 0 0;}
    #wrap.event .contact .contBox .user_info dl {margin:0 0 16px;}
    #wrap.event .contact .contBox .user_info dl.dual {float:none; width:100%;}
    #wrap.event .contact .contBox .user_info dl.dual + dl.dual {margin:0 0 16px;}
    #wrap.event .contact .contBox .user_info dl dt {font-size:14px;}
    #wrap.event .contact .contBox .user_info dl dd .ipt_txt {height:40px; padding:0 16px;}
    #wrap.event .contact .contBox .user_info #inquireBtn {height:36px; margin:4px 0 8px; padding:0 40px; font-size:14px; letter-spacing:-0.28px;}
    #wrap.event .contact .contBox .info_msg {font-size:13px; letter-spacing:-0.23px;}
}

@media screen and (max-width:480px){
    #wrap.event .service .svc_list li .contBox {display:block;}
    #wrap.event .service .svc_list li .contBox .img {padding:0;}
    #wrap.event .service .svc_list li .contBox .img img {position:static;}
    #wrap.event .service .svc_list li:not(:first-child) .contBox .img img {transform:none;}
    #wrap.event .service .svc_list li:nth-child(2) .contBox .desc,
    #wrap.event .service .svc_list li:not(:nth-child(2)) .contBox .desc {padding:24px 0 0;}

    #wrap.event .use_case .contBox .ai_human_list li {width:100%;}
    #wrap.event .use_case .contBox .ai_human_list li + li {margin:24px 0 0;}   
    #wrap.event .use_case .contBox .ai_human_list li:nth-child(3n+2) {margin:24px 0 0;}
    #wrap.event .use_case .contBox .ai_human_list li:nth-child(n+4) {margin-top:24px;}

    #wrap.event .contact .contBox .contact_info img {width:16px; vertical-align:bottom;}
}