@charset "utf-8";
/* MINDsLab. UX/UI Team NBR 20210205 */

/* -------------------- import -------------------- */
@import url('reset.css');
@import url('font.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

html, body {font-size:24px; line-height:1.4; letter-spacing:-0.4px;}

/* scrollbar */
::-webkit-scrollbar {width: 6px; height: 6px; border-radius: 3px;}  /* 스크롤바의 width */
::-webkit-scrollbar-track {background: transparent;}  /* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {border-radius: 3px; background: rgba(25, 42, 57, 0.3);}  /* 스크롤바 색 */
::-webkit-scrollbar-button {display: none;}  /* 위 아래 버튼 (버튼 없애기를 함) */

/* page loading */
#pageldg {display:block; position:fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; background-color:#fff; z-index:99999999; opacity:1.0;}
#pageldg:before {content:''; position:absolute; top:50%; left:50%; margin:0 0 0 -30px; border-radius:100%; background:radial-gradient(#e9edf3, #fff); opacity:0; width:60px; height:60px; -webkit-animation:pageldg_wave 1.7s 2.5s linear infinite; animation:pageldg_wave 1.7s 2.5s linear infinite; z-index:444;}
#pageldg span.out_bg {position:absolute; top:50%; width:180px; height:180px; margin:-90px 0 0 -90px; border-radius:300px; background:#fff; animation:out_bg 1s 0s ease-in-out both; z-index:555;}
#pageldg span em {overflow:hidden; position:absolute; top:50%; left:50%; width:200px; height:200px; margin:-100px 0 0 -100px; border-radius:300px; background:#fff; animation:em_opacity 3s 0.1s ease-in-out both;}
#pageldg span em strong:nth-child(1) {content:''; position:absolute; bottom:38%; left:12%; width:0%; height:30%; background:#00aebc; animation:st_move_01 1.5s 0.1s ease-in-out both;}
#pageldg span em strong:nth-child(2) {content:''; position:absolute; top:52%; left:28%; width:60%; height:18%; border-radius:0; background:#fff; animation:st_move_02 1.5s 1.2s ease-in-out both;}
#pageldg span em strong:nth-child(3) {content:''; position:absolute; bottom:48%; right:15%; width:20px; height:0%; background:#00aebc; animation:st_move_03 0.5s 2.0s ease-in-out both;}
#pageldg span em b {content:''; position:absolute; top:50%; left:50%; width:160px; height:160px; margin:-80px 0 0 -80px; background:url("../images/ico_pageldg_trans.svg") 50% 50% no-repeat; background-size:cover; z-index:999;}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}

/* page loading keyframes */
@-webkit-keyframes pageldg_wave {
    0%   {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
    5%   {opacity:1;}
    100% {-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
@keyframes pageldg_wave {
    0%   {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
    5%   {opacity:1;}
    100% {-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
@-webkit-keyframes out_bg {
    0%   {opacity:0; transform:scale(0);}
    80%  {opacity:0.3; transform:scale(1.2);}
    100% {opacity:1; transform:scale(1);}
}
@keyframes out_bg {
    0%   {opacity:0; transform:scale(0);}
    80%  {opacity:0.2; transform:scale(1.2);}
    100% {opacity:1; transform:scale(1);}
}
@-webkit-keyframes st_move_01 {
    0%   {width:0%;}
    100% {width:50%;}
}
@keyframes st_move_01 {
    0%   {width:0%;}
    100% {width:50%;}
}
@-webkit-keyframes st_move_02 {
    0%   {background:#fff;}
    0%   {background:#fff;}
    100% {background:#35384d;}
}
@keyframes st_move_02 {
    0%   {background:#fff;}
    100% {background:#35384d;}
}
@-webkit-keyframes st_move_03 {
    0%   {height:0%;}
    100% {height:6%;}
}
@keyframes st_move_03 {
    0%   {height:0%;}
    100% {height:6%;}
}
@-webkit-keyframes pageldg_hide {
    0%   {opacity:1;}
    100% {opacity:0;}
}
@keyframes pageldg_hide {
    0%   {opacity:1;}
    100% {opacity:0;}
}

/* -------------------- common -------------------- */
/* pc, mobile */
.mobile {display:none;}

/* float */
.fl {float:left;}
.fr {float:right;}

/* checkBox */
.checkBox{display:inline-block; position:relative; min-height:20px; font-size:24px;}
.checkBox input[type="checkbox"]{position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; clip:rect(0,0,0,0); border:0;}
.checkBox input[type="checkbox"] + label{display:inline-block; position:relative; margin:0 10px 0 0; padding-left:46px; font-size:28px; line-height:40px; word-break:keep-all; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.checkBox input[type="checkbox"] + label:before{content:''; position:absolute; top:50%; left:0; width:32px; height:32px; border:1px solid #707070; border-radius:4px; background:#fff; box-sizing:border-box; text-align:center; line-height:32px; transform:translate(0, -50%);}
.checkBox input[type="checkbox"]:checked + label:before{content:'\f00c'; font-family:'Font Awesome 5 Free'; color:#fff; font-size:22px; font-weight:900; border:1px solid #1FB5CB; background:#1FB5CB;}


/* -------------------- Layer Popup -------------------- */
.lyrWrap {display:block; position:fixed; top:0; left:0; width:100%; height:100%; z-index:8000;}
.lyrWrap .lyr_bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.85);}
.lyrWrap .lyr_bg2 {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.85);}
.lyrWrap .lyr_bg.ie9 {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,1.0);}
.lyrBox {display:none; overflow:hidden; position:absolute; top:50%; left:50%; width:500px; margin:0; border-radius:7px; background:#eff1f7; box-shadow:0 0 15px rgba(11,42,74,0.3); transform:translate(-50%,-50%); -webkit-animation:lyr_show 0.3s 0s ease-out; animation:lyr_show 0.3s 0s ease-out;}
.lyrWrap .lyrBox {display:block;}

.lyr_bg_dim {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:999;}
.lyrPlayBox {display:none; position:fixed; top:50%; left:50%; width:1000px; min-height:150px; border-radius:3px; box-shadow:0 1px 4px 0 rgba(44, 63, 81, 0.1); transform:translate(-50%, -50%); z-index:9999;}
#lyr_video_player {display:block;}
#lyr_video_player .lyr_ct {width:1000px;}
#lyr_video_player .lyr_ct video {width:100%;}
#lyr_video_player .btn_lyr_close {display:inline-block; position:absolute; top:-40px; right:-10px; width:40px; height:40px;}
#lyr_video_player .btn_lyr_close em {color:#fff; font-size:30px;}

/* keyframes */
@-webkit-keyframes lyr_show {
    0% {top:45%; opacity:0;}
    100% {top:50%; opacity:1;}
}
@keyframes lyr_show {
    0% {top:45%; opacity:0;}
    100% {top:50%; opacity:1;}
}
.lyrBox .lyr_top {clear:both; overflow:hidden; position:relative; padding:10px 15px; background:#fff;}
.lyrBox .lyr_top h3 { display:block; padding:7px 5px; color:#394058; font-size:2em; font-weight:500; text-align:center;}
.lyrBox .lyr_top .btn_lyr_close { float:right; position:absolute; top:20px; right:20px; overflow:hidden; width:30px; height:30px; margin:3px 0 0 0; text-indent:-99px; border:none; background:none; transition:all 0.3s ease-out; opacity:0.7; cursor:pointer;}
.lyrBox .lyr_top .btn_lyr_close:hover, .lyrBox .lyr_top .btn_lyr_close:focus {opacity:1.0; transition:all 0.3s ease-out;}
.lyrBox .lyr_top .btn_lyr_close:before {content:''; position:absolute; top:50%; left:0%; width:100%; height:1px; background:#5f6680; border-radius:3px; transform:rotate(45deg);}
.lyrBox .lyr_top .btn_lyr_close:after {content:''; position:absolute; top:50%; left:0%; width:100%; height:1px; border-radius:3px; background:#5f6680; transform:rotate(-45deg);}

.lyrWrap .lyrBox .lyr_mid {display:block; overflow:auto; max-height:500px; padding:30px 20px 20px 20px;}

.lyrWrap .lyrBox .lyr_btm {display:block; padding:15px; text-align:center; border-top:1px solid #e4e6ef; background:#fff;}
.lyrWrap .lyrBox .lyr_btm .btnBox.sz_small button {height:32px; color:#fff; font-size:13px; border:none; background:#3599ff;}
.lyrWrap .lyrBox .lyr_btm .btnBox.sz_small button:disabled {cursor:default; opacity:0.4; border:1px solid #586c80; background:#586c80;}
.lyrWrap .lyrBox .lyr_btm .btnBox.sz_small button:first-child {background:#718292;}

.lyr_hide {-webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:lyr_hide; animation-name:lyr_hide;}
/* keyframes */
@-webkit-keyframes lyr_hide {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes lyr_hide {
    0% {opacity:1;}
    100% {opacity:0;}
}

/* -------------------- event -------------------- */
#wrap.event {position:relative; width:100%; min-width:1240px; height:100%; min-height:760px;}
#wrap.event #contents {position:relative; width:100%; height:100%;}
#wrap.event .stn {position:relative; width:100%; padding:50px 0 126px; box-sizing:border-box;}
#wrap.event .stn .contBox {width:1200px; height:100%; margin:0 auto; padding:0 20px;}
#wrap.event .stn .contBox:after {content:''; display:block; clear:both;}
#wrap.event .stn .contBox .tit {margin:0 0 48px; color:#3d3e57; font-size:1.75rem; font-weight:500; letter-spacing:-2.18px; line-height:1.43;}

/* 신청하기 버튼  */
#wrap.event .btn_go_contact {display:none; position:fixed; right:2%; bottom:2%; width:120px; height:120px; border:none; border-radius:50%; background:#3cc9da; background-size:30%; text-align:center; z-index:10;}
#wrap.event .btn_go_contact span {display:inline-block; margin:5px 0 0; color:#fff; font-size:1.2em; font-weight:700; line-height:1.2; text-shadow:0 0 5px rgba(0,0,0,0.3);}

/* 이벤트 페이지 본문 */
#wrap.event .stn:not(.intro) {display:none;}
/* #wrap.event .stn:not(.intro) .bgBox {position:absolute; top:-50%; left:0; width:100%; height:100%; transform:skewY(-17deg); -webkit-transform:skewY(-17deg); z-index:50;} */

/* intro */
#wrap.event .intro {position:absolute; top:0; left:0; height:100%; padding:0; background:radial-gradient(ellipse at 72% 30%, #4f5070 20%, #3d3e57 35%, #2e2e42); z-index:20;}
#wrap.event .intro .contBox {position:relative; z-index:10;}
#wrap.event .intro .contBox:after {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/kiosk/img_stn_intro.png') bottom 0 left 20px no-repeat; background-size:auto 95%;}
#wrap.event .intro .contBox .fr {position:relative; height:100%; z-index:20;}
#wrap.event .intro .contBox .fr .titArea {margin:25% 0 0;}
#wrap.event .intro .contBox .fr .titArea img {display:block; margin:0 0 32px;}
#wrap.event .intro .contBox .fr .titArea .msg_lead {color:#fff; font-size:0.8rem; letter-spacing:-0.4px; line-height:1.5;}
#wrap.event .intro .contBox .fr .svc_start {position:absolute; bottom:100px; left:0;}
#wrap.event .intro .contBox .fr .svc_start .msg_start {margin:0 0 24px; color:#3d3e57; font-size:0.8rem; font-weight:500; letter-spacing:-0.8px; line-height:1.4;}
#wrap.event .intro .contBox .fr .svc_start .btnBox a {display:inline-block; height:61px; padding:0 60px; border-radius:4px; background:#f5f6fa; color:#626378; font-size:0.8rem; font-weight:500; letter-spacing:-0.7px; line-height:60px; text-align:center;}
#wrap.event .intro .contBox .fr .svc_start .btnBox a.btn_go_event {margin:0 0 0 16px; padding:0 64px; background:#3d3e57; color:#fff;}
#wrap.event .intro .bgBox {overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%;}
#wrap.event .intro .bgBox:before {content:''; display:block; position:absolute; right:0; bottom:-76%; width:100%; height:100%; background:#fff; transform:skewY(-14deg); -webkit-transform:skewY(-14deg);}

/* main */
#wrap.event .main {overflow:hidden; background:radial-gradient(ellipse at 35% 36%, #4f5070 20%, #3d3e57 40%, #2e2e42);}
#wrap.event .main .contBox .txtArea {margin:70px 0 0;}
#wrap.event .main .contBox .txtArea p {margin:32px 0 0; color:#fff; font-size:0.8rem; letter-spacing:-0.7px; line-height:1.45;}
#wrap.event .main .contBox .imgArea {position:relative; width:72%; max-width:860px; margin-right:-16%; z-index:10;}
#wrap.event .main .contBox .imgArea img {width:100%;}

/* innovation */
#wrap.event .innovation {margin:-518px 0 0; padding:518px 0; background:#fff; clip-path:polygon(0 518px, 100% 0, 100% 100%, 0% 100%);}
#wrap.event .innovation .contBox > div {display:inline-block;}
#wrap.event .innovation .contBox .imgArea {width:440px;}
#wrap.event .innovation .contBox .imgArea img {width:100%;}
#wrap.event .innovation .contBox .txtArea ul {margin:60px 0 0 24px;}
#wrap.event .innovation .contBox .txtArea ul li {color:#3d3e57; font-size:1.17rem; font-weight:500; letter-spacing:-1.29px; line-height:1.5;}
#wrap.event .innovation .contBox .txtArea ul li + li {margin:146px 0 0;}
#wrap.event .innovation .contBox .txtArea ul li small {margin:0 0 0 20px; color:#636478; font-size:0.58rem; letter-spacing:-0.49px;}
#wrap.event .innovation .bgBox {background:#fff;}

/* use_cases */
#wrap.event .use_cases {margin:-1000px 0 0; padding:0; background:#f5f6fa; clip-path:polygon(0 518px, 100% 0, 100% 100%, 0% 100%);}
#wrap.event .use_cases .contBox {width:100%; padding:0;}
#wrap.event .use_cases .contBox .tit {position:absolute; top:303px; left:50%; width:1200px; margin:0 auto; padding:0 20px; text-align:right; transform:translate(-50%, 0); z-index:50;}
#wrap.event .use_cases .contBox .use_case_wrap {overflow:visible; width:100%;}
#wrap.event .use_cases .contBox .use_case_wrap ul {top:-494px;}
#wrap.event .use_cases .contBox .use_case_wrap ul li {padding:303px 0 494px; box-sizing:border-box;}
#wrap.event .use_cases .contBox .use_case_wrap ul li.bank {background:yellow;}
#wrap.event .use_cases .contBox .use_case_wrap ul li.restaurant {background:green;}
#wrap.event .use_cases .contBox .use_case_wrap ul li.hotel {background:skyblue;}
#wrap.event .use_cases .contBox .use_case_wrap ul li.shoppingmall {background:mediumslateblue;}
#wrap.event .use_cases .contBox .use_case_wrap ul li .slideCont {display:table; width:1200px; margin:109px auto 0; padding:0 20px; text-align:right;}
#wrap.event .use_cases .contBox .use_case_wrap ul li .slideCont > * {display:table-cell;}
#wrap.event .use_cases .contBox .use_case_wrap ul li .slideCont .txtBox {padding:0 0 0 123px; text-align:left; vertical-align:middle;}
#wrap.event .use_cases .contBox .use_case_wrap ul li .slideCont .txtBox dt {margin:0 0 12px; color:#3d3e57; font-size:1.17rem; font-weight:500; letter-spacing:-1.12px; line-height:1.7;}
#wrap.event .use_cases .contBox .use_case_wrap ul li .slideCont .txtBox dd {color:#636478; font-size:0.8rem; letter-spacing:-0.7px; line-height:1.45;}
#wrap.event .use_cases .contBox .use_case_wrap ul li .slideCont .imgBox {width:560px; vertical-align:top;}
#wrap.event .use_cases .contBox .use_case_wrap ul li .slideCont .imgBox img {width:100%;}
#wrap.event .use_cases .contBox .use_case_wrap .swiper_control {position:relative; top:-1185px; left:50%; width:1200px; padding:0 0 0 123px; box-sizing:border-box; transform:translate(-50%, 0); z-index:10;}
#wrap.event .use_cases .contBox .use_case_wrap .swiper_control > div {display:inline-block !important;}
.swiper-button-next, .swiper-button-prev {position:static !important; width:64px; height:64px;}
.swiper-pagination {position:relative; width:248px; height:4px; background:#fff;}
.swiper-pagination-bullet {position:relative; top:-22px; width:62px; height:4px; border-radius:0; background:#3d3e57; opacity:0;}
.swiper-pagination-bullet-active {opacity:1;}

/* contact */
#wrap.event .contact {margin:-1076px 0 0; padding:518px 0 250px; background:#3d3e57; clip-path:polygon(0 518px, 100% 0, 100% 100%, 0% 100%);}
#wrap.event .contact .contBox .tit {color:#fff;}
#wrap.event .contact .contBox .contactform {width:735px; margin:0 auto; text-align:center;}
#wrap.event .contact .contBox .contactform dl {clear:both; width:100%; margin:0 0 40px; text-align:left;}
#wrap.event .contact .contBox .contactform dl dt {display:inline-block; width:250px; color:#fff; font-size:1rem; font-weight:500; line-height:64px; vertical-align:top;}
#wrap.event .contact .contBox .contactform dl dt span {display:inline-block; margin:0 0 0 5px; color:#14b7cc; font-size:1rem;}
#wrap.event .contact .contBox .contactform dl dt em {display:inline-block; margin:0 0 0 5px; font-weight:400; font-size:1rem;}
#wrap.event .contact .contBox .contactform dl dd {display:inline-block; width:calc(100% - 255px); line-height:64px;}
#wrap.event .contact .contBox .contactform dl dd input[type="text"],
#wrap.event .contact .contBox .contactform dl dd input[type="tel"] {width:100%; height:66px; padding:0 25px; border:1px solid #dadada; border-radius:4px; box-sizing:border-box; color:#1f2f3b; font-size:0.8rem;}
#wrap.event .contact .contBox .contactform dl dd input::placeholder {color:#808080; font-size:18px;}
#wrap.event .contact .contBox .contactform dl dd textarea {width:100%; height:200px; padding:15px 25px; border-radius:4px; box-sizing:border-box; color:#1f2f3b; font-size:0.8rem;}
#wrap.event .contact .contBox .contactform dl dd textarea::placeholder {color:#808080; font-size:18px;}
#wrap.event .contact .contBox .contactform dl:nth-child(3) dt {line-height:40px;}
#wrap.event .contact .contBox .contactform button {display:inline-block; width:225px; height:72px; border:1px solid #1FB5CB; border-radius:6px; box-sizing:border-box; background:#1FB5CB; color:#fff; font-size:20px; font-weight:700;}
#wrap.event .contact .contBox .contactform button:disabled {border:1px solid #757a8a; background:#757a8a;}
#wrap.event .contact .contBox .contactform dl dd .assentBox {width:656px; color:#fff; font-size:0.8rem; line-height:1.5;}
#wrap.event .contact .contBox .contactform dl dd .assentBox p {margin:22px 0 0; font-size:0.7rem;}
#wrap.event .contact .contBox .contactform #inquireBtn {transition:all 0.2s ease-out;}
#wrap.event .contact .contBox .slogan {margin:0 0 32px; color:#fff; font-size:1rem; line-height:1.4;}

/* -------------------- media query -------------------- */
@media screen and (max-width:768px){
    html, body {font-size:14px;}

    .pc {display:none;}
    .mobile {display:block;}

    #wrap.event {min-width:auto; min-height:auto;}
    #wrap.event .stn .contBox {width:100%; min-width:320px; box-sizing:border-box;}
    #wrap.event .stn .contBox .tit {margin:0 0 24px; font-size:1.43rem;}

    #wrap.event .intro {background:radial-gradient(ellipse at 43% 30%, #4f5070 8%, #3d3e57 56%, #2e2e42);}
    #wrap.event .intro .contBox {padding:40px 20px;}
    #wrap.event .intro .contBox:after {background-size:56%;}   
    #wrap.event .intro .contBox .fr {float:none;} 
    #wrap.event .intro .contBox .fr .titArea {margin:0;}
    #wrap.event .intro .contBox .fr .titArea img {margin:0 0 12px;}
    #wrap.event .intro .contBox .fr .titArea img:nth-child(1) {width:42%; height:24px; height:auto;}
    #wrap.event .intro .contBox .fr .titArea img:nth-child(2) {width:81%; max-width:400px; height:80px; height:auto;}
    #wrap.event .intro .contBox .fr .svc_start {right:0; bottom:0; left:auto; width:128px; height:100%;}
    #wrap.event .intro .contBox .fr .svc_start .msg_start {position:relative; top:58%; margin:0; color:#fff; font-size:1rem;}
    #wrap.event .intro .contBox .fr .svc_start .btnBox {position:absolute; right:0; bottom:0;}
    #wrap.event .intro .contBox .fr .svc_start .btnBox a {display:block; width:128px; height:44px; margin:8px 0 0 !important; padding:0 !important; line-height:44px;}
    #wrap.event .intro .bgBox:before {bottom:-74%; transform:skewY(-14deg); -webkit-transform: skewY(-18deg);}

    #wrap.event .main {padding:0;}
    #wrap.event .main .contBox .txtArea {float:none; margin:60px 0 0;}
    #wrap.event .main .contBox .txtArea img {width:62%;}
    #wrap.event .main .contBox .txtArea p {font-size:1rem;}
    #wrap.event .main .contBox .imgArea {width:100%; margin-right:-20%;}

    #wrap.event .innovation {margin:-155px 0 0; padding:190px 0 90px; background:#fff; clip-path:polygon(0 90px, 100% 0, 100% 100%, 0% 100%);}
    #wrap.event .innovation .contBox .imgArea {width:50%;}
    #wrap.event .innovation .contBox .txtArea {width:50%;}
    #wrap.event .innovation .contBox .txtArea ul {margin:0 0 0 8px;}
    #wrap.event .innovation .contBox .txtArea ul li {font-size:1.14rem;}
    #wrap.event .innovation .contBox .txtArea ul li + li {margin:40% 0 0;}
    #wrap.event .innovation .contBox .txtArea ul li small {display:block; margin:0; font-size:0.86rem; word-break:keep-all;}

    #wrap.event .use_cases {margin:-180px 0 0; background:#fff; clip-path:polygon(0 90px, 100% 0, 100% 100%, 0% 100%);}
    #wrap.event .use_cases .contBox .tit {top:125px; left:0; width:100%; box-sizing:border-box; text-align:left; transform:none;}
    #wrap.event .use_cases .contBox .use_case_wrap ul {top:-90px;}
    #wrap.event .use_cases .contBox .use_case_wrap ul li {padding:125px 0 90px;}
    #wrap.event .use_cases .contBox .use_case_wrap ul li .slideCont {width:100%; margin:53px 0 0; box-sizing:border-box;}
    #wrap.event .use_cases .contBox .use_case_wrap ul li .slideCont > * {display:block;}
    #wrap.event .use_cases .contBox .use_case_wrap ul li .slideCont .txtBox {margin:24px 0 0; padding:0;}
    #wrap.event .use_cases .contBox .use_case_wrap ul li .slideCont .imgBox {width:100%;}

    #wrap.event .contact {margin:-225px 0 0; padding:190px 0; background:##3d3e57; clip-path:polygon(0 90px, 100% 0, 100% 100%, 0% 100%);}

    #lyr_video_player.lyrPlayBox {width:calc(100% - 40px);}
    #lyr_video_player .lyr_ct {width:100%;}

    #wrap.event .btn_go_contact br {display:none;}
}

@media screen and (max-width:480px){
    #wrap.event .btn_go_contact {right:0; bottom:0; width:100%; height:70px; font-size:1.25rem; border-radius:0;}
}
