@charset "utf-8";
/* MINDsLab. UX/UI Team NBR 20210205 */

/* -------------------- import -------------------- */
@import url('reset.css');
@import url('font.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

/* page loading */
#pageldg {display:block; position:fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; background-color:#fff; z-index:99999999; opacity:1.0;}
#pageldg:before {content:''; position:absolute; top:50%; left:50%; margin:0 0 0 -30px; border-radius:100%; background:radial-gradient(#e9edf3, #fff); opacity:0; width:60px; height:60px; -webkit-animation:pageldg_wave 1.7s 2.5s linear infinite; animation:pageldg_wave 1.7s 2.5s linear infinite; z-index:444;}
#pageldg span.out_bg {position:absolute; top:50%; width:180px; height:180px; margin:-90px 0 0 -90px; border-radius:300px; background:#fff; animation:out_bg 1s 0s ease-in-out both; z-index:555;}
#pageldg span em {overflow:hidden; position:absolute; top:50%; left:50%; width:200px; height:200px; margin:-100px 0 0 -100px; border-radius:300px; background:#fff; animation:em_opacity 3s 0.1s ease-in-out both;}
#pageldg span em strong:nth-child(1) {content:''; position:absolute; bottom:38%; left:12%; width:0%; height:30%; background:#00aebc; animation:st_move_01 1.5s 0.1s ease-in-out both;}
#pageldg span em strong:nth-child(2) {content:''; position:absolute; top:52%; left:28%; width:60%; height:18%; border-radius:0; background:#fff; animation:st_move_02 1.5s 1.2s ease-in-out both;}
#pageldg span em strong:nth-child(3) {content:''; position:absolute; bottom:48%; right:15%; width:20px; height:0%; background:#00aebc; animation:st_move_03 0.5s 2.0s ease-in-out both;}
#pageldg span em b {content:''; position:absolute; top:50%; left:50%; width:160px; height:160px; margin:-80px 0 0 -80px; background:url("../images/ico_pageldg_trans.svg") 50% 50% no-repeat; background-size:cover; z-index:999;}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}

/* page loading keyframes */
@-webkit-keyframes pageldg_wave {
    0%   {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
    5%   {opacity:1;}
    100% {-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
@keyframes pageldg_wave {
    0%   {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
    5%   {opacity:1;}
    100% {-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
@-webkit-keyframes out_bg {
    0%   {opacity:0; transform:scale(0);}
    80%  {opacity:0.3; transform:scale(1.2);}
    100% {opacity:1; transform:scale(1);}
}
@keyframes out_bg {
    0%   {opacity:0; transform:scale(0);}
    80%  {opacity:0.2; transform:scale(1.2);}
    100% {opacity:1; transform:scale(1);}
}
@-webkit-keyframes st_move_01 {
    0%   {width:0%;}
    100% {width:50%;}
}
@keyframes st_move_01 {
    0%   {width:0%;}
    100% {width:50%;}
}
@-webkit-keyframes st_move_02 {
    0%   {background:#fff;}
    0%   {background:#fff;}
    100% {background:#35384d;}
}
@keyframes st_move_02 {
    0%   {background:#fff;}
    100% {background:#35384d;}
}
@-webkit-keyframes st_move_03 {
    0%   {height:0%;}
    100% {height:6%;}
}
@keyframes st_move_03 {
    0%   {height:0%;}
    100% {height:6%;}
}
@-webkit-keyframes pageldg_hide {
    0%   {opacity:1;}
    100% {opacity:0;}
}
@keyframes pageldg_hide {
    0%   {opacity:1;}
    100% {opacity:0;}
}

/* -------------------- common -------------------- */
/* float */
.fl {float:left;}
.fr {float:right;}

/* button */
.btnBox a {display:inline-block; border:2px solid #fff; border-radius:10px; box-sizing:border-box; background:#8487f5; color:#fff; font-size:24px; font-weight:800;}
.btnBox a span {font-weight:800;}
.btnBox button {display:inline-block; border:2px solid #fff; border-radius:10px; box-sizing:border-box; background:#8487f5; color:#fff; font-size:24px; font-weight:800;}

/* radio */
.radioBox {display:inline-block; position:relative;}
.radioBox input {position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; border:0;}
.radioBox label {display:inline-block; position:relative; padding:0 0 0 30px; color:#7f87a5; font-size:20px; cursor:pointer;}
.radioBox label:before {content:''; display:inline-block; position:absolute; top:21px; left:0; width:20px; height:20px; border:1px solid #737b95; border-radius:50%; box-sizing:border-box; background:#fff;}
.radioBox input:checked + label:before {border:1px solid #8487f5;}
.radioBox input:checked + label:after {content:''; display:inline-block; position:absolute; top:26px; left:5px; width:10px; height:10px; border-radius:50%; background:#8487f5;}

/* select */
.select {height:35px; padding:0 30px 0 10px; border:1px solid #8487f5; border-radius:5px; background:#fff url('../images/arw_slt_down_p.png') right 10px center no-repeat; background-size:10px; font-size:13px; line-height:33px;}