@charset "utf-8";
/* MINDsLab. UX/UI Team NBR/YMJ 20210205 */

/* -------------------- event -------------------- */
#wrap.event {position:relative; width:100%; height:100%; min-width:1000px; min-height:750px;}
#wrap.event .stn {display:table; position:relative; width:100%; padding:7% 0; font-size:24px; box-sizing:border-box;}
#wrap.event .contBox {width:100%; height:100%; margin:0 auto; padding:0 20px; box-sizing:border-box; text-align:center;}

#wrap.event #contents {position:relative; display:block; width:100%; height:100%;}
/* swiper */
#wrap.event .swiper-pagination-bullet {width:18px; height:18px; border-radius:20px; background:#babfc8; opacity:1;}
#wrap.event .swiper-pagination-bullet-active {width:36px; background:#8487f5;}

/* 신청하기 버튼  */
#wrap.event .btn_go_contact {display:none; position:fixed; right:2%; bottom:2%; width:100px; height:100px; border:none; border-radius:50%; background:#3cc9da; background-size:30%;  text-align:center; z-index:10;}
#wrap.event .btn_go_contact span { display:inline-block; margin:0; color:#fff; font-size:1.25em; font-weight:700; line-height:18px; text-shadow:0 0 5px rgba(0,0,0,0.3);}

/* 이벤트 페이지 본문 */
#wrap.event .stn:not(.intro) {display:none;}

/* intro */
#wrap.event .intro {position:absolute; top:0; left:0; height:100%; padding:0; background:url('../images/bg_stn_intro.png') 50% 50% no-repeat; background-size:cover; background-position-y:-126px; z-index:20;}
#wrap.event .intro .contBox img.msg_lead {position:absolute; top:7%; left:50%; width:620px; transform:translate(-50%,0);}
#wrap.event .intro .contBox p.msg_key {position:absolute; top:27%; left:50%; width:100%; margin:78px 0 16px; text-align:center; transform:translate(-50%,0);}
#wrap.event .intro .contBox p.msg_key span {display:block; font-size:1.75em; line-height:1.2em;}
#wrap.event .intro .contBox p.msg_key strong {display:block; font-size:3em; font-weight:700; letter-spacing:-1px;}
#wrap.event .intro .contBox .svc_start {position:absolute; bottom:0; left:0; width:100%; min-width:1280px; padding:35px 0; box-sizing:border-box; background:rgba(51, 55, 206, 0.6); backdrop-filter:blur(12px); -webkit-backdrop-filter:blur(12px);}
#wrap.event .intro .contBox .svc_start p {color:#fff; font-size:1em; line-height:1.2;}
#wrap.event .intro .contBox .svc_start p strong {display:inline-block; margin:0 0 0 10px; color:#fff; font-weight:700;}

#wrap.event .intro .contBox .svc_start span {display:block; margin:3px 0 0 0; color:#fff; font-size:1.5em; font-weight:800;}
#wrap.event .intro .contBox .svc_start .btnBox {margin:20px 0 0;}
#wrap.event .intro .contBox .svc_start .btnBox a {width:120px; height:50px; margin:0 3px; font-size:20px; line-height:48px;}
#wrap.event .intro .contBox .svc_start .btnBox a:nth-child(1) {background:#fff; color:#8487f5;}

/* main */
#wrap.event .main {min-height:750px; background:url('../images/bg_stn_main.png') 50% 50% no-repeat; background-size:cover;}
#wrap.event .main .contBox img {display:inline-block; height:60px;}
#wrap.event .main .contBox img:nth-of-type(2) {height:35px;}
#wrap.event .main .contBox h1 {font-size:2.5em; font-weight:900; line-height:1.1;}
#wrap.event .main .contBox p {font-size:1.25em;}
#wrap.event .main .contBox p:nth-of-type(1) {margin:100px 0 0;}
#wrap.event .main .contBox p:nth-of-type(2) {margin:70px 0 0;}
#wrap.event .main .contBox strong {display:inline-block; margin:14px 0 0; font-size:1.3em; font-weight:900;}
#wrap.event .main .contBox .btnBox {margin:152px 0 0;}
#wrap.event .main .contBox .btnBox a {height:80px; padding:0 40px; font-weight:400; line-height:76px;}

/* innovation */
#wrap.event .innovation {background:url('../images/bg_stn_innovation.png') 50% bottom no-repeat; background-size:auto 80%;}
#wrap.event .innovation .contBox > p {font-size:1.75em; letter-spacing:-0.5px; line-height:1.2;}
#wrap.event .innovation .contBox > p strong {font-weight:900;}
#wrap.event .innovation .contBox .invt_card {display:inline-block; margin:60px 0 0;}
#wrap.event .innovation .contBox .invt_card li {display:inline-block; width:200px; height:200px; margin:0 26px; border:5px solid #8487f5; border-radius:50%;}
#wrap.event .innovation .contBox .invt_card:nth-of-type(1) li:nth-child(1) {background:#fff url('../images/ico_invt01.svg') 50% 25px no-repeat; background-size:auto 78px;}
#wrap.event .innovation .contBox .invt_card:nth-of-type(1) li:nth-child(2) {background:#fff url('../images/ico_invt02.svg') 50% 25px no-repeat; background-size:auto 78px;}
#wrap.event .innovation .contBox .invt_card:nth-of-type(2) li:nth-child(1) {background:#fff url('../images/ico_invt03.svg') 50% 25px no-repeat; background-size:auto 78px;}
#wrap.event .innovation .contBox .invt_card:nth-of-type(2) li:nth-child(2) {background:#fff url('../images/ico_invt04.svg') 50% 25px no-repeat; background-size:auto 78px;}
#wrap.event .innovation .contBox .invt_card li span {display:inline-block; padding:112px 0 0; font-size:0.9em; line-height:1.2;}
#wrap.event .innovation .contBox .invt_card li span strong {font-weight:900;}

/* review */
#wrap.event .review {background:#eff3f7;}
#wrap.event .review .contBox > p {font-size:1.75em; letter-spacing:-0.5px; line-height:1.2;}
#wrap.event .review .contBox > p strong {font-weight:900;}
#wrap.event .review .contBox .rvw_box {position:relative; max-width:1170px; width:100%; padding:60px 15px; box-sizing:border-box;}
#wrap.event .review .contBox .rvw_card li {overflow:hidden; position:relative; height:345px; padding:35px 20px 20px; border-radius:10px; box-shadow:5px 5px 10px 0 rgba(0, 0, 0, 0.1); box-sizing:border-box; background:#fff;}
#wrap.event .review .contBox .rvw_card li .imgBox {position:absolute; bottom:0; left:14px; opacity:0.6;}
#wrap.event .review .contBox .rvw_card li .tit {margin:0 0 15px; color:#2c2c2c; font-size:17px; font-weight:500; text-align:left;  word-break:keep-all;}
#wrap.event .review .contBox .rvw_card li .txt {position:relative; color:#2c2c2c; font-size:15px; letter-spacing:0; text-align:left; word-break:keep-all;}
#wrap.event .review .contBox .rvw_card li .txt img {float:left;}
#wrap.event .review .contBox .rvw_card li .name {display:inline-block; position:absolute; right:30px; bottom:38px; font-size:18px; font-weight:700;}
#wrap.event .review .contBox .rvw_card li .job {display:inline-block; position:absolute; right:30px; bottom:20px; font-size:13px;}
#wrap.event .review .contBox .rvw_card li.purple {background:#fff url('../images/img_quote_p.svg') 20px 20px no-repeat;}
#wrap.event .review .contBox .rvw_card li.purple .name {color:#8487f5;}
#wrap.event .review .contBox .rvw_card li.green {background:#fff url('../images/img_quote_g.svg') 20px 20px no-repeat;}
#wrap.event .review .contBox .rvw_card li.green .name {color:#3cc9da;}
#wrap.event .review .contBox .rvw_card li.video {background:#8487f5db url('../images/img_quote_pa.svg') 20px 20px no-repeat;}
#wrap.event .review .contBox .rvw_card li.video .btn_video_play {position:absolute; top:50%; left:50%; width:106px; height:106px; border-radius:50%; box-shadow:0 10px 30px 0 rgba(0, 0, 0, 0.24); background:rgba(255, 255, 255, 0.7); transform:translate(-50%, -50%);}
#wrap.event .review .contBox .rvw_card li.video .btn_video_play::before {content:'\f04b'; display:inline-block; font-family:'Font Awesome 5 Free'; color:#8487f5; font-size:34px; font-weight:900; padding:0 0 0 8px;}
#wrap.event .review .contBox .rvw_card li.video .btn_video_play span {display:inline-block; overflow:hidden; margin:-2px; text-indent:-9999px;}
#wrap.event .review .contBox .rvw_card li.video .tit {color:#fff;}
#wrap.event .review .contBox .rvw_card li.video .txt {color:#fff;}
#wrap.event .review .contBox .rvw_card li.video .name {color:#fff;}

/* eventBanner */
#wrap.event .eventBanner {padding:7% 0 0; background:url('../images/bg_stn_event.png') 50% 50% no-repeat; background-size:cover;}
#wrap.event .eventBanner .contBox {}
#wrap.event .eventBanner .contBox > p {font-size:1.75em; letter-spacing:-0.5px; line-height:1.2;}
#wrap.event .eventBanner .contBox > p strong {font-weight:900;}
#wrap.event .eventBanner .contBox .txt_hglt {display:inline-block; margin:10px 0; padding:15px 20px 0 20px; background:#161a29; line-height:2;}
#wrap.event .eventBanner .contBox .txt_hglt span {display:inline-block; color:#fff; font-size:2.0em; font-weight:900; line-height:0.9; vertical-align:bottom;}
#wrap.event .eventBanner .contBox > p:nth-of-type(2) {margin:10px 0 0; font-size:1.25em; line-height:1.2;}

/* contact */
#wrap.event .contact {background:#394058;}
#wrap.event .contact .contBox > p {color:#fff; font-size:1.65em; letter-spacing:-0.5px; line-height:1.2;}
#wrap.event .contact .contBox > p strong {font-weight:900;}
#wrap.event .contact .contBox .formBox {width:100%; max-width:825px; margin:54px auto 65px; padding:53px 80px 36px; border-radius:30px; box-sizing:border-box; background:#fff;}
#wrap.event .contact .contBox .formBox li {margin:0 0 20px; line-height:60px; text-align:left;}
#wrap.event .contact .contBox .formBox li span {display:inline-block; width:100px; margin:0 40px 0 0; font-size:20px; font-weight:700; vertical-align:middle;}
#wrap.event .contact .contBox .formBox li > input {width:calc(100% - 145px); height:60px; padding:0 20px; border-radius:10px; box-sizing:border-box; background:#e2e2ef; font-size:20px; line-height:1; vertical-align:middle;}
#wrap.event .contact .contBox .formBox li > input::placeholder {color:#7f87a5; font-size:20px;}
#wrap.event .contact .contBox .formBox li .radioBox {margin:0 70px 0 0; vertical-align:middle;}
#wrap.event .contact .contBox .formBox li .radioBox label {vertical-align:middle;}
#wrap.event .contact .contBox img {height:50px;}
#wrap.event .contact .contBox .btnBox {display:block; margin:30px 0 0; text-align:right;}
#wrap.event .contact .contBox .btnBox button {width:calc(100% - 140px); height:70px;}
#wrap.event .contact .contBox > span {display:block; margin:0 0 35px; color:#fff; font-size:1em; font-weight:700;}

/* -------------------- media query -------------------- */
@media screen and (max-width:768px){
    #wrap.event {min-width:auto; min-height:auto;}
    #wrap.event .stn.intro  {height:100%; min-height:320px;}
    #wrap.event .intro .contBox img.msg_lead {top:7%; width:90%;}
    #wrap.event .intro .contBox p.msg_key {margin:30px 0 16px;}
    #wrap.event .intro .contBox .svc_start {min-width:100%;}
    #wrap.event .intro .contBox p.msg_key span {font-size:2.5em;}
    #wrap.event .intro .contBox p.msg_key strong {font-size:4.5em;}
    #wrap.event .main {min-height:auto;}
    
    #wrap.event .review .contBox .rvw_box {max-width:768px;}
    #wrap.event .stn {height:auto; padding:50px 0;}
    
    #wrap.event .radioBox input:checked + label:after {top:15px;}

    #wrap.event .go_contact .btn_goContact_w {display:none !important;}
    #wrap.event .go_contact .btn_goContact_m {display:block;}

    #wrap.event .contBox {width:100%; margin:0;}

    #wrap.event .intro {padding:30px 0;}
    #wrap.event .intro .contBox img {width:85%;}
    #wrap.event .intro .contBox > p {margin:58px 0 16px; font-size:16px; line-height:1.4;}
    #wrap.event .intro .contBox h1 {font-size:30px;}
    #wrap.event .intro .contBox .svc_start {min-width:100%; padding:30px 20px;}
    #wrap.event .intro .contBox .svc_start .btnBox a {width:20%; height:60px; font-size:20px; line-height:58px;}

    #wrap.event .main .contBox p:nth-of-type(1) {margin:80px 0 0;}
    #wrap.event .main .contBox p:nth-of-type(2) {margin:0;} 
    #wrap.event .main .contBox strong {margin:20px 0 50px 0;}
    
    #wrap.event .contBox > p br {display: block;}

    #wrap.event .innovation .contBox .invt_card {display:block; margin:20px 0 0;}
    #wrap.event .innovation .contBox .invt_card li {width:180px; height:180px; margin:10px;}
    #wrap.event .innovation .contBox .invt_card li span {font-size:18px;}

    #wrap.event .review .contBox .rvw_box {height:430px; padding:30px 15px;}
    #wrap.event .eventBanner {padding: 50px 0 0 0;}
    #wrap.event .eventBanner img {width:90%;}
    
    #wrap.event .contact .contBox .formBox {width:100%; max-width:auto !important; margin:25px 0; padding:20px;}
    #wrap.event .contact .contBox .formBox li {margin:0 0 10px; line-height:40px;}
    #wrap.event .contact .contBox .formBox li span {width:100%; margin:0; }
    #wrap.event .contact .contBox .formBox li > input {width:100%; height:60px;}
    #wrap.event .contact .contBox .formBox li .radioBox label:before {top:10px;}
    #wrap.event .contact .contBox .btnBox button {width: 100%;}
    
}

@media screen and (max-width:480px){
    #wrap.event .stn {font-size:16px; }
    #wrap.event .intro .contBox p.msg_key {top:25%;}
    #wrap.event .intro .contBox p.msg_key span {font-size:1.35em; line-height:1.5;}
    #wrap.event .intro .contBox p.msg_key strong {font-size:2.5em;}
    #wrap.event .intro .contBox .svc_start p {font-size:1.25em;}
    #wrap.event .intro .contBox .svc_start .btnBox a {width:40%; height:50px; line-height:48px;}
    #wrap.event .main .contBox p {font-size:1em; letter-spacing: -0.9px;}
    #wrap.event .eventBanner .contBox > p {font-size:1.65em;}
    #wrap.event .eventBanner .contBox .txt_hglt {padding:5px 10px 0 10px;}
    #wrap.event .eventBanner .contBox .txt_hglt span {font-size:1.5em; letter-spacing:-1px;}
    #wrap.event .innovation .contBox .invt_card {display:block; clear:both; overflow:hidden; width:100%; text-align:center;}
    #wrap.event .innovation .contBox .invt_card li {float:left; width:calc(50% - 5px); height:170px; margin:0 5px 0 0; padding:0 5px; border:2px solid #8487f5; border-radius:20px; vertical-align: top; box-sizing:border-box;}
    #wrap.event .innovation .contBox .invt_card li:nth-child(even) { margin:0 0 0 5px;}
    #wrap.event .innovation .contBox .invt_card li span {padding: 100px 0 0;}
    #wrap.event .contact .contBox .formBox {padding: 30px 20px;}
    
    #wrap.event .eventBanner .contBox > p:nth-of-type(2) { font-size:1em;}

    #wrap.event .intro {height:100%;}
    #wrap.event .intro .contBox .svc_start p br {display:inline-block;}
    #wrap.event .intro .contBox .svc_start .btnBox {margin:15px 0 0;}

    #wrap.event .main .contBox img:nth-of-type(2) {width:60%; height:auto;}
    #wrap.event .innovation .contBox .invt_card:nth-of-type(1) li:nth-child(1) {background-position:50% 20px; background-size:auto 60px;}
    #wrap.event .innovation .contBox .invt_card:nth-of-type(1) li:nth-child(2){background-position:50% 20px; background-size:auto 60px;}
    #wrap.event .innovation .contBox .invt_card:nth-of-type(2) li:nth-child(1) {background-position:50% 20px; background-size:auto 60px;}
    #wrap.event .innovation .contBox .invt_card:nth-of-type(2) li:nth-child(2) {background-position:50% 20px; background-size:auto 60px;}

    #wrap.event .eventBanner .contBox .txt_hglt {line-height:1.8;}
    
    #wrap.event .contact .contBox .formBox {width:100%;}
    
    #wrap.event .btn_go_contact {right:0; bottom:0; width: 100%; height:70px; font-size:1.25em; border-radius:0;}
    #wrap.event .btn_go_contact br { display:none;}
    
    #wrap.event .contact .contBox .formBox li span {font-size:1em;}
    #wrap.event .contact .contBox .formBox li > input {height:56px;}
    #wrap.event .contact .contBox .formBox li > input::placeholder  {font-size:0.9em;}
    #wrap.event .contact .contBox .formBox li .radioBox label {font-size:1.2em;}
    
    #wrap.event .main {background: url(../images/bg_stn_main.png) right bottom no-repeat; background-size:cover;}
    #wrap.event .main .contBox strong {margin:10px 0 50px 0; font-size:1.2em; font-weight:700; letter-spacing: -1px;}
    
    #wrap.event .intro .contBox .svc_start span {margin:10px 0 0 0; font-size: 1.65em;}
    #wrap.event .contact .contBox .btnBox button {height: 60px;}
    
}