@charset "utf-8";
/* MINDsLab UX/UI팀. YMJ. 20200910 */

.maumUI #header {background:#1f2e3b; transition:all 0.3s ease-out;}
.maumUI #header .maum_sta {height:40px; transition:all 0.3s ease-out;}
.maumUI #header .maum_sta h1 {width:50px; margin:2px 0 0 30px; background:url("../images/logo_maumAi_w.svg") 50% 50% no-repeat; background-size:100% auto;}
.maumUI #header .maum_sta .maum_gnb {margin:0 0 0 40px;}
.maumUI #header .maum_sta .maum_gnb .nav li {margin:0 20px 0 0;}
.maumUI #header .maum_sta .maum_gnb .nav li a {height:40px; color:#fff; font-size:12px; font-weight:500; line-height:38px;}
.maumUI #header .maum_sta .maum_gnb .nav li:first-child {display:none;}

.maumUI #header .maum_sta .maum_etc {margin:5px 30px 0 0;}
.maumUI #header .maum_sta .maum_etc .nav>li {margin:0 0 0 10px;}
.maumUI #header .maum_sta .maum_etc .nav>li>a {height:30px; color:#fff; font-size:12px;}
.maumUI #header .maum_sta .maum_etc .nav>li>a.btn_ico {width:30px; background-size:16px 16px !important;}
.maumUI #header .maum_sta .maum_etc .nav>li.active>a.btn_ico {background-color:rgba(255,255,255,0.1) !important;}
.maumUI #header .maum_sta .maum_etc .nav>li>a.btn_ico.user {background:url("../images/ico_user_w.svg") 50% 50% no-repeat;}
.maumUI #header .maum_sta .maum_etc .nav>li>a.btn_ico.lang {background:url("../images/ico_lang_w.svg") 50% 50% no-repeat;}
.maumUI #header .maum_sta .maum_etc .nav>li>a.btn_ico.app {background:url("../images/ico_app_w.svg") 50% 50% no-repeat;}
.maumUI #header .maum_sta .maum_etc .nav>li>a.btn_ico.mindsLab {background:url("../images/ico_mindsLab_w.svg") 50% 50% no-repeat}

/* header-lnb */
.maumUI .lnb {display:block; clear:both; overflow:hidden; width:100%; min-height:56px; padding:10px 25px; text-align:center; border-bottom:1px solid #ebedf5; background:#fff; box-sizing:border-box; transition:all 0.3s ease-out;}
.maumUI .lnb h2 {float:left; height:33px; color:#2c3f51; font-size:18px; font-weight:700; line-height:31px;}
.maumUI .lnb ul.nav {float:right; margin:0 0 0 40px;}
.maumUI .lnb ul.nav li {display:inline-block; margin:0 0 0 10px;}
.maumUI .lnb ul.nav li a {display:block; height:23px; color:#1e286d; font-size:13px; font-weight:500; line-height:21px; transition:all 0.3s ease-out;}
.maumUI .lnb ul.nav li a:hover {color:#506df5; transition:all 0.3s ease-out;}
.maumUI .lnb ul.nav li a.btn_rou_pstive {padding:5px 15px; color:#fff; border-radius:30px; background:#506df5; transition:all 0.3s ease-out;}

/* container */
.maumUI #container {display:table; width:100%; height:calc(100% - 97px); background:#f7f8fc; transition:all 0.3s ease-out;}

/* container-snb */
.maumUI #container .snb {display:table-cell; width:250px; padding:30px 15px; vertical-align:top; border-right:1px solid #ebedf5; box-sizing:border-box; background:#fff;}
.maumUI #container .snb span.tit {display:block; margin:0 0 12px 0; padding:0 10px; color:#5c688c;}
.maumUI #container .snb ul.nav {display:block;}
.maumUI #container .snb ul.nav li {display:block; margin:0 0 7px 0; font-size:11px;}
.maumUI #container .snb ul.nav li a {display:block; min-height:32px; padding:10px; color:#2c3f51; font-size:13px; border-radius:4px; box-sizing:border-box; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a:hover {background:#eff2fb; transition:all 0.3s ease-out;}
.maumUI #container .snb ul.nav li a.active {background:#eff2fb;}
.maumUI #container .snb ul.nav li a span {displat:inline-block; margin:0 5px 0 0;}

/* container-contents */
.maumUI #container .contents {display:table-cell; padding:30px 20px; vertical-align:top;}

.maumUI #container .contents .titArea {display:block; margin:0 0 10px 20px;}
.maumUI #container .contents .titArea h3 {display:block; margin:0 0 10px 0; color:#2c3f51; font-size:24px; font-weight:700; letter-spacing:-1px;}
.maumUI #container .contents .titArea p {display:block; color:#5c688c; font-size:13px;}

.maumUI #container .contents ul.lst_engine {display:block; clear:both; overflow:hidden; padding:20px;}
.maumUI #container .contents ul.lst_engine li {floast:left; width:250px; min-width:200px; margin:0 15px 0 0;}
.maumUI #container .contents ul.lst_engine li a {display:block; overflow:hidden; position:relative; border-radius:7px; background:#fff; box-shadow:0 0 5px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.maumUI #container .contents ul.lst_engine li a span {display:block;}
.maumUI #container .contents ul.lst_engine li a em.category {position:absolute; top:15px; left:15px; padding:3px 15px; color:#000; border-radius:20px; background:#fff; transition:all 0.3s ease-out;}
.maumUI #container .contents ul.lst_engine li a span.thumb {display:block;}
.maumUI #container .contents ul.lst_engine li a span.thumb img {width:100%;}
.maumUI #container .contents ul.lst_engine li a span.tit {padding:15px 15px 0 15px; color:#1e286d; font-size:15px; font-weight:700;}
.maumUI #container .contents ul.lst_engine li a span.txt {padding:10px 15px 20px 15px; color:#5c688c; font-size:15px;}
.maumUI #container .contents ul.lst_engine li a:before {content:''; position:absolute; top:10%; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); opacity:0; transition:all 0.3s ease-out;}
.maumUI #container .contents ul.lst_engine li a:after {content:'프로젝트 생성하기'; position:absolute; top:50%; left:50%; width:140px; padding:10px 0; color:#000; font-size:13px; text-align:center; background:#fff; border-radius:20px; transform:translate(-50%,-50%); opacity:0; transition:all 0.3s ease-out;} 

.maumUI #container .contents ul.lst_engine li a:hover {box-shadow:0 0 20px rgba(30,40,109,0.6); transition:all 0.3s ease-out;}
.maumUI #container .contents ul.lst_engine li a:hover em.category {opacity:0.3; transition:all 0.3s ease-out}
.maumUI #container .contents ul.lst_engine li a:hover:before {top:0%; opacity:1.0; transition:all 0.3s ease-out;}
.maumUI #container .contents ul.lst_engine li a:hover:after {top:40%; opacity:1.0; transition:all 0.3s ease-out;}

.maumUI #container .contents ul.lst_engine li.stt a em.category {background:#9485ff;}
.maumUI #container .contents ul.lst_engine li.stt a:after {background:#9485ff;}


/* -------------------- Scroll Transform -------------------- */
.maumUI.transform #header .lnb {animation:lnbMove 0s 0s ease-in-out both;}
.maumUI.transform #container {padding:56px 0 0 0;}
@-webkit-keyframes lnbMove {
0%   {position:relative; top:0;}
100% {position:fixed; top:0;}
}