@charset "utf-8";
/* nanum square round */ 
@font-face {
font-family:'NanumSquareRound';	
font-style:normal;
font-weight:300;
src:url(../font/NanumSquareRoundL.otf) format('opentype');
src:url(../font/NanumSquareRoundL.woff) format('woff'),
url(../font/NanumSquareRoundL.woff2) format('woff2');
}
@font-face {
font-family:'NanumSquareRound';	
font-style:normal;
font-weight:400;
src:url(../font/NanumSquareRoundR.otf) format('opentype');
src:url(../font/NanumSquareRoundR.woff) format('woff'),
url(../font/NanumSquareRoundR.woff2) format('woff2');
}
@font-face {
font-family:'NanumSquareRound';	
font-style:normal;
font-weight:700;
src:url(../font/NanumSquareRoundB.otf) format('opentype');
src:url(../font/NanumSquareRoundB.woff) format('woff'),
url(../font/NanumSquareRoundB.woff2) format('woff2');
}
@font-face {
font-family:'NanumSquareRound';	
font-style:normal;
font-weight:800;
src:url(../font/NanumSquareRoundEB.otf) format('opentype');
src:url(../font/NanumSquareRoundEB.woff) format('woff'),
url(../font/NanumSquareRoundEB.woff2) format('woff2');
}