@charset "UTF-8";
/* 200730 UX/UI Team NBR */

/* option button */
.btn_option {display: inline-block; position: relative;}
.btn_option input[type="checkbox"] {position: absolute; overflow: hidden; width: 1px; height: 1px; padding: 0; margin: -1px; clip: rect(0,0,0,0); border: 0;}
.btn_option input[type="checkbox"] + label {display: inline-block; position: relative; padding: 0 55px 0 0; font-size: 14px; font-weight: 700; line-height: 48px; cursor: pointer;}
.btn_option input[type="checkbox"] + label:before {content: ''; position: absolute; top: 12px; right: 0; width: 48px; height: 24px; border-radius: 12px; background: #e3e8eb;}
.btn_option input[type="checkbox"] + label:after {content: 'OFF'; position: absolute; top: 12px; right: 24px; width: 24px; height: 24px; border-radius: 50%; box-shadow: 0px 3px 3px 0px rgba(169, 176, 187, 0.2); background: #fff; color: #a9b0bb; font-size: 10px; font-weight: 800; line-height: 24px; transition: all 0.2s ease-out;}
.btn_option input[type="checkbox"]:checked + label:before {background-color: #e60262;}
.btn_option input[type="checkbox"]:checked + label:after {content: 'ON'; right: -1px; color: #e60262;}

/* ---------- schedule setting page ---------- */
.page_title {border-bottom: 1px solid #f4f6f8; font-size: 14px; font-weight: 800; line-height: 47px; text-align: center;}
.set_area {width: 100%;}
.set_board > div {width: 100%; padding: 0 22px;}

/* set_btn_box */
.set_btn_box {position: relative; width: 100%; height: 48px;}
.set_btn_box:before {content: ''; display: block; position: absolute; top: 50%; left: 50%; width: 1px; height: 12px; background: #e3e8eb; transform: translate(-50%, -50%);}
.set_btn_box li {float: left; width: 50%; padding:}
.set_btn_box li a {display: block; color: #a8b0bc; font-size: 12px; font-weight: 700; text-align: center; line-height: 48px;}
.set_btn_box li.on a {color: #e60262;}

/* cont_slt_time */
.option_group {height: 48px; margin: 12px 0; text-align: center;}
.option_group .btn_option {float: left; position: relative; width: 50%; height: 100%;}
.lst_gruop {overflow: hidden; width: 100%; text-align: center;}
.week_lst {width: 100%; height: 44px; padding: 4px 0;}
.week_lst li {display: inline-block; width: calc((100% - 18px) / 7);}
.week_lst li a {display: inline-block; width: 36px; border-radius: 50px; font-weight: 700; line-height: 36px;}
.week_lst li.on a {background: #e60262; color: #fff;}

.time_lst {overflow: hidden; width: 100%; padding: 10px 0;}
.time_lst li {float: left; width: calc((100% - 24px) / 6); margin: 2px; border: 1px solid #dee5e8; border-radius: 4px; text-align: center;}
.time_lst li.on {border-color: #f80055; transition: border 0.3s ease-out;}
.time_lst li a {display: inline-block; position: relative; width: 100%; height: 100%;}
.time_lst li a span {position: absolute; top: 50%; left: 50%; font-size: 12px; font-weight: 700; line-height: 14px; transform: translate(-50%, -50%); vertical-align: middle;}
.time_lst li a small {display: block; color: #a8b0bc; font-size: 10px;}

.btm_box {width: 100%; padding: 24px 0;}
.btm_box button {width: 100%; height: 36px; border: 1px solid #e60262; border-radius: 4px; color: #e60262; font-size: 14px; font-weight: 700;}
.btm_box button span {color: #e60262; font-size: 14px; font-weight: 700;}
.btm_box button.on {background-color: #e60262; color: #fff;}

/* fullcalendar */
.calendar_box {margin: 24px 0 12px;}
.fc-toolbar-title {display: none;}
.fc-toolbar-chunk strong {margin: 0 6px 0 14px; color: #e60462; font-size: 24px; font-weight: 800;}
.fc-toolbar-chunk span {color: #e60462; font-size: 14px !important; font-weight: 700;}
.fc-button {width: 24px; height: 24px; border: 1px solid #e3e8eb !important; border-radius: 4px !important; background: #fff !important;}
.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {box-shadow: none !important;}
.fc-today-button {display: none !important;}
.fc-prev-button {margin: 0 12px 0 0 !important; background: #fff url('../images/ico_arw_left_b.svg')50% 50% no-repeat !important;}
.fc-next-button {margin: 0 14px 0 0 !important; background: #fff url('../images/ico_arw_right_b.svg')50% 50% no-repeat !important;}
.fc .fc-button .fc-icon {display: none;}
.fc-daygrid a {font-weight: 700;}
.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {border: none !important; box-sizing: border-box;}
.fc-scroller {overflow: visible !important;}
.fc .fc-scrollgrid table {width: 100% !important;}
.fc-daygrid-body {width: 100% !important;}
.fc .fc-col-header-cell-cushion {font-size: 12px; font-weight: 700;}
.fc .fc-daygrid-day-top {position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%);}
.fc .fc-daygrid-day.fc-day-today {background-color: transparent;}
.fc-day-sun a {color: #f44336;}
.fc-day-sat a {color: #3f51b5;}
.fc .fc-daygrid-day-number {width: 100%; text-align: center;}
.fc-day {padding: 4px !important;}
.fc-day > div {position: relative; height: 100%;}
.fc-day > div > a {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.fc-day.on .fc-daygrid-day-frame {border-radius: 50%; background: #e60462; color: #fff !important;}
.fc-day.on .fc-daygrid-day-number {color: #fff;}
.fc-col-header-cell a {cursor: default;}
.fc .fc-day-past .fc-daygrid-day-top {opacity: 0.3}

/* datepicker */
/* .datepicker {padding: 24px 0 12px;}
.datepicker-inline {width: 100%;}
.datepicker table {width: 100%;}
.dow {font-size: 12px; font-weight: 500;}
tbody td {font-size: 14px; font-weight: 700;}
tbody td.day:first-child {color: #f44336;}
tbody td.day:last-child {color: #3f51b5;}
.datepicker td, .datepicker th {width: auto; height: auto;}
.datepicker table tr td.active.active {} */

/* ---------- media query ---------- */
@media all and (max-width: 350px) {
    .btn_option input[type="checkbox"] + label {position: absolute; top: 50%; left: 50%; line-height: 16px; word-break: keep-all; transform: translate(-50%, -50%);}
    .btn_option input[type="checkbox"] + label:before,
    .btn_option input[type="checkbox"] + label:after {top: 3px;}
}
