@charset "UTF-8";
/* 200820 MINDsLab UIUX Team NBR - notice & use information page */

/* common */
.lst_box {padding: 0 22px 50px;}
.lst_box > ul {width: 100%;}

/* notice */
.ctgy_slt {display: inline-block; float: right; margin: 25px 0 13px; padding: 6px 11px; border: 1px solid #c9d0d8; border-radius: 12px; background: #f4f6f8; color: #616c78; font-size: 12px; font-weight: 800;}
.notice_lst {border-top: 1px solid #616c78; clear: both;}
.notice_lst > li {height: 85px; border-bottom: 1px solid #e5eaec;}
.notice_lst > li a {display: inline-block; width: 100%; height: 100%; padding: 16px 0;}
.post_info {margin: 0 0 12px; line-height: 13px;}
.post_info li {display: inline-block; padding: 0 8px; color: #a8b0bc; font-size: 12px;}
.post_info li:first-child {padding: 0 8px 0 0;}
.post_info li + li {border-left: 1px solid #e5eaec;}
.post_info li.writer {color: #616c78; font-weight: 800;}
.post_info li span {color: #616c78; font-size: 12px;}
.post_title {display: -webkit-box; overflow: hidden; width: calc(100% - 12px); font-size: 12px; line-height: 14px; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; word-break: break-all; -ms-word-break: break-all; -ms-word-wrap: break-word;}
.post_title span {font-size: 12px; font-weight: 800; line-height: 14px;}
.post_title img {display: inline-block; margin: 0 0 0 4px; vertical-align: middle;}
.notice_lst .ellipsis_tail {bottom: 4px;}
.notice_lst > li.new {background: url('../images/ico_arw_right_b.svg')100% 50% no-repeat;}
.notice_lst > li.new .post_title {width: calc(100% - 43px) !important;}

/* notice view */
.post_box .title_box {padding: 16px 22px; background: #f4f6f8;}
.post_box .title_box .post_title {margin: 0 0 12px;}
.post_box .title_box .post_info {margin: 0;}
.post_box .content_box {padding: 24px 22px; text-align: center;}
.post_box .content_box .txt_area {color: #616c78; font-size: 12px; line-height: 16px; text-align: left; word-break: keep-all;}
.post_box .content_box img {display: inline-block; margin: 12px 0 0; max-width: 100%;}
.post_box .btm_box {margin: 0 22px; padding: 16px 0 24px; border-top: 1px solid #e5eaec; text-align: center;}
.post_box .btm_box a {display: inline-block; width: 48px; border: 1px solid #c9d0d8; border-radius: 4px; background: #f4f6f8; color: #616c78; font-size: 12px; font-weight: 800; line-height: 22px;}
.post_box .btm_box a:first-child {float: left;}
.post_box .btm_box a:last-child {float: right;}

/* use information */
.use_info_lst li {position: relative; width: 100%; border-bottom: 1px solid #F4F6F8;}
.use_info_lst li .info_title {position: relative; height: 60px; background: url('../images/ico_arw_btm_g.svg')100% 12px no-repeat; cursor: pointer;}
.use_info_lst li .info_title.on {height: auto; min-height: 60px; box-sizing: content-box; background: url('../images/ico_arw_top_g.svg')100% 12px no-repeat;}
.use_info_lst li .info_title span {display: -webkit-box; position: absolute; top: 50%; left: 0; overflow: hidden; width: calc(100% - 48px); font-size: 12px; font-weight: 800; line-height: 14px; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; word-break: break-all; -ms-word-break: break-all; -ms-word-wrap: break-word; vertical-align: middle; transform: translate(0, -50%);}
.use_info_lst li .info_title.on span {display: inline-block;}
.use_info_lst li .info_detail {display: none;}
.use_info_lst li .info_detail {padding: 16px; color: #616c78; font-size: 12px; line-height: 16px; word-break: keep-all;}

@media all and (max-width: 350px) {
    .notice_lst > li {height: 102px;}
    .post_info li.writer {display: block; margin: 0 0 4px;}
    .post_info li.post_time {border: none; padding: 0 8px 0 0;}
}
