<<<<<<< HEAD
@charset "UTF-8";
/* 200820 MINDsLab UIUX Team NBR - notice & use information page */

/* common */
.lst_box {padding: 0 22px 50px;}
.lst_box > ul {width: 100%;}

/* notice */
.ctgy_slt {display: inline-block; float: right; margin: 25px 0 13px; padding: 0 11px; border: 1px solid #c9d0d8; border-radius: 12px; background: #f4f6f8; color: #616c78; font-size: 12px; font-weight: 800; line-height: 22px; text-align: center; text-align-last: center;}
.notice_lst {border-top: 1px solid #616c78; clear: both;}
.notice_lst > li {height: 85px; border-bottom: 1px solid #e5eaec;}
.notice_lst > li a {display: inline-block; width: 100%; height: 100%; padding: 16px 0;}
.post_info {margin: 0 0 12px; line-height: 13px;}
.post_info li {display: inline-block; padding: 0 8px; color: #a8b0bc; font-size: 12px;}
.post_info li:first-child {padding: 0 8px 0 0;}
.post_info li + li {border-left: 1px solid #e5eaec;}
.post_info li.writer {color: #616c78; font-weight: 800;}
.post_info li span {color: #616c78; font-size: 12px;}
.post_title {display: -webkit-box; overflow: hidden; width: calc(100% - 12px); font-size: 12px; line-height: 16px; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; word-break: break-all; -ms-word-break: break-all; -ms-word-wrap: break-word;}
.post_title span {font-size: 12px; font-weight: 800; line-height: 14px;}
.post_title img {display: inline-block; width: 10px; margin: -1px 0 0 3px; vertical-align: middle;}
.notice_lst .ellipsis_tail {bottom: 4px;}
.notice_lst > li.new {background: url('../images/ico_arw_right_b.svg')100% 50% no-repeat;}
.notice_lst > li.new .post_title {width: calc(100% - 43px) !important;}

/* notice view */
.post_box .title_box {padding: 16px 22px; background: #f4f6f8;}
.post_box .title_box .post_title {margin: 0 0 12px;}
.post_box .title_box .post_info {margin: 0;}
.post_box .content_box {padding: 24px 22px; text-align: center;}
.post_box .content_box .txt_area {color: #616c78; font-size: 12px; line-height: 16px; text-align: left; word-break: keep-all;}
.post_box .content_box img {display: inline-block; margin: 12px 0 0; max-width: 100%;}
.post_box .btm_box {margin: 0 22px; padding: 16px 0 24px; border-top: 1px solid #e5eaec; text-align: center;}
.post_box .btm_box a {display: inline-block; width: 48px; border: 1px solid #c9d0d8; border-radius: 4px; background: #f4f6f8; color: #616c78; font-size: 12px; font-weight: 800; line-height: 22px;}
.post_box .btm_box a:first-child {float: left;}
.post_box .btm_box a:last-child {float: right;}

/* use information */
.accordion_lst li {position: relative; width: 100%; border-bottom: 1px solid #F4F6F8;}
.accordion_lst li .accordion_title {position: relative; height: 60px; background: url('../images/ico_arw_btm_g.svg')100% 50% no-repeat; cursor: pointer;}
.accordion_lst li .accordion_title.on {height: auto; min-height: 60px; background: url('../images/ico_arw_top_g.svg')100% 50% no-repeat;}
.accordion_lst li .accordion_title span {display: -webkit-box; position: absolute; top: 50%; left: 0; overflow: hidden; width: calc(100% - 48px); font-size: 12px; font-weight: 800; line-height: 16px; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; word-break: break-all; -ms-word-break: break-all; -ms-word-wrap: break-word; vertical-align: middle; transform: translate(0, -50%);}
.accordion_lst li .accordion_title.on span {display: inline-block;}
.accordion_lst li .accordion_detail {overflow: hidden; height: 0; color: #616c78; font-size: 12px; line-height: 16px; word-break: keep-all; transform-origin: 0 0; transform: scaleY(0); transition: transform 0.2s ease-out;}
.accordion_lst li .accordion_title.on ~ .accordion_detail {height: auto; padding: 16px; transform: scaleY(1);}

@media all and (max-width: 350px) {
    .notice_lst > li {height: 102px;}
    .post_info li.writer {display: block; margin: 0 0 4px;}
    .post_info li.post_time {border: none; padding: 0 8px 0 0;}
}
=======
@charset "UTF-8";
/* 200730 UX/UI Team NBR */

/* popup */
.lyr_pop {display: none;}
.lyr_pop {position: absolute; top: 50%; left: 50%; width: 272px; min-height: 160px; padding: 0; border-radius: 4px; background: #fff; text-align: center; transform: translate(-50%, -50%);}
.lyr_pop .lyr_cont {padding: 24px;}
.lyr_pop .lyr_cont .title_box .title {color: #e60461; font-weight: 700;}
.lyr_pop .lyr_cont .cont_box span {display: block; font-size: 12px;}
.lyr_pop .lyr_cont .cont_box em {display: block; margin: 18px 0 0; font-size: 12px; font-weight: 800;}
.lyr_pop .lyr_btm {width: 100%; height: 36px; margin: 0;}
.lyr_pop .lyr_btm button {width: 100%; height: 100%; border-radius: 0 0 4px 4px; background: #e60462; color: #fff; font-weight: 700;}

/* option button */
.btn_option {display: inline-block; position: relative;}
.btn_option input[type="checkbox"] {position: absolute; overflow: hidden; width: 1px; height: 1px; padding: 0; margin: -1px; clip: rect(0,0,0,0); border: 0;}
.btn_option input[type="checkbox"] + label {display: inline-block; position: relative; padding: 0 55px 0 0; font-size: 14px; font-weight: 700; line-height: 48px; cursor: pointer;}
.btn_option input[type="checkbox"] + label:before {content: ''; position: absolute; top: 12px; right: 0; width: 48px; height: 24px; border-radius: 12px; background: #e3e8eb;}
.btn_option input[type="checkbox"] + label:after {content: 'OFF'; position: absolute; top: 12px; right: 24px; width: 24px; height: 24px; border-radius: 50%; box-shadow: 0px 3px 3px 0px rgba(169, 176, 187, 0.2); background: #fff; color: #a9b0bb; font-size: 10px; font-weight: 800; line-height: 24px; transition: all 0.2s ease-out;}
.btn_option input[type="checkbox"]:checked + label:before {background-color: #e60262;}
.btn_option input[type="checkbox"]:checked + label:after {content: 'ON'; right: -1px; color: #e60262;}

/* ---------- schedule setting page ---------- */
.page_title {border-bottom: 1px solid #f4f6f8; font-size: 14px; font-weight: 800; line-height: 47px; text-align: center;}
.set_area {width: 100%;}
.set_board > div {width: 100%; padding: 0 22px;}

/* set_btn_box */
.set_btn_box {position: relative; width: 100%; height: 48px;}
.set_btn_box:before {content: ''; display: block; position: absolute; top: 50%; left: 50%; width: 1px; height: 12px; background: #e3e8eb; transform: translate(-50%, -50%);}
.set_btn_box li {float: left; width: 50%; padding:}
.set_btn_box li a {display: block; color: #a8b0bc; font-size: 12px; font-weight: 700; text-align: center; line-height: 48px;}
.set_btn_box li.on a {color: #e60262;}

/* cont_slt_time */
.option_group {height: 48px; margin: 12px 0; text-align: center;}
.option_group .btn_option {float: left; position: relative; width: 50%; height: 100%;}
.lst_gruop {overflow: hidden; width: 100%; text-align: center;}
.week_lst {width: 100%; height: 44px; padding: 4px 0;}
.week_lst li {display: inline-block; width: calc((100% - 18px) / 7);}
.week_lst li a {display: inline-block; width: 36px; border-radius: 50px; font-weight: 700; line-height: 36px;}
.week_lst li.on a {background: #e60262; color: #fff;}

.time_lst {overflow: hidden; width: 100%; padding: 10px 0;}
.time_lst li {float: left; width: calc((100% - 24px) / 6); margin: 2px; border: 1px solid #dee5e8; border-radius: 4px; text-align: center;}
.time_lst li.on {border-color: #f80055; transition: border 0.3s ease-out;}
.time_lst li a {display: inline-block; position: relative; width: 100%; height: 100%;}
.time_lst li a span {position: absolute; top: 50%; left: 50%; font-size: 12px; font-weight: 700; line-height: 14px; transform: translate(-50%, -50%); vertical-align: middle;}
.time_lst li a small {display: block; color: #a8b0bc; font-size: 10px;}

.btm_box {width: 100%; padding: 24px 0;}
.btm_box button {width: 100%; height: 36px; border: 1px solid #e60262; border-radius: 4px; color: #e60262; font-size: 14px; font-weight: 700;}
.btm_box button span {color: #e60262; font-size: 14px; font-weight: 700;}
.btm_box button.on {background-color: #e60262; color: #fff;}

/* fullcalendar */
.calendar_box {margin: 24px 0 12px;}
.fc-toolbar-title {display: none;}
.fc-toolbar-chunk strong {margin: 0 6px 0 14px; color: #e60462; font-size: 24px; font-weight: 800;}
.fc-toolbar-chunk span {color: #e60462; font-size: 14px !important; font-weight: 700;}
.fc-button {width: 24px; height: 24px; border: 1px solid #e3e8eb !important; border-radius: 4px !important; background: #fff !important;}
.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {box-shadow: none !important;}
.fc-today-button {display: none !important;}
.fc-prev-button {margin: 0 12px 0 0 !important; background: #fff url('../images/ico_arw_left_b.svg')50% 50% no-repeat !important;}
.fc-next-button {margin: 0 14px 0 0 !important; background: #fff url('../images/ico_arw_right_b.svg')50% 50% no-repeat !important;}
.fc .fc-button .fc-icon {display: none;}
.fc-daygrid a {font-weight: 700;}
.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {border: none !important; box-sizing: border-box;}
.fc-scroller {overflow: visible !important;}
.fc .fc-scrollgrid table {width: 100% !important;}
.fc-daygrid-body {width: 100% !important;}
.fc .fc-col-header-cell-cushion {font-size: 12px; font-weight: 700;}
.fc .fc-daygrid-day-top {position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%);}
.fc .fc-daygrid-day.fc-day-today {background-color: transparent;}
.fc-day-sun a {color: #f44336;}
.fc-day-sat a {color: #3f51b5;}
.fc .fc-daygrid-day-number {width: 100%; text-align: center;}
.fc-day {padding: 4px !important;}
.fc-day > div {position: relative; height: 100%; cursor: pointer;}
.fc-day > div > a {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.fc-day.on .fc-daygrid-day-frame {border-radius: 50%; background: #e60462; color: #fff !important;}
.fc-day.on .fc-daygrid-day-number {color: #fff;}
.fc-col-header-cell a {cursor: default;}
.fc .fc-day-past .fc-daygrid-day-top {opacity: 0.3}
.fc-daygrid-day-events {display: none;}

/* datepicker */
/* .datepicker {padding: 24px 0 12px;}
.datepicker-inline {width: 100%;}
.datepicker table {width: 100%;}
.dow {font-size: 12px; font-weight: 500;}
tbody td {font-size: 14px; font-weight: 700;}
tbody td.day:first-child {color: #f44336;}
tbody td.day:last-child {color: #3f51b5;}
.datepicker td, .datepicker th {width: auto; height: auto; padding: 4px !important;}
.datepicker table tr td.day.focused, .datepicker table tr td.day:hover {background: none;}
.datepicker table tr td.active.active {border-radius: 50%; background: #e60462 !important;}
.datepicker thead tr:first-child {display: none;} */

/* ---------- media query ---------- */
@media all and (max-width: 350px) {
    .btn_option input[type="checkbox"] + label {position: absolute; top: 50%; left: 50%; line-height: 16px; word-break: keep-all; transform: translate(-50%, -50%);}
    .btn_option input[type="checkbox"] + label:before,
    .btn_option input[type="checkbox"] + label:after {top: 3px;}
}
>>>>>>> fa906a381e06361a67bb049fc768c30b6385e8ab
