@charset "UTF-8";

/* layout */
#container {width: 100%; min-width: 300px;background-color: #f9fbfe;border-top: solid 1px #cfd5eb;}
.contents {width: 100%; min-width: 1220px; text-align: center;}
.contents .stn {width: 100%;}
.contents .cont_box {display: inline-block; min-width: 950px; padding: 120px 0}

.contents .cont_box .list_column {position:relative; display: block;clear: both;overflow: hidden; padding: 0 77px;}
.contents .cont_box .list_column:nth-child(2){border-bottom:1px dotted rgba(44,63,81,0.3);}
.contents .cont_box .list_column:nth-child(3){margin:46px 0 0 0;}
.contents .cont_box .list_column h3{ position: absolute;top: 17px;text-align: left; text-transform: uppercase; font-size: 22px;font-weight: 500;line-height: normal;letter-spacing: -0.31px;color: #2c3f51;}
.contents .cont_box .list_column:nth-child(2) h3 {top: 74px;}
.contents .cont_box .list_column:nth-child(3) h3 {top: 34px;}
.contents .cont_box .list_column ul {display: block; overflow: hidden;padding: 0 0 0 230px;}
.contents .cont_box .list_column ul li{position:relative;overflow: hidden; float:left; width: 130px;height: 100px;margin:0 15px 10px 0; border-radius: 4px;box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);border: solid 1px #26d1c1;background-color: #ffffff;}
.contents .cont_box .list_column ul li:hover {background:#26d1c1;  transition: background-color 0.3s ease-in-out;}
.contents .cont_box .list_column ul li:hover span {color:#fff; }
.contents .cont_box .list_column ul li:hover em {opacity: 0.3;color:#f4f4f4; }
.contents .cont_box .list_column ul li:hover img {opacity: 0.3;}
.contents .cont_box .list_column ul.task {padding:40px 0 43px 230px;}
.contents .cont_box .list_column ul.task li{ border: solid 1px #3bccff;}
.contents .cont_box .list_column ul.task li:hover {background:#3bccff;}
.contents .cont_box .list_column ul.common li{ border: solid 1px #7d71d1;}
.contents .cont_box .list_column ul.common li:hover {background:#7d71d1;}
.contents .cont_box .list_column ul li a {display: block;height: 100%;width:100%;}
.contents .cont_box .list_column ul li a span {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width:100%;font-size: 16px;font-weight: 500;line-height: 1.38;letter-spacing: -0.23px;text-align: center;color: #2c3f51;z-index: 1;}
.contents .cont_box .list_column ul li a em {position:absolute;bottom:-10px; right:-11px; font-size:70px;color:#f4f4f4;}
.contents .cont_box .list_column ul li a img {position:absolute;bottom:0;right:0;width:57px;}

/* Mobile Layout */
@media screen and (max-width:760px) {
    .contents {width:100%;min-width: unset;background-color: #f9fbfe;}
    .contents .cont_box {width:100%; min-width: unset; padding:120px 0 100px;}
    .contents .cont_box .list_column {padding:0;}
    .contents .cont_box .list_column:nth-child(2) {border-bottom:none; padding: 20px 0;}
    .contents .cont_box .list_column:nth-child(3) {margin:0;}
    .contents .cont_box .list_column h3 {position:unset;width: 85%;margin: 0 auto;padding: 0 10px 10px;}
    .contents .cont_box .list_column ul {padding:0 10px;}
    .contents .cont_box .list_column ul.task {padding:0 10px;}
    .contents .cont_box .list_column ul li {float: none;display: block;width:90%;margin: 0 auto 10px;}


}