@charset "UTF-8";
/* MINDsLab. NBR. 20210604 */

/* 공통 CSS */
@import url("reset.css"); 
@import url("font.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");


/* -------------------- layout -------------------- */
body {overflow:hidden;}
#wrap {overflow:hidden; width:100%; min-width:1280px; height:100%; min-height:760px; background:#000;}
#header {position:relative; top:0; left:0; width:100%; min-width:1280px; height:72px; border-bottom:1px solid #1d2026; box-sizing:border-box; background:#151b27;}
#container {display:table; position:relative; width:100%; height:calc(100% - 72px); box-sizing:border-box;}
#container .toolMenuBar {display:table-cell; width:52px; height:100%; background:#151b27; vertical-align:top;}
#container #contents {display:table-cell; width:calc(100% - 52px); vertical-align:top;}


/* -------------------- common -------------------- */
/* scroll bar */
::-webkit-scrollbar {width: 6px; height: 6px; border-radius: 3px;}  /* 스크롤바의 width */
::-webkit-scrollbar-track {background: transparent;}  /* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {border-radius: 3px; background: rgb(174, 176, 179);}  /* 스크롤바 색 */
::-webkit-scrollbar-button {display: none;}  /* 위 아래 버튼 (버튼 없애기를 함) */

/* float */
.fl {float:left;}
.fr {float:right;}

/* hide */
.hide {display:inline-block; overflow:hidden; text-indent:-9999px; line-height:0; white-space:nowrap;}

/* font point */
.ft_point_blue {color:#3340a8;}

/* radio */
input[type="radio"] {display:none; width:1px; height:1px; margin:0 0 0 -1px; border:none; background:none; opacity:0;}
input[type="radio"] + label {color:#adafc1; font-size:14px; letter-spacing:-0.14px; line-height:32px; cursor:pointer;}
input[type="radio"] + label:before {content:''; display:inline-block; width:12px; height:12px; margin:0 12px 0 0; border:1px solid #2d333c; border-radius:50%; box-sizing:border-box; background:transparent;}
input[type="radio"]:checked + label:before {border:3px solid #1f242e; background:#4175ff;}


/* -------------------- layer popup -------------------- */
/* common */
.lyrWrap {display:none; position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:100;}
.lyr_bg {position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.65);}
.lyrCont {overflow:hidden; position:absolute; top:50%; left:50%; min-width:340px; min-height:180px; border-radius:10px; background:#fff; transform:translate(-50%, -50%);}
.lyrCont .lyr_top {position:relative; padding:11px; background:#3340a8;}
.lyrCont .lyr_top .tit {color:#fff; font-size:16px; font-weight:500; line-height:24px; text-align:center;}
.lyrCont .lyr_top .btn_lyr_close {position:absolute; top:6px; right:6px; width:20px; height:20px; background:url('../images/builder/ico_close.svg') 50% 50% no-repeat;}
.lyrCont .lyr_top .btn_lyr_close span {display:block; overflow:hidden; text-indent:-9999px; white-space:nowrap;}
.lyrCont .lyr_mid {padding:20px 30px;}
.lyrCont .lyr_mid .alert_txt {color:#26282b; font-size:13px; letter-spacing:-0.13px; line-height:20px; text-align:center;}
.lyrCont .lyr_btm {padding:0 30px 20px; text-align:center;}
.lyrCont .lyr_btm button.btn_primary {width:138px; height:40px; margin:0 7px; border:1px solid #3340a8; border-radius:4px; box-sizing:border-box; background:#fff; color:#3340a8; font-size:13px; font-weight:500; transition:all 0.3s ease-out;}
.lyrCont .lyr_btm button.btn_primary:hover {background:#3340a8; color:#fff;}
.lyrCont .lyr_btm button.btn_lyr_close {width:96px; border:none; background:#dddee0; color:#565e6a; font-weight:400;}
.lyrCont .lyr_btm button.btn_lyr_close:hover {background:#dddee0; color:#565e6a;}

.lyrToast {position:absolute; top:90px; right:-500px; min-width:200px; padding:9px 10px 9px 20px; border-radius:4px; background:#3340a8; transition:all 1s ease-out;}
.lyrToast .msg {display:inline-block; margin:0 4px 0 0; color:#fff; font-size:16px; font-weight:500; letter-spacing:-0.16px; line-height:20px; vertical-align:top;}
.lyrToast .btn_toast_close {float:right; width:20px; height:20px; background:url('../images/builder/ico_close.svg') 50% 50% no-repeat;}
.lyrToast .btn_toast_close span {display:block; overflow:hidden; text-indent:-9999px; white-space:nowrap;}
.lyrToast.on {right:16px;}

/* 작업불가 */
#unableWork .lyrCont .lyr_mid .alert_txt {margin:0 0 20px;}
#unableWork .lyrCont .lyr_mid .ipt_txt {width:100%; height:36px; padding:0 11px; border:1px solid #abaeb9; border-radius:4px; box-sizing:border-box; background:#edeff4; color:#26282b; font-size:12px; letter-spacing:-0.12px;}
#unableWork .lyrCont .lyr_mid .ipt_txt::placeholder {color:#7f848b; font-size:12px;}



/* -------------------- header -------------------- */
#header .sta {display:flex; justify-content:space-between; align-items:center; position:relative; height:100%; margin:0 14px;}
#header .sta .btnBox .history_list {display:none; overflow:hidden; position:absolute; top:81px; left:254px; width:202px; height:320px; border:1px solid #3b3d45; border-radius:6px; box-sizing:border-box; background:#20252e; z-index:1000;}
#header .sta .btnBox .history_list:before {content:''; display:block; position:absolute; top:-8px; left:14px; width:12px; height:8px; background:url('../images/builder/ico_tipPoint_top.svg') 50% 50% no-repeat; z-index:1010;}
#header .sta .btnBox .history_list.active {display:block;}
#header .sta .btnBox .history_list li a {display:block; height:32px; padding:0 23px 0 30px; box-sizing:border-box; color:#adafc1; font-size:14px; letter-spacing:-0.14px; line-height:30px; transition:all 0.3s ease-out;}
#header .sta .btnBox .history_list li a.active {background:#2e3748;}
#header .sta .btnBox button {display:inline-block; height:42px; padding:0 13px 0 40px; border-radius:6px; color:#adafc1; font-size:14px; line-height:42px;}
#header .sta .btnBox button.btn_move_list {margin:0 22px 0 0; padding:0 20px 0 40px; background:#262d3c url('../images/builder/arw_left_g.svg') 12px 50% no-repeat;}
#header .sta .btnBox button.btn_history {position:relative; margin:0 22px; padding:0 20px 0 40px; background:#262d3c url('../images/builder/ico_badge_g.svg') 12px 50% no-repeat;}
#header .sta .btnBox button.btn_history:before {content:''; display:inline-block; position:absolute; top:7px; left:-26px; width:1px; height:28px; border-left:1px solid #2d3136;}

#header .sta .btnBox button.btn_temporary_save {position:relative; margin:0 22px; background:#262d3c url('../images/builder/ico_tprySave.svg') 12px 50% no-repeat;}
#header .sta .btnBox button.btn_temporary_save:before {content:''; display:inline-block; position:absolute; top:7px; right:-26px; width:1px; height:28px; border-left:1px solid #2d3136;}
#header .sta .btnBox button.btn_unable_work {margin:0 22px; background:#262d3c url('../images/builder/ico_uabWork.svg') 12px 50% no-repeat;}
#header .sta .btnBox button.btn_work_complete {padding:0 20px 0 40px; background:#3340a8 url('../images/builder/ico_workCplt.svg') 12px 50% no-repeat; font-weight:500;}
#header .sta .titBox {position:absolute; top:50%; left:50%; text-align:center; transform:translate(-50%, -50%);}
#header .sta .titBox .pjt_name {display:inline-block; overflow:hidden; max-width:300px; color:#fff; font-size:15px; font-weight:500; line-height:70px; text-align:center; white-space:nowrap; text-overflow:ellipsis;}
#header .sta .titBox .guideViewer {display:inline-block; position:absolute; top:50%; width:20px; height:20px; margin:0 0 0 16px; transform:translate(0, -50%); cursor:pointer;}
#header .sta .titBox .guideViewer em {color:#aaaeb2; font-size:20px; transition:all 0.3s ease-out; vertical-align:top;}
#header .sta .titBox .guideViewer:hover em {color:#3d4cc9;}
#header .sta .titBox .guideViewer .guideBox {display:none; position:absolute; top:30px; right:0; width:auto; min-width:300px; height:auto; min-height:250px; padding:16px; border-radius:6px; box-shadow:0 3px 6px 0 rgba(20, 21, 38, 0.69); box-sizing:border-box; background:#fff; z-index:1020;}
#header .sta .titBox .guideViewer .guideBox .guideDetail {text-align:left;}
#header .sta .titBox .guideViewer .guideBox .guideDetail dt {box-sizing:border-box; color:#26282b; font-size:14px; font-weight:700; letter-spacing:-0.14px;}
#header .sta .titBox .guideViewer .guideBox .guideDetail dd ul {margin:26px 0 0; padding:0 0 0 16px; box-sizing:border-box;}
#header .sta .titBox .guideViewer .guideBox .guideDetail dd ul li {color:#26282b; font-size:12px; letter-spacing:-0.12px; line-height:22px; word-break:keep-all;}
#header .sta .titBox .guideViewer .guideBox .guideDetail dd ul.decimal li {list-style:decimal;}
#header .sta .titBox .guideViewer .guideBox .guideDetail dd ul.disc li {list-style:disc;}
#header .sta .titBox .guideViewer:hover .guideBox {display:block;}


/* -------------------- toolMenuBar -------------------- */
.toolMenuBar .menu_list {display:flex; flex-direction:column; justify-content:center; position:relative;}
.toolMenuBar .menu_list > li {width:100%; height:52px;}
.toolMenuBar .menu_list > li button {position:relative; width:100%; height:100%; transition:background-color 0.2s ease-out;}
.toolMenuBar .menu_list > li button.btn_bounding_box {background:url('../images/builder/ico_tool_bdBox.svg') 50% 50% no-repeat, url('../images/builder/ico_triangle_g.svg') 100% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_segmentation {background:url('../images/builder/ico_tool_segmt.svg') 50% 50% no-repeat, url('../images/builder/ico_triangle_g.svg') 100% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_keyPoint {background:url('../images/builder/ico_tool_keyPit.svg') 50% 50% no-repeat, url('../images/builder/ico_triangle_g.svg') 100% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_move_object {background:url('../images/builder/ico_tool_moveObj.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_zoomIn {background:url('../images/builder/ico_tool_zoomIn.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_zoomOut {background:url('../images/builder/ico_tool_zoomOut.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_reset {background:url('../images/builder/ico_tool_reset.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_undo {background:url('../images/builder/ico_tool_undo.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.btn_redo {background:url('../images/builder/ico_tool_redo.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list > li button.active {background-color:#3340a8;}
.toolMenuBar .menu_list > li button.active.open:before {content:''; display:block; position:relative; top:10px; right:-57px; width:8px; height:12px; background:url('../images/builder/ico_tipPoint.svg') 100% 50% no-repeat; z-index:1010;}
.toolMenuBar .menu_list > li .classBox {display:none; position:absolute; top:6px; right:-176px; width:164px; border:1px solid #3b3d45; border-radius:6px; box-sizing:border-box; background:#20252e; z-index:1000; transition:all 0.2s ease-out;}
.toolMenuBar .menu_list > li .classBox.active {display:block;}
.toolMenuBar .menu_list > li .classBox .tit {padding:0 11px; border-bottom:1px solid #3b3d45; color:#adafc1; font-size:14px; line-height:39px;}
.toolMenuBar .menu_list > li .classBox .class_list {overflow:auto; width:100%; max-height:320px;}
.toolMenuBar .menu_list > li .classBox .class_list li input[type="radio"] + label {display:block; padding:0 12px; box-sizing:border-box; transition:all 0.3s ease-out;}
.toolMenuBar .menu_list > li .classBox .class_list li input[type="radio"]:checked + label {background:#2e3748;}


/* -------------------- content -------------------- */
/* common */
.content {width:100%; height:100%;}
.content .work_space {width:100%; height:100%;}

/* worker - image */
#container #contents.edit_image .content .work_space {overflow:hidden;}


/* -------------------- aside -------------------- */
/* worker - image */
.aside {display:flex; flex-direction:column; position:absolute; top:0; right:-304px; width:304px; height:100%; background:#151b27; transition:right 0.3s ease-out;}
.aside .btn_expand {display:block; position:absolute; bottom:150px; left:-24px; width:24px; height:50px; border:2px solid #1e2229; border-radius:5px 0 0 5px; box-sizing:border-box; background:#151b27 url('../images/builder/ico_expd_left.svg') 50% 50% no-repeat;}
.aside.on {right:0;}
.aside.on .btn_expand {background:#151b27 url('../images/builder/ico_expd_right.svg') 50% 50% no-repeat;}

.aside .currentFile {height:50px; padding:0 16px; border-bottom:1px solid #060c17; box-sizing:border-box; color:#adafc1; font-size:13px; letter-spacing:-0.13px; line-height:48px;}
.aside .currentFile span {display:inline-block; overflow:hidden; width:225px; color:#adafc1; font-size:13px; letter-spacing:-0.13px; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;}

.aside .guideFile {height:50px; padding:0 16px; border-bottom:1px solid #060c17; box-sizing:border-box; color:#adafc1; font-size:13px; letter-spacing:-0.13px; line-height:48px;}
.aside .guideFile .fileName {display:inline-block; overflow:hidden; width:245px; color:#adafc1; font-size:13px; letter-spacing:-0.13px; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;}
.aside .guideFile .btn_guide_download {width:24px; height:24px; background:url('../images/builder/ico_download.svg') 50% 50% no-repeat;}

.aside .comments {max-height:160px; border-bottom:2px solid #16212e; box-sizing:border-box;}
.aside .comments .tit {height:50px; padding:0 16px; box-sizing:border-box; background:#2a354a url('../images/builder/ico_caret_down_g.svg') top 50% right 16px no-repeat; color:#adafc1; font-size:13px; letter-spacing:-0.13px; line-height:48px; cursor:pointer;}
.aside .comments .cmt_box {display:none; padding:20px;}
.aside .comments .cmt_box .textarea {width:100%; height:66px; padding:12px; border:1px solid #3b3d45; border-radius:10px; box-sizing:border-box; background:#232831; color:#adafc1; font-size:14px; letter-spacing:-0.14px; line-height:22px;}

.aside .tabWrap {width:100%; height:calc(100% - 202px);}
.aside .tabWrap .tab_btn {display:flex; height:50px; border-bottom:2px solid #16212e; box-sizing:border-box; background:#060c17;}
.aside .tabWrap .tab_btn button {width:50px; height:50px; transition:background-color 0.2s ease-out;}
.aside .tabWrap .tab_btn button.btn_tag {background:url('../images/builder/ico_list.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_btn button.btn_reject {background:url('../images/builder/ico_notice.svg') 50% 50% no-repeat;}
.aside .tabWrap .tab_btn button.active {background-color:#151b27;}
.aside .tabWrap .tab_cont {width:100%; height:calc(100% - 50px);}
.aside .tabWrap .tab_cont > ul {display:none; overflow:auto; width:100%; height:100%;}
.aside .tabWrap .tab_cont > ul li {display:flex; align-items:center; height:64px; padding:0 16px; box-sizing:border-box; transition:background-color 0.3s ease-out;}
.aside .tabWrap .tab_cont > ul li .tagPoint {display:inline-block; width:10px; height:10px; margin:0 16px 0 0; border-radius:50%; background:#00ffa7;}
.aside .tabWrap .tab_cont > ul li .tagNum {display:inline-block; width:20px; margin:0 12px 0 0; color:#adafc1; font-size:14px; letter-spacing:-0.14px;}
.aside .tabWrap .tab_cont > ul li .select {width:180px; height:32px; padding:0 12px; border:1px solid #3b3d45; border-radius:4px; box-sizing:border-box; background:#20252e url('../images/builder/ico_caret_down_g.svg') top 50% right 4px no-repeat; color:#adafc1; font-size:13px; letter-spacing:-0.13px;}
.aside .tabWrap .tab_cont > ul li.reject {background:url('../images/builder/ico_dropDown.svg') bottom 0 left 0 no-repeat;}
.aside .tabWrap .tab_cont > ul li.active {background:#3340a8;}
.aside .tabWrap .tab_cont > ul li.reject.active {background:#3340a8 url('../images/builder/ico_dropDown.svg') bottom 0 left 0 no-repeat;}
.aside .tabWrap .tab_cont > ul.reject_list li {display:none;}
.aside .tabWrap .tab_cont > ul.reject_list li.reject {display:flex;}

.aside .deleteBox {display:flex; align-items:center; justify-content:space-between; height:50px; padding:0 24px; box-sizing:border-box; background:#060c17;}
.aside .deleteBox .btn_select_delete {width:24px; height:24px; background:url('../images/builder/ico_dlt_slt.svg') 50% 50% no-repeat;}
.aside .deleteBox .btn_all_delete {height:38px; padding:0 12px 0 34px; border-radius:6px; background:#262d3c url('../images/builder/ico_dlt_all.svg') top 50% left 6px no-repeat; color:#adafc1; font-size:14px; letter-spacing:-0.14px;}

/* inspactor */