@charset "UTF-8";
/* MINDsLab. NBR. 20210604 */

/* -------------------- layout -------------------- */
#wrap {width:100%; min-width:1280px; height:100%; min-height:768px; background:#000;}
#header {position:fixed; top:0; left:0; width:100%; min-width:1280px; height:72px; border-bottom:1px solid #1d2026; box-sizing:border-box; background:#151b27;}
#container {display:table; width:100%; height:100%; padding:72px 0 0; box-sizing:border-box;}
#container .toolMenuBar {display:table-cell; width:52px; height:100%; background:#151b27; vertical-align:top;}
#container #contents {display:table-cell; position:relative; width:calc(100% - 52px); vertical-align:top;}

/* -------------------- common -------------------- */


/* -------------------- header -------------------- */
#header .sta {display:flex; justify-content:space-between; align-items:center; position:relative; height:100%; margin:0 14px;}
#header .sta .btnBox button {display:inline-block; height:42px; padding:0 12px 0 40px; border-radius:6px; color:#adafc1; font-size:14px; line-height:42px;}
#header .sta .btnBox button.btn_move_list {background:#262d3c url('../images/builder/arw_left_g.svg') 12px 50% no-repeat;}
#header .sta .btnBox button.btn_unable_work {position:relative; margin:0 22px; background:#262d3c url('../images/builder/ico_uabWork.svg') 12px 50% no-repeat;}
#header .sta .btnBox button.btn_unable_work:before {content:''; display:inline-block; position:absolute; top:7px; right:-26px; width:1px; height:28px; border-left:1px solid #2d3136;}
#header .sta .btnBox button.btn_temporary_save {margin:0 22px; background:#262d3c url('../images/builder/ico_tprySave.svg') 12px 50% no-repeat;}
#header .sta .btnBox button.btn_edit_complete {background:#3340a8 url('../images/builder/ico_editCplt.svg') 12px 50% no-repeat;}
#header .sta .titBox {overflow:hidden; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
#header .sta .titBox .pjt_name {display:inline-block; overflow:hidden; width:250px; color:#fff; font-size:15px; font-weight:500; line-height:70px; text-align:center; white-space:nowrap; text-overflow:ellipsis;}

/* -------------------- toolMenuBar -------------------- */
.toolMenuBar .menu_list {display:flex; flex-direction:column; justify-content:center; position:relative;}
.toolMenuBar .menu_list li {width:100%; height:52px;}
.toolMenuBar .menu_list li button {width:100%; height:100%; transition:background-color 0.2s ease-out;}
.toolMenuBar .menu_list li button.btn_bounding_box {background:url('../images/builder/ico_tool_bdBox.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list li button.btn_bounding_box:before {content:''; display:block; position:absolute; width:0; height:0; border-top:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid transparent; border-left:10px solid #20252e;}
.toolMenuBar .menu_list li button.btn_segmentation {background:url('../images/builder/ico_tool_segmt.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list li button.btn_keyPoint {background:url('../images/builder/ico_tool_keyPit.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list li button.btn_move_object {background:url('../images/builder/ico_tool_moveObj.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list li button.btn_zoomIn {background:url('../images/builder/ico_tool_zoomIn.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list li button.btn_zoomOut {background:url('../images/builder/ico_tool_zoomOut.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list li button.btn_reset {background:url('../images/builder/ico_tool_reset.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list li button.btn_undo {background:url('../images/builder/ico_tool_undo.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list li button.btn_redo {background:url('../images/builder/ico_tool_redo.svg') 50% 50% no-repeat;}
.toolMenuBar .menu_list li button.active {background-color:#3340a8;}
.toolMenuBar .menu_list li button span {display:inline-block; overflow:hidden; text-indent:-9999px; line-height:0; white-space:nowrap;}
.toolMenuBar .menu_list li .classBox {display:none; position:absolute; top:6px; right:-164px; width:164px; border:1px solid #3b3d45; border-radius:6px; box-sizing:border-box; background:#20252e; z-index:1000; transition:all 0.2s ease-out; opacity:0;}
.toolMenuBar .menu_list li .classBox.active {right:-176px; opacity:1;}
.toolMenuBar .menu_list li .classBox .tit {padding:0 11px; border-bottom:1px solid #3b3d45; color:#adafc1; font-size:14px; line-height:39px;}
.toolMenuBar .menu_list li .classBox .class_list {overflow:auto; width:100%; max-height:480px;}

/* -------------------- content -------------------- */
/* common */
.content {width:100%; height:100%;}
.content .work_space {width:100%; height:100%;}

/* image work */
#container #contents.edit_image .content .work_space {overflow:hidden;}


/* -------------------- aside -------------------- */
.aside {position:fixed; top:72px; right:-300px; width:300px; height:calc(100% - 72px); background:#151b27; transition:right 0.3s ease-out;}
.aside.on {right:0;}
.aside .btn_expand {display:block; position:absolute; bottom:150px; left:-24px; width:24px; height:50px; border:2px solid #1e2229; border-radius:5px 0 0 5px; box-sizing:border-box; background:#151b27 url('../images/builder/ico_seeMore_arw.svg') 50% 50% no-repeat;}
.aside .btn_expand span {display:inline-block; overflow:hidden; text-indent:-9999px; line-height:0; white-space:nowrap;}