@charset "UTF-8";
/* MINDsLab. NBR. 20210422 */

/* -------------------- layout -------------------- */
#wrap {width:100%; min-width:1280px; height:100%;}
#header {position:fixed; top:0; left:0; width:100%; min-width:1280px; height:80px; padding:30px 20px 0; border-bottom:1px solid #21284b; box-sizing:border-box; background:transparent; transition:all 0.3s ease-out; z-index:20;}
#header .contBox {width:1194px; height:100%; margin:0 auto;}
#container .contents .stn {position:relative; width:100%; padding:100px 0; box-sizing:border-box;}
#container .contents .stn .contBox {width:1140px; height:100%; margin:0 auto; text-align:center;}

/* -------------------- common -------------------- */
#container .contents .stn:nth-child(even) .stn_tit {color:#03020f; font-size:1.33rem; letter-spacing:-0.32px; line-height:1.41;}
#container .contents .stn:nth-child(even) .stn_desc {margin:24px 0 50px; color:#03020f; font-size:0.83rem; letter-spacing:-0.2px; line-height:1.5;}
#container .contents .stn:nth-child(odd) .stn_tit {color:#2c2c44; font-size:1.33rem; letter-spacing:-0.32px; line-height:1.41;}
#container .contents .stn:nth-child(odd) .stn_desc {margin:24px 0 50px; color:#2c2c44; font-size:0.83rem; letter-spacing:-0.2px; line-height:1.5;}

.btn_link {display:inline-block; width:244px; height:56px; border:1px solid #1054b2; border-radius:28px; box-shadow:0 5px 5px 0 rgba(106, 193, 255, 0.3); box-sizing:border-box; background:#1054b2; color:#fff; font-size:0.83rem; font-weight:700; letter-spacing:-0.2px; line-height:54px; text-align:center; transition:all 0.3s ease-out;}
.btn_link:hover {background:transparent; color:#1054b2;}

/* -------------------- landing -------------------- */
/* header */
#header.fixed {background:#0D0B15;}
#header .contBox .logo {float:left;} 
#header .contBox .logo a {height:20px;}
#header .contBox .gnb {float:left; margin:0 0 0 55px;}
#header .contBox .etc {float:right;}
#header .contBox .etc .lang_slt {display:none;}
#header .contBox .nav li {float:left; }
#header .contBox .nav li + li {margin:0 0 0 50px;}
#header .contBox .nav li a {display:block; position:relative; color:#9196ac; font-size:0.67rem; line-height:20px;}
#header .contBox .nav li a:after {content:''; position:absolute; bottom:-8px; left:50%; width:0; height:2px; transform:translate(-50%, 0); transition:width 0.3s ease-out;}
#header .contBox .nav li a:hover:after {width:100%; background:#9196ac;}

/* stn - visual */
#container .visual {overflow:hidden; height:828px; padding:80px 0 88px; background:linear-gradient(1deg, #0d0b15 77%, #0f152d 91%, #181b40 99%, #000000 106%);}
#container .visual .contBox {position:relative; text-align:left;}
#container .visual .contBox .txtArea {position:absolute; top:50%; left:0; text-align:left; transform:translate(0, -50%); z-index:10;}
#container .visual .contBox .txtArea .visual_tit {margin:156px 0 0; color:#fff; font-family:'Nanum Barun Gothic', sans-serif; font-size:2.33rem; font-weight:700; letter-spacing:-1.4px; line-height:1.46;}
#container .visual .contBox .txtArea .visual_desc {margin:34px 0 116px; color:#fff; font-size:1rem; letter-spacing:-0.24px; line-height:1.42;}
#container .visual .contBox .txtArea .btn_link {width:216px; box-shadow:none;}
#container .visual .contBox .txtArea .btn_link:hover {color:#fff;}

#container .visual .imgArea {position:absolute; right:0; bottom:0; width:914px; height:100%;}
#container .visual .imgArea .imgBox {position:absolute; width:694px; height:428px;}
#container .visual .imgArea .imgBox.boundingBox {right:220px; bottom:125px; background:url('../images/landing/img_dataBoxing.png') 50% 50% no-repeat; background-size:cover;}
#container .visual .imgArea .imgBox.keyPoint {right:-108px; bottom:259px; background:url('../images/landing/img_keyPoint.png') 50% 50% no-repeat; background-size:cover;}

/* stn - use_case */
#container .use_case .contBox .tabArea {position:relative; width:100%;}
#container .use_case .contBox .tabArea .tab_lst {width:100%; height:80px;}
#container .use_case .contBox .tabArea .tab_lst li {float:left; position:relative; width:276px; height:80px; padding:0 0 0 58px; border:1px solid #c1d5e8; border-bottom:none; border-radius:10px 10px 0 0; box-sizing:border-box; color:#2c2c44; font-size:0.92rem; font-weight:500; letter-spacing:-0.22px; line-height:80px; cursor:pointer;}
#container .use_case .contBox .tabArea .tab_lst li + li {margin:0 0 0 12px;}
#container .use_case .contBox .tabArea .tab_lst li.active {bottom:-1px; border-color:#1054b2; box-shadow:5px -3px 10px -5px rgba(157, 171, 190, 0.3); color:#0b3496;}
#container .use_case .contBox .tabArea .tab_lst li.tab_image {background:#fff url('../images/landing/ico_image.svg') 77px 22px no-repeat;}
#container .use_case .contBox .tabArea .tab_lst li.tab_sound {background:#fff url('../images/landing/ico_sound.svg') 77px 22px no-repeat;}
#container .use_case .contBox .tabArea .tab_lst li.tab_video {background:#fff url('../images/landing/ico_video.svg') 77px 22px no-repeat;}
#container .use_case .contBox .tabArea .tab_lst li.tab_text {background:#fff url('../images/landing/ico_text.svg') 77px 22px no-repeat;}
#container .use_case .contBox .tabArea .tab_cont {width:100%; height:535px; padding:20px 16px; border:1px solid #1054b2; border-radius:0 0 10px 10px; box-shadow:0 5px 10px 0 rgba(157, 171, 190, 0.3); box-sizing:border-box; background:#fff;}
#container .use_case .contBox .tabArea .tab_cont > li {display:none; overflow:hidden; height:100%;}
#container .use_case .contBox .tabArea .tab_cont > li.active {display:block;}
#container .use_case .contBox .tabArea .tab_cont > li .sub_lst {float:left; width:244px; height:100%; padding:16px; border-radius:10px; box-sizing:border-box; background:#f4f6fd;}
#container .use_case .contBox .tabArea .tab_cont > li .sub_lst li {padding:0 14px; color:#98a8ce; font-size:0.63rem; line-height:46px; text-align:left; cursor:pointer;}
#container .use_case .contBox .tabArea .tab_cont > li .sub_lst li + li {margin:8px 0 0;}
#container .use_case .contBox .tabArea .tab_cont > li .sub_lst li.active {border:solid 1px #1054b2; border-radius:10px; box-shadow:0 0 10px 0 rgba(21, 157, 255, 0.16); box-sizing:border-box; background:#1054b2; color:#fff;}
#container .use_case .contBox .tabArea .tab_cont > li .sub_cont {float:right; width:848px; height:100%;}
#container .use_case .contBox .tabArea .tab_cont > li .sub_cont li {display:none; height:100%;}
#container .use_case .contBox .tabArea .tab_cont > li .sub_cont li.active {display:block;}

/* stn - process */
#container .process {background:#f4f6fd;}
#container .process .contBox .processBox {display:flex; justify-content:space-between; width:100%; padding:40px 50px; border:1px solid #c1d5e8; border-radius:10px; box-sizing:border-box; background:#fff;}
#container .process .contBox .processBox .prcs_lst {width:270px;}
#container .process .contBox .processBox .prcs_lst li {border:1px solid #c1d5e8; border-radius:10px; background:#fff; color:#2c2c44; font-size:0.83rem; font-weight:500; letter-spacing:-0.2px; line-height:60px; cursor:pointer; transition:all 0.3s ease-out;}
#container .process .contBox .processBox .prcs_lst li + li {margin:47px 0 0;}
#container .process .contBox .processBox .prcs_lst li.active {border:1px solid #1054b2; background:#1054b2; color:#fff;}
#container .process .contBox .processBox .prcs_detail {width:720px; height:100%;}
#container .process .contBox .processBox .prcs_detail li .imgBox {width:100%; height:356px;}
#container .process .contBox .processBox .prcs_detail li .txtBox .tit {margin:30px 0 10px; color:#2c2c44; font-size:1rem; font-weight:700; letter-spacing:-0.24px; line-height:1.5; text-align:left;}
#container .process .contBox .processBox .prcs_detail li .txtBox .desc {color:#2c2c44; font-size:0.83rem; letter-spacing:-0.2px; line-height:1.45; text-align:left;}
#container .process .contBox .processBox .prcs_detail li:nth-child(1) .imgBox {background:url('../images/landing/img_process01.svg') 50% 50% no-repeat; background-size:cover;}
#container .process .contBox .btnBox {margin:50px 0 0;}

/* stn - strenght */
#container .strenght .contBox .strt_lst {display:flex; justify-content: space-between}
#container .strenght .contBox .strt_lst li {width:300px; margin:0 19px; padding:188px 0 0;}
#container .strenght .contBox .strt_lst li dl dt {color:#2c2c44; font-size:1rem; font-weight:700; letter-spacing:-0.24px;}
#container .strenght .contBox .strt_lst li dl dd {margin:20px 0 0; color:#57576c; font-size:0.67rem;  letter-spacing:-0.16px; line-height:1.5;}
#container .strenght .contBox .strt_lst li:nth-child(1) {background:url('../images/landing/ico_strength_fast.svg') 50% 0 no-repeat;}
#container .strenght .contBox .strt_lst li:nth-child(2) {background:url('../images/landing/ico_strength_accurate.svg') 50% 0 no-repeat; background-size:auto 170px;}
#container .strenght .contBox .strt_lst li:nth-child(3) {background:url('../images/landing/ico_strength_easy.svg') 50% 0 no-repeat;}

/* stn - data_voucher */
#container .data_voucher {background:#f0f2f7;}
#container .data_voucher .contBox .voucher_type {display:flex; justify-content:space-between;}
#container .data_voucher .contBox .voucher_type dl {width:534px; height:410px; padding:226px 0 0; border-radius:10px; box-shadow:0 5px 10px 0 rgba(157, 171, 190, 0.3); box-sizing:border-box;}
#container .data_voucher .contBox .voucher_type dl dt {color:#2c2c44; font-size:1.25rem; font-weight:700; letter-spacing:-0.75px; line-height:1.5;}
#container .data_voucher .contBox .voucher_type dl dd {margin:24px 0 0; color:#2c2c44; font-size:1rem; letter-spacing:-0.24px; line-height:1.5;}
#container .data_voucher .contBox .voucher_type dl dd strong {display:block; color:#0b3496;}
#container .data_voucher .contBox .voucher_type dl:nth-child(1) {background:#fff url('../images/landing/ico_voucher_aiData.svg') 50% 32px no-repeat;}
#container .data_voucher .contBox .voucher_type dl:nth-child(2) {background:#fff url('../images/landing/ico_voucher_aiData.svg') 50% 32px no-repeat;}
#container .data_voucher .contBox .btnBox {display:inline-block; margin:50px 0 0;}

/* stn - company */
#container .company .contBox {width:1260px !important;}
#container .company .stn_desc {margin:24px 0 0 !important;}
#container .company .company_wrap {height:176px; padding:50px 60px;}
#container .company .company_wrap .company_lst .logo_item {height:calc((100% - 48px) / 2);}
#container .company .company_wrap .company_lst .logo_item .logoBox {display:inline-block; width:190px; height:64px;}

/* stn - banner */
#container .banner {padding:0 !important; background:linear-gradient(to right, #26264f 1%, #1a1c67 15%, #242276 26%, #0f5daa 52%, #241c6f 81%, #20204a 99%);}
#container .banner .contBox {padding:39px 0; background:url('../images/landing/img_banner_voucher.png') 261px 100% no-repeat;} 
#container .banner .contBox .tit {padding:0 0 0 114px; color:#fff; font-size:1.04rem; font-weight:700; vertical-align:middle;}
#container .banner .contBox .btn_link {width:130px; height:42px; margin:0 0 0 46px; border:1px solid #fff; box-shadow:none; background:transparent; font-size:0.75rem; letter-spacing:-0.18px; line-height:40px;}
#container .banner .contBox .btn_link:hover {background:#fff; color:#1054B2;}

/* swiper */
.btn_swiper {width:56px; height:56px; border:1px solid #dbe5ed; border-radius:10px; box-shadow:0 0 10px 0 rgba(157, 171, 190, 0.3); box-sizing:border-box;}
.btn_swiper:after {content:none;}
.swiper-button-prev {left:0; background:#fff url('../images/landing/arw_left_g.svg') 50% 50% no-repeat;}
.swiper-button-next {right:0; background:#fff url('../images/landing/arw_right_g.svg') 50% 50% no-repeat;}
.swiper-pagination {display:none;}

/* footer */
#footer .term_privacy {padding:25px 0; background:#0d0b1f; color:#7c7c81; text-align:center;}
#footer .term_privacy a {display:inline-block; position:relative; margin:0 22px; color:#7c7c81; font-size:0.63rem; letter-spacing:-0.15px; line-height:20px;}
#footer .term_privacy a + a:before {content:''; display:inline-block; position:absolute; left:-26px; width:1px; height:20px; border-right:1px solid #282e3c;}
#footer .term_privacy a.btn_view_privacy {font-weight:700;}
#footer .address {padding:30px 0 34px; background:#19172a; text-align:center;}
#footer .address .info,
#footer .address .info a {color:#a5a5a5; font-size:0.54rem; letter-spacing:-0.13px;}
#footer .address .copyright {margin:20px 0 0; color:#626262; font-size:0.5rem; letter-spacing:-0.12px;}
