@charset "UTF-8";
/* MINDsLab. NBR. 20210422 */

@import url("http://www.openhiun.com/hangul/nanumbarungothic.css");

/* -------------------- layout -------------------- */
#wrap {width:100%; min-width:1240px; height:100%;}
#header {position:absolute; top:0; left:0; width:100%; height:80px; border-bottom:1px solid #21284b;  background:transparent; z-index:10;}
#header .contBox {display:flex; width:1194px; height:100%; margin:0 auto;}
#container .contents .stn {position:relative; width:100%; padding:100px 0; box-sizing:border-box;}
#container .contents .stn .contBox {width:1140px; height:100%; margin:0 auto; text-align:center;}

/* -------------------- common -------------------- */
#container .contents .stn:nth-child(even) .stn_tit {color:#03020f; font-size:1.33rem; letter-spacing:-0.32px; line-height:1.41;}
#container .contents .stn:nth-child(even) .stn_desc {margin:24px 0 0; color:#03020f; font-size:0.83rem; letter-spacing:-0.2px; line-height:1.5;}
#container .contents .stn:nth-child(odd) .stn_tit {color:#2c2c44; font-size:1.33rem; letter-spacing:-0.32px; line-height:1.41;}
#container .contents .stn:nth-child(odd) .stn_desc {margin:24px 0 0; color:#2c2c44; font-size:0.83rem; letter-spacing:-0.2px; line-height:1.5;}

/* -------------------- landing -------------------- */
/* header */
#header .logo {flex:none; height:20px; margin:30px 55px 30px 0;} 
#header .logo a {display:block; width:100%; height:100%;}
#header .gnb {flex:none; margin-right:auto;}
#header .gnb .nav {display:flex;}
#header .gnb .nav li {-webkit-align-items:center; align-items:center;}
#header .gnb .nav li:last-child {-webkit-flex-direction:row-revers; flex-direction:row-revers;}
#header .gnb .nav li a {color:#9196ac; font-size:0.67rem; font-weight:500; letter-spacing:-0.16px; line-height:1.5;}
#header .etc {flex:none; margin:0 0 0 50px;}
#header .etc .lang_slt {width:126px; height:40px; border:1px solid #9196ac; border-radius:20px;}
#header .etc .lang_slt li {display:none;}

/* stn - visual */
#container .contents .visual {height:828px; padding:80px 0 88px; background:linear-gradient(1deg, #0d0b15 77%, #0f152d 91%, #181b40 99%, #000000 106%);}
#container .contents .visual .contBox {text-align:left;}
#container .contents .visual .contBox .visual_tit {padding:156px 0 0; color:#fff; font-family:'Nanum Barun Gothic', sans-serif; font-size:2.33rem; font-weight:700; letter-spacing:-1.4px; line-height:1.46;}
#container .contents .visual .contBox .visual_desc {margin:34px 0 116px; color:#fff; font-size:1rem; letter-spacing:-0.24px; line-height:1.42;}
#container .contents .visual .contBox .btn_go_inquiry {display:inline-block; width:216px; height:56px; border:1px solid #1054b2; border-radius:28px; box-sizing:border-box; background:#1054b2; color:#fff; font-size:0.83rem; font-weight:700; letter-spacing:-0.2px; line-height:54px; text-align:center; transition:all 0.3s ease-out;}
#container .contents .visual .contBox .btn_go_inquiry:hover {background:transparent;}