@charset "UTF-8";
/* MINDsLab. NBR. 20200321 */

@import url('reset.css');
@import url('font.css');

/* -------------------- container -------------------- */
.global_nav {height:44px; padding:0 1rem;}
.global_nav_links {display:flex; align-items:center; justify-content:space-between; max-width:1000px; height:100%; margin:0 auto;}

.local_nav {height:52px; padding:0 1rem; border-bottom:1px solid #ddd;}
.local_nav_links {display:flex; align-items:center; max-width:1000px; height:100%; margin:0 auto;}
.local_nav_links a {font-size:0.8rem;}
.local_nav_links a:not(.product_name) {margin:0 0 0 2em;}
.local_nav_links .product_name {margin-right:auto; font-size:1.4rem; font-weight:700;}

.scroll_section {padding:50vh 0 0; border:3px solid;}
.main_msg {display:flex; align-items:center; justify-content:center; height:3em; font-size:2rem;}
.main_msg p {font-weight:700; line-height:1.2; text-align:center;}
.main_msg small {display:block; margin:0 0 0.5em; font-size:1.2rem;}
.sticky_elem {display:none; position:fixed; top:0; left:0; width:100%;}

#show_scene_01 #scroll_section01 .sticky_elem,
#show_scene_02 #scroll_section02 .sticky_elem,
#show_scene_03 #scroll_section03 .sticky_elem,
#show_scene_04 #scroll_section04 .sticky_elem {display:block;}

#scroll_section01 h1 {font-size:3.6rem; text-align:center;}

#scroll_section02 .desc_txt {max-width:1000px; margin:0 auto; padding:0 1rem; color:#888; font-size:1.2rem;}
#scroll_section02 .desc_txt strong {float:left; margin:0 0.2em 0 0; color:rgb(29, 29, 31); font-size:2.5rem;}

#scroll_section03 .main_msg {font-size:3.5rem;}
#scroll_section03 .desc_msg {width:50%; font-weight:700;}
#scroll_section03 .desc_msg .pin {width:1px; height:100px; background:rgb(29, 29, 31);}

#scroll_section04 .mid_msg {max-width:1000px; margin:0 auto; padding:0 1rem; color:#888; font-size:2rem;}
#scroll_section04 .mid_msg strong {color:rgb(29, 29, 31);}
#scroll_section04 .canvas_caption {max-width:1000px; margin:0 auto; padding:0 1rem; color:#888; font-size:1.2rem;}

.footer {display:flex; align-items:center; justify-content:center; height:7rem; background:darkorange; color:#fff;}

/* -------------------- media query -------------------- */
@media (min-width: 1024px) {
    #scroll_section01 h1 {font-size:9vw;}
    .main_msg {font-size:4vw;}

    #scroll_section02 .desc_txt {font-size:2rem;}
    #scroll_section02 .desc_txt strong {font-size:6rem;}

    #scroll_section03 .main_msg {font-size:6vw;}
    #scroll_section03 .main_msg small {font-size:1.5vw;}
    #scroll_section03 .desc_msg {width:20%;}

    #scroll_section04 .mid_msg {font-size:4vw;}
    #scroll_section04 .canvas_caption {font-size:2rem;}
}   